[2016-05-30 20:53] molinch commented on #218
Thanks for the quick feedback!
It's fine, let's keep it open for a few more days, maybe you will reproduce it (or maybe not hopefully!).

[2016-05-30 21:11] daniel-luberda commented on #202
@patook I think it's possible but it's quite a lot of work.

- Picasso and Glide loaders for Android support it
- For iOS there's https://github.com/Flipboard/FLAnimatedImage

Maybe you could create an issue for that?

[2016-05-31 01:00] daniel-luberda commented on #220
Got this on 2.1.1-pre2

[code]

[2016-05-31 01:19] adrianknight89 commented on #220
I tested my app on pre2 and did not receive the error. I also updated XF to 2.3.0.46-pre3.

[2016-05-31 05:02] AlchemySolutionsPvtLtd commented on #213
@molinch  ya re-installing the packages resolved it...
thanks a lot :)

[2016-05-31 05:02] #213 closed

[2016-05-31 07:52] MarcorOnline commented on #212
@daniel-luberda Hello, sorry for the double post, do you think there's a solution to the problem?

Thank you

[2016-05-31 12:30] daniel-luberda commented on #212
See this: https://github.com/luberda-molinet/FFImageLoading/issues/213

[2016-05-31 14:27] #220 closed

[2016-05-31 15:15] MarcorOnline commented on #212
@daniel-luberda thanks for your support! The fix is uninstall/reinstall everygthings!

best regards
Marco

[2016-05-31 15:16] daniel-luberda commented on #212
Nice to hear you solved it :)

[2016-05-31 15:16] #212 closed

[2016-06-01 20:23] owlstack opened #221 "Preloaded images do not show up in view cells until after a considerable time"
When preloading images, the images do not get preloaded/shown in the view cells until after a considerable time. I was wondering why there is this delay and if anyone else is getting it?

[2016-06-02 06:26] CliffCawley commented on #202
I upgraded from 2.0 to 2.1 and noticed that DownloadImageAndAddToDiskCacheAsync is missing. Is it possible to add it back for 2.2 or should I do something else?

[2016-06-02 14:05] marlonconstante opened #222 "FFImageLoading picking wrong image scale for app resources"
Xamarin.FFImageLoading.Forms: Invalid height and width for images with no fixed size in iOS.

Problem is occurring in the latest release: **_2.1.0_**.
In version **_2.0.6_** it worked perfectly on both platforms (iOS and Android).
Currently the expected result is presented only on Android, but not on iOS.

I believe the correct behavior in this case is to show the image with original size, as prev

[2016-06-02 14:34] Slava8991 commented on #208
+1 for Xamarin.Forms. Solution may be not cross-fade (placeholder disappear and image appear the same time) but do it step-by-step - placeholder disappear with animation, image view resize itself, image appear with animation. Currently cross-fade don't look good, sequence may looks better :)

[2016-06-02 15:44] owlstack commented on #221
Sorry, it was related to something else. Closing this issue.

[2016-06-02 15:44] #221 closed

[2016-06-02 18:03] NVentimiglia commented on #209
The solution is to not call ImageService.Instance.SetExitTasksEarly(true); and ImageService.Instance.SetExitTasksEarly(false); To replicate load a few images in a Xamarin forms scrollable list

[2016-06-02 18:04] NVentimiglia commented on #202
We had to disable the fade animation as we load from cache. It was somewhat ugly to have that show up on every reload of the page for cached images.

[2016-06-02 22:01] softsan commented on #220
Updated XF to 2.3.0.46-pre3 and FFImage to 2.1.1-pre2 but  have the same issue on iOS List view scrolling:
[code]

[2016-06-02 22:03] NVentimiglia commented on #220
Ran into this as well, do we have an ETA ?

[2016-06-02 22:40] Slava8991 opened #223 "ImageService.Instance.Initialize(config) doesn't work"
Thank for great project first!

We try to change the default configuration but changes doesn't apply any way.

Xamarin.FFImageLoading.Forms.2.1.0-rc1

Our project is XF 2.1 for Android.

We tried to place ImageService.Instance.Initialize before and after CachedImageRenderer.Init() without any effect.

Full code (from MainActivity.cs)

`base.OnCreate(bundle);`
            `FFImageLoading.Forms.Droi

[2016-06-03 08:10] daniel-luberda commented on #223
@Slava8991 Hi, could you give more details? What are the signs that custom config doesn't work? Did yo try to uninstall all nuget packages and install them again in all projects (shared + platform specific)? Thanks.

[2016-06-03 09:19] daniel-luberda commented on #216
On Forms it should be better after this: https://github.com/luberda-molinet/FFImageLoading/commit/423f4418cbf294602f4510a807cba61e236c1ba5 (Images are now set to null as soon as source changes, before image loading tasks, the same as in Forms `Image` lately)

[2016-06-03 10:41] Slava8991 commented on #223
@daniel-luberda We don't see any behavior changes after custom Initialize. Also we checked ImageService.Instance.Config property before and after initialize - no changes. We also commented FFImageLoading.Forms.Droid.CachedImageRenderer.Init(); and app started and worked fine. It seems like FFImageLoading initialize itself before manual init.

We didn't try to re-install FFImageLoading packages. Wi

[2016-06-03 10:51] Slava8991 commented on #223
After re-installing package we are able to change configuration that way:

FFImageLoading.ImageService.Instance.Config.FadeAnimationDuration = 250;

But Initialize() still don't work.

[2016-06-03 10:54] Slava8991 opened #224 "Don't show placeholder for cached images"
Is it possible to implement any config option to withdraw loading placeholder for cached images? We want cached images should be visible as soon as possible without any animations and currently there are some flickering between placeholder and cached image.

[2016-06-03 12:05] molinch commented on #222
@marlonconstante So you use Xamarin Forms, you don't have a size defined, before it worked as expected and now the size is incorrect, am I right?

@daniel-luberda Any idea?

[2016-06-03 12:06] molinch commented on #224
That's done in 2.1.1 unfortunately it's a prerelease only, so not stable yet.

[2016-06-03 12:07] molinch commented on #218
Fixed in git, a new prerelease will be delivered soon.

[2016-06-03 12:24] marlonconstante commented on #222
@molinch @daniel-luberda Right, that's it.

**The following example of a code snippet:**
[code]
In this case above, in version _2.1.0_, the image will be of same size defined in frame,
even if it is smaller than that.

The expected here would center the image in frame respecting its original size as it was in version _2.0.6_.

[2016-06-03 12:51] michaeldimoudis commented on #218
Great thanks for that, much appreciated all the work you guys are doing.

[2016-06-03 14:01] Slava8991 commented on #224
Great! Waiting for stable release! Thank you!

[2016-06-03 14:01] #224 closed

[2016-06-03 14:56] #223 closed

[2016-06-03 14:57] daniel-luberda commented on #223
There was a bug, I fixed it. Thanks for a help! :) Nugets coming soon.

[2016-06-03 15:07] #218 closed

[2016-06-03 15:17] daniel-luberda commented on #222
@marlonconstante Xamarin.Forms only supports 3 types of aspect ratio:

[code]

You're forcing the size of image to be **200d x 200d**, so it's a correct behavior. I don't think we changed anything related to aspect ratio, it's rather a Xamarin.Forms renderer change.

[2016-06-03 15:30] daniel-luberda commented on #208
Here's the code for fading on Android: https://github.com/luberda-molinet/FFImageLoading/blob/28ca8b323215a5fbbdcb5fd0b7f3274f0dda7af4/source/FFImageLoading.Droid/Drawables/FFBitmapDrawable.cs#L29-L66

[2016-06-03 17:27] daniel-luberda commented on #222
After giving it a second thought. @molinch Could it be related to iOS picking up the wrong scale?

[2016-06-03 17:30] daniel-luberda commented on #224
FFImageLoading 2.1.1 nuget released.

[2016-06-03 17:30] daniel-luberda commented on #218
FFImageLoading 2.1.1 nuget released.

[2016-06-03 17:30] daniel-luberda commented on #220
FFImageLoading 2.1.1 nuget released.

[2016-06-03 17:31] daniel-luberda commented on #223
FFImageLoading 2.1.1 nuget released.

[2016-06-03 18:44] highplains opened #225 "2.1.1 Slow"
Haven't been keeping track of your recent changes but 2.1.1 is significantly slower then 2.1.0.

[2016-06-03 18:50] daniel-luberda commented on #225
Hi.  Could you give devices specs that hava performance problems? Number of cores and ram,  model

[2016-06-03 19:38] highplains commented on #225
I just updated the nugets and threw it onto my iphone 6s Plus. And noticed much slower load times. When i popped back to 2.1.0 everything was smooth again.

[2016-06-03 20:03] daniel-luberda commented on #225
@highplains

- Do you use custom Config (ImageService.Instance.Initialize method)? 2.1.0 had a nasty bug, which caused it to be ignored: https://github.com/luberda-molinet/FFImageLoading/issues/223
- How many images on page? Is it a ListView?
- Could you make a comparsion video? It would help a lot.
- I'll try to prepare a new bug with threading/scheduler performance logging option. It would help

[2016-06-03 20:14] highplains commented on #225
1. no custom config
2. listview, but also noticed a huge delay on a page with no list view and a few images.
3. let me see what i can do.
4. ill run you logs.

[2016-06-03 20:19] daniel-luberda commented on #225
@highplains Thanks, I'll prepare it and notify you.
-  There was one small renderer change to unify behavior with XF standard `Image`. After every ImageSource change, bitmap is instantly set to null to remove effect of loading old image appearing effect, eg in ListViews when view is reused.
- There were also some task scheduler changes but when I tested it there was a performance gain, not opposit

[2016-06-03 21:14] softsan commented on #220
FFImageLoading 2.1.1  fixed the issue. Thanks.

[2016-06-03 21:22] molinch commented on #225
That is strange during my tests of 2.1.1 prereleases it was significantly faster.
@michaeldimoudis do you have any feedback? how is it on your side?

[2016-06-04 01:46] marlonconstante commented on #222
@molinch @daniel-luberda The following is a practical example to demonstrate the problem.
I also added a native image for comparison purposes (Both are included within the same context).

**Code:**
[code]
**Preview:**
![images](https://cloud.githubusercontent.com/assets/6370612/15796699/9ab9df86-29d9-11e6-8de6-97f2b25e2c30.png)

[2016-06-04 03:09] michaeldimoudis commented on #225
@molinch Hi I haven't noticed anything major with the 2.1.1 releases, just what I previously mentioned which you've fixed. My ListView scrolling performance is better now (I also optimised my ViewCell XAML, so together with FFImageLoading improvements it's much better).

Loading a list of images on a clean install is OK on my end. I would like it be faster but it's OK. I'm not sure if it's the ima

[2016-06-04 08:09] molinch commented on #225
@highplains Do you have specific transformations?
Could you post your CachedImage XAML or c# code for the image request?

[2016-06-04 08:11] molinch opened #226 "An item with the same key has already been added"
@michaeldimoudis got this exception at the first start with 2.1.1. It never occurred afterwards.

[code]

[2016-06-04 08:13] molinch commented on #209
Could you give a try to 2.1.1? if it still occurs I will make a sample.

[2016-06-04 08:14] molinch commented on #198
Closing since it's most likely a Mono issue.
Feel free to reopen if you think the opposite,

[2016-06-04 08:14] #198 closed

[2016-06-04 08:15] molinch commented on #76
We accept Pull Requests if anyone is interested to implement it :+1:

[2016-06-04 08:17] molinch commented on #222
Many thanks @marlonconstante with your feedback it's now crystal clear.
I will look into it ASAP.

[2016-06-04 10:20] ravensorb commented on #215
It is not as bad in this build however I am still seeing a double load (or at least a "flickering").  when there are multiple images on a screen.

[2016-06-04 17:56] #226 closed

[2016-06-04 19:26] NVentimiglia commented on #226
I see the fix, when should we expect a merge and nuget package ?

[2016-06-04 19:29] daniel-luberda commented on #226
Should be soon. If you need to fix it ASAP you can use nugets from our AppVeyor page,  where nugets are build for every commit.

[2016-06-04 19:36] NVentimiglia commented on #226
@daniel-luberda  Great, can I get a link ?

[2016-06-04 19:39] daniel-luberda commented on #226
It's on project page (just click Build badge)  https://ci.appveyor.com/project/molinch/ffimageloading/build/artifacts

[2016-06-04 19:48] molinch commented on #201
Load from cache on UI thread was done in 2.1.1

[2016-06-04 20:03] molinch commented on #215
The flickering happens on iOS or Android?
Also does it happen on real device only or you can reproduce with simulator?

Can you detail what you should be improved, in your opinion, apart from the flickering?

[2016-06-04 20:28] joelsantos opened #227 "Setting a cached image source from Uri not working 2.1.1"
Hi there.

There seems to be an issue when trying to set a CachedImage source from an Uri on version 2.1.1. No image appears.

If I try to load using any of the other methods it works, however setting the source to an URL through code or XAML directly fails.

Reverted to 2.1.0 and it's working.

Any ideas on what might be happening?

Kind regards and keep up the good work.

[2016-06-04 20:30] molinch commented on #227
@daniel-luberda Any idea? Sounds strange to me since I don't expect changes here

[2016-06-04 20:37] molinch commented on #222
Very weird I just reproduced what you did, and I get the expected result with 2.1.1.

These are the images I used (@3x, @2x and normal):
![fidelitycard 3x](https://cloud.githubusercontent.com/assets/5130190/15801929/651760f8-2aa4-11e6-88cf-a13efbba412b.png)
![fidelitycard 2x](https://cloud.githubusercontent.com/assets/5130190/15801930/6519b4e8-2aa4-11e6-938e-ec7cd0574288.png)
![fidelitycard](https

[2016-06-04 20:40] daniel-luberda commented on #227
I don't expect it either.  Could you give me your code?

[2016-06-04 20:45] molinch commented on #216
@michaeldimoudis: do you still experience it with 2.1.1?

[2016-06-04 21:31] molinch commented on #222
The result is bit strange. On the left iOS, on the right Android.
Any idea @daniel-luberda ?

![image](https://cloud.githubusercontent.com/assets/5130190/15802248/6d5bb3f6-2aac-11e6-860c-562209944c98.png)

[2016-06-04 23:03] tobiasschulz opened #228 "ArgumentException: An item with the same key has already been added."
Hi,

I'm getting this error very often with the latest release.

We can't release our app like this because there is no way to catch that exception.

[code]

Thanks

[2016-06-04 23:12] molinch commented on #228
@tobiasschulz Thanks for reporting this issue.
It's already fixed in git, we plan to deliver a hotfix soon. Sorry for this regression.

[2016-06-04 23:22] tobiasschulz commented on #228
Ok thank you!

[2016-06-04 23:22] #228 closed

[2016-06-05 00:05] michaeldimoudis commented on #216
Nop I haven't experienced this again in 2.1.1 👍🏼

[2016-06-05 08:27] molinch commented on #216
Thanks !

[2016-06-05 08:57] #216 closed

[2016-06-05 12:11] molinch commented on #222
Remark, even when explicitely defining size, ie:
[code]

We observe at small difference:
![image](https://cloud.githubusercontent.com/assets/5130190/15805337/3b21bc66-2b27-11e6-99cf-69d82c20dabe.png)

[2016-06-05 12:22] joelsantos commented on #227
Hi there.
Just tested and confirmed on an empty project. Created a new repository for it as well.

I can confirm that the issue is happening on all Windows platforms.
Please check https://github.com/joelsantos/TestFFImage/blob/master/TestFFImage/TestFFImage/App.cs

Here's a picture of the issue https://onedrive.live.com/redir?resid=A69DDA9C53B62B67!888341&authkey=!AKSG29rRApTQ0IY&v=3&ithint=photo%

[2016-06-05 14:42] molinch commented on #227
@joelsantos It works fine. The issue is that you don't call the init method in your platform projects:
[code]
See: https://github.com/luberda-molinet/FFImageLoading/wiki/Xamarin.Forms-API#important

[2016-06-05 14:48] molinch commented on #173
@ravensorb If you manage to deliver a sample we will investigate this issue.
Meanwhile there is nothing we can do about it.

[2016-06-05 14:48] #173 closed

[2016-06-05 14:52] molinch commented on #209
@NVentimiglia Could you please upload a sample?
Once we have one it will be easy to check & fix.

[2016-06-05 15:06] joelsantos commented on #227
@molinch Sorry I forgot to add that to this sample project, but I was doing that on my original project.

I added   CachedImageRenderer.Init(); to the multiple Windows projects and it still doesn't work.

I am doing it on App.xaml.cs, after Xamarin.Forms.Forms.Init(e); (were we are usually advised to do it), however it is still not working. I tried moving the initialization around, but I still don

[2016-06-05 15:08] molinch commented on #227
@daniel-luberda I cannot test on WP but on iOS/Android I confirm that everything works as expected.
Could you give it a try?

[2016-06-05 16:30] daniel-luberda commented on #227
@joelsantos There was a bug in all windows releases. I'm currently fixing it. Thanks!

[2016-06-05 16:32] #227 closed

[2016-06-05 17:13] #211 closed

[2016-06-05 17:52] joelsantos commented on #227
Thank you @daniel-luberda :+1:  glad I could help

[2016-06-05 17:55] aeldaher opened #229 "New crash (2.1.1) An item with the same key has already been added."
Stack trace below:

  at System.ThrowHelper.ThrowArgumentException (ExceptionResource resource) [0x00000] in /Users/builder/data/lanes/2923/52635947/source/mono/external/referencesource/mscorlib/system/throwhelper.cs:72
  at System.Collections.Generic.Dictionary`2[TKey,TValue].Insert (System.Collections.Generic.TKey key, System.Collections.Generic.TValue value, Boolean add) [0x0008e] in /Users/bui

[2016-06-05 17:58] daniel-luberda commented on #229
Hi @aeldaher, it's already fixed. Just download 2.1.2 nuget.

[2016-06-05 17:58] #229 closed

[2016-06-05 17:59] daniel-luberda commented on #227
Hi @joelsantos , it's already fixed. Just download 2.1.2 nuget.

[2016-06-05 17:59] daniel-luberda commented on #228
Hi @tobiasschulz  , it's already fixed. Just download 2.1.2 nuget.

[2016-06-05 18:05] daniel-luberda commented on #225
@highplains I added some performance logging options:

- Download 2.1.2 nuget
- Create custom logger as here:
[code]

- Use custom FFImageLoading config as here:

[code]
- Run **Release** build and send me logs which are produced.

Thanks

[2016-06-05 18:07] daniel-luberda commented on #226
Nuget with fix released (2.1.2)

[2016-06-05 20:38] joelsantos commented on #227
I can now confirm that the issue is solved. Thank's once again :+1:

[2016-06-06 15:15] owlstack opened #230 "How to set the location for CachedImages?"
I want to set a specific location to store the CachedImages but I'm not sure how to set the location for the images. It looks like currently, Android is sweeping the bitmaps as soon as I set them for preloading and only shows the first two images that are shown on the page but not the others.... they are collecting and freed for memory.

[2016-06-06 15:49] molinch commented on #230
@owlstack I am sorry but I have not understood your need. Could you rephrase?

[2016-06-06 15:51] owlstack commented on #230
It's okay, where are the cached Images currently stored on the android device? I was wondering if I can change the location of storage and how do I set the change of location to store the images.

[2016-06-06 15:57] molinch commented on #230
By default it creates a subfolder `FFSimpleDiskCache` and stores images there.
But you can provide your own disk cache too using `ImageService.Initialize`.

If you provide your disk cache then you can create an instance of `SimpleDiskCache`, when doing so you can specify your path.
Please note that file names are hashed based on request.

[2016-06-06 16:25] owlstack commented on #230
Okay that sounds right. Do you have an example I can reference? Thanks!

[2016-06-06 18:28] molinch commented on #230
Something like (not tested):
[code]

[2016-06-06 18:28] #230 closed

[2016-06-06 18:32] molinch opened #231 "Nuget badges don't follow updates"
@mattleibow Thanks again for your awesome help! By any chance do you know why the Nuget badges don't follow updates?
The version number seems to be stuck at 2.1.0

[2016-06-06 19:27] patook opened #232 "FF2.1.2 Crash"
Stack trace below, relative rare.

System.Collections.Generic.KeyNotFoundExceptionThe given key was not present in the dictionary.
Raw
null
System.Collections.Generic.KeyNotFoundExceptionThe given key was not present in the dictionary.
System.ThrowHelper.ThrowKeyNotFoundException()
System.Collections.Generic.Dictionary<TKey, TValue>.get_Item(TKey key)
FFImageLoading.Work.WorkScheduler.<QueueTaskAs

[2016-06-06 19:48] patook commented on #232
Thanks, that was fast. Any chance you can get Nugets up with that fix? I'd like to push a fix to the app store

[2016-06-06 19:49] daniel-luberda commented on #232
You can use our packages from AppVeyor which are build for every commit: https://ci.appveyor.com/project/molinch/ffimageloading/build/artifacts

[2016-06-06 19:55] patook commented on #232
Thank you - will do.

[2016-06-06 20:32] highplains commented on #225
Everything seems to be on latest release. Want me to still send logs?

[2016-06-07 09:57] tobiasschulz commented on #232
Can you please upload a public nuget?

Why are there so many dictionary problems lately...

[2016-06-07 11:13] daniel-luberda commented on #232
It's because work scheduler was completely reimplemented, sorry for that. 2.1.3 released.

[2016-06-07 11:14] daniel-luberda commented on #225
@highplains There's no need if everything is ok. I'll close the issue then. Thanks.

[2016-06-07 11:14] #225 closed

[2016-06-07 11:34] daniel-luberda commented on #207
@chapayGhub Do you still experience it in 2.1.3?

[2016-06-07 12:26] daniel-luberda commented on #231
Fixed with https://github.com/luberda-molinet/FFImageLoading/commit/b1c2130722402a0c7542d1252168fe564b71c755

[2016-06-07 12:26] #231 closed

[2016-06-07 15:06] highplains opened #233 "2.1.2 Occasionaly pictures stop loading till app restart"
Video Demo....

https://www.dropbox.com/s/02ajku5ss7f5qcc/ff212noload.mov?dl=0

PS. I know those images are already cached because they were working fine 5 min ago.

[2016-06-07 15:07] daniel-luberda commented on #233
Did you try 2.1.3? There was a missed dictionary lock issue

[2016-06-07 16:15] patook commented on #232
@daniel-luberda I pushed out 2.1.3 and it is still happening

  at System.ThrowHelper.ThrowKeyNotFoundException () <0x9c3e8000 + 0x00010> in <filename unknown>:0
  at System.Collections.Generic.Dictionary`2[TKey,TValue].get_Item (System.Collections.Generic.TKey key) <0x9f8a4a70 + 0x00053> in <filename unknown>:0
  at FFImageLoading.Work.WorkScheduler+<QueueTaskAsync>d__32.MoveNext () <0x9c3e0578 +

[2016-06-07 16:17] patook commented on #232
It won't let me re-open this issue. But same as above with FF2.1.3

[2016-06-07 16:18] daniel-luberda commented on #232
@patook 2.1.3 is now in official nuget channel. Did you try it? Did you clean project and rebuild it?

[2016-06-07 16:25] patook commented on #232
@daniel-luberda
The one I have on the app store is from AppVeyor (the link you sent me). Right clicking on it shows 2.1.3 version. However, if there are other changes between that time and the official FF2.1.3 then I can push those out as well. Let me know and I'll submit it.

[2016-06-07 16:27] daniel-luberda commented on #232
If the version is exactly 2.1.3 it should be the same.

[2016-06-07 16:42] highplains commented on #233
Still happening in 2.1.3

[2016-06-07 16:43] #232 closed

[2016-06-07 16:45] daniel-luberda commented on #233
@highplains Could you try the newest nuget? It's building now (2.1.4.83).

[2016-06-07 16:45] daniel-luberda commented on #232
@patook  Could you try the newest nuget? It's building now (2.1.4.83).

[2016-06-07 16:46] patook commented on #232
Yes, I will push it to the app store today.

[2016-06-07 18:22] highplains commented on #233
Testing now, ill get back to you.

[2016-06-07 19:18] highplains opened #234 "2.1.3 IsLoading remains true after image is finished loading"
https://www.dropbox.com/s/z3nezj7igddew1t/ff213loading.mov?dl=0

[2016-06-07 20:17] mcweekly commented on #207
I was having this problem as well. I was crashing pretty early on, especially when scrolling backwards in listview.  Upgrading to 2.1.3 did not help.

Setting downsampling to False seems to have alleviated the crashing.

Thank you for the library, it makes listview usable with images--otherwise, it's not!

[2016-06-07 20:18] daniel-luberda commented on #207
@mcweekly Thanks.  Please try 2.1.4 prerelease nuget.  There was another issue that we missed

[2016-06-07 20:19] mcweekly commented on #207
@daniel-luberda Thanks, will do.

[2016-06-07 21:31] highplains commented on #233
Still happening.

[2016-06-07 22:53] highplains opened #235 "Not Bug - Preload"
Is there an example of how to do this in forms? I see the property but am a bit confused on how to use it. Thanks!

[2016-06-08 06:25] molinch commented on #233
@highplains Unfortunately I cannot reproduce with our samples.
Is it possible to share your sources via private email? Or to customize the samples so they are closer to your situation?

[2016-06-08 06:37] #222 closed

[2016-06-08 16:48] #233 closed

[2016-06-08 16:58] molinch commented on #233
@highplains I managed to reproduce the issue.
It should be fixed now and I uploaded new prerelease nugets https://www.nuget.org/packages/Xamarin.FFImageLoading/2.1.4-pre-85

[2016-06-08 16:59] molinch commented on #222
This prerelease nuget package contains the fix https://www.nuget.org/packages/Xamarin.FFImageLoading/2.1.4-pre-85
could you give it a try ?

[2016-06-08 19:21] molinch commented on #234
Thanks for the feedback! It is really nice to have videos.

Does it happen for all images?
Could you check it with our latest prerelease too?

[2016-06-08 19:23] molinch commented on #201
I consider that most important ideas have been implemented.
Other ideas are almost impossible to do with our architecture.

[2016-06-08 19:23] #201 closed

[2016-06-08 19:25] molinch opened #236 "Display loading placeholder straight away if in cache"
If the placeholder is in cache it should be delivered straight away on UI thread.
There is no need to wait for anything in that case.

Remark: this is already done for images but not for the loading placeholder itself.

[2016-06-08 19:26] molinch commented on #235
@highplains
From anywhere you can call:
[code]

[2016-06-08 19:26] #235 closed

[2016-06-08 19:29] molinch commented on #215
@ravensorb Even though I cannot exactly reproduce what you describe #236 should really improve this.

[2016-06-08 19:30] molinch commented on #202
@daniel-luberda I don't remember here: is @NVentimiglia 's feedback an issue or just a config parameter that we should most likely default to true?

[2016-06-08 19:31] molinch commented on #202
@CliffCawley You should now use ImageService.Instance.xxx methods

[2016-06-08 19:32] molinch commented on #193
@Zeraceee have you managed to do your custom transformation?
If yes, then it would be super nice if you managed to add a Wiki description :+1:

[2016-06-08 20:02] highplains commented on #235
<img width="478" alt="screen shot 2016-06-08 at 2 01 39 pm" src="https://cloud.githubusercontent.com/assets/1825076/15909003/9f90387e-2d81-11e6-9192-7d77d53ed689.png">

[2016-06-08 20:04] molinch commented on #235
It's an extension method see: https://github.com/luberda-molinet/FFImageLoading/blob/017541135eba42fee001b11016556231e8524772/source/FFImageLoading.Droid/TaskParameterExtensions.cs#L73

Do you have the usings?

[2016-06-08 20:08] highplains commented on #235
Ya trying from a PCL.

[2016-06-08 20:09] molinch commented on #235
I'll add a method using Bait & Switch, so you'll be able to do that in a PCL.

[2016-06-08 20:20] highplains commented on #235
appreciate it!

On Wed, Jun 8, 2016 at 2:09 PM, Fabien Molinet <notifications@github.com>
wrote:

[2016-06-08 20:22] owlstack commented on #202
@molinch I'm having an issue when I upgraded to 2.1.2, my images are cached loaded with a black background and some of the images are appearing in the wrong slots. This wasn't happening before with 2.1.0. So now the same images is loaded several times in a row even though it was not like so before. Did anything change?

[2016-06-08 20:23] molinch commented on #202
@owlstack could you try the latest prerelase?

[2016-06-08 20:24] owlstack commented on #202
I can't use prelease for my project :( But I can try 2.1.3. waiting for a new stable release after PR. Btw, I forgot to mention, this only happens in a scrollview when swiping between pages.

[2016-06-08 20:25] molinch commented on #202
it's not possible to give it a try? then bring back stable version?

[2016-06-08 20:27] owlstack commented on #202
ah ok, I will give it a try thanks :)

[2016-06-08 21:47] owlstack commented on #202
@molinch It actual seems to happen intermittantly. I will try the prelease :S

[2016-06-09 02:01] owlstack commented on #234
@highplains is this still true with the prerelease?

[2016-06-09 05:48] molinch commented on #202
Thanks for your feedback @owlstack
I'm waiting for @highplains too.
If it's fine for both then we can release it.

[2016-06-09 05:49] molinch commented on #233
@highplains any feedback?

[2016-06-09 10:21] thangtk opened #237 "Load images failed - 2.1.3"
I'm using FFImageLoading **v2.1.3** in Xamarin iOS project
Issues:
- Xamarin studio 6.0: loading images failed
System.Net.WebException: Error: NameResolutionFailure
  at System.Net.HttpWebRequest.EndGetResponse (IAsyncResult asyncResult) [0x0005e] in /Users/builder/data/lanes/3339/39ebb778/source/maccore/_build/Library/Frameworks/Xamarin.iOS.framework/Versions/git/src/mono/mcs/class/System/System.

[2016-06-09 10:25] molinch commented on #237
That is expected if you use IntoAsync.
In that case it is up to you to handle errors.

[2016-06-09 11:01] molinch commented on #237
Please see: https://github.com/luberda-molinet/FFImageLoading/wiki/Advanced-Usage#asyncawait-support-and-custom-exception-handling

[2016-06-09 11:01] #237 closed

[2016-06-09 13:00] owlstack commented on #202
One more thing... the time it takes  for images to be cached for future uses takes a a while. I have about 100 images I need to preload and I noticed if I have a fast internet, they all load in 2 mins or less. If I have a slow connection, it takes the images to preload in 8 mins or less. Is there something I can do to prove the performance for images to be preloaded?

[2016-06-09 13:32] molinch commented on #202
How do you preload, can you show some code?
Please create a separate issue. Thanks!

[2016-06-09 13:50] highplains commented on #233
So far this looks good. I'll reopen if I notice it again.

Sent from my iPhone

[2016-06-09 19:17] molinch commented on #233
Great !
Thanks for the feedback

[2016-06-09 19:17] stefffdev opened #238 "CachedImage in ListView items sometimes don't appear"
I am encountering a caching issue in a (super simple) Xamarin.Forms UWP app.
I am navigating to a page containing only one XAML element:
`<ffimageloading:CachedImage x:Name="img"/>`

In the OnNavigatedTo event I am loading a Image resided in my LocalState path:
[code]

This is working fine the first time (when the file is loaded from the disk) but randomly failing every time the page is navigated

[2016-06-09 19:19] molinch commented on #238
Thanks for the feedback.
Could you please try with the latest prerelease nuget?

[2016-06-09 20:12] molinch commented on #234
So @highplains ?

[2016-06-09 20:27] highplains commented on #234
Trying to push a release. I'll check it out real quick

Sent from my iPhone

[2016-06-09 21:48] highplains commented on #234
2.1.4-pre-85 looking good so far. Going to my TestFlight beta testers tonight.

[2016-06-10 05:13] stefffdev commented on #238
Thank you for your response!
I tried with the version 2.1.4-pre85, the problem persists.

[2016-06-10 05:18] molinch commented on #238
Thanks for the feedback.
Could you upload a sample so we look at it?

[2016-06-10 05:28] molinch commented on #234
I'm closing it, please reopen if needed.

[2016-06-10 05:58] stefffdev commented on #238
Sample Project: https://comtechit-my.sharepoint.com/personal/ss_comtech_at/_layouts/15/guestaccess.aspx?guestaccesstoken=3miBmAc66ls4LeO1%2fa%2f%2bQeN2TyxbTznjFVh9SuoiiOk%3d&docid=1766d9f1f34e04ce4bd07cd2f8e51b4aa

You'll need a "test.jpg" file in the LocalState directory, so please put it there manually after you first launched the app.
I have noticed that the problem only seems to occur when the

[2016-06-10 07:26] mariusmuntean opened #239 "Cache on iOS"
Hi!
I noticed that on iOS the disk cache(FImageLoading/source/FFImageLoading.Shared/Cache/SimpleDiskCache.cs) is created in the tmp/ subdirectory of the App.
I think this is not Ideal since, as per [Apple's documentation](https://developer.apple.com/library/ios/documentation/FileManagement/Conceptual/FileSystemProgrammingGuide/FileSystemOverview/FileSystemOverview.html), the content of that folder

[2016-06-10 07:50] thangtk commented on #237
Thank @molinch for rapid response. I missed the usage of IntoAsync.
For now my biggest issue is:
All of image loading work well in Xamarin studio 5.x, but after update to Xamarin studio 6.0, all of LoadUrl failed with error:
System.Net.WebException: Error: NameResolutionFailure
  at System.Net.HttpWebRequest.EndGetResponse (IAsyncResult asyncResult) [0x0005e] in /Users/builder/data/lanes/3339/39eb

[2016-06-10 13:51] marlonconstante commented on #222
@molinch @daniel-luberda Worked perfectly!
Thanks for attention and quickness to resolve this issue.

[2016-06-10 16:11] daniel-luberda commented on #239
@mariusmuntean Temp is fine. It's only emptied under some circumstances as low-disk space and it's designed for use-cases like this. You can use your own path if you want to:

[code]

[2016-06-10 16:37] molinch commented on #209
Hi @NVentimiglia Could you upload a sample?
Otherwise we won't look at this issue.

[2016-06-10 16:38] molinch commented on #237
Please create a separate issue

[2016-06-10 16:39] molinch commented on #235
Nuget 2.1.5 released which contains it.

[2016-06-10 16:39] molinch commented on #207
@mcweekly Could you try latest stable version, ie 2.1.5 ?

[2016-06-10 16:40] molinch commented on #233
Stable nuget 2.1.5, that contains the fix has been released.

[2016-06-10 17:38] daniel-luberda commented on #239
Currently we use `Path.GetTempPath()` method.

[2016-06-11 07:26] thangtk opened #240 "Xamarin Studio 6.0 cannot load images from url"
All of image loading work well in Xamarin studio 5.x, but after update to Xamarin studio 6.0, all the call of LoadUrl failed with error:
System.Net.WebException: Error: NameResolutionFailure
at System.Net.HttpWebRequest.EndGetResponse (IAsyncResult asyncResult) [0x0005e] in /Users/builder/data/lanes/3339/39ebb778/source/maccore/_build/Library/Frameworks/Xamarin.iOS.framework/Versions/git/src/mono/

[2016-06-11 09:24] molinch commented on #240
Do you use a specific HttpHandler?
Please check your project properties too.
On which platform and OS version do you get the issue?

Please post an image request that fails.

[2016-06-11 13:28] scub4r opened #241 "Issue on iOS with Xamarin Forms"
Im encountering an issue with FFImageLoading and iOS.
Xamarin Forms Version: 2.2.0.45
FFImageLoading Version: 2.1.5

AppDelegate.cs:

[code]

I have added FFImageLoading to both iOS and Android projects.

The Android project recognizes the FFImageLoading.Forms.Droid namespace

[2016-06-11 13:36] molinch commented on #241
@scub4r Could you try to uninstall all FFImageloading nuget packages from the iOS project.
Then try to install again FFImageLoading Forms.

[2016-06-11 13:50] molinch commented on #239
Dunno if we should really do anything since iOS will usually only reclaim /tmp space when the device is low on disk.

I am not against changing the path but if we do so we should be extremely careful about iCloud backup. Cache files should never ever be sent to iCloud otherwise Apple will reject the app.

[2016-06-11 13:57] molinch commented on #239
@daniel-luberda Is right we can use /Library/Caches

**Apple documentation**
Library/
This is the top-level directory for any files that are not user data files. You typically put files in one of several standard subdirectories. iOS apps commonly use the Application Support and Caches subdirectories; however, you can create custom subdirectories.
Use the Library subdirectories for any files you do

[2016-06-11 19:25] scub4r commented on #241
This solved it, thank you

[2016-06-11 19:25] #241 closed

[2016-06-11 20:02] asafHorvitz opened #242 "Image from file not loading fast enough on first time"
I have image from file i want to use as background.

I am using relative layout,  and i strech the image  all over the screen (the first child) and later i add some labels and entries to the relative layout.

The first time I loads it (using the cacheImage) a black screen appears with the labels and the entries presented and after around 1 second the image appears.

The second time I loads the scr

[2016-06-12 13:07] molinch commented on #235
Please let me know if you tried it.
Thanks !

[2016-06-12 13:08] molinch commented on #242
The first time your image is retrieved from disk and added to memory cache.
The time you see is the time to load from disk or to decode your image, it is independant from the library.

If you want to preload the image into memory cache you can use:
[code]
However I doubt it will really help your scenario.

[2016-06-12 13:08] #242 closed

[2016-06-12 13:11] molinch commented on #238
@stefffdev Many thanks for the sample, it's highly appreciated!

@daniel-luberda Could you have a look at it? I cannot play with WP unfortunately :(

[2016-06-12 13:23] michaeldimoudis opened #243 "Occasionally an already loaded image goes through HttpClient to load again"
Hi, firstly thanks for 2.1.5 it has sped up things a lot.

I have an issue to report I've noticed before but haven't tried to find out what's going on yet. Basically this is the scenario, and note it doesn't happen all the time.

1. Images are loaded in a ListView (Xamarin Forms app here, testing on iOS atm)
2. When I click an item in the ListView, that same image is shown on the next page (detail

[2016-06-13 04:18] thangtk commented on #240
These are the test cases:
I have 2 urls and 2 methods to load image:
[code]
With url (1), both of "loading image" are successful
With url (2), "Loading image by UIImage" is ok and "Loading image by ImageService" return an error

Also I'm checking HttpHandler.
I test on ipad air 2, ios 9.3

Thank you so much!

[2016-06-13 05:36] thangtk commented on #240
I found my mistake for using IP directly.
But I wonder why previous version had no error?
Anyway, thank you so much @molinch

[2016-06-13 08:47] chamamo opened #244 "Images are not loaded in RecyclerView"
Hello,

I am using the latest version (2.1.5) and I have problem when I have images in RecyclerView.

The images are not loaded the first time, I must scroll and return to the concerned images to see them load.

I did not have this problem when I was using the version 2.1.0

Thank you in advance.

[2016-06-13 16:38] daniel-luberda commented on #240
@thangtk It's because of this: https://developer.apple.com/news/?id=05042016a

[2016-06-13 20:44] snaderi opened #245 "iOS System.IO.FileNotFoundException: Could not load file or assembly 'FFImageLoading.Transformations' or one of its dependencies"
Very similar to issue #170 except I'm calling the init in AppDelegate.cs.

`	[Register ("AppDelegate")]
	public partial class AppDelegate : global::Xamarin.Forms.Platform.iOS.FormsApplicationDelegate
	{
		public override bool FinishedLaunching (UIApplication app, NSDictionary options)
		{
			CachedImageRenderer.Init ();

			global::Xamarin.Forms.Forms.Init ();

			Microsoft.WindowsAzure.MobileServ

[2016-06-14 11:49] thangtk commented on #240
Great, I think there're some restrictions from new iOS SDK.
Thank you

[2016-06-14 11:49] #240 closed

[2016-06-14 15:35] highplains commented on #235
Does preload ignore downloading the file if its already cached?

[2016-06-14 15:36] molinch commented on #235
Yes. If it's already there it should not download it again.
Also note that it will put it in memory cache.

[2016-06-14 15:36] highplains commented on #234
This still happens occasionally.

[2016-06-14 15:37] molinch commented on #234
@daniel-luberda I have no idea how the XF IsLoading is implemented. Do you have any idea?

[2016-06-14 16:08] highplains commented on #235
Nice, anyway in a future release to be able to select disk cache?

[2016-06-14 17:14] highplains commented on #235
Also this seems to block.

Example.
Api call downloads 50 profiles with images to display in list.
Preload() is called on each pic to speed up load times when scrolling the list.
The first few cells that are displayed, the loading of the image is "blocked" while the preloads are happening in the background.

This sound correct? Perhaps a priority switch is needed?

[2016-06-14 19:15] molinch commented on #235
Yes that is how it behaves now.

But you are right: the default priority, for preloaded tasks should probably be lowered.
Meanwhile you can still increase the priority of other tasks.

[2016-06-15 00:04] highplains commented on #235
Changing images to high priority and letting preload run at normal priority did the trick. Would be nice if we could set the default to lower on preload.

Preload is awesome! Thanks!

[2016-06-15 05:40] molinch commented on #235
I just checked the code, in fact you can already do it like:
[code]

I already pushed a change https://github.com/luberda-molinet/FFImageLoading/commit/66857b1793cc56ad42ee136d95bc81f82844c945 so in the future if no priority is defined it will be low by default.

[2016-06-15 05:42] molinch commented on #245
Any idea @daniel-luberda ?

[2016-06-15 06:02] #234 closed

[2016-06-15 06:03] molinch commented on #239
@mariusmuntean If you want to provide a PR for it we are happy to merge it.

[2016-06-15 06:09] molinch commented on #243
Awesome debugging info @michaeldimoudis 👍
We will look into it

[2016-06-15 06:30] molinch commented on #244
We also have a sample with RecyclerView and it works fine: https://github.com/luberda-molinet/FFImageLoading/tree/master/samples/ImageLoading.Sample

Do you have more information to communicate? Could you upload or email your project so we have a look at it?

[2016-06-15 08:41] skubo opened #247 "No brightness transformation possible?"
Somewhere in the project I found the reference to how color matrices are used in the ColorSpaceTransformation here: [https://docs.rainmeter.net/tips/colormatrix-guide/](https://docs.rainmeter.net/tips/colormatrix-guide/)

However if I try to create my own float matrix like this
`new ColorSpaceTransformation( new float[][] {
            new float[] {1,0,0,0,0},
            new float[] {0,1,0,0,0},

[2016-06-15 08:51] skubo commented on #247
Should add that the brightness matrix above does not work on any platform.

[2016-06-15 08:52] molinch commented on #247
Thanks for debugging this.
@skubo Could you propose a PR for it?

[2016-06-15 08:56] skubo commented on #247
sorry, I don't quite understand how color matrix transformations work at all, I was just try-and-erroring the example from that page mentioned

[2016-06-15 08:59] molinch commented on #247
Any idea @daniel-luberda ?

[2016-06-15 09:48] molinch commented on #235
Available in https://www.nuget.org/packages/Xamarin.FFImageLoading/2.1.6-pre-96

[2016-06-15 09:49] molinch commented on #234
Fix available in https://www.nuget.org/packages/Xamarin.FFImageLoading/2.1.6-pre-96

[2016-06-15 12:06] molinch commented on #209
@NVentimiglia I'm definitely keen on fixing this however I really need a sample. Could you upload one?

[2016-06-15 12:25] chamamo opened #248 "Version 2.1.5: Crash on Android"
Hi,

You can reproduce it with this sample.

https://github.com/chamamo/FFImageLoading.RecyclerViewSample

Launch the application and start scrolling the recyclerview.

StackTrace:

`System.ArgumentNullException: Value cannot be null.
Parameter name: key
at System.ThrowHelper.ThrowArgumentNullException (ExceptionArgument argument) [0x00000] in /Users/builder/data/lanes/2923/52635947/source/mono/ex

[2016-06-15 12:44] chamamo commented on #244
I thank it happen when I have a nul (or empty) url in the list, I think It affect the rest.

[2016-06-15 14:39] NVentimiglia commented on #209
I don`t have a sample right now, and I don`t have the time for a sample at the moment.

You can close the issue if you like, I appreciate your vigor.

[2016-06-15 14:57] highplains commented on #235
Thanks! Another question... Is there a way to clear the preload queue?

Scenario:
1. Api call downloads 50 records. Preload is called on the 50 records image.
2. User switches screens in app, preload queue still working on previous screens images.
3. Wipe preload queue
4. Api call on new screen
5. Preload called on new screens images.

[2016-06-15 16:29] ckrempp91 commented on #247
@skubo from my understanding the brightness of an image is impacted by the fourth row because that signifies the alpha channel for that specific color (based upon column). For example if you place positive numbers in fourth row like so [ R, G, B, A, 0f ]:

`new [] { 1f, 1f, 1f, 1f, 0f }`

Then you are specifying that you want the red, green, and blue colors present thus causing the image to be dis

[2016-06-16 05:42] skubo commented on #247
@ckrempp91 you're right this will change brightness. I'll close this ticket then. However, I still don't know what's the fifth row for. Does not seem to do anything?

[2016-06-16 05:42] #247 closed

[2016-06-16 13:17] ckrempp91 commented on #247
@skubo I am not entirely sure either, but I did find an article from windows that does explain how they utilize the fifth row in color matrix here https://msdn.microsoft.com/en-us/library/system.drawing.imaging.colormatrix(v=vs.110).aspx#Anchor_5

[2016-06-16 15:03] tomcrusader commented on #245
I have exactly this error, which of course is a major blocker

[2016-06-16 15:15] WillemMali opened #250 "Upsampling/show image larger than image size?"
Hi,

I'm working on a Xamarin.Forms app, and I think I've walked into an issue with ffImageLoading:

Whenever a CachedImage is set to be scaled up (with Width/HeightRequest or Vertical/HorizontalOptions="Fill"), it does take up the amount of space a Xamarin Image would, but draws the image in the top-left corner of the region of space it occupies, at the size of its source.

I.e., when I have a hi

[2016-06-16 16:24] molinch commented on #248
Thanks @chamamo I will review your sample.

[2016-06-16 17:52] ricky87 opened #251 "ImageSource transformation problem"
Hello, I copied your example to crop an image. Everything runs perfect but trying to replace the SourceProperty from a string to an ImageSource make the view not updating anymore. Here is my code:

`ProfileImageSource = Xamarin.Forms.ImageSource.FromStream(() => { return _originalImageStream; });`

[code]

I tryed to clear the cache too and init a new Image source from the original image stream, b

[2016-06-16 20:32] patook opened #252 "Performance issues with local images"
Hi - I'm still getting some relatively bad perf issues when loading local images. I think I opened a similar bug a couple months ago but then it was harder to repro.

I recorded a small clip, please look at the images at the bottom of the video. They are all local PNG files and are requested at the exact same time. This uses ff2.1.5

https://www.youtube.com/watch?v=dUVuMpnH2kE&feature=youtu.be

[2016-06-16 21:48] highplains commented on #252
I notice this in my app too.

On Thu, Jun 16, 2016 at 2:32 PM, patook <notifications@github.com> wrote:

[2016-06-16 21:58] molinch commented on #252
Did you have some image network requests while having local ones?
Also which device was it?

[2016-06-16 22:45] patook commented on #252
@molinch this is an iPhone 6

In the video above, there are only local images being displayed.

However, I have other pages which load remote and local images, and the local images seem to take the longest, even when I set them HighestPriority.

[2016-06-16 22:49] daniel-luberda commented on #252
@patook @highplains Could you do this:

- Create custom logger as here:
[code]

- Use custom FFImageLoading config as here:

[code]
- Run **Release** build and send me logs which are produced.

[2016-06-16 22:51] daniel-luberda commented on #238
I'll look at it by the weekend.

[2016-06-16 22:56] daniel-luberda commented on #245
@tomcrusader @snaderi
- Do you have FFImageLoading.Transformations added to both shared and platform specific projects?
- If yes, it's Xamarin Linking problem, the assembly is cut out by the linker. To avoid that, you can add this  just after  `CachedImageRenderer.Init();` in a **platform specific project** (important):

[code]

[2016-06-16 23:03] snaderi commented on #245
@daniel-luberda That resolved it. Thank you.

[2016-06-16 23:08] daniel-luberda commented on #250
Vertical/HorizontalOptions="Fill" will give you original image size, so it's an expected behavior. What you're looking for is
- `FillAndExpand` OR
- `WidthRequest / HeightRequest` (setting one of those is enough)

[2016-06-16 23:12] #245 closed

[2016-06-16 23:21] daniel-luberda commented on #251
You need to remember that `StreamImageSource` requires a method for getting stream, not stream as a parameter. After every image loading the stream is disposed. The same behavior is for Xamarin.Forms `Image`. You need to create a new stream every time. Something like:

[code]

[2016-06-16 23:21] #251 closed

[2016-06-17 06:16] tomcrusader commented on #245
Might want to remark this in the documentation

[2016-06-17 06:59] molinch commented on #252
Please post your image loading request.
Or you loading via file path or as a compiled/bundled resource?

[2016-06-17 08:13] ricky87 commented on #251
Thank you very much! This solved the issue!

[2016-06-17 09:05] WillemMali commented on #250
No, in Xamarin.Forms "Fill" will make an element fill the parent element, and if Fill is specified on only one axis it will preserve aspect ratio; FillAndExpand will fill the parent element, and if the pixel size of the image is larger than the parent element it will expand the parent element. The behavior from ffImageLoading differs from the behavior of the Image class; it results in a different

[2016-06-17 14:56] molinch commented on #235
Now there is in solution for your use case in prerelease nuget: https://www.nuget.org/packages/Xamarin.FFImageLoading/2.1.6-pre-102

You can cancel tasks using a predicate
`ImageService.Instance.Cancel(t => t.Preloaded)`

[2016-06-17 18:43] patook commented on #252
It is pretty simple:

matchesicon.Source = "coffee.png";
discussionsicon.Source = "discussions.png";
etc.

And "coffee.png", "discussions.png", etc. are BundleResources

@daniel-luberda OK I will try to do this today.

[2016-06-17 21:05] highplains commented on #252
https://www.dropbox.com/s/uma74z46pzqkbca/localimages.mov?dl=0

Feels like the network requests are blocking the local image requests. Profile images I have cached already allow the top toolbar to load instant. But if the image has to be downloaded (example in video) seems to block.

[2016-06-17 21:09] molinch commented on #252
@highplains Do you priorize local requests?
By default they both have same priority and we limit number of concurrent requests.

So if you are limited to a max of 2 concurrent requests, and have 2 running web requests, and request some local stuff, then local request will have to wait until web part is done.

I recommend defining a higher priority on local requests.

[2016-06-17 21:10] highplains commented on #252
The local toolbar images are set to "Highest" while everything else on that screen is at "Default"

[2016-06-17 21:12] molinch commented on #252
Ok thanks I will check.

[2016-06-17 21:16] highplains commented on #252
What's also a little weird is that in the video you can see the first toolbar icon always loads even when a network call is made. But anyways, thanks!

[2016-06-17 21:26] patook commented on #252
echoing what @highplains said, we also have all the local/resources things set to Highest

CachedImage matchesicon = new CachedImage { Source = "coffee.png", LoadingPriority = FFImageLoading.Work.LoadingPriority.Highest };
		CachedImage discussionsicon = new CachedImage { Source = "discussions.png", LoadingPriority = FFImageLoading.Work.LoadingPriority.Highest  };
		CachedImage connicon = new Cach

[2016-06-17 21:28] daniel-luberda commented on #252
@patook Is it possible to see performance logs? Thanks

[2016-06-17 21:30] patook commented on #252
@daniel-luberda yes, sorry, I'm just in the middle of a big change and need to check in before I can play with this.

[2016-06-18 00:25] patook commented on #252
Here you go, I had to run it in debug but the same error persists. Is this enough data?

Generating/retrieving image: coffeeselected.png
Generating/retrieving image: Discussions.png
Generating/retrieving image: connections.png
Generating/retrieving image: visitorsicon.png
Generating/retrieving image: usericon.png
Thread started: <Thread Pool> #10
Thread started: <Thread Pool> #11
Thread started: <

[2016-06-18 16:50] patook commented on #252
@daniel-luberda is this what you were looking for ^ ?

[2016-06-18 17:23] patook commented on #252
Just so you know, replacing CachedImage with Image (the normal XF image) shows me the image immediately.

[2016-06-19 11:32] ThumbGen opened #253 "Is CachedImage supporting .NET Native Compilation?"
Hi

Although my Xamarin Forms app works perfectly in debug mode it fails loading any images when compiled using .NET Native for Release. I couldn't find any relevant logs or info. None of the CachedImage events are triggered. I played a lot with the Default.rd.xml in my UWP app but without success.

I am trying to load images both as embedded resource from a different PCL and as normal image from

[2016-06-19 11:38] daniel-luberda commented on #253
https://developer.xamarin.com/guides/xamarin-forms/platform-features/windows/installation/universal/#Target_Invocation_Exception_when_using_Compile_with_.NET_Native_tool_chain

[2016-06-20 07:21] tomcrusader opened #254 "Add Anti-Aliasing to Circle/Rounded Transformations algorithm"
On Windows 8.1 using an CircleTransformation (in ListView) cause the image to be distorted.

Removing the Transformation fixes the issue.

![Example](https://dl.dropboxusercontent.com/u/1027259/Examples/ffimage_win81.png)

[2016-06-20 19:25] lhaussknecht opened #255 "Image appaers only after waiting for serveral minutes"
I have an odd phenomenon.

We have a Xamarin.Froms Android app. All images are loaded with FFImageLoading over http(s). The images are not displayed directly. Leaving the device alone for say 10 to 20 minutes and the images appear.

Any ideas, what could lead to this behavior (and how to fix it)?

[2016-06-20 19:33] ThumbGen commented on #253
I've already applied those suggestion but it seems I forgot one of the libs (the Platform).

Thank you!

[2016-06-20 19:33] #253 closed

[2016-06-21 16:30] daniel-luberda commented on #255
It's really hard to predict what it might be without a reproduction. Could upload one? Is it on every platform?

[2016-06-21 16:35] daniel-luberda commented on #254
- The algorithm for rounded corners on windows platform is a really basic one (without anti-aliasing) : https://github.com/luberda-molinet/FFImageLoading/blob/master/source/FFImageLoading.Transformations.Windows/RoundedTransformation.cs#L47
- The image resolution is low 100pixels.
- Set `DownsampleUseDipUnits` to `true` for a better results. The image size will be not 100px but 100 device independ

[2016-06-21 16:39] daniel-luberda commented on #252
@patook Thank you for the logs, indeed there's something wrong here:

[PERFORMANCE] RunAsync - NetManagedThreadId: 14, NativeThreadId: 17, **Execution: 989 ms**, ThreadPool: False, Key: Discussions.png

I'll need to do some tests.

[2016-06-21 16:48] patook commented on #252
![coffeeselected](https://cloud.githubusercontent.com/assets/12357837/16238438/5a8411ec-3795-11e6-80fa-6973e5e46b93.png)
![connections](https://cloud.githubusercontent.com/assets/12357837/16238440/5a9f6fbe-3795-11e6-98ce-dd1ba133e162.png)
![discussions](https://cloud.githubusercontent.com/assets/12357837/16238442/5ab060b2-3795-11e6-8d76-06be06bcbbcb.png)
![usericon](https://cloud.githubusercontent

[2016-06-21 16:50] daniel-luberda commented on #250
@WillemMali

- Preservation of aspect ratio is defined by `AspectRatio` property
- The difference between `Fill` and `FillAndExpand` is that it will get the extra space distributed between other views which also have `Expand` set, so maybe you have other view that is interfering with `CachedImage`.

Please:
- Change `CachedImage` to `Image` and see it it behaves differently.
- Please include a rep

[2016-06-21 16:50] patook commented on #252
here they are
in order:
coffeeselected.png
connections.png
Discussions.png
usericon.png
visitorsicon.png

I'm not sure if github re-formats PNG files so if there's no repro, give me an e-mail address and I'll send them to you.

[2016-06-21 16:51] daniel-luberda commented on #252
Sure, I'll delete those images here. Email is on my profile page: https://github.com/daniel-luberda

[2016-06-21 16:55] daniel-luberda commented on #244
@chamamo Could you write more details?

[2016-06-21 16:57] patook commented on #252
@daniel-luberda  OK e-mailed

[2016-06-21 19:16] #244 closed

[2016-06-21 19:21] #248 closed

[2016-06-21 20:46] daniel-luberda commented on #247
@ckrempp91 @skubo Yes, the explanation is correct. It's used for matrix values multiplication.

[2016-06-21 20:47] kruegermj commented on #207
Seeing this issue as well. It is present on multiple Droid devices one is a Google Nexus API 18 and FFImageLoading version 2.1.5. On RecyclerViews when scrolling up and down quickly I can recreate this crash. In the adapter OnBindViewHolder we are loading the image like this:

ImageService.Instance.LoadUrl (item.ImageUrl)
				            .ErrorPlaceholder (defaultImageName, ImageSource.CompiledRes

[2016-06-21 20:48] daniel-luberda commented on #207
@kruegermj Are you sure image urls are not null or empty? If yes, it's already fixed too: https://github.com/luberda-molinet/FFImageLoading/commit/dc27a881bb6d9ed5603faad814e56457b4dcf532

[2016-06-21 20:51] kruegermj commented on #207
We do check for an empty string. The previously mentioned code is wrapped in:
if (!string.IsNullOrWhiteSpace (item.ImageUrl))  {

}

[2016-06-21 20:53] daniel-luberda commented on #207
@kruegermj Sorry, I referred to other issue (mistake).

[2016-06-21 21:05] daniel-luberda commented on #207
It might be related to this: https://bugzilla.xamarin.com/show_bug.cgi?id=32122

[2016-06-21 21:15] #215 closed

[2016-06-21 21:16] #209 closed

[2016-06-21 23:14] daniel-luberda commented on #248
@chamamo  You can use pre nuget which contains this fix.

[2016-06-22 06:09] molinch commented on #236
@daniel-luberda Why have you closed it? It's an enhancement not a bug

[2016-06-22 13:01] labretrox opened #256 "CachedImage in ListView items sometimes don't appear"
I develop Xamarin.Forms app for iOS, WP and Android. I tried to use CachedImage to show images in items of ListView (one image per item)., Images dowanload successfully from the network but sometimes they not appear in items. Interesting thing is that image appears if I tap on item where it previously didn't appear after download. Platform: WP 8.1.

[2016-06-23 06:27] lhaussknecht commented on #255
Hi. We are currently on Android (KitKat).

Here's some more info about our problem. We attached a MiniLogger and the output (after several minutes) is this:

[code]

I think there is something in the scheduler blocking. I forked the repo and will add a lot of debug calls.

[2016-06-23 10:57] rsvsakthi opened #257 "FFImage RotateTransformation is not rotating the Image along with border."
I am using the below code to rotate the image, it is rotating the image but not the border of the image.

Setting the border to the image
viewHolder.UpImage.SetBackgroundResource(Resource.Layout.TileBorderStyle);

TileBorderStyle:
<?xml version="1.0" encoding="utf-8" ?>
<shape xmlns:android="http://schemas.android.com/apk/res/android">

  <stroke
      android:width="5dp"
      android:color="#084

[2016-06-23 12:36] rsvsakthi commented on #257
Xamarin.Forms: I have tried the rotation in the xaml page Rotation property but it is giving the distortion in the border. It is not smooth. Also, I have tried setting the Anti Aliasing property to true in Android but the same result.

![imagerotate1](https://cloud.githubusercontent.com/assets/20108469/16303208/2b76cbb8-396d-11e6-8605-f48d0cabe53a.png)
![imagerotate2](https://cloud.githubuserconte

[2016-06-23 18:06] Zeraceee commented on #193
@molinch I have not gotten around to it yet, sorry. Hopefully I will within the next 2 weeks.

[2016-06-24 09:18] molinch commented on #256
@labretrox  Could you upload a sample ?

[2016-06-24 09:19] molinch commented on #255
@lhaussknecht Any progress on your debugging?

[2016-06-24 22:05] lhaussknecht commented on #255
I found the problem!

The first image we load in our app is a profile picture. The service, which provides it is not working at the moment. So a GET on that url throws an exception!

After I removed the image from our xaml every other image is loading directly.

Maybe there is a bug somewhere in the ImageLoaderTask where the StreamResolver is called and the exception occurs.

[2016-06-24 22:13] patook opened #258 "CircleTransformation (and maybe others) not always applied"
I am getting an error where sometimes the circletransformation doesn't get applied.

It works 99% of the time but 1% of the time the same image is square. Is there any reason why this would happen with such low probability? Is the transformation done on a separate thread or something?

UserProfileImage = new CachedImage {
				HeightRequest = 120,
				WidthRequest = 120,
				Aspect = Aspect.AspectF

[2016-06-24 22:14] patook commented on #252
@daniel-luberda were you able to repro?

[2016-06-25 08:33] molinch commented on #258
When this happens it means that the transformation could not be applied.
Instead of crashing we revert to the previous image (pre transformation).

Why a transformation could not be applied? You are low on memory, some Android/Xamarin issue, a bug in your app, a bug in our lib, ...
It is impossible to say.

[2016-06-25 08:33] #258 closed

[2016-06-26 19:16] patook opened #259 "FFimageLoading renderer crash (new)"
In bold below.

2016-06-26 12:11:59.827 Patook.iOS[2667:1094191] critical: Stacktrace:

2016-06-26 12:11:59.827 Patook.iOS[2667:1094191] critical:   at <unknown> <0xffffffff>
2016-06-26 12:11:59.827 Patook.iOS[2667:1094191] critical:   at (wrapper managed-to-native) object.__icall_wrapper_mono_array_new_specific (intptr,int) <0x00007>
2016-06-26 12:11:59.828 Patook.iOS[2667:1094191] critical:   at

[2016-06-26 19:19] deman4ik opened #260 "[Question] Save transformed images"
There is a method to access image source with all transformations applied?

[2016-06-26 23:06] deman4ik commented on #260
Find out GetImageAsJPG in source

[2016-06-26 23:06] #260 closed

[2016-06-27 09:50] lolohouse opened #261 "New transformation for tint color"
Hi, I made the class TintColorTransformation if you want, you can add it to your library.
Thanks

[TintColorTransformation.zip](https://github.com/luberda-molinet/FFImageLoading/files/334528/TintColorTransformation.zip)

[2016-06-27 11:44] lhaussknecht commented on #255
I have another update. The request is not just failing, it is hanging. The response sends a wrong content-length header. The content is smaller then the given content-length, so the request hangs (for about 10 minutes) before a timeout and an exception occurs.

I'm wondering why the default HttpReadTimeout of 30 (seconds?) has no effect?

[2016-06-28 00:42] eddnav opened #262 "Bitmap recycle() usage in FFImageLoading"
Hi, I know that the use of `recycle()` in newer versions of Android is not encouraged, but does the cache/rendering strategies of FFImageLoading make use of `recycle()` in any way?

[2016-06-28 08:13] MikhailMalkovich commented on #144
When I use LoadingPlaceholder, application crashes with fatal signal 6
Without LoadingPlaceholder it works fine
Here is an example: http://www.filedropper.com/testffimageloading

[2016-06-28 16:13] daniel-luberda commented on #262
@eddnav
- Yes, we do recycle bitmaps in FFImageLoading.
- We use self disposing bitmaps implementation. It means that if there are no views which use a specific bitmap, it's recycled / destroyed.

[2016-06-28 16:18] daniel-luberda commented on #261
@lolohouse Thanks for a collaboration :) We'll need to add also another platforms implementations, I'll see what I ca do with it. Once again, thanks.

[2016-06-28 16:21] daniel-luberda commented on #259
@patook It looks like Uri Parse exception. Could you give me an image uri which caused that exception?

[2016-06-28 19:39] highplains opened #263 "Xam 2.3.1-pre1 Missing Method Exception"
Method 'VisualElement.InvalidateMeasure' not found.

I believe they renamed it to InvalidateMeasureInternal()

  at Xamarin.Forms.BindableObject.SetValueActual (Xamarin.Forms.BindableProperty property, Xamarin.Forms.BindablePropertyContext context, System.Object value, Boolean currentlyApplying, SetValueFlags attributes, Boolean silent) [0x00108] in C:\BuildAgent\work\aad494dc9bc9783\Xamarin.Forms

[2016-06-28 19:48] highplains commented on #235
I can see the "Cancel" method but don't really understand how to pass "Preloaded" all I see is "Completed"

[2016-06-28 20:09] highplains commented on #263
[https://github.com/xamarin/Xamarin.Forms/commit/5f8f47ff7ce934f4937ec428b3c1def6286f14da](url)

[2016-06-28 21:52] eddnav commented on #262
@daniel-luberda  thank you very much for the info, daniel, will be closing this.

[2016-06-28 21:52] #262 closed

[2016-06-29 07:43] djanri commented on #144
Hi @molinch.

[code]

When I commented ErrorPlaceholder and LoadingPlaceholder methods, application works fine. Instead app crashes during fast scrolling in recycler view.

[2016-06-29 07:44] bspinner commented on #144
@djanri Well, that might be the reason our app is crashing, too.. :+1:

[2016-06-29 10:06] micheltol opened #264 "Unable to apply only the GrayscaleTransformation"
Hi,

 first of all thanks for making and supporting this project.
I have a weird issue with the GrayscaleTransformation.

Via a converter I am applying in Xamarin Forms certain transformations.

[code]

Above code works on for example an Samsung S7, it doesn;t work on a HTC One M8.

if I replace
`public static IList<ITransformation> InactiveTransformations = new List<ITransformation> { new Graysca

[2016-06-29 10:13] djanri commented on #207
[code]
When I commented ErrorPlaceholder and LoadingPlaceholder methods, application works fine. Otherwise app crashes during fast scrolling in recycler view.
Device: samsung GT-i9100 (Android 4.1.2).
Tested on version 2.1.5

[2016-06-30 20:21] mike-rowley opened #265 "Can't change BackgroundColor from Tap Gesture Command"
I am unable to change the background color of a CachedImage from a Tap Gesture Command on iOS and Android.  I am able to change the background color of a standard Image using the exact same code.
I have broken the issue down to an easily reproducible set of code to create a form with two images, the white one being a CachedImage and the Grey one being a regular Image.  When you tap the White  Cach

[2016-07-01 00:50] codeknox commented on #263
I'm getting the exactly same issue, any known workaround?

[2016-07-02 03:20] #263 closed

[2016-07-02 03:20] daniel-luberda commented on #263
Should be fixed. Test nugets: https://ci.appveyor.com/project/molinch/ffimageloading

[2016-07-02 05:35] daniel-luberda commented on #257
- The first approach won't work with `RotateTransformation` in FFImageLoading as the transformation is constructed in a way that it preserves original image border.

- You can create your own `CustomRotateTransformation` with border support, basing on RoundedTransformation which has border support. Code here: https://github.com/luberda-molinet/FFImageLoading/blob/master/source/FFImageLoading.Trans

[2016-07-02 05:35] #257 closed

[2016-07-02 06:06] #265 closed

[2016-07-02 06:06] daniel-luberda commented on #265
It was a bug. It's fixed now. Thanks!

[2016-07-02 11:07] dominik-weber opened #266 "AspectFill image cropping different on iOS and UWP (Xamarin Forms)"
Thank you for this wonderful library! It has solved so many issues I've had with the default Xamarin Forms Image view. I found a small bug though:

When displaying an image with AspectFill the displayed portion of the image is cropped from the center of the image on iOS but from the top left corner on UWP.
My image is wider than it needs to be and is included in the xaml like so:
`<ffimage:CachedI

[2016-07-04 02:13] daniel-luberda commented on #238
It's because of this: https://bugzilla.xamarin.com/show_bug.cgi?id=41087

As you see that method is not available in current stable Xamarin.Forms for Windows. If I include it, it will make Windows package not compatible with older Xamarin.Forms versions.

[2016-07-04 02:13] daniel-luberda commented on #256
It's because of this: https://bugzilla.xamarin.com/show_bug.cgi?id=41087

As you see that method is not available in current stable Xamarin.Forms for Windows. If I include it, it will make Windows package not compatible with older Xamarin.Forms versions.

[2016-07-04 13:13] daniel-luberda commented on #256
Please continue here as it's the same issue: https://github.com/luberda-molinet/FFImageLoading/issues/238

[2016-07-04 13:13] #256 closed

[2016-07-04 15:00] #238 closed

[2016-07-04 15:08] daniel-luberda commented on #238
I fixed it with a hack. Good news it works for older (stable) Forms versions. Bad news, it uses reflection, but it's not called very often, so performance hit is not important. Nugets soon. That was a tricky one.

[2016-07-04 15:32] daniel-luberda commented on #266
Hi @dominik-weber,

It's because of the difference how Windows handles image aspect ratios. Read more here: http://stackoverflow.com/questions/13535022/windows-8-image-uniformfill-centered

Xamarin.Forms `Image` has the same issue. If you have any idea how could we solve it, please let me know.

Sure we could add that (I already added some properties for transformations instead using constructors)

[2016-07-04 15:46] daniel-luberda commented on #264
That's a really tricky one. I cannot reproduce it as I don't have `HTC One M8` device. Any ideas what could cause this?

[2016-07-04 15:50] dominik-weber commented on #266
I think this could be fixed by setting the HorizontalAlignment and VerticalAlignment properties of the Image to Center. See this pull request: https://github.com/xamarin/Xamarin.Forms/pull/190

In the screenshot below I tried setting these properties on the middle item (Contoso Tax). Notice how the red borders expand beyond the visible area of the image. If I set HorizontalAlignment to Stretch the

[2016-07-04 16:28] #266 closed

[2016-07-04 16:39] daniel-luberda commented on #266
Thanks for a help! It's fixed, prerelease nuget coming soon.

[2016-07-04 16:41] dominik-weber commented on #266
Nice, thanks! :+1:

[2016-07-04 16:56] daniel-luberda commented on #266
Prerelease NuGet package containing the fix released. Could you test it?

[2016-07-04 16:56] daniel-luberda commented on #265
Prerelease NuGet package containing the fix released. Could you test it?

[2016-07-04 16:56] daniel-luberda commented on #263
Prerelease NuGet package containing the fix released. Could you test it?

[2016-07-04 16:56] daniel-luberda commented on #256
Prerelease NuGet package containing the fix released. Could you test it?

[2016-07-04 16:56] daniel-luberda commented on #238
Prerelease NuGet package containing the fix released. Could you test it?

[2016-07-04 17:28] daniel-luberda commented on #254
@tomcrusader Did you manage to fix it?

[2016-07-04 18:53] mike-rowley commented on #265
Looks good, I tested it on the iOS and Android sample project I had and it is fixed in the prerelease

Thanks
M

[2016-07-04 19:07] dominik-weber commented on #266
works perfectly, thanks! :)

[2016-07-04 19:37] micheltol commented on #264
To be honest; wouldn't have a clue.
It is properly somewhere in the colorMatrix; cause if I remeber correctly I couldn't transform the image to sepia either.

I'll validate that in the morning.

[2016-07-04 20:10] tomcrusader commented on #254
Worked around it by removing Transformation. Still not that good. But Win is very secondary for the project

[2016-07-04 20:12] daniel-luberda commented on #254
Could you write more about your environment / device,  etc? Thanks.

[2016-07-05 01:12] daniel-luberda commented on #264
@micheltol Ok, waiting for some info. Did you set `TransparencyEnabled` to `true` or `false`?

[2016-07-05 04:01] daniel-luberda commented on #261
`TintTransformation` is now implemented for all platforms.

[2016-07-05 04:01] #261 closed

[2016-07-05 09:17] tomcrusader commented on #254
Environment / Device
- Windows 10
- Visual Studio 2015 Upd 2

Project:
- Windows 8.1 / Android / iOS / UWP
- Xamarin.Forms 2.3.0.107
- FFImageLoading.Forms 2.1.5
- Prism.Forms 6.1.0-pre6

[2016-07-05 15:17] ckrempp91 commented on #264
Are you using png files with transparency? That was the problem in our case when the all of the color transformations did not work. Try using the latest pre-release version, it should include the fix to ensure that those types of images will transform correctly.

[2016-07-05 15:47] daniel-luberda commented on #252
@patook Do you only experience it on an application startup? It may be related to DiskCache initialization, at first usage it does some old entries cleaning routine. I'll try to also force that init in a `CachedImageRenderer.Init()` method to avoid that (so it's already initialized).

[2016-07-05 17:10] daniel-luberda commented on #255
@lhaussknecht I'll try to review code that is responsible for handling that case. Many thanks for debugging.

It may be some mono `HttpClient` bug. I experienced it several times too.

[2016-07-05 17:43] daniel-luberda commented on #255
HttpReadTimeout was ignored / not working. It's fixed, thanks.

[2016-07-05 17:43] #255 closed

[2016-07-05 17:58] lhaussknecht commented on #255
Great! Will give it a try tomorrow! Thank's for the cool lib!

[2016-07-05 18:09] daniel-luberda commented on #255
@lhaussknecht Prerelease NuGet containing the fix released. You can test it with it. Cheers.

[2016-07-05 19:47] patook commented on #259
I have had no repro of this in the last 4 days. I will close and re-open if it re-occurs.

[2016-07-05 19:47] #259 closed

[2016-07-06 06:36] codeknox commented on #263
Working fine Daniel, thanks!

[2016-07-06 07:32] stefffdev commented on #238
With the current prerelease nuget everything works as expected.
Good Job!

[2016-07-06 08:53] tamasszadvari opened #267 "Package dependency issue"
I can't add the package to my Android project, because it needs to different versions of the same Xamarin.Android.Support.V4 package. (See the log below)

"Adding Xamarin.FFImageLoading.Forms...
Attempting to resolve dependency 'Xamarin.FFImageLoading (≥ 2.1.6-pre-126)'.
Downloading Xamarin.FFImageLoading 2.1.6-pre-126...
Downloading Xamarin.FFImageLoading.Forms 2.1.6-pre-126...
Attempting to reso

[2016-07-06 11:49] daniel-luberda commented on #267
@tamasszadvari

- FFImageLoading doesn't rely on any specific Xamarin.Forms / Xamarin.Android.Support packages versions.
- Do you use Xamarin Studio or Visual Studio?
- Did you try to uninstall and then reinstall all packages? (including Xamarin.Forms)

[2016-07-06 11:59] tamasszadvari commented on #267
@daniel-luberda
I've noticed that, that's why I don't understand the error.
I use Xamarin Studio.
No, I haven't tried, but thanks for the suggestion, I'll try. Do you have any idea what can be the source of the problem?

[2016-07-06 15:07] daniel-luberda commented on #267
I noticed that Xamarin Studio has sometimes problems with package updates. Uninstalling and installing all packages again usually resolves it.

[2016-07-07 19:16] patook commented on #252
@daniel-luberda

Hi,

1- I don't think so. As you can see in the video, the app spends about one second querying a web server first. Are you asking if these are the first images being displayed? Yes but I believe every first load from resources is slow. So if I have a separate page now with different local images (not yet cached), they will also be slow. I will confirm though.

2- I think so, I us

[2016-07-08 18:30] ryanherman opened #268 "Crash on Android"
My Xamarin.Forms project is using FFImageLoading 2.1.6 and here is my stack trace, not sure whats up.

07-08 11:24:55.824 E/mono-rt ( 1660): Stacktrace:
07-08 11:24:55.824 E/mono-rt ( 1660):
07-08 11:24:55.824 E/mono-rt ( 1660):   at <unknown> <0xffffffff>
07-08 11:24:55.824 E/mono-rt ( 1660):   at (wrapper managed-to-native) Java.Interop.NativeMethods.java_interop_jnienv_call_static_object_method

[2016-07-08 20:03] tamasszadvari commented on #267
I've deleted all of my references, and uninstalled all of my packages, and after that, I've tried to install the FFImageLoading.Forms package, and the issue is still there:
"Adding Xamarin.FFImageLoading.Forms...
Attempting to resolve dependency 'Xamarin.FFImageLoading (≥ 2.1.6)'.
Attempting to resolve dependency 'Xamarin.Forms (≥ 1.4.4.6392)'.
Attempting to resolve dependency 'Xamarin.Android.Sup

[2016-07-08 20:06] daniel-luberda commented on #267
Did you have Xamarin.Forms package installed before adding Xamarin.FFImageLoading.Forms? What version?

[2016-07-08 20:08] tamasszadvari commented on #267
Oh, I've managed to solve this problem. The problem was that in the packages folder I had two different versions of the Xamarin.Forms package, and one of them was an early (I think around version 2.0) version. After I've deleted the early version, I successfully installed the FFImageLoading package.
Maybe this will be a useful information in the future for others too. :)

[2016-07-08 20:08] #267 closed

[2016-07-08 20:09] daniel-luberda commented on #267
Great. Thanks for the info.

[2016-07-08 20:12] daniel-luberda commented on #268
It's probably a device / emulator problem : http://stackoverflow.com/questions/14023291/fatal-signal-11-sigsegv-at-0x00000000-code-1-phonegap

[2016-07-08 20:16] tamasszadvari commented on #267
Your welcome. This problem gave me a lot of headache. Maybe it would be useful to mention this in the readme file, but this is just an advice (because now I have to reinstall every other package, and I had a lot :) ). Package version conflicts are always a pain in the... :)

[2016-07-11 10:42] jamesatgithub opened #269 "Android: The class FFImageLoading.Views.ImageViewAsync could not be loaded"
I'm using FFImageLoading with a Xamarin.Forms app (PCL based) and installed all nuget on both the Forms and the Android projects, but  got a strange error on android app starting:

_The class FFImageLoading.Views.ImageViewAsync could not be loaded, used in FFImageLoading.Platform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null_

But with dotPeek I can see the ImageViewAsync class in the FFI

[2016-07-11 13:02] jposes22 commented on #258
We are 3 Developers 2 with Xamarin for OSX and 1 with VisualStudio.
Never work, (emulator or real device).
You should fix the issue or we uninstall it, because we can´t round images with other libraries.

[2016-07-11 13:12] daniel-luberda commented on #258
@jposes22 It definitely works. Clone a project and run the demo project, you'll see that it works correctly. The important thing is to set `Transformations` **before** `Source` property, not the opposite.

[2016-07-12 06:04] topsites commented on #269
I can confirm - I was getting the exact same error; deleted obj + bin folder under droid and that solved it.

[2016-07-12 06:28] jamesatgithub commented on #269
Thanks! deleting the obj + bin folder fixed it.

[2016-07-12 06:28] #269 closed

[2016-07-13 00:13] Puffdot opened #270 "Configurable offline mode"
I'd like to see a configurable setting that makes it possible to disable all network traffic for image downloading, and restrict loading images to cached images only. If a user is on a limited data plan, they may want to opt out of image downloading, but cached images should still be loaded.

[2016-07-20 02:26] mike-rowley opened #271 "TintTransformation doesn't work on IOS"
The new TintTranslation is working on Android but on IOS I get no images loading.

Is there something special I need on IOS to make it work, I am using the same line of code from a PCL on both platforms

this.fimg_Icon.Transformations.Add(new TintTransformation(0, 38,85, 1));

[2016-07-20 04:20] daniel-luberda commented on #271
Hi @mike-rowley

- Do you have `FFImageLoading` & `FFImageloading.Forms` & `FFImageLoading.Transformations` (important) packages in a Android specific project?
- Do you have `CachedImageRenderer.Init();` in `MainActivity.cs`?

[2016-07-20 15:28] mike-rowley commented on #271
In my iOS project I have version 2.1.6 of FFImageLoading, FFImageLoading.Forms, FFImageLoading.Touch, FFImageLoading.Platform and FFImageLoading.Tranformations loaded.  I have verified that 2.1.6 is also referenced in the PCL.

I have tried using a Hex code (with and without the pound sign, no pound sign doesn't work on Android either) and I have tried the RGB values and get no image appearing.

I

[2016-07-22 12:10] PiMaker commented on #156
I cleaned my solution and performed a rebuild, the problem disappeared afterwards.

[2016-07-25 09:16] PiMaker opened #272 "Android SIGABRT in ImageViewAsync.java (Use of deleted global reference)"
I have a rather strange issue (and sadly no idea how to reproduce it):

I load an image using the following code:

[code]

where `image` is an instance of ImageViewAsync and [url] represents a working URL (confirmed working).

On execution this seems to work (images are being loaded), but sometimes, especially if called multiple times (with different URLs though) the application will just crash. T

[2016-07-26 04:33] dominik-weber opened #273 "Xamarin Forms UWP app crashes when quickly adding/removing CachedImage views"
When quickly adding/removing images the app crashes with a NullReference exception:

[code]

The problem here might be that the view is already removed from the page once the image is loaded.
You can reproduce the issue with this code:

[code]

This code works fine on ios.

[2016-07-28 09:55] roberthewitt opened #275 "LoadingPlaceholder no longer works"
Hi,

I use the Droid part of your library, and as of 2.1.1 the LoadingPlaceholder is no longer functioning.
It worked as of 2.1.0.

Steps:
+ Use the LoadUrl method, to load an asset from the internet
+ Use the LoadingPlaceholder referencing a drawable using ImageSource.CompiledResource
+ wait for the remote asset to load.

Expected:
While loading the image from the internet, I would expect to see

[2016-07-28 17:25] daniel-luberda commented on #275
Are you sure? Please clone repo, run sample Xamarin.Forms app and see that's working fine.

[2016-07-28 17:55] kamelmojawaz1 commented on #275
Hi all,

I have the same issue as well , but I'm using Forms. placeholders are not working and I'm on the latest update .

[2016-07-28 17:57] daniel-luberda commented on #275
You have to provide more info, do you use stable Android channel? Xamarin.Android Version: 6.1.1.1

[2016-07-28 20:50] mike-rowley commented on #271
Any suggestion on a work around for this or should I not use the TintTransformation at this point?

Thanks
M

[2016-07-29 09:43] roberthewitt commented on #275
Hi,

I have created a test project that shows the error
https://github.com/roberthewitt/FFImageExample

Please also find attached my Xamarin -> About -> Details output.

I use Genymotion, using a Nexus 5, on 6.0.0 , api23.
This bug also happens on any device that I deploy it to so, in my eyes, is unrelated to the emulator.

Thanks,
Rob

[xamarin_about.txt](https://github.com/luberda-molinet/FFImag

[2016-07-29 12:03] konradkalemba opened #276 "[UWP] Problem with FFImage control in new instance of app"
Hi, I tried to open xaml Page (which contains FFImage xaml control) in new window using [this code from Template10](https://github.com/Windows-XAML/Template10/blob/8451536a80ca9008f100414d982dbaca5a43f6b5/Template10%20(Library)/Services/ViewService/ViewService.cs#L31). Unfortunately it throws System.Exception:

![wp_ss_20160729_0002](https://cloud.githubusercontent.com/assets/8682104/17247659/fe04

[2016-08-03 06:02] cuong1024 opened #277 "Clicked event in CachedImage"
Hi, I use your sample at "ListPage". I want show big picture when I click Image in listview, but I can't find event "Clicked" of CachedImage. How can I do it?
Thanks.

[2016-08-03 13:22] roberthewitt commented on #275
@daniel-luberda  did you need any more details or is what I provided ok?

Cheers,
Rob

[2016-08-03 16:41] daniel-luberda commented on #275
Hi. I'll look into this today.

[2016-08-03 16:43] daniel-luberda commented on #277
Just as any other Xamarin.Forms view - uou should just assign a new TapGestureRecognizer for it. Here: https://developer.xamarin.com/guides/xamarin-forms/user-interface/gestures/tap/

[2016-08-03 16:43] #277 closed

[2016-08-03 16:44] daniel-luberda commented on #271
Hi. I'll look into this today. It's a bug, but easy to fix.

[2016-08-03 16:47] daniel-luberda commented on #276
It's this: https://github.com/luberda-molinet/FFImageLoading/issues/166

[2016-08-05 15:39] fravezzimattia opened #278 "[Xamarin Forms CachedImage] https images doesn't change!"
When I use https instead http for image source, and change image on the server,  application doesn't show new image!

but if I use http in source it works fine!

`  <forms:CachedImage Source="{Binding ImmagineLarga, StringFormat='http**s**://www.miosito.com{0}'}" CacheDuration="1">
`

[2016-08-08 09:12] zjxeditor opened #279 "Performance issue in ListView"
Hi, I am developing with Xamarin Forms. As for a ListView with lots of images (about 10 image in each cell), it suffers from scrolling lag. Note, I have done all the optimization for the ListView to speed it up (include recycle cell strategy). After some experiments, I find the bottleneck is the image loading process. When I scroll the ListView up or down, image source of the recycled view cell wi

[2016-08-08 21:36] jasonCodesAway opened #280 "Potential build issue: FFImageLoading.dll references System.Net.Http version 1.5.0.0 and FFImageLoading.Platform.dll references System.Net.Http version 4.0.0.0"
Hello,

Thanks for the great library. Unfortunately I'm having a build issue with the latest nugets using VS2015. I'm probably doing something bone-headed, here is how you can repro...what am I doing wrong here?

Thank you in advance!

Cheers from Florida,
Jason

1. Visual Studio -> New Project -> Cross-Platform -> Blank Xaml App (Xamarin.Forms.Portable).
  1. when prompted, I selected UWP Project

[2016-08-08 21:39] wqi commented on #275
Any updates on the status of a fix?

[2016-08-09 02:52] daniel-luberda commented on #271
Fixed with: https://github.com/luberda-molinet/FFImageLoading/commit/e64fd8e9cc3cda292d9ea5c7e5e11aa07e280bd9

Sorry for a delay.

[2016-08-09 02:52] #271 closed

[2016-08-09 04:48] #275 closed

[2016-08-09 04:49] daniel-luberda commented on #275
It's fixed now, sorry for a delay.

[2016-08-09 04:50] #268 closed

[2016-08-09 04:58] #276 closed

[2016-08-09 05:14] daniel-luberda commented on #280
Hi,

https://forums.xamarin.com/discussion/40732/dependent-assembly-version-conflict-binding-redirects

[2016-08-09 05:25] daniel-luberda commented on #279
- All loaded images are cached by default.
- It's probably something with your layout design. It's hard to tell without any sample reproduction.
- Another tip for fast cells: don't use bindings, use cell's `OnBindingContextChanged` override.

[2016-08-09 05:31] daniel-luberda commented on #278
- Images are cached by default, that's why you see old image.
  - You can control this with CacheDuration property
  - You can clear cache with cache invalidation methods
  - You can disable cache globally or per view
  - You can use custom caching keys strategy

[2016-08-09 05:33] #278 closed

[2016-08-09 05:36] daniel-luberda commented on #273
Thank you for the info & collaboration! I'll introduce some additional checks.

[2016-08-09 05:50] #273 closed

[2016-08-09 06:00] zjxeditor commented on #279
The layout design is all right. Experiment shows that this issue will occur only when I change the binding image source for every view cell. I will try to remove bindings and put everything in OnBindingContextChanged.

[2016-08-09 06:03] daniel-luberda commented on #272
I don't think we can do anything about it. Read more here: https://code.google.com/p/android/issues/detail?id=63929

[2016-08-09 06:03] #272 closed

[2016-08-09 06:11] daniel-luberda commented on #236
- https://github.com/luberda-molinet/FFImageLoading/blob/master/source/FFImageLoading.Droid/Work/ImageLoaderTask.cs#L549
- https://github.com/luberda-molinet/FFImageLoading/blob/master/source/FFImageLoading.Touch/Work/ImageLoaderTask.cs#L411
- https://github.com/luberda-molinet/FFImageLoading/blob/master/source/FFImageLoading.Windows/Work/ImageLoaderTask.cs#L412

[2016-08-09 06:11] #236 closed

[2016-08-09 06:13] dominik-weber commented on #273
Did you already upload a new build so I can check if the issue is fixed?
Just fyi, I think the second null check could be removed. Casting an object should not return null.

[2016-08-09 06:17] daniel-luberda commented on #207
@djanri It's probably because when you're using placeholders, you do twice as much image loading operations, so the possibility of `dlmalloc_real` is increased.

[2016-08-09 06:23] daniel-luberda commented on #273
@dominik-weber

Yes, I did (2.1.7-pre-132).

Yes, second null check can be removed, but it has so minimal impact that I'll do it someday (Please notice there's a reflection hack for InvalidateMeasure method which was mistakenly removed in some XF 2.x builds) - we'll need to remove it someday.

[2016-08-09 08:51] dominik-weber commented on #273
works fine, thank you man! also thanks to @CaLxCyMru for supplying the fix ;)

[2016-08-09 09:56] dominik-weber commented on #266
I'm afraid this issue isn't completely fixed... I did some more testing and figured the following:

- Fill: works fine
- AspectFill: works fine
- AspectFit: doesn't work

In this screenshot I've added an image whose layout is illustrated by the red rectangle, with Aspect set to AspectFit. On iOS the image is centered however on UWP it is aligned to the left.
![image](https://cloud.githubuserconten

[2016-08-09 11:37] zjxeditor commented on #279
Hi, I haven't solved this problem yet. To make things clear, I am showing my code now. I test on a Nexus 5.0 with Android 6.0.

- Here is the ListView config:
![image](https://cloud.githubusercontent.com/assets/16350631/17514603/190cd436-5e66-11e6-889b-c416842a99f1.png)

- Here is the ListView code:
![image](https://cloud.githubusercontent.com/assets/16350631/17514667/74ac6a18-5e66-11e6-80b0-ca06e

[2016-08-09 12:16] zuckerthoben opened #281 "CachedImageRenderer - Which namespace?"
I am trying out FFImageLoading. The documentation says that you have to put "CachedImageRenderer.Init();" on every platform. Could you say to which namespace this belongs? VS cant resolve it for me and I looked through the classes with IntelliSense but could not find this specific class. So where is it and could you also update the documentation to be more specific in this case? It helps newer dev

[2016-08-09 12:20] Spierki opened #282 "Image not reloading"
Hello,
I'm trying to use the library but I'm stuck because **the image isn't reloading**.

I used the mvvm pattern with the xlabs helpers.

This is my xaml file:

[code]

This is my view code:

[code]

In my viewmodel this is how I initialize my variables:

[code]

Then the reload method:

[code]

[2016-08-09 17:00] daniel-luberda commented on #281
- You must have `Xamarin.FFImageLoading.Forms` nuget package installed in a platform specific project.
- The namespace is the same: `Xamarin.FFImageLoading.Forms`
- `CachedImageRenderer.Init();` also need to be called from a platform specific project

[2016-08-09 17:00] #281 closed

[2016-08-09 17:04] daniel-luberda commented on #282
You can't do that. `_originalStream` is disposed after first image loading operation (the same behavior is for standard Xamarin.Forms `Image`

BTW: Did you try `CachedImage. ReloadImage()` method?

[2016-08-09 17:08] #282 closed

[2016-08-09 18:36] jsauvexamarin opened #283 "What is correct path for loading placeholders in Xamarin Android projects?"
I have an image in a Xamarin Android project that does not seen to load. In the console, I'm getting

`Not found: placeholderProfileImage.png from Filepath`

every time an image view comes onto the screen.

My call looks like this:

[code]

The `placeholderProfileImage.png` exists as an Android resource in both the drawable and mipmap folders, but FFImageLoading can't seem to find it. Do I need to

[2016-08-10 00:02] daniel-luberda commented on #283
@jsauvexamarin Hi, try without extension. I'll modify code to handle both cases as it's a little misleading.

[2016-08-10 00:03] daniel-luberda commented on #283
Also you need to use second parameter of LoadingPlaceholder method which tells FFImageLoading what source is (you should set it to `CompiledResource` or `ApplicationBundle`)

[2016-08-10 00:10] jsauvexamarin commented on #283
Awesome. Many thanks!

[2016-08-10 00:16] daniel-luberda commented on #283
I've just checked `CompiledResource` resolver and it handles both cases (with or without extension), so no changes are required.

Also please note, that there was a little placeholder bug which is fixed in current prerelease nuget (it will be released as stable soon).

[2016-08-10 07:49] Spierki commented on #282
@daniel-luberda In my Init method I already have the path of the picture too so I tried with the method:
[code]
It's not working, same reason than with _originalStream?

I tried to use ```CachedImage.ReloadImage()``` but I can't call this function, have you a sample ?

[2016-08-10 11:35] Spierki opened #284 "Cropping enhancements"
Hello,

I have a question about the cropping functionnality.

I try your example and I also tried with a local picture on the phone. And it seems that each time I make a pan/pinch gesture, the view disappear for a few second (5 -6sec) and appear again (crop like I want).

Is it normal that the image disappear ? Because if yes I think it's really to slow for me to use it in production ?
In android

[2016-08-10 12:28] roberthewitt commented on #275
Thanks for the fix,

Is this being rolled into a public release?

[2016-08-10 14:44] lecnierfreeman opened #285 "On Android TransparencyEnabled = false on a PNG shows transparency"
If you open the FFImageLoading Sample app and click on Basic example option but before go to the source code of that page and replace the source of the CachedImage for a PNG with alpha channel([ I used this one](https://s3.amazonaws.com/tkibetu/products/Wizard%20-%20Frog.png/0de702a116ebe1fdc91f927fbe2d113a/Wizard%20-%20Frog.png)) with the option TransparencyEnabled = false on Android should show

[2016-08-10 16:13] lecnierfreeman commented on #285
I was checking the source code and I think the problem is because you are only setting the desired pixel format in the preferred decoder options: options.InPreferredConfig = Bitmap.Config.Rgb565; (ImageLoaderTask.cs Ln:371) but this doesn't force the decoder to use that format.
 I located this line:
bitmap = BitmapFactory.DecodeStream(stream, null, options);
and tried to add this after:
<pre>

[2016-08-12 22:50] yeah568 opened #286 "Cannot draw XML vector CompiledResource on Android"
We currently have a few ImageViews that are drawn with a vector XML from our resources/drawable folder. However, trying to load these into ImageViewAsync results in no image showing up - is this a bug or is drawing vectors not supported? Thanks!

[2016-08-13 06:25] ReinhardHsu opened #287 "can't load image with cdn custom style url"
http://cdn.aa.com/bb.webp                   this image url is work.
http://cdn.aa.com/bb.webp/width90    this image url not work.
http://cdn.aa.com/bb.webp?imageView2/2/w/90/h/90/format/webp/interlace/0/q/80    this image url not work.
http//cdn.aa.com/bb.webp-width90    this image url not work.

[2016-08-16 16:32] nicknijenhuis opened #288 "Can't get FFImageLoading to work with version 2.3.1.114 of Xamarin.Forms"
I can't get FFImageLoading to work with  the latest version (2.3.1.114) of Xamarin.Forms, when I use version 2.3.0.107 it does work.

The actual error I get is: `The "XamlCTask" task failed unexpectedly.`

I tried deleting all packages, I tried clean, rebuild and everything else that is proposed as a solution here: https://forums.xamarin.com/discussion/54790/the-xamlctask-task-failed-unexpectedly

[2016-08-18 15:45] jasonCodesAway commented on #280
That's not very satisfying, but my whole Xamarin experience has been far from easy. I'll close this out. Thanks.

[2016-08-18 15:45] #280 closed

[2016-08-18 17:25] ronpf opened #289 "MissingMemberException: Method 'CachedImage.InvalidateViewMeasure' not found."
Just updated to FFImageLoading version 2.1.6
Android (simulator only) build throwing "System.MissingMemberException" with the message
"Method 'CachedImage.InvalidateViewMeasure' not found."

No problem with iOS builds or Android devices.

Xamarin.Forms version 2.3.1.114

Console output:
[MonoDroid] UNHANDLED EXCEPTION:
[MonoDroid] System.MissingMethodException: Method 'CachedImage.InvalidateViewMe

[2016-08-18 21:15] tfahie-pe opened #290 "FFImageLoading works on Emulater but not on actual device? IOS project"
Hello all I'm loading several images from a HTTPS server. Testing on an emulator works fine with the place holder loading first then the image. When testing on an actual device i get the error image.

Sometime the placeholder image would display for a split second then jump back to the error image - but the actual image never displays. Any ideas what i'm doing wrong?

[2016-08-18 21:37] tfahie-pe commented on #290
Here is the log i get with the error if it helps -
 at System.Runtime.ExceptionServices.ExceptionDispatchInfo.Throw () [0x0000c] in /Users/builder/data/lanes/3539/f37444ae/source/maccore/_build/Library/Frameworks/Xamarin.iOS.framework/Versions/git/src/mono/external/referencesource/mscorlib/system/runtime/exceptionservices/exceptionservicescommon.cs:143
  at System.Runtime.CompilerServices.TaskAwai

[2016-08-19 02:09] tfahie-pe commented on #290
I was able to fix this issue- I had the wrong system.http.net file

Thsnks

[2016-08-19 02:09] #290 closed

[2016-08-22 16:03] sbongiz opened #291 "[UWP] NullReference Exception in a TabbedPage with 2 list of images"
Exeption thrown:
'System.NullReferenceException' in FFImageLoading.Forms.WinUWP.dll

StackTrace :

[code]

Our Code:

[code]

[2016-08-23 14:31] timbrand commented on #289
I can confirm this. Having the same issue on my Android emulator. No real Android device nearby at the moment, so will test that tomorrow.

[2016-08-24 17:29] sevontheedge opened #292 "Resizing image"
Hey, I'm having some doubts about the get png and jpg methods that return a byte array. I need to resize the image before sending it to a REST service. I need the image to have a maximum of 1MB and if it is larger I use these methods passing the desired width and height required that would make the image have aproximatelly the size I need. When I check the service the image is way smaller than it

[2016-08-25 14:46] rusty21 opened #293 "FFImageLoading is unable to generate image."
On Android I have an ImageViewAsync inside of an ListView that I am loading an image into as follows:

[code]
The error action here occasionally fires as I'm scrolling around the ListView with a generic exception and the message says "FFImageLoading is unable to generate image." The exception has no stack trace. I can give you the call stack when the application pauses on Debugger.Break();

[code]

[2016-08-25 17:17] rusty21 commented on #202
One thing that I've noticed is ImageViews flashing on reload. Say I have a listview on android and lets say updated the backing model of the listview and i want to do a adapter.NotifyDataSetChanged(), all of my images loaded with FFImageLoading flash. It would be nice if somehow FFImageLoading could know that the image its about to load is the same image already in the ImageView. Therefore nothing

[2016-08-26 00:42] Emasoft commented on #279
I have the same problem with my ListView. The scroll lags happen when the image is loaded or OnBindingContextChanged is called.

[2016-08-26 02:05] Emasoft opened #294 "Loader crash with error: "Use of deleted global reference 0x1c7a""
I'm using FFImageLoading for developing a Xamarin.Forms apps on iOS and Android. On iOS it works fine. But on Android, it always crashes after a while.

The app is a simple ListView with "CachedImage" elements in each cell.

This is the cell:

[code]

I make the binding manually in SetupCell:

[code]

Here is the piece of the log when the crash happens:

[code]

I tried to remove the Circle transf

[2016-08-27 05:12] zjxeditor commented on #279
Any solutions or suggestions?

[2016-08-27 14:35] zjxeditor opened #295 "Cannot show image after image picking"
Hi, I am picking an local image from the gallery and then show it through CachedImage with Xamarin Forms. Here is the code:
[code]

Everything works fine first. However, When I change the ImageSource, nothing shows up. If I use the Original Image control or add code `await Task.Delay(100);` before `Image.Source = image.Path;`, then the problem will be solved.
So what's wrong when I use the CachedI

[2016-08-29 09:36] chamamo opened #296 "Using FFImageLoading with other controls"
Hi,

I use the library for several months and I find it awesome.

On Android I always used ImageViewAsync control. Now I would use other controls, for example download the image with FFImageLoading and use the Drawable as background for other controls (Button, FloatingActionButton...etc.)

Is it possible? Thank you in advance.

[2016-08-29 18:52] Emasoft opened #297 "App crashes with error: "Java.Lang.RuntimeException: Canvas: trying to use a recycled bitmap""
My app crashes with this error: "Java.Lang.RuntimeException: Canvas: trying to use a recycled bitmap"

I use FFImageLoading in a simple Listview with a custom Cell.

This is the crash log:

My XAML main Page:

[code]

This is the main Page codebehind:

[code]

This is the custom Cell XAML:

[code]

This is the custom cell codebehind:

[code]

This is the data provider class:

[code]

And this is t

[2016-08-29 19:44] mariolobar opened #298 "[UWP] In release mode doesn't show up the images"
I tried to uncheck the option "Compile with .NET native tool chain" and I can see the images but with this configuration my app fails in WACK testing so I think that I can not submit to the store.
Is there any solution for this problem?

[2016-08-30 07:25] mariolobar commented on #298
I solved it adding the assemblies of FFImageLoading with this lines:

 List<Assembly> assembliesToInclude = new List<Assembly>();
 assembliesToInclude.Add(typeof(CachedImage).GetTypeInfo().Assembly);
 assembliesToInclude.Add(typeof(CachedImageRenderer).GetTypeInfo().Assembly);
 Xamarin.Forms.Forms.Init(e, assembliesToInclude);

Thank you!!

[2016-08-30 07:25] #298 closed

[2016-08-30 12:43] XnainA opened #299 "Crop Transformation"
Crop transformation is not worked on android.
# Issues:

- Blinking while zoom in and zoom out.
- No crop option.

[2016-08-30 12:58] Aknilam commented on #207
Android
My stack trace:

08-30 13:57:29.576 4570-4649/? I/dalvikvm: JNI ERROR (app bug): accessed deleted global reference 0x1d20c19e
08-30 13:57:29.577 4570-4649/? E/dalvikvm: VM aborting
08-30 13:57:29.577 4570-4649/? E/mono-rt: Stacktrace:
08-30 13:57:29.577 4570-4649/? E/mono-rt:   at <unknown> <0xffffffff>
08-30 13:57:29.581 4570-4649/? E/mono-rt:   at (wrapper managed-to-native) Java.Interop

[2016-08-31 01:28] CliffCawley opened #300 "Android: Image not appearing in correct rotation [2.1.6]"
I've created an example to reproduce this. Just load the project, switch to Droid and run and the image will appear rotated as though it's a landscape photo.

Do the same for the iOS project and it correctly displays portrait.

Viewing in an external viewer will show correctly as portrait.

The ExIf data suggests that there is a 90CCW rotation, so I assume this isn't being applied correctly on And

[2016-08-31 16:59] faceoffers28 opened #301 "UWP app - .Net Native tool chain issue with Release - assembliesToInclude???"
My app works just fine in Debug mode. When I Release the app, I can't get a couple of features to work. One of the features is FFImageLoading. I have read that you have to inject assemblies into the Xamarin.Forms.Forms.Init method, but I can't find the correctly assemblies to add. Here is what I have tried. Does anyone know the correct combination of assemblies to include to get this to work in Re

[2016-08-31 20:32] faceoffers28 commented on #301
OK, I finally got it to work by adding these assemblies.

[code]

Both of the packages that I was having trouble with have multiple DLLs in the Release bin (see image below).  Based on this revelation, I tried adding new assemblies based on the different DLLs. I'm still not sure what is the minimum amount of assemblies that I need to add in order for this to work or if these unused assemblies are

[2016-09-01 17:50] Emasoft commented on #297
Notice that if I replace the image component "<ffimageloading:CachedImage>" with the standard one "<Image>", it works fine on all platforms. No crash at all on Android. So the problem lies in FFImageload. Please fix this bug.

[2016-09-02 07:23] tjugg opened #302 "Heap corruption detected by dlmalloc / Android 6.0"
public class ImageServiceViewHolder : Java.Lang.Object
        {
            public FFImageLoading.Views.ImageViewAsync Img;
            public ImageView SetFavorite;

            public int Position;
            public string AuthUrl;
            public string Url;
        }

        private View ImageServiceView(int position, ImageServiceGridItem item, View convertView)
        {
            Ima

[2016-09-02 13:33] joaoasilva opened #303 "Android: Can't install on latest Xamarin Forms 2.3.0.107"
Unable to resolve dependencies. 'Xamarin.Android.Support.Design 23.4.0.1' is not compatible with 'Xamarin.Forms 2.3.0.107 constraint: Xamarin.Android.Support.Design (= 23.3.0)'.

Thanks

[2016-09-02 14:30] #303 closed

[2016-09-03 13:21] #283 closed

[2016-09-03 13:51] daniel-luberda commented on #284
FFImageLoading is multi purpose image view, it's not a specialized cropping tool. Someone will need to create a specialized crop control on top of that (any collaboration welcome).

See this thread for more information about cropping with FFImageLoading and possible solutions: https://forums.xamarin.com/discussion/comment/207655/#Comment_207655

[2016-09-03 13:53] daniel-luberda commented on #303
Hi @joaoasilva Did you resolve it? What was the cause of it? FFImageLoading doesn't use any specific support packages.

[2016-09-03 13:54] daniel-luberda commented on #298
Thanks, I'll add that info to our Wiki page.

[2016-09-03 14:03] daniel-luberda commented on #298
https://github.com/luberda-molinet/FFImageLoading/wiki/Xamarin.Forms-API#windows-uwp---compile-with-net-native-tool-chain-note

[2016-09-03 14:06] daniel-luberda commented on #301
Hi @faceoffers28,

Here is more details: https://github.com/luberda-molinet/FFImageLoading/wiki/Xamarin.Forms-API#windows-uwp---compile-with-net-native-tool-chain-note

[2016-09-03 14:06] #301 closed

[2016-09-03 14:08] daniel-luberda commented on #289
@ronpf @timbrand  Hi, did you try to uninstall app from emulator first?

[2016-09-03 14:36] daniel-luberda commented on #299
https://github.com/luberda-molinet/FFImageLoading/issues/284

[2016-09-03 14:36] #299 closed

[2016-09-03 14:38] daniel-luberda commented on #286
Hi @yeah568 @wqi,

Is it possible you could create a reproduction so I could debug/fix it?

[2016-09-03 14:45] daniel-luberda commented on #288
It's not an FFImageLoading issue, rather Xamarin Forms / Xamarin Studio issue.

[2016-09-03 14:45] #288 closed

[2016-09-03 14:52] daniel-luberda commented on #302
@tjugg  Is it possible I could get complete log with stack trace. There must be some more info there, you can email it privately to me.

[2016-09-03 14:56] daniel-luberda commented on #296
Yes, it's possible. FFImageLoading supports multiple targets, it already has multiple targets for iOS:

- https://github.com/luberda-molinet/FFImageLoading/blob/master/source/FFImageLoading.Touch/Work/UIBarItemTarget.cs
- https://github.com/luberda-molinet/FFImageLoading/blob/master/source/FFImageLoading.Touch/Work/UIButtonTarget.cs
- https://github.com/luberda-molinet/FFImageLoading/blob/master/s

[2016-09-03 15:02] daniel-luberda commented on #295
Hi @zjxeditor,

- Is it on Android / iOS / Windows?
- Can you make a simple reproduction so I could debug it?

[2016-09-03 15:16] daniel-luberda commented on #294
Hi @Emasoft,

- Do you use stable Android channel? It looks like a Xamarin issue.
- Is it emulator or a device? If device, which?

[2016-09-03 15:21] daniel-luberda commented on #287
FFImageLoading is using standard http client with all default behaviors. Some questions:

- Do you use any custom http client handler?
- What platforms is this?
- Are you able to download file with standard net `HttpClient` `GetAsync` method? Maybe the server only support post calls?

[2016-09-03 15:23] daniel-luberda commented on #291
Could you try alpha nuget? Do you still experience it?

[2016-09-03 15:25] daniel-luberda commented on #292
Is it Android? If yes, for performance reasons we resize it using insample size. Read more here: https://developer.android.com/training/displaying-bitmaps/load-bitmap.html#load-bitmap

[2016-09-04 02:23] Emasoft commented on #294
I use a stable channel. For the emulators, I've tried it all: standard Android Emulator from the SDK, various devices configurations and images, and also the Genymotion emulator. Then on three different hardware Android phones. It always crashes.
I was forced to remove FFImageloader and replace all CachedImage with the standard Image element. With Image it works fine, same code. No crash at all. I

[2016-09-04 17:21] kitkat14 opened #304 "Bitmapdescriptor with ffimageloading ?"
readonly Pin _pin = new Pin()
		{
			Type = PinType.Place,
			Label = AppResources.AppResources.DragMe,
			IsDraggable = true,
			Icon = BitmapDescriptorFactory.FromBundle("stop.png")
		};

If I load 50 pins it crashes with out of memory error on android (iphone works fine), the 1G trick doesnt work. So I was hoping I could use FFImageLoading ...but I dont know if it is possible..

[2016-09-05 07:32] Spierki commented on #284
I'm gonna look to implement this control when I have time, come back to you when I have any news

[2016-09-05 12:29] xevilboss commented on #207
Same problem. Android stack trace:

[2016-09-05 15:04] Karuna30 opened #305 "Use with CarouselView"
Thanks for the great library. I am having trouble using it with CarouselView.

I get the below error:
Binding: 'imageURL' property not found on 'Item',  target property: 'FFImageLoading.Forms.CachedImage.Source'

What should be the 'Source' of CachedImage, if it is within a carousel view?

[2016-09-05 15:32] daniel-luberda commented on #304
Yes, it's possible, FFImageLoading supports multiple targets as destinations. It'll require custom `ITarget` implementation. I'll prepare it soon and post it here.

[2016-09-05 15:34] daniel-luberda commented on #305
I don't understand. Could you post some code sample here? Thanks.

[2016-09-06 00:55] daniel-luberda commented on #304
With https://github.com/luberda-molinet/FFImageLoading/commit/d706b2d60bc1ce3a72b98236fee3f59a641b78a1 you can retrieve native bitmaps as:

- Android: `var nativeBitmapDrawable = await ImageService.Instance.LoadUrl("http://myimage.png").AsBitmapDrawableAsync();`
- iOS: `var nativeUIImage = await ImageService.Instance.LoadUrl("http://myimage.png").AsUIImageAsync();`

Then you can use it like this o

[2016-09-06 00:55] #304 closed

[2016-09-06 00:58] daniel-luberda commented on #296
I made some initial changes to support this universally:

With https://github.com/luberda-molinet/FFImageLoading/commit/d706b2d60bc1ce3a72b98236fee3f59a641b78a1 you can retrieve native bitmaps as:

- Android: `var nativeBitmapDrawable = await ImageService.Instance.LoadUrl("http://myimage.png").AsBitmapDrawableAsync();`
- iOS: `var nativeUIImage = await ImageService.Instance.LoadUrl("http://myimage

[2016-09-06 03:03] daniel-luberda commented on #300
Hi @CliffCawley,

[code]

`ImageSource.FromResource` returns a `Stream`. There's no easy way to read EXIF data from it (`ExifInterface`, which is used in FFImageLoading, relies on file paths). FFImageLoading only supports EXIF orientation from local / downloaded files. Streams are always used "as is".

[2016-09-06 03:03] #300 closed

[2016-09-06 03:12] daniel-luberda commented on #297
Hi @Emasoft,

What is the reason of `MaxMemoryCacheSize = 10`? - this is **way too low** value to have caching working correctly.

[2016-09-06 03:18] daniel-luberda commented on #264
I'll close this as I cannot reproduce it.

[2016-09-06 03:18] #264 closed

[2016-09-06 03:19] #250 closed

[2016-09-06 04:13] daniel-luberda commented on #285
Read this: http://stackoverflow.com/questions/14633003/rgb565-for-sprites
It's in preferred decoder options because of performance reasons.

[2016-09-06 04:13] #285 closed

[2016-09-06 13:08] LuigiMaestrelli opened #306 "XAML Bind Image from URI"
Is it possible to bind the Source property to an URI?

I'm trying to do this inside a ViewCell.

[code]

The FotoUrl contains a URL like this http://192.168.2.72/apiuseall/api/UseUsuarios/Foto?id=1
Initially, the FotoUrl was a string property with that URL. But I also tried with UriImageSource and ImageSource.

[2016-09-06 13:25] daniel-luberda commented on #306
@LuigiMaestrelli Yes it's possible. There are many examples with url in our sample app: https://github.com/luberda-molinet/FFImageLoading/tree/master/samples/ImageLoading.Forms.Sample/Shared

[2016-09-06 13:31] #306 closed

[2016-09-06 22:07] Emasoft commented on #297
@daniel-luberda Sorry, that was just a line of code I added to make a test reducing the cache to make the app to avoid going out of memory. I tried various sizes, but it didn't help. The bug was present before adding the line, and when the line is removed is still there.

[2016-09-06 23:30] ronpf commented on #289
@daniel-luberda  Cleaning, deletion of the obj folder, and uninstalling appears to have fixed the problem.
It seemed to be isolated to the Xamarin XAP emulators but I'm not seeing it there anymore.
Thanks!

[2016-09-07 21:39] modplug opened #307 "Apply transformations to error and placeholder image"
I want to be able to apply a circle and color (tint) transformation to my error and placholder images.
Basically I want my whatever image that comes out of my Load() method (image, error, placeholder) to be run through the transformations I apply.

Is there an easy way of doing this?

[2016-09-08 02:18] daniel-luberda commented on #307
Hi @modplug,

Yes it's possible. Transformations are applied to placeholders by default. What is you platform? XF/Android/iOS/Windows?

[code]

[2016-09-08 05:52] modplug commented on #307
`await ImageService.Instance.LoadUrl(settings.Url)
		.LoadingPlaceholder(defaultImageName, ImageSource.CompiledResource)
		.Transform(new RoundedWithFillTransformation(0, 10, settings.BackgroundColor.ToHex()))
		.FadeAnimation(settings.Effect == ImageLoadEffect.Fade, false)
		.ErrorPlaceholder(defaultImageName, ImageSource.CompiledResource)
		.Transform(new RoundedWithFillTransformation(0, 10, set

[2016-09-08 20:19] Puffdot opened #308 "Images not loading on Xamarin.Forms iOS after update from 2.1.5 to 2.1.7"
I updated FFImageLoading from v2.1.5 to v2.1.7 with Nuget, and images no longer load in my iOS application. I'm using Xamarin.Forms v2.3.0.117, and the issue happens only on iOS (I'm using an iPhone 6s simulator running iOS 9.3). I had no issues with image loading before I updated FFImageLoading to 2.1.7, and I have not done any changes in my project other than updating FFImageLoading.

Stack trac

[2016-09-09 09:42] VikasN0204 opened #309 "Images not loading on Forms.iOS platform"
I have included updated  FFImageLoading v2.1.7 from Nuget to my App, and images not loading on iOS application (on Emulator). I can see images on Android tab. I am working on Xamarin.forms App. I am not getting any error. But i unable to see the image  on cached image control. I even tried the the nuget sample code. I still gets same result for iOS.
As i wanted to give black tinted effect over ima

[2016-09-09 12:46] VikasN0204 commented on #309
@daniel-luberda ,
Now it is also working on iOS.
On Android/iOS, i can able to see the image but tinttransformation(black tint shade) doesnt work over image.
How to user alpha channel with example.

[2016-09-09 15:35] nicolabeghin commented on #245
I solved by adding a reference to missing type before `LoadApplication`
[code]
as in https://github.com/UXDivers/Grial-UI-Kit-Support/issues/52

[2016-09-11 19:11] modplug commented on #307
I managed to tweak my custom transformation to do what I want so this can be closed now.

Peace!

[2016-09-11 19:11] #307 closed

[2016-09-11 23:04] patook commented on #308
I had a similar problem and I believe it was a Cycle 6/7 incompatibility. I think 2.1.5 works with XF2.3.0.x (and Xamarin iOS 9.6) and 2.1.7 works with XF2.3.1(and Xamarin iOS 9.8).

[2016-09-12 13:48] Karuna30 commented on #305
Sorry, it is just a warning that xamarin forms give even if I use regular "Image", got confused with that.

[2016-09-12 13:48] #305 closed

[2016-09-12 15:23] angusbreno commented on #291
@daniel-luberda  Even with the latest package.

If u run the sample app uwp (image chooser), u will see. https://github.com/NaylahProject/Naylah

😢

[2016-09-12 15:40] angusbreno commented on #291
The problem happens when the imagesource is changed and the page is navigated. The image loading not finished and if the page is back the imagecomponent reference goes to darkness, when the loading ends the reference don't exists anymore.

[2016-09-12 15:57] daniel-luberda commented on #291
@angusbreno I'll try to push a fix for this soon (I don't use UWP often, sorry for a delay)

[2016-09-12 16:01] daniel-luberda commented on #308
According to https://developer.xamarin.com/api/type/CoreGraphics.CGSize/ used constructor i a valid one, so I suppose it was a temporary error with `Xamarin.iOS`. I couldn't reproduce it - if you can, please give at least detailed `Xamarin.iOS` version info.

[2016-09-12 16:03] #308 closed

[2016-09-12 16:06] daniel-luberda commented on #309
@VikasN0204 Ok, so I'll close this.

Just use eg. `#AARRGGBB` format instead `#RRGGBB`, where AA is alpha hex value.

[2016-09-12 16:06] #309 closed

[2016-09-15 12:50] zuckerthoben opened #310 "Unknown Member "GetImageAsPngAsync" / "GetImageAsJpgAsync" on CachedImage object"
The two mentioned methods are not working in my project. Sample code:

`CachedImageRender.Init(); // in AppDelegate, App.xaml.cs, MainActivity`
[code]

Why are the methods not working?

[2016-09-15 13:12] daniel-luberda commented on #310
It's because image is not loaded yet. Put that method within `FinishCommand` command or `Finish` event.

[2016-09-15 13:12] #310 closed

[2016-09-15 16:40] jsauvexamarin opened #311 "Occasional threading issue when used with Xamarin.Android"
I'm seeing a threading issue that seems to be originating from where I'm using FFImageLoading in a Xamarin.Android project.

[code]

This is the place in code where I'm using it:
https://github.com/xamarinhq/app-acquaint/blob/master/App/Acquaint.Native/Acquaint.Native.Droid/Activities/AcquaintanceListActivity.cs#L254-L260

Here's some Xamarin Test Cloud runs that demonstrate the seemingly random n

[2016-09-16 13:29] zjxeditor commented on #295
It is on Android. I am testing on a Nexus 5.

[2016-09-16 20:21] guiwaltricke opened #312 "System.ArgumentNullException: Value cannot be null."
Hello, we are using FFImageLoading in a PCL Project and sometimes the FFImageLoading throw this exception: "System.ArgumentNullException: Value cannot be null"

this is the only stack that the problem gives to us....

[code]

what we saw here is that when we are not using CircleTransformation the error is seems to not appear again...

thanks

[2016-09-17 13:49] zjxeditor commented on #221
Hi, how do you solve the problem? I come up to the same problem.

[2016-09-18 13:32] jjchiw opened #313 "Xamarin.Forms 2.3.3.152-pre2 Could not load type 'FFImageLoading.Forms.Droid.CachedImageRenderer'"
Hi!

I upgraded `Xamarin.Forms` to  `2.3.3.152-pre2` and the application started to crash with.
[code]
after `CachedImageRenderer.Init();` I wanted to try the version  `2.3.3.152-pre2` because of this bug https://forums.xamarin.com/discussion/comment/220535 that it seems its fixed in this version https://forums.xamarin.com/discussion/77854/xamarin-forms-2-3-3-pre2#latest (43530 - "[Android] Resumi

[2016-09-18 23:53] adrianknight89 commented on #313
Also see https://github.com/PrismLibrary/Prism/issues/770

[2016-09-19 05:44] zjxeditor opened #314 "Bug on preload image."
Hi, I am developing a Xamarin Forms Application now. What I want to do is to preload several web image and then show them in a frame at once. So I use the "PreloadAsync" method. After the preload process, I assign the same image urls to a collection of CachedImage. The image should appear at once, however, I wait for almost 7 seconds. What's the matter?
In addition, I do another experiment. I defi

[2016-09-19 06:03] imkow commented on #313
yeh, I got the same problem

[2016-09-19 14:20] klingu opened #315 "(Android) LoadingImage not replaced when (image)Stream received from server on CachedImage"
Hi…,

I’ve a bug to be reported, in a specific situation. We build Xamarin.Forms Apps and we use MAM for this application and it is not allowed to use the default HttpClient by GOOD(GD).

GD have its own GDHttpClient we have to use to retrieve images and other date from within our own domain.
We have created our own GDFFCachedImage based on the FFImageLoading.Forms.CachedImage like this:

[code]

[2016-09-19 15:07] Karuna30 opened #316 "Wrong image displayed when using DownsampleHeight"
I am using version 2.1.7 in my Xamarin Forms PCL Project. I have included the dependency in my platform projects too. I use CachedImage in my XAML to add images.

One of the things I have noticed is that as soon as I add DownsampleHeight to CachedImage I see wrong images getting displayed.

It is happening almost 90% of times when images are loaded first time and about 20% once the images are cach

[2016-09-19 16:22] zjxeditor commented on #314
O, I find the problem. It is the Url encode or decode problem. Some character in my image url is encoded, so when I try to use the "PreLoadAsync" method, this library use a key for cache. Then I assign the same url to CachedImage, it use the decoded url, hence the key is not match. Closed.

[2016-09-19 16:41] #314 closed

[2016-09-19 17:25] gruan01 opened #317 "Could not load type 'FFImageLoading.Views.ImageViewAsync' from assembly 'FFImageLoading.Platform"
Hello,
I'm using FFImageLoading 2.1.7 From Nuget,
I have add the following to Activity:

FFImageLoading.Forms.Droid.CachedImageRenderer.Init();

before
global::Xamarin.Forms.Forms.Init(this, bundle);

But I get the following error :

[code]

What's wrong ?
Thanks.

[2016-09-19 21:04] reyalpsirc opened #318 "Callback when an image starts downloading"
I need to invoke an Action when an image starts downloading from Internet and this Action should never be invoked when the image exists on cache (either memory or disk).
I though I could access the caches through a key but, since I'm using Xamarin.Forms, I saw that the Memory cache is internal to the Assembly and so, I can't access it...

Is there some other way to invoke a callback when an image

[2016-09-19 22:07] adrianknight89 commented on #317
See https://github.com/luberda-molinet/FFImageLoading/issues/313

[2016-09-20 10:23] zjxeditor opened #319 "Use OriginalString instead ToString() when using UrlImageSource"
Hi, I use "PreLoadAsync" method to get some web image. There are 25 images to be downloaded. If I call "await PreLoadAsync" for each image url, everything goes well. Finally, all the images are downloaded. However, I want to use "Task.WhenAll" method. So I add each "PreLoadAsync" call to a Task list and then call "Task.WhenAll". Many images cannot be downloaded, which is very strange. Lots of "Ret

[2016-09-21 00:39] daniel-luberda commented on #319
Hi @zjxeditor,

Could you make a sample project which reproduces this, so I could debug it?

[2016-09-21 00:48] daniel-luberda commented on #318
Yes, just provide a custom `HttpClient` handler implementation (just override `SendAsync` method). Something like:
[code]

[2016-09-21 00:51] #318 closed

[2016-09-21 00:58] daniel-luberda commented on #316
`MaxMemoryCacheSize = 100` that setting is extremely low (100 bytes) and can cause FFImageLoading not working correctly. Is there any reason? I'll modify code to ignore that setting if it's set too low.

[2016-09-21 02:28] zjxeditor commented on #319
Please wait. I will fully debug the my program today to find out whether it is the library's problem.

[2016-09-21 02:52] zjxeditor commented on #319
I find the problem. Let me make it clear:
1. Assign a image url string to CachedImage's source property
2. The ImageSourceConverter will call
    Uri uri;
    Uri.TryCreate(org, UriKind.Absolute, out uri);
    var source = Xamarin.Forms.ImageSource.FromUri(uri);
3. The the image is being loaded, it will call the following to get the final load url string
    var uriImageSource = source as UriImage

[2016-09-21 03:34] zjxeditor commented on #319
Definitely, it is the .Net issue. But I think we should use "uriImageSource.Uri?.OrigianlString" instead of "uriImageSource.Uri?.ToString".

[2016-09-21 03:45] daniel-luberda commented on #319
Yes, I also think it should be changed. Will push a commit soon. Thanks for debugging.

[2016-09-21 03:47] #319 closed

[2016-09-21 03:53] daniel-luberda commented on #315
First of all, I strongly advice you to just use a custom http client which can be specified like that (in a platform specific project):

[code]

It will utilize disk cache & memory cache.  When using stream cache is not used at all until you set a custom cache key factory.

[2016-09-21 03:57] daniel-luberda commented on #315
As to your example, it's hard to debug it without a sample project.

`Stream = async (token) => await Task.Run(() => ServiceLocator.Instance.Resolve<IGenericHttpHandler>().GetStreamAsync(this.GDImageSource))`

It's hard to predict what's going on here as dependency service is used here. Are you sure returned stream is a valid one?

[2016-09-21 04:05] daniel-luberda commented on #312
Somehow, memory cache entries with `null` cache key are being added. Could you run it with verbose logging to debug when exactly it occurs (for which urls/images)? Something like that:

[code]

[2016-09-21 05:48] #311 closed

[2016-09-21 05:51] daniel-luberda commented on #311
Hi @jsauvexamarin,

Thanks for such a detailed description. There was an issue which is fixed now. Please mind that `IntoAsync` method throws image loading exceptions (including bad connection, etc), you probably want to use `Into` method (it also isn't affected with a bug you described).

Thanks,
Daniel

[2016-09-21 06:27] daniel-luberda commented on #293
Hi @rusty21,

I can't reproduce it. Can you attach a sample project?

Thanks

[2016-09-21 06:28] #289 closed

[2016-09-21 08:12] zjxeditor commented on #319
I am waiting for a new NuGet package release.

[2016-09-21 11:28] reyalpsirc commented on #318
Hmm, but that way how do I know which object of `CachedImage` invoked the HttpClient @daniel-luberda ?

[2016-09-21 11:42] kentcb commented on #313
Got the same problem and really keen to try the XF pre-release to resolve other issues. Will there be a pre-release of FFIL to address this?

[2016-09-21 11:50] klingu commented on #315
Hi Daniel,

thanks for your quick respons. I appreciate :-)

I understand it is hard to debug or even look into it, because there are a lot of independencies with other environments and secured connections...

And yes the returned stream is a valid one. We've tested it via two methods:
1.) We have set the stream to an default Image control, it shows the retrieved image.
2.) We have saved the strea

[2016-09-21 12:29] Karuna30 commented on #316
My bad, I misunderstood the parameter. After setting a higher value it works great.

[2016-09-21 12:29] #316 closed

[2016-09-21 12:45] daniel-luberda commented on #318
You could add some prefixes in urls, and then remove them in a custom http client handler implementation, etc.

[2016-09-21 13:02] daniel-luberda commented on #315
@klingu

You could just create custom http client handler, override its `SendAsync` method and you could build `HttpResponseMessage` on your own, using `GDHttpClient ` instead returning `HttpResponseMessage` from `base.SendAsync` method.

That's an interesting one. Do you get any exceptions in a console output?

[2016-09-21 14:14] LuigiMaestrelli commented on #312
We have attached the log error.
When this error occurs, the image shows, but it isn't a circle.
The transformation has not been applied.

[log.txt](https://github.com/luberda-molinet/FFImageLoading/files/485226/log.txt)

[2016-09-21 14:52] jsauvexamarin commented on #311
Cool, thanks, I'll try `Into()`. I already tried that, actually, but I'll give it another shot. IIRC, I was seeing some other issue with the non-async call.

I'll keep an eye out for the releases that contains d7324d8. Thanks!

[2016-09-21 15:13] daniel-luberda commented on #313
I tried to debug it, but didn't found the cause yet. Any clues what could it be?

[2016-09-21 15:14] daniel-luberda commented on #317
Duplicate of #313

[2016-09-21 15:14] #317 closed

[2016-09-21 15:20] daniel-luberda commented on #313
[code]

I think it's a Xamarin.Forms issue as it breaks compatibility with all other renderers.

[2016-09-21 15:53] alanspires opened #320 "PCL EmbeddedResource assets support"
If you try to use a EmbeddedResource from the PCL and set the loading/error...

LoadingPlaceholder = ImageSource.FromResource("Blah.Resources.placeholder_default_1.png")

you will never see the placeholder. But if you put it in the platform's resource folder and reference it by name it will work.

LoadingPlaceholder = "placeholder_default_1.png"

[2016-09-21 17:09] jsauvexamarin commented on #311
It seems I'm still having intermittent errors, even with `Into()`. The message is the generic "FFImageLoading is unable to generate image", which it appears can be caused by a wide variety of things. (https://github.com/luberda-molinet/FFImageLoading/blob/ce1442dc8d7c9a6376da2f73b9723d726642a9ac/source/FFImageLoading.Shared/Work/ImageLoaderTaskBase.cs#L281)

I didn't mention this in my original co

[2016-09-21 17:14] #313 closed

[2016-09-21 17:19] #287 closed

[2016-09-21 19:30] daniel-luberda commented on #312
Thanks! It should be fixed with this: https://github.com/luberda-molinet/FFImageLoading/commit/073f4772ab3c4c71d2b2473691bfaff9a7149dcb

[2016-09-21 19:39] daniel-luberda commented on #297
Hi @Emasoft,

Do you experience this issue with a newest stable? I cannot reproduce it currently. Is it possible to have a sample project with a reproduction?

[2016-09-21 19:48] daniel-luberda commented on #207
Are you still experiencing this? I think it was fixed in current Xamarin.Forms stable.

[2016-09-21 19:49] LuigiMaestrelli commented on #312
Thanks a lot.

Any ideias about when will be a release or a prerelease with the fix?

[2016-09-21 19:56] kruegermj commented on #207
We removed it from our project and haven't tried since.

[2016-09-21 19:58] daniel-luberda commented on #252
There were some recent changes which give higher priority for local images, etc (when no custom priority is set). Please try 2.1.8-pre-146, do you still experience it?

[2016-09-21 20:04] daniel-luberda commented on #311
I'll review you Xamarin.Android example once again and see if I missed something.

BTW: FFImageLoading 2.1.8-pre-146 nuget which contains discussed issues released.

[2016-09-21 20:05] daniel-luberda commented on #313
FFImageLoading 2.1.8-pre-146 nuget which contains discussed issues released.

[2016-09-21 20:06] daniel-luberda commented on #317
FFImageLoading 2.1.8-pre-146 nuget which contains discussed issues released.

[2016-09-21 20:07] daniel-luberda commented on #319
FFImageLoading 2.1.8-pre-146 nuget which contains discussed issues released.

[2016-09-21 20:08] daniel-luberda commented on #312
FFImageLoading 2.1.8-pre-146 nuget which contains discussed fixes released.

[2016-09-21 20:14] daniel-luberda commented on #291
FFImageLoading 2.1.8-pre-146 nuget which contains discussed fixes released.

[2016-09-21 20:24] daniel-luberda commented on #279
There's a new prerelease (2.1.8) nuget which contains some fixes / enhancements. One of them is ability to set maximum concurrent image loading tasks through config (`SchedulerMaxParallelTasks` property). You could try it and tune FFImageLoading to your needs. https://github.com/luberda-molinet/FFImageLoading/commit/9687b42eb1664c4b6b78b1008244fc1fb7a48875

[2016-09-21 20:36] LuigiMaestrelli commented on #312
The exception is no longer happening.
But a single image on the ListView isn't a circle.
The image with the error changes each time I start the app.

![screenshot_20160921-172832](https://cloud.githubusercontent.com/assets/5038871/18727906/4edb3530-8021-11e6-8c4d-697bf4411f1c.png)

[2016-09-21 20:41] daniel-luberda commented on #312
- Is it always the same image?
- What is the source? Is it a local file / url?
- The important thing is to set `Transformations` property before `Source` property.

[2016-09-21 20:47] LuigiMaestrelli commented on #312
No, it isn`t the same image.
The source is a local ImageSource
This is how I use the component on a ViewCell
[code]

[2016-09-21 20:49] daniel-luberda commented on #312
`Source="{Binding Imagem}, Mode=OneWay}` should be `Source="{Binding Imagem, Mode=OneWay}`

[2016-09-21 20:53] LuigiMaestrelli commented on #312
Yes, is coded that way.
Sorry, I was testing something else.
[code]

[2016-09-21 21:02] daniel-luberda commented on #312
Could you try this:

[code]

[2016-09-21 23:05] kentcb opened #321 "PNG banding on Android"
Hi,

I'm getting banding on PNG images with gradients on Xamarin.Forms Android. There is no issue with same resources on iOS, nor if I use a normal `Image` control instead of `CachedImage` (but obviously that has its own problems!).

A short while ago, this was reported in [this thread](https://forums.xamarin.com/discussion/52530/cachedimage-ffimageloading-for-xamarin-forms/p7) but I haven't been

[2016-09-22 00:29] zjxeditor commented on #319
Thanks.

[2016-09-22 00:31] zjxeditor commented on #279
I will fully debug this problem these days and give the result soon.

[2016-09-22 11:15] LuigiMaestrelli commented on #312
That worked, I can no longer simulate behavior.
Thank you.

[2016-09-22 13:23] daniel-luberda commented on #312
I fixed this with: https://github.com/luberda-molinet/FFImageLoading/commit/272c51f994803598673cbf72f7fb8abba4726bd4. It will prevent such behavior in future.

[2016-09-22 13:23] #312 closed

[2016-09-22 15:21] daniel-luberda commented on #312
2.1.8-pre-150 released. It will allow your previous code to work correctly without any modifications.

[2016-09-22 15:22] daniel-luberda commented on #321
Hi @kentcb,

Did you try setting `TransparencyEnabled` to true?

Thanks,
Daniel

[2016-09-22 15:57] daniel-luberda commented on #311
Xamarin.Android project issues may be related to this: https://github.com/luberda-molinet/FFImageLoading/pull/322

It's merger now & prerelease nuget is released.

[2016-09-22 16:26] jsauvexamarin commented on #311
Awesome, thank you. I'll give it a try today.

[2016-09-22 17:22] jsauvexamarin commented on #311
Woohoo! Looks like 2.1.8-pre-150 fixed it for me! Specifically, I am no longer seeing `FFImageLoading is unable to generate image` in any of my Xamarin Test Cloud runs on any of the Android devices I'm testing!

Kudos to @klaaspolinder for a great PR!

[2016-09-22 17:37] daniel-luberda commented on #320
@alanspires Currently, FFImageLoading only supports native assets on Android/iOS. PCL resources are not implemented yet.

[2016-09-22 17:40] daniel-luberda commented on #302
2.1.8-pre-150 nugets released. It contains many Android stability fixes. Do you still experience it? If yes, please reopen this issue.

[2016-09-22 17:40] #302 closed

[2016-09-22 17:40] daniel-luberda commented on #207
2.1.8-pre-150 nugets released. It contains many Android stability fixes. Do you still experience it? If you do, please reopen this issue.

[2016-09-22 17:40] #207 closed

[2016-09-22 17:42] daniel-luberda commented on #252
2.1.8-pre-150 nugets released. It contains many Android stability & performance fixes. Do you still experience it? If you do, please reopen this issue.

[2016-09-22 17:42] #252 closed

[2016-09-22 17:42] daniel-luberda commented on #279
2.1.8-pre-150 nugets released. It contains many Android stability & performance fixes. Do you still experience it? If you do, please reopen this issue.

[2016-09-22 17:42] #279 closed

[2016-09-22 17:43] daniel-luberda commented on #293
2.1.8-pre-150 nugets released. It contains many Android stability & performance fixes. Do you still experience it? If you do, please reopen this issue.

[2016-09-22 17:43] #293 closed

[2016-09-22 17:43] daniel-luberda commented on #294
2.1.8-pre-150 nugets released. It contains many Android stability & performance fixes. Do you still experience it? If you do, please reopen this issue.

[2016-09-22 17:43] #294 closed

[2016-09-22 17:44] daniel-luberda commented on #291
@sbongiz @angusbreno  Did it resolve you issues?

[2016-09-22 17:46] #296 closed

[2016-09-22 17:47] daniel-luberda commented on #284
@Spierki There's a new prerelease of FFImageLoading (2.1.8-pre-150) which introduces some performance improvements (eg. image is not cleared when image source is not changed). This will lead to better overall experience in CropTransformation sample.

[2016-09-22 17:50] daniel-luberda commented on #202
@rusty21  There's a new prerelease of FFImageLoading (2.1.8-pre-150) which introduces some stability & performance improvements (eg. image is not cleared when image source is not changed), so there is no flashing.

[2016-09-22 17:51] alanspires commented on #320
Gotcha. The type being an ImageSource made me assume it would work. All good though, thanks!

Sent from my iPhone

[2016-09-22 18:29] angusbreno commented on #291
I will check and back here again. Thanks.

[2016-09-22 23:31] kentcb commented on #321
@daniel-luberda I hadn't, but I just tried and it made no difference.

[2016-09-22 23:59] #292 closed

[2016-09-23 00:16] dominik-weber commented on #266
@daniel-luberda have you seen the comment i've added?

[2016-09-23 00:22] daniel-luberda commented on #266
@dominik-weber Hi, I've missed that, sorry. Sure, we can change it to have a unified behavior.

[2016-09-23 00:32] dominik-weber commented on #266
just fyi, here is the project I've used to test the different scenarios on UWP. Uncomment all lines from UWP/ImageExtRenderer to see the differences.

[FFImageCropTest.zip](https://github.com/luberda-molinet/FFImageLoading/files/488652/FFImageCropTest.zip)

[2016-09-23 03:14] daniel-luberda commented on #321
This is how image is decoded in FFImageLoading: https://github.com/luberda-molinet/FFImageLoading/blob/master/source/FFImageLoading.Droid/Work/ImageLoaderTask.cs#L419
This is how image is decoded in Xamarin.Foms: https://github.com/xamarin/Xamarin.Forms/blob/master/Xamarin.Forms.Platform.Android/Renderers/ImageLoaderSourceHandler.cs#L17

Available options here:
https://developer.android.com/refere

[2016-09-23 05:20] moogiis opened #323 "How to add TapGestureRecognizer?"
How to add TapGestureRecognizer?

[2016-09-23 05:21] moogiis commented on #323
LIKE THIS?
<Image HeightRequest="35"
             Source="deld.png"
             WidthRequest="35">
             <Image.GestureRecognizers>
                    <TapGestureRecognizer CommandParameter="{Binding .}" Tapped="delete" />
             </Image.GestureRecognizers>
</Image>

[2016-09-23 11:10] dominik-weber commented on #266
Thank you for the quick implementation @daniel-luberda ! Let me know when it's available on nuget and I will run some tests.

[2016-09-23 13:57] daniel-luberda commented on #321
@kentcb I enabled dithering with https://github.com/luberda-molinet/FFImageLoading/commit/d79f81427921f07d25b2b2b8b5c3bdce44273be6

Could you check newest prerelease nugets if it's better now? (2.1.8-pre-155)

[2016-09-23 13:58] daniel-luberda commented on #266
2.1.8-pre-155 released. Could you test it?:)

[2016-09-23 14:00] daniel-luberda commented on #323
Yes, just as any other Xamarin.Forms view, but replace `Image` with `ffimageloading:CachedImage` where `ffimageloading` is your defined namespace.

[2016-09-23 14:00] #323 closed

[2016-09-23 14:01] daniel-luberda commented on #315
@klingu Did you solve it?

[2016-09-23 14:33] dominik-weber commented on #266
Unfortunately no, does not work :(
I've checked the sources of XForms, you can see that the Alignment properties are overwritten here: https://github.com/adamped/Xamarin.Forms/blob/6a23187f26aeea3e33d2f3c9a77172f062c7a519/Xamarin.Forms.Platform.WinRT/VisualElementRenderer.cs#L290
So we need to set them **after** calling SetNativeControl:

            if (Control == null)
            {

[2016-09-23 14:36] daniel-luberda commented on #266
Thank you for your help and debugging. I'll push a commit with fixes now.

[2016-09-23 18:21] daniel-luberda commented on #266
2.1.8-pre-158 could you test it? There were also some changes how transformations are handled on Windows, look here: https://github.com/luberda-molinet/FFImageLoading/commit/f90bd976a43e9a15bb88b68cbb603a30182bac56

Is transformations performance better now?

[2016-09-23 19:21] dominik-weber commented on #266
works 👍 thank you very much! :)
I only use transformations to show a very small user image as a circle, didn't notice any difference...

[2016-09-23 19:57] dominik-weber commented on #266
Hmm... I ran some more tests regarding transformations on UWP:

                for (int i = 0; i < 1000; i++)
                {
                    var image = new ImageExt();
                    image.Source = "https://blog.optimizely.de/files/2014/01/test.jpg";

                    for (int j = 0; j < 1000; j++)
                        image.Transformations.Add(new BlurredTransformation());

[2016-09-23 21:11] tjugg commented on #302
I got around the error by calling  ImageService.Instance.SetPauseWork(true) before refreshing the listview. Does it make any sense why?

[2016-09-24 08:37] daniel-luberda commented on #302
It just stops image loading. From my experience, a lot of `Heap corruption detected by dlmalloc` were caused by abnormal cpu/memory usage.

BTW: Anyway, the newest prerelease nuget fixes a lot of Android issues. You should try it.

[2016-09-24 08:48] daniel-luberda commented on #266
Hi @dominik-weber,

Thanks for such a detailed tests, those are really useful as I don't work a lot with UWP currently. Actually, with that code, only one transformation operation was performed. All other images were loaded from cache. You would need to use a different image for every image loading operation or disable memory cache for that images. With recent changes, I just added a lock which al

[2016-09-24 11:47] dominik-weber commented on #266
Alright, I wasn't sure about that (although I was impressed by the performance ;) )
I have modified the test to load individual images:

                contentLayout.Children.Clear();

                var random = new Random();

                for (int i = 0; i < 200; i++)
                {
                    var image = new ImageExt();
                    image.Source = "https://blog.optimizel

[2016-09-24 11:54] daniel-luberda commented on #266
@dominik-weber Impressive profiling! :) Thanks a lot for that.

It was changed mainly because of mobile phones. There were cases where doing a lot of image processing at once caused application crash (because of abnormal cpu/memory usage). The lock eliminates that.

On the other hand, UWP is used also on desktop apps. Is there any way to determine if UWP app is run on desktop? If yes, we could loc

[2016-09-24 12:03] dominik-weber commented on #266
You could check this with the following code:
`if (Windows.System.Profile.AnalyticsInfo.VersionInfo.DeviceFamily == "Windows.Desktop")`
However this seems a bit "hacked"... also there are still desktop pcs with very little RAM.

https://msdn.microsoft.com/de-de/library/windows.system.profile.analyticsversioninfo.devicefamily.aspx

[2016-09-24 12:36] daniel-luberda commented on #266
Yes, I agree. It's a bit "hacky" :)

For now, non-locking transformations are only 2-3s ahead of a locking ones, with 200 images x 5 transformations. I think the pros (more balanced memory / cpu usage) are more important, so we can keep locking for a better mobile devices stability.

[2016-09-24 12:44] daniel-luberda commented on #266
There's also an old branch with a better performing transformations: https://github.com/luberda-molinet/FFImageLoading/tree/windows-new-bitmapholder-optimization - it may have some significant improvements on Windows. (UWP changed `WriteableBitmap` underlying pixel data from int array to byte array, FFImageLoading is using int array (caveat from Silverlight). But it will force users to refactor al

[2016-09-24 23:40] kentcb commented on #321
@daniel-luberda yes, this fixes it. Thanks very much!

[2016-09-24 23:40] #321 closed

[2016-09-25 19:46] klingu commented on #315
@daniel-luberda Not yet... had no time to look into it because of Go-Live...
Looking into it ASAP next sprint ;-)

[2016-09-26 20:11] tomcrusader opened #324 "[XF] [UWP] Invalid parameter relative path"
Now I've been developing Xamarin.Forms for a while and working with images I try to use a hiearchy whenever possible. Mostly this applies to UWP, where subfolders for images are actually allowed :)

So I was surprised to get an error from CachedImage saying somepath\subdir\image.png "is not an absolute path and relative paths are not allowed".

Before I tried to switch to FFImageLoading this worke

[2016-09-27 00:10] daniel-luberda commented on #324
@tomcrusader Did you try to use `/` instead `\`?

[2016-09-27 07:00] venky284 opened #325 "Xamarin.iOS 10.0 - Image not loading"
This is the error we get from FFImageLoading service

Package used: 2.1.8 (Happens in the lower versions as well)
FFImageLoading package is using HTTPClient I believe, instead it has to use modern HTTPClient
This [link](https://forums.xamarin.com/discussion/50975/ios-9-receiving-kcfstreamerrordomainssl-error-for-ssl-image) might be helpful to resolve this issue.

--- End of stack trace from previo

[2016-09-27 14:06] daniel-luberda commented on #325
It's not an FFImageLoading issue. Read more here: https://github.com/luberda-molinet/FFImageLoading/wiki/iOS-API#internet

You can also use `ModernHttpClient` (or any other custom `HttpClient`). Just initialize a custom FFImageLoading config with

[code]

[2016-09-27 14:06] #325 closed

[2016-09-27 17:44] tomcrusader commented on #324
Hm. Can't replicate anymore, so unsure what I was doing wrong before - both \ and / seem to work even if the source says otherwise. Curious

[2016-09-28 00:13] daniel-luberda commented on #324
Ok, I'll close it then. If you experience it again, please reopen it and post some details. Thanks :)

[2016-09-28 00:13] #324 closed

[2016-09-28 00:35] daniel-luberda commented on #295
Do you experience it with newest stable?

[2016-09-29 07:40] michaeldimoudis opened #326 "Xamarin iOS is using GetTempPath instead Library/Caches folder by default"
I updated to Xamarin iOS Cycle 8 Service Release 0, and updated FFImageLoading from 2.1.7 to 2.1.8, and my images are not cached in the app. I thought it was due to the FFImageLoading update and some other changes I did, so downgraded back to 2.1.7 and it still didn't work.

So in Git I reverted back to the version that's out in the app store, with 2.1.7, and the same issue happens.

Hence why I a

[2016-09-29 11:37] daniel-luberda commented on #326
Hi @michaeldimoudis,

What do you mean by saying that images are not cached? Could you give more details? I tested `FFImageLoading` with `Xamarin iOS Cycle 8 Service Release 0` and everything works goos so far for me. Do you use any custom `FFImageLoading` config?

[2016-09-30 04:00] michaeldimoudis commented on #326
Hi @daniel-luberda

I've been doing some testing, and yea it seems images are re downloaded if the app is started cold, even though they are in the cache. To test this, I opened up my iOS simulator folder path to observe the cache.

I added DownloadStarted event handlers with break points, and confirmed that, even if the image is already in the cache, it downloads the image again when started from

[2016-09-30 07:08] rsvsakthi commented on #257
Hi Daniel,

Thank you! I tired the approach mentioned in the link provided in your comment. Now it is working fine. I am getting Out Of Memory issue at the line,
Bitmap bitmap = Bitmap.CreateBitmap((int)desiredWidth, (int)desiredHeight, Bitmap.Config.Argb8888);

Can you please help me in resolving the issue? I have a screen where I deal with lot of images and it is happening there when I load the

[2016-09-30 07:37] moogiis opened #327 "how to add BlurredTransformation radius?"
[code]

[2016-09-30 09:12] daniel-luberda commented on #326
My type: https://github.com/luberda-molinet/FFImageLoading/issues/239

[2016-09-30 09:15] daniel-luberda commented on #327
<ffimageloading:CachedImage x:Name="ProfilePhoto"
                            DownsampleToViewSize="true"
                            HeightRequest="50"
                            Source="{Binding Image}"
                            VerticalOptions="CenterAndExpand"
                            WidthRequest="50">

                            <ffimageloading:CachedImage.Transformations>

[2016-09-30 09:48] moogiis commented on #327
Thank you so much

[2016-09-30 10:47] #327 closed

[2016-09-30 11:00] michaeldimoudis commented on #326
Ohhhh that rings a bell now. I'm going to have to do that. Thanks for reminding me.

[2016-09-30 11:01] daniel-luberda commented on #326
I'll change the path in 2.2. I didn't want to do it in 2.1 as it's kind of a breaking change (all images must be re-downloaded after this)

[2016-09-30 11:06] michaeldimoudis commented on #326
Do you have any suggestions where to put the new cache folder? And should I change anything on the Android side too? My app isn't heavily used yet, but will be in a couple of weeks time, so I can do a straight out change right now without a big impact.

[2016-09-30 11:07] dkornev opened #328 "[iOS] Is there a way to load image from UIImage object?"
I want to use a transformation for my image and also want to use same API to load it by FFImageLoaded. Is it possible somehow?

[2016-09-30 11:11] daniel-luberda commented on #326
You don't need to change anything on Android

[code]

[2016-09-30 11:16] daniel-luberda commented on #328
Hi @dkornev,

I didn't understand. Could you write more details?

[2016-09-30 11:19] daniel-luberda commented on #257
Could you share your code? That line, looks just fine. It must be something different.

[2016-09-30 11:26] dkornev commented on #328
Hi @daniel-luberda,

Sorry. I mean that it would be nice to have a LoadDrawable method to load images from iOS UIImage:

`UIImage uiImage;`
`ImageService.Instance.LoadDrawable(uiImage).Transform(new CircleTransformation()).Into(ivImage);`

Can it be done with current version?

[2016-09-30 11:34] daniel-luberda commented on #328
Not currently, but you can do something similar:

- Get image data `var stream = uiImage.AsPNG().AsStream();`
- Load that stream with `ImageService.Instance.LoadStream` method

[2016-09-30 11:36] dkornev commented on #328
OK, got it.

Thank you very much for you help!

[2016-09-30 11:36] #328 closed

[2016-09-30 16:10] michaeldimoudis commented on #326
Hi @daniel-luberda

Unfortunately that didn't work. I believe I've always had issues with the cache in FFImageLoading, no matter how long I set the DiskCacheDuration, there always seems to be unnecessary web calls made to download already downloaded images.

I managed to get around this in my app and cached images are displayed near instant now.
The way I got around it was, my app supports people

[2016-10-01 03:33] moogiis commented on #327
![capture22](https://cloud.githubusercontent.com/assets/21235622/19011520/e30edeb8-87ca-11e6-8753-9fad6c81ded5.PNG)

[2016-10-01 03:34] moogiis commented on #327
How to fix this?

[2016-10-05 15:27] owlstack opened #329 "Retry on Xamarin.iOS"
When setting the image to a retry of 3 with 250ms delay, the image finds the correct image then defaults back to the errorplaceholder image instead of the actual image.

Is this a bug? This only happens on Xamarin.iOS version. On the Xamarin.Forms version, it works fine.

This happens on latest stable release: v2.1.8

[code]

[2016-10-05 15:46] daniel-luberda commented on #326
@michaeldimoudis Look at this: https://github.com/luberda-molinet/FFImageLoading/blob/master/source/FFImageLoading.Shared/Cache/SimpleDiskCache.cs#L93

The part after `.` is cache validity duration in seconds. You have to set it to 0 somewhere (global config or per image view config).

[2016-10-05 17:30] daniel-luberda commented on #243
I'll close this one as here https://github.com/luberda-molinet/FFImageLoading/issues/326 are more details for the same issue.

[2016-10-05 17:30] #243 closed

[2016-10-05 17:31] daniel-luberda commented on #291
@angusbreno Is it working?

[2016-10-05 17:33] daniel-luberda commented on #286
Is it possible to have a working reproduction? Thanks

[2016-10-05 17:34] daniel-luberda commented on #295
@zjxeditor Do you experience it with newest stable?

[2016-10-05 17:34] daniel-luberda commented on #297
@Emasoft  Do you experience it with newest stable?

[2016-10-05 19:51] yeah568 commented on #286
Hey Daniel, unfortunately, I don't have access to the codebase any more, as I was an intern working over the summer. I'll try and get a sample, but I don't have anything right now, unfortunately.

[2016-10-05 20:55] daniel-luberda commented on #329
@owlstack  Did you resolve it?

[2016-10-05 21:01] owlstack opened #330 "The request URI must either be an absolute URI or BaseAddress must be set"
I'm trying to preload images for Xamarin.Forms Android app and I'm noticing a strange behavior.

Images that are thumbnail images on the listview are preloaded just fine (the listview is shown as the first page after logging into the app). However, images that are on the detail page of the list view item are not preloaded. They never get preloaded. Only the thumbnails. However, I am noticing this

[2016-10-05 21:03] owlstack commented on #329
No I did not. Are you seeing the issue as well?

[2016-10-05 21:19] ossentoo opened #331 "FFImageLoading exception in basic Xamarin Forms MvvmCross iOS application"
Hi all,

I'm trying to get FFImageLoading component to work in our app. Unfortunately I get an exception:

**System.Reflection.TargetInvocationException: Exception has been thrown by the target of an invocation.**

and am not sure why this is.

Does anyone have any ideas?

I have knocked together a very simple iOS application that can be found here:

https://github.com/ossentoo/st-mobile

I'd be g

[2016-10-05 23:28] owlstack commented on #329
@daniel-luberda I have one more question. How do I add properties to preloaded images for Xamarin.iOS? E.g.

I want to do something like this:

[code]

But it wouldn't let me. In Xamarin.Forms, we have a CachedImage that I can set the properties to but for Xamarin.iOS or Android.... we don't have that option. I want to preload the images and I want to set a retry and error placeholder for them.

T

[2016-10-06 00:00] daniel-luberda commented on #331
At first look you're missing this: https://github.com/luberda-molinet/FFImageLoading/wiki/Xamarin.Forms-API#important

[2016-10-06 00:08] daniel-luberda commented on #330
- This `Exception` means that url doesn't follow `protocol://server/path?query#hash` convention.
- You're returning empty string for  a `null` `Image` property value. It should be `null`.
- You can easily check what urls give exceptions subscribing to `DownloadStarted` or `DownloadStartedCommand`

[2016-10-06 00:13] daniel-luberda commented on #329
I don't understand your question. Could you give more details? It should be used exactly like this:

[code]

[2016-10-06 00:20] owlstack commented on #329
@daniel-luberda Sorry, I got it thanks!

[2016-10-06 00:22] daniel-luberda commented on #329
@owlstack No problem. We need to update docs someday (collaboration welcome). What about first bug? I cannot reproduce it. Should I close it?

[2016-10-06 01:31] zjxeditor commented on #295
Yes, I will write a simple demo and send it to you.

[2016-10-06 01:54] michaeldimoudis commented on #326
According to https://github.com/luberda-molinet/FFImageLoading/wiki/Xamarin.Forms-API it says default cache duration is 90 days. So I'm not sure that the default is working properly, as I don't specify any cache duration in my images or config, as the 90 days suits my app fine.

[2016-10-06 02:54] daniel-luberda commented on #326
Are you sure you didn't override that setting somewhere? eg. `ImageService.Init` method?

[2016-10-06 04:29] slai47 opened #332 "No Images loaded in listview"
Attempting to load images from a third party server. I am using the UWP project to test out the Windows Forms apps. I have put the:

var assembliesToInclude = new List<Assembly>()
                {
                    typeof(CachedImage).GetTypeInfo().Assembly,
                    typeof(CachedImageRenderer).GetTypeInfo().Assembly
                };
                Xamarin.Forms.Forms.Init(e, asse

[2016-10-06 14:39] daniel-luberda commented on #332
It's rather a Forms issue. Look here: https://forums.xamarin.com/discussion/58567/issue-image-in-listviews-viewcell-on-uwp

[2016-10-06 15:44] owlstack commented on #330
How can I subscribe to that event? This one DownloadStarted or DownloadStartedCommand? Thanks!

[2016-10-06 15:46] daniel-luberda commented on #330
Both are fine:

- DownloadStarted is an `event`
- DownloadStartedCommand is a `Command`

It's up to you. Both return `DownloadInfo` object

[2016-10-06 17:25] owlstack commented on #329
@daniel-luberda I need to test further but I think the issue with the retry is..... These images are loaded on a listview. When I scroll down or up the listview, I very briefly see another offer image for a particular cell... that is, the wrong image is loaded briefly on top of the cell which should have a different image. Then after that it defaults to placeholder....

[2016-10-06 17:28] daniel-luberda commented on #329
https://github.com/luberda-molinet/FFImageLoading/wiki/Xamarin.Forms-Advanced#usage-in-listview-with-listviewcachingstrategyrecycleelement-enabled

Do you use cell recycling? If yes, read the wiki page above.

[2016-10-06 17:35] owlstack commented on #329
@daniel-luberda This is for Xamarin.iOS. Can I still use the method above?

Also one thing to note, what "fixes" it is adding a LoadingPlaceholder. Is that the right approach? But I can't add the retry because it would no longer work.

[2016-10-06 17:38] daniel-luberda commented on #329
I though you're referring to Forms. On iOS / Android, you should set image to `null` before each loading:

[code]

[2016-10-06 17:39] daniel-luberda commented on #329
...and also you should cancel your previous image loading task.

[2016-10-06 17:43] owlstack commented on #329
What do you mean? I can set the image to null but what do you mean by cancel?

[2016-10-06 17:45] daniel-luberda commented on #329
[code]

[2016-10-06 17:50] owlstack commented on #329
If I use the approach above I would also need to load that imageLoadingTask right?

[2016-10-06 17:51] daniel-luberda commented on #329
Could you elaborate?

[2016-10-06 17:59] owlstack commented on #329
Just using ImageService would set the images for the imageView but setting it above... won't I need to call or set that variable above to something? Since you introduced a var?

[2016-10-06 18:43] daniel-luberda commented on #329
You can keep a reference to current task as here:

https://github.com/luberda-molinet/FFImageLoading/blob/master/source/FFImageLoading.Forms.Touch/CachedImageRenderer.cs#L26

https://github.com/luberda-molinet/FFImageLoading/blob/master/source/FFImageLoading.Forms.Touch/CachedImageRenderer.cs#L272

[2016-10-06 19:02] owlstack commented on #329
@daniel-luberda but what do I do with the current task? Currently if I leave it how you set it above... none of the images are loaded? Where am I supposed to use imageLoadingTask in my view? I'm confused

[2016-10-06 20:35] daniel-luberda commented on #329
It's not because of FFImageLoading, but it's because how cells in iOS/Android are reused in lists / repeater views. When cells are reused , you get an old view which was used somewhere before and it eg. has some image loaded or there's already a task for image loading for it. To avoid showing old image, you should:

- cancel any previous image loading if exists (it can still load previous image in

[2016-10-07 14:29] ossentoo commented on #331
Thanks for coming back to me Daniel.

I've tried adding those command to AppDelegate, but am still getting the same exception.

See:

[https://github.com/ossentoo/st-mobile/blob/master/source/mobile/ST.iOS/AppDelegate.cs](AppDelegate.cs)

[2016-10-08 17:18] daniel-luberda commented on #320
I checked some code and it should work:

https://github.com/xamarin/Xamarin.Forms/blob/74cb5c4a97dcb123eb471f6b1dffa1267d0305aa/Xamarin.Forms.Core/ImageSource.cs#L63-L85

As you see, that method returns a `StreamImageSource` which is supported by FFImageLoading. If it doesn't work for you, it's rather a Xamarin.Forms issue.

[2016-10-10 15:35] AllenMeex opened #333 "Can not load cache when network is disconnected"
I use a URL as the image source. First, I load the image with good netwok. The image can be shown well.  Then I disconnect the network and restart App, the ImageView show Error placeholder.

The first time I load the image, it should have been cached. But why it can't be shown when the network is disconnect?

I use the FFImageLoading for Xamarin Forms package  from Nuget, version is v2.1.8.

Xamar

[2016-10-10 17:31] owlstack commented on #333
I'm having the same issue as this person. I will post another issue with more details.

[2016-10-10 17:35] owlstack opened #334 "Can't preload images when network is disconnected?"
When I launch my app, sign in and then wait for a 1 or 2 mins for the images to load... Then I go to airplane mode and scroll through the images in the listview and the detail page for the list view items.... I am getting these exceptions in the logs:

[code]

None of the images are preloaded. Also, I have tested same case earlier and it works. Seems not to be consistently working... maybe working

[2016-10-10 20:15] rusty21 commented on #329
Is there a way FFImageLoading can detect if you are trying to load a new image into an image view that already has a pending task and cancel that pending task for you?

[2016-10-10 23:03] daniel-luberda commented on #329
It does this automatically. But  when cells are reused, loading a new image takes some time, so Cancelling image from previous cell manually, setting image to `null` and then loading correct image gives a better user experience (old images are not shown in new cells when recycled).

[2016-10-10 23:07] daniel-luberda commented on #334
@owlstack https://github.com/luberda-molinet/FFImageLoading/issues/239

Do you think it could be related to this?

[2016-10-10 23:20] owlstack commented on #334
I'll have to double check but this happens on Xamarin.Forms Android as well

[2016-10-12 10:07] vovaromaniuk opened #335 "FFimageloading.transformations doesnt work on win phone"
FFimageloading.transformations doesnt work on win phone 8.1. I tried to unistall/reinstall package and added diferent links to package, but it still throws exception :"You are referencing the Portable version in your App - you need to reference the platform (iOS/Android) version".  What should I do to fix it?

[2016-10-12 12:14] daniel-luberda commented on #335
You need to add `Xamarin.FFImageLoading.Transformations` to both, shared and platform specific projects. The `Exception` you're getting suggests that you didn't do that. Also read this: https://github.com/luberda-molinet/FFImageLoading/wiki/Xamarin.Forms-API#windows-uwp---compile-with-net-native-tool-chain-note

[2016-10-12 12:47] vovaromaniuk commented on #335
![links](https://cloud.githubusercontent.com/assets/15131903/19310500/0c5c488e-9093-11e6-9138-4e3a475dc2e0.png)
I did it. But it doesn't helps

[2016-10-12 12:48] daniel-luberda commented on #335
What are your projects PCL profiles?

[2016-10-12 12:50] vovaromaniuk commented on #335
Android and WinPhone

[2016-10-12 12:52] daniel-luberda commented on #335
- PCL profile is represented as a number
- Did you call `CachedRenderer.Init`?

[2016-10-12 13:00] vovaromaniuk commented on #335
I have PCL profile #111.

[2016-10-12 13:00] vovaromaniuk commented on #335
And yes, I did.

[2016-10-12 13:03] daniel-luberda commented on #335
It's really hard to help anything more without further details. It should work. You could try to remove nuget packages and install them once again.

[2016-10-12 13:06] ossentoo commented on #331
Managed to resolve this thanks.  Something must have been wrong with the xamarin project. I recreated it from scratch and when I ran it first time it worked!

thanks team. very useful tool.

[2016-10-12 13:07] #331 closed

[2016-10-13 13:46] angusbreno commented on #291
Sorry, i was busy these days... @erickriva Can u test this on NProject?

[2016-10-13 19:07] swansca79 opened #336 "2.1.8 TintTransformation color is not correct"
I'm trying to use the TintTransformer to color the icons I use in my app.  However it's not working correctly on Android or iOS.  I've attached an image to show the results on both platform.  Android applies the tint and blends it with the existing color, and iOS seems to apply the tint behind the original image.

[code]

I can pretty easily achieve the desired results with a custom renderer, but

[2016-10-13 21:55] daniel-luberda commented on #336
There's a new version coming soon (refactored core,  better performance).  I'll try to debug it and l include fixes to 'TintTransformation' soon.  Meanwhile,  you can could apply also alpha channel to the transformation (intead '#ffaabb'  use '#ffaabbee',  where 'ee'  is an alpha channel value.

[2016-10-14 09:08] antonyrey commented on #333
Hi,

I'm facing the same issue here.

Thanks

[2016-10-14 13:02] swansca79 commented on #336
Ok so playing around in the code, if I change the ColorToTintMatrix to this, it works.  I guess that makes sense since the current method is dividing the RGBA by half to apply a tint to an actual image, where as this version is simply changing the color of the entire image.  So instead of changing TintTransformation, maybe just make a new transformation called ColorChangeTransformation and use thi

[2016-10-14 17:12] EmmanVazz commented on #333
I had this issue on iOS, I fixed it by manually setting the cache path.

[2016-10-15 00:38] EmmanVazz commented on #336
I am facing the same issue and neither of these methods work for me. Also I think Daniel means "instead '#ffaabb' use '#**ee**ffaabb', where 'ee' is an alpha channel value."

swansca are your images white to start off with?

[2016-10-17 09:23] #335 closed

[2016-10-17 12:45] swansca79 commented on #336
@EmmanVazz I tried with white or dark images.  The TintTransformation is not going to completely replace a color with the supplied color.  For my purposes of theming my app icons, the modified matrix above will work, but if you need to completely replace colors in actual images, I'm not sure how that would happen.  It will probably take a more complex color to matrix method.

[2016-10-17 22:51] ossentoo opened #337 "Xamarin forms xaml example not working as expected."
Hi,

I've got a Xaml example with a listview and FFLoadingControl.  However, I can't get the form images loading as expected.

I have tried to convert this example:

https://github.com/luberda-molinet/FFImageLoading/blob/master/samples/ImageLoading.Forms.Sample/Shared/Pages/ListPage.cs

I've got the example here:

https://github.com/ossentoo/st-mobile

I'm not sure why this xaml listview is not lo

[2016-10-17 23:12] daniel-luberda commented on #337
Could you write more details? Do images load when you replace them with standard `Image`control from Xamarin.Forms?

[2016-10-18 07:29] ossentoo commented on #337
thanks for responding.

I'm trying to get remote images (i.e. like you have in your example) loading into a listview control, using the most basic functionality.  When i look at the way the example is implemented where you have just code based page (ListPage.cs), all you do is set this binding:

`            listView.SetBinding<ListPageModel>(ListView.ItemsSourceProperty, v => v.Items);`

and then

[2016-10-18 10:57] AllenMeex commented on #333
I tested it with a custom cache path, but still not work...
I tested on Android.

MainActivity.cs
[code]

[2016-10-18 15:43] escamoteur opened #338 "Different behaviour inside a Grid than Xamarin.Forms"
Hi Daniel,

just stumbeld upon a strange effect. I have here a reproproject.

https://github.com/escamoteur/ImageGridTest

If you change CachedImage to Image the Images fill the whole screen. When using CachedImage there is a GAP inbetween.

FYI: The with of the Columns is set at runtime in the Code behind file.

Thomas

[2016-10-19 13:23] swansca79 commented on #336
@daniel-luberda I was able to get a custom transformation going for color change, but then I realized it doesn't work either when I tried my specific color (#389DC6).  So I compared it to the TintTransformation and got the same results, I just extended your ColorSpaceTransformation.  When I try random images from the web it seems to work ok, so maybe it's something with my icons.  They are just ma

[2016-10-19 17:49] owlstack commented on #333
@daniel-luberda Have you taken a look at this issue for Xamarin.Forms - Android?

[2016-10-19 17:51] daniel-luberda commented on #333
There's a new prerelease coming today or tommorow with completely redesigned core (refactored code). I'll write more details soon.

[2016-10-19 18:00] owlstack commented on #333
Thank you so much for looking into this! Once it's up, I'll start testing and let you know how it goes.

[2016-10-19 18:10] swansca79 commented on #336
Ok I was able to solve this by bypassing ColorSpaceTransformation in my custom transformer.  Here is the code.

**Android**
[code]

**iOS**
[code]

[2016-10-19 18:17] owlstack opened #339 "Updated image is displayed in the app before cache duration when the image was cached previously"
That is, I have set the images to be cached for a duration of 14 days. When I first load my app, the images should be cached. Then, a day or few days later, I update the image from my remote service to a new image for that specific item. The new image is shown for that item and not the cached image. The image should be updated to the new image after 14 days right and not before?

This happens on X

[2016-10-19 21:02] fedemkr opened #340 "Add configuration to allow adding a placeholder when path is null"
Hi,

thanks for this awesome library, we are using it a lot in our projects and it's great.

As an enhancement, could a configuration be added to allow having a particular placeholder (or using the ErrorPlaceholder) instead of a transparent background when the path to load the image is null?

thanks again

[2016-10-20 03:16] AllenMeex commented on #333
@daniel-luberda hi, will the new release resolve the bug?

[2016-10-20 12:56] nevalenny opened #341 "FFImage 2.1.8, ImageService.Instance.LoadUrl(url).DownloadOnly() fails on android"
FFImage 2.1.8
PCL
Android API 19
Samsung SM-T530

Given code snippet:

`  foreach (var coverUrl in from bag in serverBooks select bag.Cover)
            {
                ImageService.Instance.LoadUrl(coverUrl).Finish((a) =>
                {
                    System.Diagnostics.Debug.WriteLine(string.Format("File: {0}, Completed: {1}, Cancelled: {2}", coverUrl, a.Completed, a.IsCancelled));

[2016-10-20 13:14] nevalenny opened #342 "ImageService.Instance.SetPauseWork(true) appears to cancel tasks, rather then to pause them"
FFImage 2.1.8
PCL
Android API 19

the same code snippet as previous issue (https://github.com/luberda-molinet/FFImageLoading/issues/341) results in all the tasks finish instantly with Cancelled: True when I trigger ImageService.Instance.SetPauseWork(true).

ImageService.Instance.SetPauseWork(false) subsequent call does not restore the tasks either.

[2016-10-20 13:29] daniel-luberda commented on #342
The method name is quite misleading. It actually cancels all tasks. I think we must obsolete that method name and add some new methods for pausing / cancelling work.

[2016-10-20 13:33] daniel-luberda commented on #340
Hi @fedemkr,

Do you use it with Xamarin.Forms or native? With Forms, you could just use custom `IValueConverter` which will return deafult file when `null` string is found.

[2016-10-20 13:35] daniel-luberda commented on #339
Hi @owlstack,

Does it happen on Android / iOS / Windows or all of them? It can be related to this: https://github.com/luberda-molinet/FFImageLoading/issues/239

[2016-10-20 13:40] daniel-luberda commented on #336
@swansca79 Thanks for such detailed info.

Those images are 60-70% transparent by default. Maybe it's the cause of it?

[2016-10-20 13:48] owlstack commented on #339
@daniel.... looks like all of them.

However, my company's project structure is:

Xamarin.Forms: Android

Xamarin.iOS

So it does not work for both Xamarin.Forms (Android) and Xamarin.iOS.

Those are the only two apps we are testing with this library.

[2016-10-20 13:53] owlstack commented on #341
I'm having a similar issue with DownloadOnly() and Preload(). The methods do not work on Android and iOS properly. It seems to work occasionally only. The moment when it does not work is when the images start to load but they get suck on DownloadStart() and they never finish downloading.

[2016-10-20 14:01] swansca79 commented on #336
Yea it may be the alpha channel on the material design images. I messed around with it for a while, but I don't know enough about the color matrix to really debug it.  I've been testing the solution I posted above, it's working really well.  It's nice not having to change the image color every time I grab a new one.

I'm using my custom transformation in conjunction with this class so I don't have

[2016-10-20 14:02] daniel-luberda commented on #339
@owlstack The new version is coming, it has some issues fixed / rewritten core logic / improved performance. Would you mind testing it soon? I think it solves that issue too.

[2016-10-20 14:07] daniel-luberda commented on #336
I think your solution could be a more universal one as we don't need to worry about transparency. Would you mind if I use your code to add a new type of transformation? eg. `ColorChangeTransformation`

[2016-10-20 14:22] nevalenny commented on #342
Thanks for fast reply!

I would really appreciate if you can implement the initial idea since i try to improve RecyclerView performance with the recomendations from wiki - https://github.com/luberda-molinet/FFImageLoading/wiki/Advanced-Usage#scroll-high-performances

[2016-10-20 14:27] daniel-luberda commented on #342
The original idea was to add image loading tasks once again manually. Notice this:

[code]

But I agree, that could be solved with a simpler way. Eg. leaving only last `N` loading tasks and cancelling the others, etc, etc.

[2016-10-20 15:19] owlstack commented on #339
ok let me know when the new version is out and I'll test it. Thanks :)

[2016-10-20 16:58] daniel-luberda commented on #341
@owlstack New prerelease will fix this. All image loading logic is now in one PCL shared class. Currently, there was a lot of different image loading paths, all implemented for each platform with different ways, it was quite bug-prone. We will also have much more details about exceptions.

[2016-10-20 18:36] EmmanVazz commented on #337
Hello, everything works as expected. I was taking a look at your code and it seems like you missed implementation a PageModel, as the ListPage example derives from ContentPage and IBasePage<ListPageModel>. Here is his ListPageModel https://github.com/luberda-molinet/FFImageLoading/blob/ca1fa0296dc21e40f7d5f746b76fbf9c639d9d7c/samples/ImageLoading.Forms.Sample/Shared/PageModels/ListPageModel.cs . W

[2016-10-20 18:41] daniel-luberda commented on #337
@EmmanVazz Thanks for checking this! :) 👍

[2016-10-20 18:41] #337 closed

[2016-10-20 20:20] fedemkr commented on #340
Hi, I use it with Native

Thanks again

[2016-10-23 14:27] tomcrusader commented on #332
Actually, images in a list works for me, while FFImage does not (2.1.8)

[2016-10-24 22:34] eopeter opened #343 "ImageService.Instance.LoadUrl(url).DownloadOnly() not found XF"
DownLoadOnly() or DownLoadOnlyAsync() not available in shared project. How Do I call it? Using Xamarin Forms. On Latest version on Nuget as of yesterday

[2016-10-25 18:00] rusty21 commented on #329
I'm seeing some strange behavior with cancelling.  I've got a listview for demo purposes where each list item is set like this

    View view = convertView;
	if (view == null)
	{
		view = LayoutInflater.Inflate(Resource.Layout.ListViewItem, null);
	}

	ImageService.Instance.LoadUrl(url).Into(view.FindViewById<ImageViewAsync>(Resource.Id.imgImage));
	view.FindViewById<TextView>(Resource.Id.lblUrl).

[2016-10-26 11:43] ericleroy01 opened #344 "Web images are not loaded when a proxy is setted"
as explain in title, when a proxy is setted on a device, FFImageLoading does not access to web images.

this issue was detected by using CachedImage object

[2016-10-26 12:21] daniel-luberda commented on #208
Should be fixed in `2.1.9-pre-168-core-r`. Please reopen it if doesn't work for you.

[2016-10-26 12:21] #208 closed

[2016-10-26 12:24] daniel-luberda commented on #133
@adrianknight89  Do you still experience it on `2.1.9-pre-168-core-r`?

[2016-10-26 12:28] daniel-luberda commented on #175
@ravensorb  `2.1.9-pre-168-core-r` has it redesigned, it catches and logs all exceptions. Please reopen it if doesn't work for you.

[2016-10-26 12:28] #175 closed

[2016-10-26 12:30] daniel-luberda commented on #189
Should be fixed in `2.1.9-pre-168-core-r`. Please reopen it if doesn't work for you.

[2016-10-26 12:30] #189 closed

[2016-10-26 12:32] daniel-luberda commented on #239
Should be fixed in `2.1.9-pre-168-core-r`. Please reopen it if doesn't work for you.

[2016-10-26 12:32] #239 closed

[2016-10-26 12:38] #344 closed

[2016-10-26 12:39] daniel-luberda commented on #295
Should be fixed in `2.1.9-pre-168-core-r`. Please reopen it if doesn't work for you.

[2016-10-26 12:39] #295 closed

[2016-10-26 12:40] #320 closed

[2016-10-26 12:41] #330 closed

[2016-10-26 12:57] daniel-luberda commented on #339
Should be fixed in `2.1.9-pre-168-core-r`. Please reopen it if doesn't work for you.

[2016-10-26 12:57] #339 closed

[2016-10-26 12:57] daniel-luberda commented on #341
Should be fixed in `2.1.9-pre-168-core-r`. Please reopen it if doesn't work for you.

[2016-10-26 12:57] #341 closed

[2016-10-27 00:18] daniel-luberda commented on #343
`ImageService.Instance.LoadUrl("http://myurl/myimg.jpeg").DownloadOnly();`

[2016-10-27 00:18] #343 closed

[2016-10-27 00:24] daniel-luberda commented on #334
Could you check newest prerelease nuget? It solves a lot of issues.

[2016-10-27 00:25] daniel-luberda commented on #333
@AllenMeex @owlstack

Yes, the new version which is now released as a prerelease should solve those issues. Could you try it?

[2016-10-27 00:26] daniel-luberda commented on #332
@tomcrusader Could test newest prerelease and see if it solves your issues? Thanks.

[2016-10-27 00:27] daniel-luberda commented on #329
The newest alpha should solve those issues. Please reopen if it didn't work for you. Thanks.

[2016-10-27 00:27] #329 closed

[2016-10-27 00:29] daniel-luberda commented on #326
The newest alpha should solve those issues. Please reopen if it didn't work for you. Thanks. The default duration is 30 days, there's an error on wiki.

[2016-10-27 00:29] #326 closed

[2016-10-27 00:32] daniel-luberda commented on #315
The newest alpha has some new configuration options, you can easily provide your own `IDownloadCache` implementation to replace whole download logic. It's a very simple `interface` with two methods to implement.

[2016-10-27 00:32] #315 closed

[2016-10-27 00:37] daniel-luberda commented on #270
It's very easy to do with a newest prerelease version. You have different options:

- provide your own `IDownloadCache` implementation when setting custom configuration options.
- provide your own `IDataResolverFactory` implementation when setting custom configuration options. Something like:

[code]

[2016-10-27 00:37] #270 closed

[2016-10-27 00:39] #193 closed

[2016-10-27 02:45] daniel-luberda commented on #344
Ok.

BTW: with newest prerelease you can configure more things (you can even replace whole `DownloadCache` implementation or use custom DataResolverFactory to use multiple path loading logic). Cheers.

[2016-10-27 07:29] tomcrusader commented on #332
@daniel-luberda Testing 2.2.0-pre-170. Works in debug nicely, but in Release / Native tool chain (x86) I just get blank where the images are suppose to be.

[2016-10-27 14:55] owlstack opened #345 "App crashes when image is caching"
On Xamarin.Forms app, when the app is first starting up and the images are being loaded for caching, the app crashes. This happens on the prelease of the latest app.

Later tonight, I'll see if I can get the exact exception but I think it was a null reference.

[2016-10-27 15:24] daniel-luberda commented on #332
Native tool chain fix is explained here: https://github.com/luberda-molinet/FFImageLoading/wiki/Xamarin.Forms-API#windows-uwp---compile-with-net-native-tool-chain-note

[2016-10-27 15:29] alexpetin opened #346 "iOS 8.1, 8.3 forms app crash"
Hi!

Xamarin.Forms app crashes on startup after installing Xamarin.FFImageLoading.Forms package.
Log:
----------------------
Oct 27 22:20:21 focus-mac com.apple.CoreSimulator.SimDevice.812ACCD1-26F3-438D-A00B-C64AB4F790F3.launchd_sim[25784] (UIKitApplication:com.samaritan.jericho[0xd90f][25876]): Service exited due to signal: Trace/BPT trap: 5
Oct 27 22:20:21 focus-mac.samaritan.ru SpringBoard[257

[2016-10-27 15:31] daniel-luberda commented on #345
StackTrace would be great. I tried to reproduce it with:

[code]

but didn't get any exceptions.

[2016-10-27 15:35] daniel-luberda commented on #346
I've just ran sample app on older iOS versions and all is working fine. Are you sure it's FFImageLoading issue? Please try to clean project / remove all `bin` or `obj` folders and compile it once again.

[2016-10-27 15:38] alexpetin commented on #346
Yes, I'm sure - uninstalling the package fix the problem.
I've tried your sample forms app and xamarin.ios app - the same behaviour.

Did you try 8.1?

[2016-10-27 15:46] alexpetin commented on #346
2.1.8 -> 2.2.0-pre-170 - no difference.

[2016-10-27 16:06] owlstack commented on #346
I think this is the same issue I am having as well. I will send you the complete stacktrace a bit later when I run it again. But yes, the app crashes on startup for Xamarin.Forms Android.

[2016-10-27 16:09] alexpetin commented on #346
Xcode 8.0, SDK version 10.0.
There is no problems with Xamarin.Forms Android app for me.

[2016-10-27 16:25] daniel-luberda commented on #346
Found the issue. Just call ImageService.Instance.Initialize() before using FFImageLoading.

I'll fix this.

[2016-10-27 16:27] daniel-luberda commented on #345
Found the issue. Just call `ImageService.Instance.Initialize()` before using FFImageLoading.

I'll fix this.

[2016-10-27 16:48] daniel-luberda commented on #346
It's fixed, just download `2.2.0-pre-171` package. The exception was thrown when no custom logger was provided. Sorry for that.

[2016-10-27 16:48] #346 closed

[2016-10-27 16:48] daniel-luberda commented on #345
It's fixed, just download `2.2.0-pre-171` package. The exception was thrown when no custom logger was provided. Sorry for that.

[2016-10-27 16:48] #345 closed

[2016-10-27 19:18] owlstack opened #347 "Navigation issue"
When my coworker navigates to other pages in the app, this issue comes up and the app crashes:

[code]

[2016-10-28 03:58] #347 closed

[2016-10-28 04:32] daniel-luberda commented on #347
It's fixed, you can test it in newest nuget prerelease.

[2016-10-28 04:32] daniel-luberda commented on #342
It's fixed, you can test it in newest nuget prerelease.

[2016-10-28 04:32] #342 closed

[2016-10-28 04:33] #334 closed

[2016-10-28 04:34] #333 closed

[2016-10-28 04:35] daniel-luberda commented on #291
Please reopen if you still experience it.

[2016-10-28 04:35] #291 closed

[2016-10-28 09:51] alexpetin commented on #346
Unfortunately it's not fixed.
I've tried to add "ImageService.Instance.Initialize()", tried 2.2.0-pre-173 - nothing changed.

It seems an app crashes before executing "FFImageLoading.Forms.Touch.CachedImageRenderer.Init();"
Visual studio debugger does not show any exception, just:
---
Launch succeeded. The app  'Jericho.iOS' has been successfully launched on 'iPhone 4s iOS 8.1'.
The app has been t

[2016-10-28 14:17] owlstack commented on #347
@daniel-luberda issue still happens:

[code]

[2016-10-28 14:44] owlstack commented on #347
It's related to `DownsampleToViewSize = true`. When that property is set, the crash happens. When it's not, the build is pretty stable.

[2016-10-29 13:23] daniel-luberda commented on #346
I don't think it's an FFImageLoading issue anymore. I can't reproduce it. Did you try to delete all `bin` & `obj` folders from solution?

[2016-10-29 13:30] daniel-luberda commented on #347
Are you sure you cleaned you solution correctly? The new version should have detailed debug info (pdb included), also all exceptions inside `Draw` method are now catched.

[2016-10-29 18:24] alexpetin commented on #346
Please try to start your Simple.iOS.Sample on iOS 8.1...

I've found the reason.

[2016-10-29 19:03] daniel-luberda commented on #346
What is the reason?

[2016-10-29 19:21] alexpetin commented on #346
Deployment Target > 7.1 = crash on start on iOS < 9.0.
The problem actually in WebP.Touch.1.0.2.

[2016-10-29 19:24] daniel-luberda commented on #346
Ok,  thanks for the info.  So you're using webp images? What is the source? Local file?

[2016-10-29 19:26] alexpetin commented on #346
No. Linking with webp is enough to crash on app loading.

[2016-10-29 19:28] alexpetin commented on #346
It contains native modules compiled for 7.0.
The crash occurs before any program code - on the loading executable stage.

[2016-10-29 19:30] alexpetin commented on #346
If you set Deployment Target to 6.0 you will see a warning about that.

[2016-10-29 19:32] daniel-luberda commented on #346
But why would it work correctly earlier?  Webp support relies on external nuget package and it wasn't changed at all since 2.0

[2016-10-29 19:33] alexpetin commented on #346
Probably you did not change Deployment Target, it's 6.0 by default.

[2016-10-29 19:37] alexpetin commented on #346
6.0 gives the warning, but working :)
8.0+ gives no warning and crashes...

[2016-10-29 19:49] daniel-luberda commented on #346
Thanks for the debug.  I'll change that then before release.  :)

[2016-10-30 04:44] patook opened #348 "XF CustomRenderer and FFImageLoading"
Hi I am running into a problem when using ImageViewAsync within a custom renderer. Could you provide some guidance?

The images get loaded correctly the first time, but then fail to render when they are loaded from cache. Here is the gist of it - any ideas?

public class VisitorViewCustomRenderer : ViewRenderer<MyPage.VisitorView, Android.Widget.LinearLayout>
{
        ImageViewAsync ProfilePictur

[2016-10-30 21:34] EmmanVazz commented on #336
@swansca79 How were you able to get a custom Transformation? The wiki is currently blank :(

[2016-10-31 08:47] daniel-luberda commented on #336
`TintTransformation` has now a `EnableSolidColor` property. When it's enabled it will use solid color for color replacement (the same as in your custom transformations). Nuget will be published today.

[2016-10-31 08:47] #336 closed

[2016-10-31 08:57] daniel-luberda commented on #348
Hi @patook,

Did you try replacing `(e.NewElement != null)` with `(Control != null)` call?

[2016-10-31 08:58] #332 closed

[2016-10-31 11:16] marlonconstante commented on #222
@molinch @daniel-luberda Problem back in version 2.2.0.
Can check?

[2016-10-31 11:50] marlonconstante opened #349 "FFImageLoading.Forms: Invalid scale for images in iOS"
Problem is occurring in the latest release: 2.2.0.
In version 2.1.8 it worked perfectly on both platforms (iOS and Android).
Currently the expected result is presented only on Android, but not on iOS.

This problem has already occurred previously
[https://github.com/luberda-molinet/FFImageLoading/issues/222] and was solved here [https://github.com/luberda-molinet/FFImageLoading/commit/44b0f32cac95

[2016-10-31 12:12] LuigiMaestrelli opened #350 "iOS not loading imagens from resource on 2.2.0"
I just updated the packages and on iOS and I'm getting this exception when I tried to load an image from the resources.

[code]

Going back to the 2.1.8 the images are loaded correctly

[2016-10-31 14:28] swansca79 commented on #350
I'm also seeing this.  I'm on Xamarin.iOS 10.0.1.10 and Xamarin Forms 2.3.2.127

[2016-10-31 17:00] daniel-luberda commented on #222
Yes, it should be fixed soon, more here: https://github.com/luberda-molinet/FFImageLoading/issues/349

[2016-10-31 17:01] daniel-luberda commented on #350
Yes, it should be fixed soon, more here: https://github.com/luberda-molinet/FFImageLoading/issues/349

[2016-10-31 17:11] patook commented on #348
Hi @daniel-luberda I just did. Same problem.

Whenever the image is served from cache it appears as an empty box. When it is not it shows up.

I'll mention CachedImage works fine for me on regular Xamarin Forms

[2016-10-31 18:56] #349 closed

[2016-10-31 18:56] #350 closed

[2016-10-31 18:57] daniel-luberda commented on #350
@LuigiMaestrelli @swansca79  Could you test newest alpha and check if it's solved? Thanks.

[2016-10-31 18:57] daniel-luberda commented on #349
@marlonconstante  Could you test newest alpha and check if it's solved? Thanks.

[2016-10-31 19:29] LuigiMaestrelli commented on #350
@daniel-luberda It 's solved. Thanks

[2016-10-31 19:30] sevontheedge opened #351 "UIKit Consistency error"
When I try to set the IsRunning property of an ActivityIndicator to false inside a CachedImage's FinishCommand I get the following error:

"UIKit Consistency error: you are calling a UIKit method that can only be invoked from the UI thread."

I'm currently using version 2.2.0, but have already tried updating to a pre-release version, but with same results.

Due to that error the app crashes. I att

[2016-10-31 20:13] EmmanVazz commented on #336
Oh okay, I tried the prerelease yesterday and didn't find that option. I will try the new version when it is released. Thanks!

[2016-10-31 21:12] daniel-luberda commented on #351
You should wrap the call with `Device.BeginInvokeOnMainThread` call. Currently, `OnFinish` is not invoked on main thread as it was affecting performance a little. I'll write about it in the release description.

[2016-10-31 21:19] #351 closed

[2016-10-31 21:35] daniel-luberda commented on #351
Now, this behavior can be changed with configuration property `ExecuteCallbacksOnUIThread` (disabled by default)

[2016-10-31 23:12] EmmanVazz opened #352 "New SimpleCache Constructor Clarification"
I had this code before 2.2.0

var config = new FFImageLoading.Config.Configuration()
			{
				HttpClient = new HttpClient(AppDelegate.GetCustomHttpClient().GetCustomHandler()),
				DiskCache = new FFImageLoading.Cache.SimpleDiskCache("/Library/Caches/AppTemplate2")
			};
			ImageService.Instance.Initialize(config);
			FFImageLoading.Forms.Touch.CachedImageRenderer.Init();

Should that be converted

[2016-11-01 00:52] EmmanVazz commented on #352
Just read the release notes, guess I don't need to have that DiskCache line anymore. I will close this.

[2016-11-01 00:52] #352 closed

[2016-11-01 09:54] lengluo commented on #282
@Spierki The same problem, and I also use the XLabs.forms. So is there any solutions you have?

[2016-11-01 10:21] wouterroos opened #353 "Android incorrect aspect ratio while animating from placeholder to actual image"
I have the following code in place:

[code]
The first time the image control is shown the loading image is shown and is then faded to the actual image. However, the aspect ratio of the actual image is not correct (see image). If I re-open the same page again the aspect ratio is correct, so I guess it has something to do with replacing the loading image with the actual image, since it doesn't show

[2016-11-01 11:20] marlonconstante commented on #349
Unfortunately the problem has not been solved = (

The following screen print comparing versions for better understanding:

![screen](https://cloud.githubusercontent.com/assets/6370612/19888212/62a0e8a4-a014-11e6-9c3f-5bc183da82ce.png)

[2016-11-01 11:26] marlonconstante commented on #349
I believe the problem is this code snippet:

https://github.com/luberda-molinet/FFImageLoading/blob/master/source/FFImageLoading.Touch/DataResolvers/FileDataResolver.cs#L36-L39

[2016-11-01 14:18] markmni opened #354 "Images in list getting mixed up"
Hi,

I'm seeing that when using FFImageLoading for images in lists, images are sometimes mixed up between the list items, I was wondering if you could provide some guidance?

I've created a small app to reproduce the issue in Xamarin.Android using ImageViewAsync, it has some numbered images which I am loading from a local webserver, the code can be found here:
https://github.com/markmni/FFImageTes

[2016-11-01 15:26] alexpetin opened #355 "Xamarin.Forms iOS - 2.2.1 version does not show images from Asset Catalogs"
Xamarin.Forms.Image & CachedImage v2.1.8 - show these images correctly.

[2016-11-01 17:44] adrianknight89 commented on #133
@daniel-luberda Hi. Sorry for getting back to you late. I will test this tonight and update you.

[2016-11-02 00:11] EmmanVazz opened #356 "An item with the same key has already been added. Exception (Crash)"
I get this exception that crashes my app randomly. I am on 2.2.1 using the Xamarin.Forms version for the iOS version of my app.

Thanks

[code]

[2016-11-02 04:27] adrianknight89 commented on #133
I can't believe I opened this ticket nearly a year ago. Time passes very quickly. :)

The issue seems to be fixed. It can be closed now.

[2016-11-02 13:03] nevalenny opened #357 "iTunes Store prevents app from uploading with sensitive data access"
With update to latest FFImage release 2.2.1 (From 2.1.8) our app was prevented from uploading to iTunes Connect Testflight.

Reason:

Usually i used "Link SDK assemblies" to get app passed (because Xamarin SDK has all the references to privacy APIs, like Siri etc), but now it does not help.

[2016-11-02 13:07] nevalenny commented on #356
Same problem here. My images are placed in UICollectionView, and crash sometimes happens on cell reuse.

[2016-11-02 15:34] daniel-luberda commented on #349
Yes, I missed that. I'll release new version today which will fix this.

[2016-11-02 15:46] daniel-luberda commented on #355
It's fixed here: https://github.com/luberda-molinet/FFImageLoading/commit/f475d628f1a8bd65467dee8d7720bc7ecbfb942b

I'll release it today.

[2016-11-02 15:46] #355 closed

[2016-11-02 16:54] alanspires commented on #356
I'm getting these too.

`
2016-11-02 10:52:43.751 RollRandomiOS[14896:6283547] Warning: Unhandled exception: System.AggregateException: A Task's exception(s) were not observed either by Waiting on the Task or accessing its Exception property. As a result, the unobserved exception was rethrown by the finalizer thread. ---> System.ArgumentException: An item with the same key has already been added.

[2016-11-02 19:19] daniel-luberda commented on #349
Nuget with fix released.

[2016-11-02 19:49] daniel-luberda commented on #354
Yes, it is.

This should be fixed with: https://github.com/luberda-molinet/FFImageLoading/commit/3997d79c1fbb53ce4544e3a49879a24bb3854b06

Could you test the newest prerelease?

[2016-11-02 19:50] daniel-luberda commented on #357
Wow, that's strange. I'll have to take a closer look on it.

[2016-11-02 19:53] alanspires commented on #354
Having a placeholder image seems to fix this too.

[2016-11-02 19:55] alanspires opened #358 "FadeAnimation Only works when image has not been cached"
Is this the intended behavior?

[2016-11-02 20:03] daniel-luberda commented on #357
Are you sure it's related to `FFImageLoading`? We don't use `NSPhotoLibrary`

[2016-11-02 20:05] daniel-luberda commented on #358
You can control it with `FadeAnimationForCachedImages` config property. Did you try it?

[2016-11-02 20:05] alanspires commented on #358
lol didnt event know that existed.

[2016-11-02 20:13] daniel-luberda commented on #358
Ok. Please try it and close the issue if it solves it :)

[2016-11-02 20:14] daniel-luberda commented on #353
What version of FFImageLoading are you using?

[2016-11-02 20:28] #358 closed

[2016-11-02 20:31] wouterroos commented on #353
<package id="Xamarin.FFImageLoading" version="2.2.1" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Xamarin.FFImageLoading.Forms" version="2.2.1" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Xamarin.FFImageLoading.Transformations" version="2.2.1" targetFramework="portable45-net45+win8+wpa81" />