[2015-01-15 18:32] onovotny opened #1 "NuGet Package?"
Would be great to have packaged up on NuGet

[2015-01-15 20:44] onovotny opened #2 "License"
Can you please add a license - MIT or Apache?

Thanks

[2015-01-15 23:56] molinch commented on #2
Done!

[2015-01-15 23:56] #2 closed

[2015-01-16 00:22] molinch commented on #1
Done: https://www.nuget.org/packages/Xam.Android.ImageLoading/ :)

[2015-01-16 00:22] #1 closed

[2015-01-29 14:48] dhaligas opened #3 "Can this work for min 4.0?"
Can this lib work android 4.0?  We need to support 4.0 and up

[2015-01-30 10:41] molinch commented on #3
Everything is doable. I'll see how much effort it and come back to you

[2015-02-04 02:49] dhaligas commented on #3
thanks!

[2015-02-04 02:50] dhaligas commented on #3
looking to use this in Xamarin.Forms on custom lists

[2015-02-09 22:15] molinch commented on #3
It now works in Xam.iOS too
I need to continue for 4.0. If you do some Xamarin.Forms integration would you share your work?

[2015-02-09 22:30] molinch commented on #3
I just checked and it should work on Android 4.0

[2015-02-13 02:06] dhaligas commented on #3
yes I will be trying this out on Forms.  will gladly share with you

[2015-02-13 02:06] #3 closed

[2015-02-25 13:14] dasmikko opened #4 "Error when using ImageViewAsync"
I get this error when using ``ImageViewAsync``

[code]

What am i doing wrong?

[2015-02-26 10:28] molinch commented on #4
ImageViewAsync has two constructors:
[code]

I believe that is why you have this issue: there is no constructor with the signature:
[code]

Could you paste some code here or attach a zip file of your solution?

[2015-02-26 10:59] dasmikko commented on #4
Here is my code:

[code]

[2015-02-26 11:12] molinch commented on #4
Looks like this is a known issue of Xam.Android: http://stackoverflow.com/questions/26573627/no-constructor-found-for-system-intptr-android-runtime-jnihandleownership

Solutions seems to be simple: adding the other constructor and calling the base one.
This is what I just did: https://github.com/molinch/FFImageLoading/commit/22bed2204871fc9de5081ddaecb00844cdcca40c

Do you have the possibility to

[2015-02-26 12:46] dasmikko commented on #4
I'm not sure how to :(

[2015-02-26 12:55] molinch commented on #4
Don't worry I just made a prerelease NuGet package.
If you go in the Package console in Visual studio you can have it by executing
<pre>
Install-Package Xam.Android.ImageLoading -Pre
</pre>

[2015-02-26 12:56] dasmikko commented on #4
How to, in Xamarin Studio? :)

[2015-02-26 12:58] molinch commented on #4
In the Add Nuget package popup search for "imageloading" and tick "Show pre-release packages".
Then you can take the 1.0.2-beta

[2015-02-26 13:19] dasmikko commented on #4
Still throws the same error.

[2015-02-26 13:25] molinch commented on #4
My bad. I think that something went wrong and the nuget doesn't contain the latest changes.
I just removed bin/obj and made a new nuget which is now 1.0.3-beta

[2015-02-26 13:33] dasmikko commented on #4
Works perfectly now! Thanks!

[2015-02-26 13:36] #4 closed

[2015-02-27 09:19] dasmikko opened #5 "loadurl into imageview makes imageView not centered"
When I load an image from a URL into a ImageView it resets the position and makes my centered imageview not centered.

My imageView is centered by this:
[code]
Image:
![2015-02-27_10-17-36](https://cloud.githubusercontent.com/assets/4254869/6409932/12d15d78-be6a-11e4-993c-9a0fd2d51a9e.png)

[2015-02-27 13:09] molinch commented on #5
Could you post the full axml and also your loading code?

[2015-03-22 15:39] molinch commented on #5
I just added some new properties into ImageViewAsync on Android (ScaleToFit and BottomAlign). Maybe the latest changes will solve the issue you are facing.

Please keep me updated.

[2015-04-10 10:02] c1rus opened #6 "picasso functionality"
hi, this library looks great, thanks for it.

do you have any plans to implement same functionality like Picasso, particulary functions like transform or placeholder???

if not, can you give some hints?

Thanks.

[2015-04-10 12:06] molinch commented on #6
Placeholder functionality could be done very easily.

Transform might be more tricky tough. We could have an optional Transform callback that would allow you to do any manipulation on the image before having it displayed.
iOS signature could then be something like: TaskParameter.Transform(UIImage image, string transformationCacheKey)
Android signature could be like: TaskParameter.Transform(Bitmap

[2015-04-10 13:52] c1rus commented on #6
It shouldn't look like this?
[code]
I think i would prefer picasso style.
[code]
However both options are fine to me, so i can completly replace picasso with your library :)

Would you have time to look at it or should i give it a try?

[2015-04-10 13:56] molinch commented on #6
You are totally right about signature :+1:  I was probably sleepy when I wrote this.
I can look at it but I won't be very fast: it will take me a couple of days.

If you want to submit a PR that is also an option.

[2015-04-10 14:28] c1rus commented on #6
couple of days sounds great.
i think you will do it better, so i'd rather wait. :)

[2015-04-14 12:10] molinch commented on #6
Loading & error placeholders have been added.

[code]

Unfortunately I won't have time to make the Transform stuff right now. If you want to make a PR you are more than welcome.
In that case files that you would need to change are:
* TaskParameter: for your new Fluent method
* iOS ImageLoaderTask: you can hook into RunAsync
* Android ImageLoaderTask: you can hook into RunAsync

[2015-04-17 05:00] c1rus commented on #6
Great, thanks. I will test it tomorrow, but one question:
Is there a way how to load image from Resources.Drawable?

[2015-04-17 05:32] molinch commented on #6
Currently images having "Build Action" set to AndroidResources can't be loaded with the lib.

Therefore images having "Build Action" set to AndroidAssets can be loaded using ImageService.LoadFileFromApplicationBundle(relativePathToImage).

[2015-04-18 12:18] DarthRamone opened #7 "IntoAsync weird work"
Why behaviour of IntoAsync so weird?
For example, if I use

async Task<someImageView> Test()
{
  var someImageView = new UIImageView();
  await ImageService.LoadUrl(someURL).IntoAsync(someImageView);
  return someImageView;
}

When it loads image first time(doesn't matter from cache of internet) it works fine and returns value. But when I'm pushing this controller second time with calling this met

[2015-04-18 13:03] #5 closed

[2015-04-19 12:09] molinch commented on #7
Hi @DarthRamone
That is now fixed in master branch, revision 62f69ec59c88f07906229ec02efff159b17dbd5e
I will update NuGet as soon as possible

[2015-04-20 07:04] #7 closed

[2015-04-20 07:05] molinch commented on #5
Closed due to inactivity

[2015-04-21 11:54] Harteex opened #8 "Required Android version in README is wrong"
The README states "The library works starting from Android 4 ..."

However, it does not work on versions before 4.1.
On 4.3 everything works fine.
On 4.0.3 I get:
"java.lang.NoSuchMethodError: no method with name='getAdjustViewBounds' signature='()Z' in class Landroid/widget/ImageView;"

This method was added in API 16 (4.1): http://androidapi.xamarin.com/index.aspx?link=P%3AAndroid.Widget.ImageVi

[2015-04-21 12:37] molinch commented on #8
Hi @Harteex thanks for reporting this!
It is a regression coming from this commit https://github.com/molinch/FFImageLoading/commit/a4c15bf05aca678898d6a0b2d9f4a2b87a367e13

That shouldn't take long to fix

[2015-04-21 13:23] wsvdmeer opened #9 "Get image dimensions after dowloading"
Is there a way to get the original image dimensions after downloading the image?

    ImageService.LoadUrl(url).Success(() => {
              //GET ORIGINAL SIZE
     }).Into(positionImage);

I need it to show markers on top of the imageview

[2015-04-21 15:21] molinch commented on #9
That is something I can easily implement. I will keep you updated.

[2015-04-21 17:51] molinch commented on #6
Hi @c1rus
Have you been able to test this?

[2015-04-22 15:03] c1rus commented on #6
Hi.

Today i finally had time to look at it, but i was just testing. :)

1. when i'm loading placeholder images from ApplicationBundle, i'm getting OutOfMemoryError.
2. also it would be nice, if the fade animation works from placeholder.

i have created a sample project. so if you want, you can look at it here -> https://github.com/c1rus/ImageLoading.Sample

am i doing something wrong?

[2015-04-22 15:43] molinch commented on #6
Hi @c1rus I just tested with GenyMotion and don't have this issue. I will test later on with a real device.
Are you testing with a simulator or a real device? Could you tell me your hardware specs?

[2015-04-22 19:27] molinch commented on #6
Now I understood the issue you face and managed to reproduce it.
I will look into it

[2015-04-23 05:01] c1rus commented on #6
Sorry, i have commited the version with url loading. Just change this -> https://github.com/c1rus/ImageLoading.Sample/blob/master/ImageLoading.Sample/ImageFragment.cs
I'm testing it with GenyMotion (Google Nexus 5 - predefined settings) and with Samsung Galaxy S2 - I9100.

[2015-04-23 06:46] molinch commented on #6
I just changed the logic on Android so now loading large assets will take care about given DownSample parameter and we stream the data. With theses changes I don't see any OOM anymore.
I will make a nuget later in the day

[2015-04-23 07:13] c1rus commented on #6
i just tried it with emulator and real device, and its working.
awesome, thanks for fast response :)

[2015-04-23 07:35] c1rus commented on #6
about fade animation:

i think it would be better to change  FADE_TRANSITION_MILISECONDS from 50 to 200, 50 is hard to see.
and to get work fade animatiom from placeholder, just change to this:
[code]

[2015-04-23 11:57] molinch commented on #6
Done. I will close the task

[2015-04-23 11:57] #6 closed

[2015-04-23 12:01] molinch commented on #8
Fixed & NuGet 1.0.8 created

[2015-04-23 12:01] #8 closed

[2015-04-24 05:37] molinch opened #11 "Xamarin.Forms component that wraps FFImageLoading"
It could be nice to have a Xamarin.Forms component that wraps FFImageLoading using a custom renderer.
I would be very happy to merge that if somebody wants to work it out!

[2015-04-27 18:30] molinch commented on #9
It has been implemented in this commit https://github.com/molinch/FFImageLoading/commit/c9c91a5e1f5a62f0c61a2df5818ecce93452bac7

There is now an extra Success method that allows an Action<int, int> as the callback. As you can imagine first parameter is the width, then the height.
It is not yet on NuGet though. Could you make a feedback?

[2015-05-01 17:48] molinch commented on #9
This is now on NuGet so I close the task

[2015-05-01 17:48] #9 closed

[2015-05-02 13:27] molinch opened #14 "Implement a Fit method"
The method would work as Picasso Fit() method : it will downsample bitmap to match it's ImageView container.
## Android

On Android this implies to know the ImageView dimensions. Since we don't control when they are calculated we should listen to ImageView.ViewTreeObserver PreDraw.
Something similar to what is done in Picasso: https://github.com/square/picasso/blob/master/picasso/src/main/java/com

[2015-05-02 13:28] molinch opened #15 "iOS sample"
It would be very nice to have an iOS sample project :)

[2015-05-02 13:33] molinch opened #16 "iOS Fading support"
Currently fading is only implemented on Android. It could be very easily added to iOS.

Something like in SO accepted answer should be enough:
http://stackoverflow.com/questions/2834573/how-to-animate-the-change-of-image-in-an-uiimageview

[2015-05-04 17:17] c1rus opened #17 "RecyclerView problems"
Hi, I was trying latest version from nuget in RecyclerView.

I have this code in OnBindViewHolder

[code]

1. on first load first row looks like this:

![2015-05-04_1902](https://cloud.githubusercontent.com/assets/11233730/7457954/91159d66-f290-11e4-99fd-554738b1380a.png)

2. when i scroll up and down, some ImageViews are suddenly blank

![2015-05-04_1902_001](https://cloud.githubusercontent.com/a

[2015-05-04 18:02] molinch commented on #17
Mmh very weird. Do you have anything special in console?

[2015-05-04 20:08] c1rus commented on #17
No :(

Not related with this issue, but i think that method GetStreamAsync should have a null check:
[code]

[2015-05-05 06:19] molinch commented on #17
Updated sample from c1rus is here https://github.com/c1rus/ImageLoading.Sample

[2015-05-05 06:43] molinch commented on #17
Could you tell me what is your latest Android SDK installed and also latest Android support library installed?

[2015-05-05 07:12] molinch commented on #17
I'm almost 99% sure it's not a FFImageLoading bug.
I debugged and when cells are empty they didn't went into OnBindViewHolder... So something else looks wrong to me

[2015-05-05 07:51] molinch commented on #17
When using standard ImageView instead of our ImageViewAsync I don't seem to have this issue. Even though that's quite strange, I will make additional tests.

[2015-05-05 07:58] c1rus commented on #17
hmm, we are not only ones with that issue :)

http://stackoverflow.com/questions/29564824/recyclerview-disappearing-images

[2015-05-05 08:24] molinch commented on #17
Yeah it's really weird... Basically RecyclerView seems to sometimes detach images so it calls ImageView.OnDetachedFromWindow(), and in our case we clear the drawable, but sometimes it won't go again in OnBindViewHolder()

[2015-05-05 09:16] molinch commented on #17
Fixed by https://github.com/molinch/FFImageLoading/commit/f806962806960f144663c271fe622f5e09cf555b?w=1

A new NuGet is also out there. It contains minor other improvements.

[2015-05-05 09:16] #17 closed

[2015-05-05 09:16] molinch commented on #17
One remark though: it could be nice to have your updated sample in this project.

[2015-05-05 09:59] c1rus commented on #17
thx, i will create PR later.

blank cells are solved, but this issue is still there.

![2015-05-05_1134](https://cloud.githubusercontent.com/assets/11233730/7470243/730eeae4-f31b-11e4-95f8-83eabd15eb7a.png)

[2015-05-05 10:06] c1rus commented on #17
and one more thing :) can we get rid of flickering?

ffimageloading -> http://screencast.com/t/QOrtHbfjn
[code]

picasso -> http://screencast.com/t/i7OkWvQpksOH
[code]

[2015-05-05 10:18] molinch commented on #17
Issue with image is weird but I should be able to find what happens.

Regarding flickering can you tell me your simulator settings? I don't experience it on my side, even with a low hardware device.

[2015-05-05 10:37] c1rus commented on #17
Genymotion - Google Nexus 5 - 5.1.0 - API 22 - predefined settings

slow pc or am i scrolling fast? :)

[2015-05-05 13:25] molinch commented on #17
Same configuration but still not that issue.
Anyway I refactored a bit some code so now when loading from memory cache it skips many things (and should be of course faster).
I won't make a NuGet for this unless heavily tested. Could you give me some feedback?
It is in this commit https://github.com/molinch/FFImageLoading/commit/2247205153da253c84b751eff45100a0301cc86d?w=1

[2015-05-05 17:16] c1rus commented on #17
awesome, no flickering now :)

but i think something has broken, try run the sample and you will see.

http://screencast.com/t/ERMzONpgg5

[2015-05-06 12:14] molinch commented on #17
Hi @c1rus this should be fixed now

[2015-05-06 13:34] c1rus commented on #17
yes, it is fixed, thank you.

i have noticed that the sample is crashing, when url (path) is null or empty.
i can always manually check, but i want to show the placeholder, so maybe the library should handle it. What do you think?

[code]

[2015-05-06 14:16] molinch commented on #17
I'm very busy now but if you make a PR I would be happy to integrate it

[2015-05-06 16:46] c1rus commented on #17
PR created, i'm just not sure if it should be considered as error.

Maybe there should be 3 kinds of placeholders :)

EmptyPlaceholder
LoadingPlaceholder
ErrorPlaceholder

or when the path is empty, show LoadingPlaceholder.

[2015-05-14 19:03] dhaligas commented on #11
I might be interested.  we are running into a lot of OOM issues with the xamarin.forms image renderer.

how is you library on handling bitmaps and downsampling?

[2015-05-14 19:11] molinch commented on #11
There is a sample you can try it. The lib works very efficiently on Android, offers downsampling of course but also a couple of other options.
I have not faced any issue on iOS even tough downsampling there isn't yet implemented.

[2015-05-20 09:27] wsvdmeer commented on #9
Sorry for the late response but it works perfectly!

[2015-06-08 08:29] nvasilescu opened #21 "Into does not exist"
ImageService.LoadUrl (imagePath).Into (mainImageView);

FFImageLoading.Work.TaskParameter does not contain a definition for Into ....

[2015-06-08 10:29] molinch commented on #21
Hi,

This is an extension method.
You need to import the namespace.

Le lundi 8 juin 2015, nvasilescu <notifications@github.com> a écrit :

[2015-06-08 19:51] nvasilescu commented on #21
it is imported .

using FFImageLoading;

![s1](https://cloud.githubusercontent.com/assets/4938117/8043779/e7fdf7fc-0e30-11e5-9dc8-f925cd4c711b.jpg)

[2015-06-09 07:31] molinch commented on #21
Currently, on Android, FFImageLoading only supports loading images into FFImageLoading.Views.ImageViewAsync. It is a subclass of ImageView. This limitation might change in the future.

Documentation shows it:
<pre>
Note on Android: Unlike Picasso you cannot use FFImageLoading with standard ImageViews. Instead simply load your images into ImageViewAsync instances. Updating your code is very easy si

[2015-06-09 07:31] #21 closed

[2015-06-13 11:13] nvasilescu opened #22 "Drawing cache of async image colors problem"
![imageloadedfromgallery](https://cloud.githubusercontent.com/assets/4938117/8144116/9d1fb182-11d5-11e5-8201-1c9b44b16061.jpg)
This is when I select it from the gallery.

This is when it gets saved http://files.parsetfss.com/fc4a96e8-ee74-417b-8107-6728e9dec97b/tfss-36d24d3e-1795-4166-b24e-544d8b3c02fd-profilePic.jpeg

-- > layout
<FFImageLoading.Views.ImageViewAsync
            android:layout_wid

[2015-06-14 17:27] molinch commented on #22
Hi, are you able to upload a repro sample somewhere?
We have a samples solution, if you want you can fork the repository for example and put your stuff there.

[2015-06-15 20:18] nvasilescu commented on #22
http://nvasilescu.net/FFImageDrawingCache.zip

I can't figure out how to preserve the samples and being able to make a folder with the files that are able to compile, and the github desktop is not working as it should so here's a zip.

You browse for a picture, then press the 2nd button after the pic loads from device.

[2015-06-15 21:11] nvasilescu commented on #22
https://bitbucket.org/nvasilescu/ffimagedrawingcache/src/6eb51169ca2f04342c22fcc15cece597d35be9d8?at=master

This client worked.

[2015-06-18 12:35] nvasilescu commented on #22
Do you have any ideea why this is happening ?

[2015-06-19 06:22] molinch commented on #22
Hi, next week I will work on it

[2015-06-23 20:40] nvasilescu commented on #22
Can I help ? Do you have any ideea where should I look? I use the library for saving pictures to a database and it's a deal breaker for me, but I wouldn't want to change the picture loading library.

Thank you.

[2015-06-24 06:36] molinch commented on #22
This issue comes from your call:
<pre>Bitmap bitmap = profilePic.GetDrawingCache (true);</pre>
Especially the autoscale parameter seems to mess with the image.
Please note that this topic is in no way related to our lib.

What I suggest you is to take the ImageView's Drawable. Please note that in our case it's always a BitmapDrawable, so casting is safe. Then you have a Bitmap property in the Bitm

[2015-06-25 11:25] molinch commented on #22
Is this OK for you @nvasilescu ? I would like to close the issue

[2015-06-25 17:52] nvasilescu commented on #22
bitmap gets drawned correctly. Thank you.  Do you want me to submit the sample for you to update after I fork your library ?

[2015-06-25 18:09] molinch commented on #22
I think it's OK we already have some Android samples but thanks for proposing @nvasilescu !

[2015-06-25 18:09] #22 closed

[2015-07-24 14:43] mwillebrands opened #23 "How can you add this to your project?"
I cant add it to a PCL or IOS project.. What do you need?

[2015-07-27 07:36] molinch commented on #23
Have you tried the NuGet packages?

[2015-07-27 08:25] mwillebrands commented on #23
Yes, tried adding them on every project, but none are compatible
Op 27 jul. 2015 09:36 schreef "Fabien Molinet" <notifications@github.com>:

[2015-07-27 08:30] molinch commented on #23
Are you using Xamarin Studio on a Mac, or Visual Studio with the Xamarin plugin?

[2015-07-28 15:08] mwillebrands commented on #23
When adding to a PCL the following error exists:
Could not install package 'Xamarin.FFImageLoading 1.1.3'. You are trying to install this package into a project that targets 'portable-net45+win+wp80+MonoAndroid10+xamarinios10+MonoTouch10', but the package does not contain any assembly references or content files that are compatible with that framework. For more information, contact the package aut

[2015-07-28 15:13] molinch commented on #23
I'm pretty sure you are using a "Xamarin iOS Classic API" project. Classic API is obsolete now.
Could you try with a "Xamarin iOS Unified API" project one?

[2015-07-28 17:10] mwillebrands commented on #23
Yes we are, thanks for the info! I'll try it out.

[2015-08-03 14:28] molinch commented on #23
Can you confirm me I can close the issue ?

[2015-08-04 23:22] robbederks opened #25 "Way to create a custom caching key for an image"
Hello,

I'm using your loader in our app, and so far I really like it. The only problem I have with it is that on the end of our images, a 'random' security token has to be added to request the image from our server. Unfortunately, due to this difference in URL, the image is cached over and over again.
Would it be possible to have some kind of extra parameter to specify a caching key (in our case

[2015-08-05 06:59] molinch commented on #23
I close this since there is no bug. If you have any other issue please create a new one.
Thanks

[2015-08-05 06:59] #23 closed

[2015-08-05 07:08] molinch commented on #25
I would suggest customizing the DownloadCache: https://github.com/molinch/FFImageLoading/blob/master/FFImageLoading.Shared/Cache/DownloadCache.cs

We could have an optional parameter "key" that could be:
- when not specified the same as the url
- otherwise it would be used, and in your case it could be the URL without the security token?

I don't know if this would suit your needs?

[2015-08-05 14:46] mwillebrands commented on #23
I've just got back from my holliday, and will have a try tomorrow. Thanks for all the help!

[2015-08-05 15:33] robbederks commented on #25
Yes, I think that would be the correct way to handle this. I think it would be nice if there was some kind of 'parameter' like the transforms, something like:
ImageService.LoadUrl(requestUrl).SetKey(cleanUrl).Into(imageView)

[2015-08-05 23:25] robbederks opened #26 "Sharing violation on .journal file"
Hello,

We encountered a bug in your library. When we load our app, a bunch of images start loading from a URL. Sometimes, this throws a sharing violation-exception at the FFImageLoading.Cache.DiskCache.AppendToJournal().
This is the stack trace:
[code]

This bug seems to be rather rare, with an about 1 in 10 occurance.

Thanks!
Robbe

[2015-08-06 07:00] molinch commented on #26
Weird I never experienced this bug.
Could you give some more hints about your device and how you use the lib maybe?
Also if you manage to upload a repro sample somewhere that would greatly help

[2015-08-06 09:26] mwillebrands commented on #23
Works with the Unified api!

[2015-08-06 09:26] molinch commented on #23
Great! :)

[2015-08-06 15:26] robbederks commented on #26
Maybe this is related with our caching issue from my previous issue report. I'll fork the repo and try to add the caching key parameter. If the issue is fixed, I'll let you know.

[2015-08-10 14:30] molinch commented on #26
If you make any progress on that I would be very happy to integrate it :smiley:

[2015-08-10 15:01] mgorbach commented on #26
I'm experiencing the same problem as well.

[2015-08-10 15:03] molinch commented on #26
Can you please write which Android version  & which Xamarin.Android you use?
Also any additional info like a reproducible sample will help to debug this.

[2015-08-10 15:03] mgorbach commented on #26
Here's my code:

[code]

later ...

[code]

[2015-08-10 15:06] molinch commented on #26
Thanks for the code. If you are able to upload somewhere, or email, the whole sample that would greatly help.

Which Android version & Xamarin.Android please?

[2015-08-10 15:13] mgorbach commented on #26
This is Xamarin.iOS, iOS 8.4, FFImageLoading 1.1.3, Xamarin.iOS 8.10.1 Business Edition

[2015-08-10 15:13] mgorbach commented on #26
I don't have an isolated sample I can share right now but I'll try to work one up when I have some free time.

[2015-08-10 15:16] molinch commented on #26
Can you send the stacktrace too please?

[2015-08-11 09:25] molinch commented on #26
Could you tell me if https://github.com/molinch/FFImageLoading/commit/df06d7f9affec22bac91fd5d2cb56371f9bc85c9 fixes your issue?

[2015-08-13 01:13] kenkyee opened #27 "add hook for processing downloaded file (e.g. SVG) into drawable image"
Wish there were a hook to process a file into a drawable image that can be processed by the rest of the pipeline...e.g., to include XamSvg so you can load an SVG into an image...

[2015-08-13 11:45] molinch commented on #27
You can either inherit from ImageLoaderTask or implement IImageLoaderTask interface.

[2015-08-13 23:11] NVentimiglia opened #28 "Xamarin.Forms support"
Being able to apply this to a XamarinForms Image or ImageSource would be nice. Heck, even if Success returned a byte[] would make my life easier.

[2015-08-14 14:54] molinch commented on #26
If you give us some feedback on this so we can deliver a new Nuget package.
Thanks!

[2015-08-18 10:08] molinch commented on #26
Fixed and a new Nuget package has been pushed.

[2015-08-18 10:08] #26 closed

[2015-08-21 16:40] NimaGhaedsharafi opened #29 "Null Pointer Exception"
Hi

every time I try to use the package it's gonna throwing a null pointer exception,
this is the stack trace

I tried to run it on UIThread but there was no hope too and also the inputs are true and meaningful.
the URL is valid and the Image taken as ImageViewAsync.

thanks

<img width="1280" alt="screen shot 2015-08-21 at 8 46 35 pm" src="https://cloud.githubusercontent.com/assets/3203970/941350

[2015-08-21 16:51] molinch commented on #29
From what I see it looks like retrieving the Android Context is failing...
We rely on Android.App.Application.Context to get it. That is very weird.
Would you upload a sample somewhere or email a sample to me?

[2015-08-21 17:42] NimaGhaedsharafi commented on #29
I figured it out whats the problem but too wired to me!!
setting default shared preferences  to (this) make the null pointer exception problems!!
i had a static class like this.
[code]
and i get the context form this class and set it as default
```PreferenceManager.GetDefaultSharedPreferences (Nabsh.Droid.MyApp.getAppContext()); ```

now I changed my code to this,
```PreferenceManager.GetDefaultSh

[2015-08-21 17:42] #29 closed

[2015-08-21 17:43] NimaGhaedsharafi commented on #29
btw thank you for ur caring about others' problems :+1:

[2015-08-21 18:43] molinch commented on #3
Hi @dhaligas
Do you still plan to release a XForms integration?

[2015-08-21 18:45] molinch commented on #29
Thanks for the feedback !! :)

[2015-08-22 02:32] sahilkhan99 opened #30 "Out of memory issue"
Hi,
The sample app give me an OOM error after loading 40 images.
Can the Disk cache can be cleared when loading after 35 images or based on size of the image cache?

Thank you.

[2015-08-22 02:36] sahilkhan99 commented on #30
Just to let you know that I have added these following URLs to test the image loading and the app fails after 40 images loaded.
Could be these images are big in size? but I thought the disk cache should handle it when it reaches the size limit.

"http://photojournal.jpl.nasa.gov/jpeg/PIA10001.jpg",
			"http://photojournal.jpl.nasa.gov/jpeg/PIA10002.jpg",
			"http://photojournal.jpl.nasa.gov/jpeg/P

[2015-08-23 09:24] molinch commented on #30
Hi @sahilkhan99  I tried with 40 images like in your example and don't have any issue.
Could you write your device name and Android version?
Also are you experiencing this in simulator or in real device?

[2015-08-24 11:57] sahilkhan99 commented on #30
Hi @molinch
I"m testing on samsung galaxy s3 with the sample app, app can be found here
https://github.com/sahilkhan99/learnings

Scroll through all the way to the end,and come back, it will crash..when it exceeds 64 MB of memory.

The below is the OOM message.

[dalvikvm-heap] Clamp target GC heap from 70.062MB to 64.000MB
[dalvikvm-heap] Forcing collection of SoftReferences for 786448-byte alloc

[2015-08-24 12:32] molinch commented on #30
With Genymotion that simulates a Galaxy S3/Android 4.1.1 I don't reproduce this issue.

[2015-08-24 21:42] kenkyee commented on #30
The genymotion emulator gives the devices too much memory.  The OS is probably limiting you.
FWIW, I've also seen an occasional OOM crash on our app as well on real devices.
If you try it in a regular Android AVD emulator, the OOM crashes happen more often.  Seems like there's a leak in FFImageLoading or it's not loading images efficiently (in native Android, you can load a reduced size image into

[2015-08-25 01:32] kenkyee opened #31 "no option to turn off fade-in on Android?"
When you use FFImageLoading, the images always fade in on Android even if you use an image from the Assets folder.  Is there any way to disable the fade?

[2015-08-25 08:17] molinch commented on #30
@kenkyee DownSample() method is here to load images efficiently. When you use it, only the reduced size is loaded into memory.
Regarding the OOM I will investigate, since there are 2 garbage collectors involved most of the time OOMs come from code using FindViewById and not disposing the views.
Meanwhile you can also update your android manifest to use android:largeHeap="true"

[2015-08-25 13:51] kenkyee commented on #30
I already have largeheap enabled (it was crashing a lot w/o it) and am using DownSample everywhere.  To reproduce the OOM memory swap, try having a collapsing toolbar header w/ an image and then a recyclerview that you can scroll through at high speed.  I'm doing CancelLoading on the ImageViewAsync in the viewholder before telling FFImage to load into it, so it should not be leaking.

Could you el

[2015-08-25 15:34] molinch commented on #30
A couple of commits have been done to improve the situation:
- Handle .NET & Java OOMs and force a garbage collection when it happens: ff619eb3f6c868907b39d5032aedcad149c6e401
- Use WeakReferences instead of SoftReferences: they are garbage collected sooner 8fb206b7588e56017e365190e708a232a7f62090 and a couple of Bitmap Dispose calls so .NET world is no longer keeping a reference to the Bitmap. On

[2015-08-25 18:20] molinch commented on #31
If you want to do it: you can add a parameter `bool PerformFade` to TaskParameter and also add his Fluent method. Then you can use this in Android ImageLoaderTask instead of the property `UseFadeInBitmap` which is always true right now.

I am happy to merge such a PR :+1:

[2015-08-25 18:21] molinch commented on #27
Have you been able to do it?

[2015-08-25 18:23] molinch commented on #28
@NVentimiglia that's something I'm also interested to have. In fact there is already a task for it: https://github.com/molinch/FFImageLoading/issues/11

That could be done pretty easily using a custom renderer.

[2015-08-25 19:01] NVentimiglia commented on #28
I ended up coming up with my own solution. The solution included two classes. The first was a file cache which was responsible for catching the image as well as acquiring the image using HTTP client. The second class was a async image which inherited from grid. Internally I had a placeholder image as well as the instance image. Once dependency properties were set I would load the image using the f

[2015-08-26 13:52] daniel-luberda commented on #11
I created CachedImage - Image compatible renderer for Xamarin.Forms. Here: https://gist.github.com/daniel-luberda/f2381b736eb62afd238a

[2015-08-26 13:53] daniel-luberda commented on #28
I created CachedImage - Image compatible renderer for Xamarin.Forms. Here: https://gist.github.com/daniel-luberda/f2381b736eb62afd238a

[2015-08-26 14:10] NVentimiglia commented on #28
Nice, ill close the issue and look into migrating over.

[2015-08-26 14:10] #28 closed

[2015-08-26 14:15] molinch commented on #11
Hi @daniel-luberda that's very cool!! :+1:
Would you mind making a PR for it?

It can be in a folder like FFImageLoading.Forms and ideally have another namespace name.
If that's fine for you I'm happy to merge it and make a Nuget for it!

[2015-08-26 14:36] daniel-luberda commented on #11
Thanks! Of course but I need to:
 - add more options (transparency setting etc)
 - test and debug iOS renderer (I have it but currently don't have access to Xamarin.iOS for about two weeks). I can bypass this by making only Android renderer for now and add a render for iOS which is just normal XF.Image inside (FFImageLoading disabled). Is it ok for a temporal solution?

[2015-08-26 14:41] molinch commented on #11
Don't worry if you make a PR which has the iOS renderer I can test it and update it (if needed) before merge :)

[2015-08-26 14:48] daniel-luberda commented on #11
Ok :) I'll make a PR then.

[2015-08-26 18:09] daniel-luberda commented on #11
Added PR https://github.com/molinch/FFImageLoading/pull/32

[2015-08-26 18:09] daniel-luberda commented on #28
Added PR https://github.com/molinch/FFImageLoading/pull/32

[2015-08-27 10:19] sahilkhan99 commented on #30
@molinch
I'm Testing the sample app with in this library, and I have scroll forward to 80 images and when I started scolling back, GC keep increasing and the OOM happens again.

I'm using my phone Samsung galaxy S3 for testing. Here is the application console output.

On positive note, app won't crash because of OOM and OOM message can only be seen while debugging in the application console output

[2015-08-27 13:43] kenkyee commented on #30
Dum question, but how do I get the code into our project...it's currently using the NuGet.
And when should the FIndViewById references be Disposed?  It's generally a coding pattern in Android to use viewholders and do all the FindViewById when an Activity is created.  They're released automatically when those objects are destroyed.

For memory usage, I see similar issues as sahilkhan99  in our app

[2015-08-27 13:53] molinch commented on #30
@sahilkhan99 Yes basically the app isn't crashing anymore due to OOMs. I will contact our Xamarin support to know why the GC is not collecting without an explicit call to it (when we get an OOM). Since the crash is fixed, even though the underlying issue remains, it's less "sensible".

@kenkyee I will update Nuget packages today.
Objects found via FindViewById should be disposed in OnDestroy via c

[2015-08-29 21:56] kenkyee commented on #30
Spent some time w/ the Xamarin Profiler...doesn't give much useful info because it doesn't show you much about what objects are  using memory on the Android side.
I can take a memory snapshot, then switch viewpagers, fling around the recyclerview lists and take another snapshot and only a few MB are used.  But the total app mem usage has ballooned to 300MB.
<img width="888" alt="screen shot 2015-0

[2015-08-31 18:41] molinch commented on #30
@sahilkhan99 @kenkyee The changes are now on NuGet sorry for the delay.
Btw @kenkyee even though OOMs still occur, crashes are fixed, since the GC runs when it happens.
Regarding the speed I can't say. On our side we had a couple of issues with Picasso and we couldn't find any way to fix them.

[2015-08-31 20:21] molinch commented on #11
We have now a NuGet package that wraps FFImageLoading thanks to @daniel-luberda
https://www.nuget.org/packages/Xamarin.FFImageLoading.Forms/

[2015-08-31 20:21] #11 closed

[2015-09-01 15:23] kenkyee commented on #30
Sorry..."speedier" should be lagginess...sometimes when ffimage was used, the UI would pause a little (probably doing GC is my guess).  FFImage actually displayed images faster in the recyclerview of images like it was using more threads than Picasso.
I'm still puzzled by that Xamarin Profiler screencap above.  I'd bet if you tried it w/ your sample app, you'd see similar oddness.  I get the sense

[2015-09-04 00:07] rusty21 opened #33 "FFImageLoading error"
I have an error when downloading an image and the error is entirely unhelpful here is my usage code
ImageService.LoadUrl(item.Achievement.Url).Error(err =>
{
        Debugger.Break();
}).Into(imageView);

Here is the error message:
FFImageLoading is unable to generate image.

The problem is on Xamarin.Android
Is this a bug? How could I be doing something wrong?

[2015-09-04 05:17] molinch commented on #33
Please post stacktrace thanks

[2015-09-04 15:28] mgorbach opened #34 "Access to cache result"
I am doing "manual" iOS image fading by fading in the alpha of the imageView after loading has completed.
One of the big issues I'm running into is that I only want to do fading if the image load will take any significant period of time. That means that in the event of in-memory or an on-disk cache hit, I want to skip the fade and just throw the image on screen immediately. This ended up being dif

[2015-09-06 07:50] molinch commented on #33
This is a generic error message. It is raised whenever there is a problem: wrong URL, no network, image is corrupted, ...

In the application output or even in the device logs you should have more info.
Please provide lines from here while you get the error and it should be easy to spot what happens.

[2015-09-06 07:52] molinch commented on #34
It shouldn't be complicated to add this info. I will look into it.
Therefore I'm very interested with your iOS fading logic. There is a task about it in fact #16
Would you mind sharing your fading code for iOS? We might be able to integrate that in the lib.

[2015-09-08 14:30] mgorbach commented on #34
Here's my fading code:

[code]

[2015-09-09 20:11] molinch commented on #34
@mgorbach this is implemented in git now. Success callback gives both the size and a LoadingResult enum. It allows you to know if it was loaded from Internet, Disk, ApplicationBundle, DiskCache, or MemoryCache.

Could you give it a try?

[2015-09-10 05:34] molinch commented on #27
Closing since this won't be done in FFImageLoading and a solution has been proposed.

[2015-09-10 05:34] #27 closed

[2015-09-13 10:17] molinch commented on #33
@rusty21 Please give more feedback on this otherwise I will have to close this issue

[2015-09-14 14:10] mgorbach commented on #34
@molinch thanks for implementing this so quickly!

I can't quite try off git though, because I'm having trouble building the library. I'm trying to build the master branch on a Mac with the latest stable Xamarin Studio, and I'm getting a bunch of errors with missing references and WebP on iOS not being found, even though it seems to have restored the internal nuget packages as expected.

[2015-09-14 16:10] rusty21 commented on #33
Sorry for the super long delay...

[AbsListView] onDetachedFromWindow
[AbsListView] Get MotionRecognitionManager
[Mono] GC_OLD_BRIDGE num-objects 897 num_hash_entries 1463 sccs size 1453 init 0.00ms df1 3.76ms sort 0.49ms dfs2 1.46ms setup-cb 0.94ms free-data 1.91ms links 862/862/936/25 dfs passes 3222/2315
[Mono] GC_MINOR: (Nursery full) pause 18.81ms, total 19.34ms, bridge 69.68ms promoted 208K

[2015-09-14 16:21] rusty21 commented on #33
FFImageLoading v1.1.5

[2015-09-14 16:59] molinch commented on #33
Hi @rusty21
That is because you are connected to a captive network or your URL redirects to another URL

[2015-09-14 17:01] rusty21 commented on #33
The url is redirecting, I don't understand why this is a problem for FFImageLoading

[2015-09-14 17:11] molinch commented on #33
error comes from ModernHttpClient that we use. In fact there is a parameter for this scenario in ModernHttpClient. I will expose this parameter too so you can just define it

[2015-09-14 17:26] molinch commented on #33
URL redirects to a different host name isn't it ?

[2015-09-14 17:27] rusty21 commented on #33
Yes the url will redirect to a different host name

[2015-09-15 11:24] KroanNL opened #35 "Change HttpClient (or moreover the HttpClientHandler)"
For a project our images are on a server that is secured with credentials. We use the following to create an HttpClient with the correct credentials.

[code]

If the user logs out and tries to login with different credentials, we can't create a new HttpClient with those new credentials and assign it to the ImageService.

Initalizing it a second time throws the "FFImageLoading.ImageService is alrea

[2015-09-15 14:10] daniel-luberda opened #36 "Xamarin.Forms PCL project not working"
Can we add a PCL profile for nuget? We need only FFImageLoading.Forms.dll which is PCL compatible.

[2015-09-16 05:23] molinch commented on #36
Mmh that's quite weird I tested the Nuget in a Forms project and it used to work.
Maybe I tried only the shared project I think you can have both PCL and shared isn't it?

[2015-09-16 05:29] molinch commented on #33
In fact I forgot about it but we already have everything needed to solve your need.
You can just specify your HttpClient that we should use.
[code]

[2015-09-16 05:29] #33 closed

[2015-09-16 05:36] molinch commented on #35
I'm happy to merge a PR for that :)

Basically the change would be in ImageService, DownloadCache and IDownloadCache.
DownloadCache should probably have a method, or a property, that allows changing the HttpClient.
ImageService should have a static method that would pass the HttpClient to the DownloadCache instance.

[2015-09-16 05:37] molinch commented on #34
Ok don't worry, I will soon make a release on NuGet so this will be included

[2015-09-16 12:04] daniel-luberda commented on #36
Yes, Forms project can be shared or PCL (PCL library for almost everything and native project for renderers etc).

[2015-09-16 19:38] molinch commented on #36
It was a lot of pain but I have now a Nuget that should be OK for PCL project too: https://www.nuget.org/packages/Xamarin.FFImageLoading.Forms/1.1.6-alpha4

[2015-09-16 19:59] #35 closed

[2015-09-16 20:00] daniel-luberda commented on #36
It still doesn't install. You have to add
portable-net45+wp8+wpa81+win8+MonoAndroid10+MonoTouch10+Xamarin.iOS10
as target for FFImageLoading.Forms.dll

[2015-09-16 20:00] molinch commented on #35
Finally I had some free time so I implemented this. Currently it's in git only though. Could you test it?

[2015-09-16 20:01] molinch commented on #36
That's weird cause on my XF PCL it did install.. Are you sure you tried the Alpha4 Nuget package?

[2015-09-16 20:06] daniel-luberda commented on #36
Yes, I'm sure. Try to install package on library project (it's where App class of Xamarin.Forms resides), not platform specific project.
Something like:
<file src="FFImageLoading.Forms/bin/Release/FFImageLoading.Forms.dll" target="lib/portable-net45+wp8+wpa81+win8+MonoAndroid10+MonoTouch10+Xamarin.iOS10/FFImageLoading.Forms.dll" />
It doesn't need any other file than FFImageLoading.Forms.dll (shar

[2015-09-16 20:09] molinch commented on #36
Ok I found what happens. Package does work in XF PCL project but only if it has profile 49.
Since you use profile 78 it doesn't install. I will change that.

[2015-09-16 20:10] daniel-luberda commented on #36
Yes, that's a default Xamarin.Forms project profile. Thanks!

[2015-09-16 20:13] molinch commented on #36
Ok a new alpha is on Nuget that should work with profile 78: https://www.nuget.org/packages/Xamarin.FFImageLoading.Forms/1.1.6-alpha5

[2015-09-16 20:17] KroanNL commented on #35
Will do and report back!

Sent from my iPhone

[2015-09-16 20:47] daniel-luberda commented on #36
Works good! Can be closed :)

[2015-09-16 21:10] #36 closed

[2015-09-16 21:16] molinch commented on #34
You can test this prerelease NuGet package: https://www.nuget.org/packages/Xamarin.FFImageLoading/1.1.6-alpha

If it works fine I'll make a release.

[2015-09-16 21:17] molinch commented on #35
You can test this prerelease NuGet package which contains it: https://www.nuget.org/packages/Xamarin.FFImageLoading/1.1.6-alpha

If it works fine I'll make a release.

[2015-09-17 14:25] mgorbach commented on #34
@molinch thanks, I just gave it a shot. I'm getting callbacks with a loading result, but it always seems to be "internet." I haven't changed any of the disk cache settings, so I'd expect the disk cache to be enabled by default. Might be it's a bug with the result implementation?

[2015-09-17 14:27] mgorbach commented on #34
Also, the issue I was exploiting earlier still exists, and once the result implementation works it should probably be fixed. Specifically, when loading from the in-memory cache, the finish callback is called and both "completed" and "cancelled" are false. It seems like "completed" should be true in this case.

[2015-09-17 14:34] molinch commented on #34
Weird I tested this and got data from Internet, DiskCache and MemoryCache :(
I will give it another try

[2015-09-17 14:35] molinch commented on #34
And yes you are right it should have completed true when loading from Memory.

[2015-09-21 23:59] daniel-luberda opened #37 "[Info needed] FFImageLoading.Work.ImageSource.ApplicationBundle"
@molinch  Can you tell me more about FFImageLoading.Work.ImageSource.ApplicationBundle ImageSource type? I wanted to implement placeholders (Loading and Error) for Xamarin.Forms renderer and I can't get it working. How should I use it to get images from iOS / Android resources described here:

 - iOS - Place images in the Resources folder with Build Action: BundleResource . Retina versions of the

[2015-09-22 05:34] molinch commented on #37
For iOS it's easy, it's just like you said even though only the exact same filename will be used, there is no special loading for double/triple retina images.

For Android you will need to add images as Assets instead of Resources.

[2015-09-22 12:52] daniel-luberda commented on #37
Ok, thanks for the info. But can you tell me why do you use Assets instead of Resources on Android? I wanted to unify this on both iOS and Android. Second questions do Placeholders work with http image sources? Or should I only use local images? How does it work? Does it download placeholder first?

[2015-09-22 13:41] petlack commented on #37
@daniel-luberda, @molinch I've faced similar issue and changed the behavior for getting image from ApplicationBundle source type in my [fork](https://github.com/petlack/FFImageLoading) - see if that works for you (refer to resources by their string name in drawable-**** folder)
I've also created a pull request for that - https://github.com/molinch/FFImageLoading/pull/38
Cheers

[2015-09-22 13:46] molinch commented on #37
@daniel-luberda  Basically Resources on Android != BundleResource on iOS.
A BundleResource on iOS is much more like an Asset on Android.
Android resources are accessed by int value rather than by their filename.

Placeholders can come from Disk, ApplicationBundle or Url. Example:
[code]
Here we load from the bundle but can specify another ImageSource.

[2015-09-22 13:47] molinch commented on #37
@petlack Thanks for your PR! :+1:
I will reply directly in the PR message then

[2015-09-22 14:40] daniel-luberda commented on #37
@petlack Cool! It's just what i needed to add Placeholders for Xamarin.Forms. Can we change FFImageLoading.Work.ImageSource.ApplicationBundle for eg. ApplicationResource or similar for compatibility?

@molinch Thanks for the information! Yes, there's a performance hit when loading resources by name but Xamarin.Forms preferred way is to use Resources. It should work the same on iOS and Android. It

[2015-09-22 14:55] KroanNL commented on #35
Hey man,

Sorry, I had not yet time to test this out. I hope to do this before the
end of the week. Thanks for your hard work!

Kind regards
Vincent

On Wed, Sep 16, 2015 at 11:17 PM, Fabien Molinet <notifications@github.com>
wrote:

[2015-09-22 15:24] molinch commented on #34
@mgorbach I retested all scenarios on both iOS and Android and it works fine: Disk, DiskCache, Internet, Memory... It's always giving the correct result.

There was just one issue, affecting iOS DiskCache only, but everything else was working fine.
Now this is fixed in git too and I will make a Nuget release soon.

Could you make a separate issue regarding the callbacks?

[2015-09-23 14:06] mgorbach opened #39 "Callback Problem"
Referencing my earlier issue [https://github.com/molinch/FFImageLoading/issues/34], this is a separate one to address the callback problem.
When loading from the in-memory cache, the finish callback is called and both "completed" and "cancelled" are false. It seems like "completed" should be true in this case.

[2015-09-24 09:59] patook opened #40 "Xamarin Forms: FFImageLoading caches dead or failed links"
If I try to load 20 images from the same server and one of them doesn't respond (even with .Retry(3,2000)), that dead image gets cached.

Is there a way to make sure only good images get cached? I am using Xamarin Forms.

[2015-09-24 18:01] molinch commented on #40
Do you have a custom configuration when you initialize the lib?
Also this issue occurs on iOS, android or both ?

[2015-09-25 04:08] patook commented on #40
No custom config - this issue occurred for me on iOS, I have not set up Android for this.

I am using the CachedImage class in XF, and initializing the ImageService within the iOS appdelegate

[2015-09-25 05:28] molinch commented on #40
@patook could you please send some URL that cause this issue?

[2015-09-25 06:02] patook commented on #40
@molinch Thanks: I suspect the error that happened is that HttpConnection limit was reached. I got a debug message saying that URL was being queued. As I mentioned, I am requesting 24 images simultaneously from the same server.

Also, I can make the change and download your code instead of using nuget but it might be nice if you have an option to never cache empty/zero bytes.

[2015-09-25 06:22] molinch commented on #40
Still even if you have simultaneous requests it should not do that. I would rather fix that.
Could you share a code sample? If it is private code you can also email me.

[2015-09-26 12:16] #37 closed

[2015-09-26 12:46] molinch commented on #34
I pushed a new Alpha nuget https://www.nuget.org/packages/Xamarin.FFImageLoading/1.1.6-alpha1 which contains the last fix (plus other things)
I will make a release soon

[2015-09-26 12:46] #34 closed

[2015-09-26 12:47] molinch commented on #37
If you want to test it you can play with this Alpha Nuget
https://www.nuget.org/packages/Xamarin.FFImageLoading/1.1.6-alpha1

[2015-09-26 13:48] molinch opened #41 "Xamarin.Forms Sample"
I would be very grateful if somebody was able to make a sample. Something similar to what we have on Android would be perfect

[2015-09-26 17:16] daniel-luberda commented on #41
I can do that :) First, I'll add placeholders  handling support and than I'll send PR with some examples.

[2015-09-26 17:33] #39 closed

[2015-09-26 18:18] molinch commented on #41
Great! Thanks @daniel-luberda :+1:

[2015-09-26 20:45] daniel-luberda commented on #37
https://github.com/molinch/FFImageLoading/commit/d1f222382d357f2a41c4341726e7afbd9aa45b04#commitcomment-13453281

[2015-09-26 21:13] molinch commented on #39
You can test it if you want in this Alpha nuget https://www.nuget.org/packages/Xamarin.FFImageLoading/1.1.6-alpha2

[2015-09-26 21:13] molinch commented on #37
And a new Nuget https://www.nuget.org/packages/Xamarin.FFImageLoading/1.1.6-alpha2

[2015-09-26 21:59] daniel-luberda commented on #37
Thanks! I'm sending the PR request for a few minutes

[2015-09-27 14:51] molinch commented on #30
FFImageLoading 1.1.6 has been released: https://github.com/molinch/FFImageLoading/releases/tag/v1.1.6

This release improves a lot the situation so I will consider this issue as done.
If you still experience weird behaviours or OOMs I would suggest creating a new issue & referencing #30. Here it's getting too long & we mix a couple of things.

[2015-09-27 14:57] #30 closed

[2015-09-27 14:58] molinch commented on #41
It's already nice but it would be awesome if your sample used more features on both iOS and Android: local placeholders, maybe a list view to have more images (so we can test cancellation), ...

[2015-09-28 12:56] daniel-luberda commented on #41
Ok, I'll add some more advanced example with lists, etc.

BTW: I noticed that error placeholder doesn't work with local images. However, loading placeholder works good with local images (they use the same CompiledResource type). Do we have a bug here? Or something else?

[2015-09-28 15:52] molinch commented on #41
Weird it shouldn't be the case, error and loading placeholders rely on the same logic.
I'm really busy now but if you find anything I'm happy to have a look at it

[2015-09-28 17:58] daniel-luberda opened #44 "Xamarin.Forms - Error placeholders not working"
Error Placeholders not working. Don't have time now to check it. I really don't know why it isn't working. It's handled the same way as Loading Placeholders (and they work fine!). You can test it in samples I uploaded: https://github.com/molinch/FFImageLoading/pull/43 (Placeholders button)

![nexus 4 lollipop screenshot 16](https://cloud.githubusercontent.com/assets/13569983/10143924/2aa78f18-661b

[2015-09-28 20:02] daniel-luberda commented on #31
https://github.com/daniel-luberda/FFImageLoading/commit/78677fd41f8c89c0a52e8a0f2e2a1366af6565c2

[2015-09-28 20:16] daniel-luberda commented on #41
https://github.com/molinch/FFImageLoading/pull/43

[2015-09-29 05:22] molinch commented on #44
Thanks @daniel-luberda it will be easier to spot what's going on

[2015-09-29 05:27] molinch commented on #31
@daniel-luberda Awesome!
I will just activate them by default in Configuration, instead of having them disabled by default, otherwise it is a change for existing apps.

[2015-09-29 05:31] molinch commented on #31
Dammit! You already did it in https://github.com/daniel-luberda/FFImageLoading/commit/57317966b8a134900bd05bdd212f789c1621621c
You can forget my comment :+1:

[2015-09-29 08:39] daniel-luberda commented on #44
Ups, didn't add csproj files to commit, so you have to manually add "error.png" and "loading.jpg" to you project files. I'll make a commit for this.

[2015-09-29 09:23] daniel-luberda commented on #16
https://github.com/daniel-luberda/FFImageLoading/commit/6111457ca0976657f26fec84e8295357f793b684

[2015-09-29 12:00] molinch commented on #15
I consider this as done since we have now a Xamarin.Forms sample

[2015-09-29 12:00] #15 closed

[2015-09-29 12:19] daniel-luberda opened #46 "Windows (Phone, Universal apps) support"
It would be really nice to have this.

For the start, I could make a renderer for Windows, which inherits from standard Xamarin.Forms `Image`, without FFImage features - just for compatibility reasons (Windows can automatically cache loaded images).

This way we could use FFImageLoading on all Xamarin.Forms supported platforms.

[2015-09-29 12:21] molinch commented on #46
Great idea ! :+1:

[2015-09-29 16:09] molinch commented on #16
Done by @daniel-luberda

[2015-09-29 16:09] #16 closed

[2015-09-29 16:21] #31 closed

[2015-09-29 16:22] molinch commented on #31
Please note that it is also possible now to globally disable the fade (so for all images loaded via the lib).
This is done using ImageService.Initialize() see https://github.com/molinch/FFImageLoading/commit/270e509558b79f956765bd07ce233bc0b3722f35

[2015-09-29 16:22] molinch commented on #40
@patook Any news?

[2015-09-30 05:34] #44 closed

[2015-09-30 05:36] molinch commented on #41
I consider this as done. If in the future you want to add functionalities (WebP decoding, other?) feel free to do that.

[2015-09-30 05:36] #41 closed

[2015-09-30 12:36] daniel-luberda commented on #44
Thanks! What a typo! :) I didn't see that!

[2015-09-30 12:49] daniel-luberda commented on #41
I'll be definitely adding some, when I'll have more free time.

It would be nice to implement Finish, Success, Error Actions.

Also Transformations in renderers would be useful. (That way we could have circle image which a lot people use). What do you think about moving `samples/ImageLoading.Sample/Transformations/` files to regular library?

[2015-09-30 14:36] molinch commented on #41
If somebody makes a PR that contains the same transformations for both iOS and Android then yes: I would be OK to make a specific nuget.

[2015-09-30 23:19] daniel-luberda commented on #44
Still not working for me, even after https://github.com/molinch/FFImageLoading/commit/34a0a98eef19f1b6ad3f3e79f22309d5675086ea

[2015-10-01 04:26] daniel-luberda commented on #41
Yes, definitely cross-platform all the way. I have something: https://github.com/molinch/FFImageLoading/pull/47, tell me what do you think about it.

![screenshot](https://raw.githubusercontent.com/daniel-luberda/FFImageLoading/master/samples/Screenshots/android_transformations.png)

[2015-10-01 05:16] molinch commented on #44
It works fine. If you want to see it faster then use something else than notexisting.com your website doesn't respond

[2015-10-01 05:43] molinch commented on #41
That's cool :+1:  I will check the PR and let you know

[2015-10-01 07:06] molinch commented on #44
Btw there are issues with the Xamarin.Forms renderer: in the placeholder example, when you tap a link it does 2 loading request. I tried to debug it and SetImage is called twice. Could you have look?

[2015-10-01 13:47] daniel-luberda commented on #44
Yes, I'll check it out and let you know

[2015-10-01 14:03] daniel-luberda commented on #44
How did you check if it's called twice? Did you check Application output? If you use System.Diagnostics.Debug.WriteLine then it always generate two lines (one blue and one black). Is it that?

[2015-10-01 14:06] molinch commented on #44
If you set a breakpoint in SetImage you will see that it's called twice.
Basically what happens is that 1st call starts, then 2nd call arrives, and since it uses the same native control we cancel the 1st one (this makes sense).
Therefore why SetImage is called twice I have no idea... :|

[2015-10-01 14:08] daniel-luberda commented on #44
Yes, I noticed it. I'll try to find the issue. Thanks.

[2015-10-01 14:51] daniel-luberda commented on #44
Found the issue! Will commit soon.

[2015-10-02 12:51] daniel-luberda commented on #44
https://forums.xamarin.com/discussion/52500/bindableproperty-of-imagesource-type-raises-propertychanged-twice-in-custom-views#latest

I'll commit a temporary fix. Can you check it it's the same on iOS?

[2015-10-02 13:33] daniel-luberda commented on #44
It should be ok now: https://github.com/molinch/FFImageLoading/pull/47

[2015-10-04 17:09] molinch commented on #44
FYI you might be interested to look this ModernHttpClient issue: https://github.com/paulcbetts/ModernHttpClient/issues/184

That is why on Android the error placeholder is displayed after 1 minute... On iOS it's after 15s.

[2015-10-05 13:20] daniel-luberda commented on #44
Yes, that's what I was experiencing.

[2015-10-06 11:38] molinch opened #49 "Use Mono default HttpClientHandler instead of ModernHttpClient?"
I found two issues when using ModernHttpClient's HttpClientHandler
* https://github.com/paulcbetts/ModernHttpClient/issues/184
* https://github.com/paulcbetts/ModernHttpClient/issues/185

Because of that I am wondering if by default we should not provide the Mono/.NET HttpClientHandler (instead of ModernHttpClient) but let the user be able to specify an other one with ImageService.Initialize().

@

[2015-10-06 14:04] daniel-luberda commented on #49
@molinch As this is https://github.com/paulcbetts/ModernHttpClient/issues/184 not so bad, this one: https://github.com/paulcbetts/ModernHttpClient/issues/185 is a real problem.

It would be nice to be able to choose alternative http clients in Initialize method. For now, I would also switch to mono HttpClientHandler. It will also make FFImageLoading independent of ModernHttpClient, which is anothe

[2015-10-07 05:31] molinch commented on #49
I agree with you #185 is really bad. #184 might be difficult to fix, it seems to be the Android network stack that has an issue. Mono has a different network stack, it opens its own sockets, so it is not affected.

Have you been able to reproduce these issues? And just switching the HttpClient in `ImageService.Initialize` fixes both. Could you also give it a try?

Once I have your feedback I will

[2015-10-07 16:18] #49 closed

[2015-10-07 16:20] daniel-luberda commented on #49
Tested it, and it looks like it's solved on Android. Didn't test on iOS yet though.

[2015-10-07 16:23] daniel-luberda commented on #49
Actually, didn't notice performance difference at all when using mono HttpClientHandler.

[2015-10-07 16:24] molinch commented on #49
Yeah me neither...

[2015-10-07 16:26] daniel-luberda commented on #49
Maybe the requests rate it's still to low to benefit from ModernHttpClient (eg. large image data responses vs high rate rest requests, etc).

[2015-10-07 16:27] molinch commented on #49
True, could be that our scenario is different from most use cases

[2015-10-07 16:29] daniel-luberda commented on #49
It looks like it's a win-win situation (less dependencies and no bugs) :)

[2015-10-09 15:17] highplains opened #55 "Images Do Not Load"
Xamarin.Forms - latest
Xcode 7 - latest
Xam Studio - Latest
Platform Tested - iOS ONLY

This issue is that when you are building for release/appstore version and the iOS project settings are configured as iOS Build -> Advanced -> Supported Architectures (ARMv7 + ARM64) (required for a AppStore release) this breaks image loading. But if you change this setting to (Armv7) only and rebuild which is w

[2015-10-09 15:45] molinch commented on #55
Wow that is ultra weird! I looked at the fix you submitted in Acr UserDialogs and it's really random things that fixes this...
Should be fixed asap

[2015-10-09 15:48] highplains commented on #55
Also note that in the sample app... Forms Example.... You have to go into "Release" build config for this error to happen. Seems ok in "Debug", and has to be tested on a actual device, works fine in simulator.

[2015-10-09 15:53] molinch commented on #55
Huge thanks for debugging this @highplains :+1:

[2015-10-09 20:30] molinch commented on #55
Btw I tested FFImageLoading with Arm7+64, in release mode, on a real 64b device. It works fine.
So I guess it comes from the Xamarin Forms wrapper.

[2015-10-09 20:48] highplains commented on #55
Ya i spent a little bit of time looking for it, but couldn't find it. I know that the previous stable build didn't have this bug so it's something new within those commits.

[2015-10-09 20:51] highplains commented on #55
What was weird is that i matched up my Debug and Release configurations to be identical, and the issue still only occurs when in Release mode. But the main problem is that with the latest build release versions are worthless making a App Store push now impossible without reverting to an old version.

[2015-10-09 20:54] molinch commented on #55
I'm trying all options.... A few more things:
* ARMv7: OK
* ARM64: OK
* ARMv7+ARM64: KO... WHAT THE FUCK

[2015-10-09 20:56] highplains commented on #55
lol RIGHT! Freaking mind boggling.

[2015-10-09 20:57] daniel-luberda commented on #55
Ok, if it's with forms I'll check on this. REALLY strange bug though. Maybe it's something with project options? "Compilation Turned on optimizations" <- it's what comes into my mind (it wasn't checked in previous builds).

[2015-10-09 20:58] highplains commented on #55
I tried every combination of optimizations in all projects... Still couldn't get it to work.

[2015-10-09 21:00] daniel-luberda commented on #55
It could be also a bug with Xamarin.Forms ViewRenderer (we switched from ImageRenderer to ViewRenderer). I could make a commit with "the old way". Could you test it?

[2015-10-09 21:00] highplains commented on #55
sure

[2015-10-09 21:00] daniel-luberda commented on #55
Give me a few minutes and I'll send you a PR link.

[2015-10-09 21:06] molinch commented on #55
YAY: https://bugzilla.xamarin.com/show_bug.cgi?id=31076
Looks like this one...

[2015-10-09 21:11] daniel-luberda commented on #55
Ok... That's quite reasonable explanation. It could be a linking problem. It's easy to fix, just include this in

[code]

[2015-10-09 21:12] highplains commented on #55
Makes sense, but just tried the workaround and still not working.

[2015-10-09 21:13] daniel-luberda commented on #55
What did you try?

[2015-10-09 21:13] molinch commented on #55
I confirm that it works fine with the "hack" :+1:

[2015-10-09 21:14] daniel-luberda commented on #55
[code]
as you see it hides iOS specific method. Maybe it's this?

[2015-10-09 21:14] highplains commented on #55
<img width="989" alt="screen shot 2015-10-09 at 3 14 27 pm" src="https://cloud.githubusercontent.com/assets/1825076/10405767/7acecf3a-6e98-11e5-9699-9a1a0fd43543.png">

[2015-10-09 21:16] highplains commented on #55
You got this working in release mode with (Arm7 + Arm64) with that workaround molinch?

[2015-10-09 21:20] molinch commented on #55
@highplains Yes dunno why it doesn't work on your side :( Could you try removing app and cleaning/rebuilding?

@daniel-luberda I'm almost sure it isn't related to method hiding. Method hiding shouldn't do anything to the linker. It generates a different method signature, classes will still invoke the iOS Init(), not this one.

[2015-10-09 21:25] daniel-luberda commented on #55
@molinch Yes, but who knows how does it works inside. Original method is commented as necessary for preventing linking.

[2015-10-09 21:25] highplains commented on #55
rookie move on my part, my bad! Ya the workaround does the trick.

[2015-10-09 21:27] daniel-luberda commented on #55
So I have two questions:
- Should we modify or abandon CachedRenderer.Init method?
- Should we update REAMDE.md to put a dummy instance instead of using Init method?

[2015-10-09 21:30] molinch commented on #55
I don't think we need to do anything regarding Init() since this issue is absolutely unrelated to it. But maybe can you explain what you mean here: "Original method is commented as necessary for preventing linking."?

For your second point please don't do that. I'm trying something else.

[2015-10-09 21:32] #55 closed

[2015-10-09 21:33] molinch commented on #55
No need to change the Readme. This way it's easier for the users of the package.
I will recreate the Forms nuget.

[2015-10-09 21:34] highplains commented on #55
Appreciate it guys!

[2015-10-09 21:35] daniel-luberda commented on #55
<ok>

I'm VERY sure that I read something in Xamarin docs about it. While making FFImageLoading renderer I was trying to find if it will collide with something.

[2015-10-09 21:38] daniel-luberda commented on #55
On the other side, many controls use Init method, eg SyncFusion charts (SfDataGridRenderer.Init() method), so maybe I'm oversensitive about it.

[2015-10-09 21:40] molinch commented on #55
TBH I quickly googled and couldn't find anything about it, all examples use Init(). But if you find something I'm happy to change it.

[2015-10-09 21:41] molinch commented on #55
@daniel-luberda @highplains https://www.nuget.org/packages/Xamarin.FFImageLoading.Forms/1.1.7.1
Could you try it?

[2015-10-09 21:43] daniel-luberda commented on #55
I can't find it too now, but I'm sure I read something about it. I'll try to find it and post it here :D

[2015-10-09 21:44] highplains commented on #55
@daniel-luberda you good with Forms.Droid? Is there a way to get in touch with you? We are close to initial seed funding on a startup and am going to need dev's familiar with Forms soon.

[2015-10-09 21:46] highplains commented on #55
actually same with you @molinch

[2015-10-09 21:48] highplains commented on #55
New nuget works in my app !

[2015-10-09 21:49] molinch commented on #55
:+1: Love to fix Xamarin bugs

@highplains I would love such challenges therefore I'm much more into plain Xamarin iOS/Xamarin Android. I didn't tackled Forms much.

[2015-10-09 21:50] highplains commented on #55
Hard to find a good Xam / Xam.Forms team nowadays.

[2015-10-09 21:51] highplains commented on #55
Android isn't my best either, better with iOS @molinch

[2015-10-09 21:51] daniel-luberda commented on #55
@molinch The best bugs IMO is still some magic happening with ImageSource and propertychanged :)

Yes sure, I'm playing with Forms since its beginning (and a lot with Xamarin.Android too (since Novell times)). Just mail me. myName.mySurname (at) gmail.com

[2015-10-09 21:53] highplains commented on #55
@daniel-luberda i feel like half of my day is fixing Forms bugs lol

[2015-10-09 21:58] daniel-luberda commented on #55
@highplains Yes true, a lot of bugs but can live with that if you know them. Actually a lot has changed for good. First version were like alpha not tested builds :) There were even bugs like if you had a ListView and scrolled it, its items were magically and dynamically mixing while scrolling (5th element became 1st) :D I remember that well because I filled it as a bug then.

[2015-10-09 22:01] highplains commented on #55
lol ya i filed a few ListView bugs too.. There "HasUnevenRows" has been pretty bad and they way the listview behaves after adding or removing models to the observablecollections is still weird. But the last stable and recent pre release is showing promise. Overall though im a fan of the framework.

[2015-10-09 22:10] daniel-luberda commented on #55
@highplains @molinch The good thing is it's progress. Xamarin.Forms is a great framework - but as you see, it cannot live without native Xamarin.iOS, Xamarin.Android renderers :) Ok. Thanks for catching / fixing bug.

[2015-10-11 19:07] daniel-luberda opened #56 "Change title of nuget packages"
Could we change it to be compatibile with this requirements:  https://github.com/xamarin/plugins (we could list FFImageLoading there)

- FFImageLoading Plugin for Xamarin iOS/Android
- FFImageLoading Plugin for Xamarin Forms
- FFImageLoading Transformations

[2015-10-12 05:30] molinch commented on #56
I already have one of my plugins there: ManageSleep.
Unfortunately since FFImageLoading doesn't have WP support I don't think we can list it.

[2015-10-12 12:16] daniel-luberda commented on #56
I didn't know if it's required to support Windows too. We'll work on this later :)

But... nuget names could be changed. "Xamarin forms renderer..." title is a little confusing.

[2015-10-12 20:26] bertbeck opened #57 "Build issue - TransformationBase missing"
I'm doing a build of the entire solution and get an error: TransformationBase could not be found.

See attached screen shot

![screen shot 2015-10-12 at 4 23 51 pm](https://cloud.githubusercontent.com/assets/6159170/10437842/f0f83aae-70fd-11e5-8482-c216d47dad1e.png)

[2015-10-12 21:22] daniel-luberda commented on #57
Transformations are in a separate DLL. Just add this package https://www.nuget.org/packages/Xamarin.FFImageLoading.Transformations/ as a reference or add transformations as a reference.

[2015-10-12 21:25] daniel-luberda commented on #57
Forgot about it. And add `using FFImageLoading.Transformations;` This sample should be fixed, we forgot about it.

[2015-10-12 21:39] daniel-luberda commented on #57
If you only want to build FFImageLoading, you can safely unload this project.

[2015-10-12 23:43] bertbeck commented on #57
Thanks Daniel - I added the using statement to all tranformations and it
builds ok now

Bert

On Mon, Oct 12, 2015 at 5:39 PM, Daniel Luberda <notifications@github.com>
wrote:

[2015-10-13 00:47] bertbeck commented on #57
I just ran the demo - looks great!

In trying to use it though - I'm running into a problem. My app needs to
display circular images - so I'm using this:

            ImageCircle.Forms.Plugin.Abstractions.CircleImage picture = new
 ImageCircle.Forms.Plugin.Abstractions.CircleImage();
            picture.SetBinding (Image.SourceProperty, "ImageUrl",converter:
new WebUtil.CacheConverter());

[2015-10-13 00:59] daniel-luberda commented on #57
Actually, FFImageLoading can display Circle Image out-of the box. Just use CircleImageTransformation:

`.Transform(new CircleImageTransformation());`

Look at this:
https://raw.githubusercontent.com/molinch/FFImageLoading/master/samples/Screenshots/android_transformations.png

I'm not changing images dynamically. FFImageLoading has Loading And Error placeholders support. It handles everything auto

[2015-10-13 01:04] bertbeck commented on #57
thanks!

btw - what do you charge per hour? I may need some help down the road or
may have some work

Bert

On Mon, Oct 12, 2015 at 8:59 PM, Daniel Luberda <notifications@github.com>
wrote:

[2015-10-13 01:46] daniel-luberda commented on #57
You can contact me with email provided on my github profile.

[2015-10-13 05:35] #56 closed

[2015-10-13 05:35] molinch commented on #56
Nuspec changed and packages are also already changed on nuget.org.

[2015-10-13 05:58] #57 closed

[2015-10-13 05:59] molinch commented on #40
@patook I cannot reproduce so if I don't have news I will close this issue.

[2015-10-13 16:30] patook commented on #40
Hi Fabien,

Sorry I ended up switching to a different image grabbing system since I had to push out the app urgently.

The way I had reproed it was by fetching 24 images from the same domain. One of them failed to download (which is fine) but then the empty image was cached.

Best

From: Fabien Molinet [mailto:notifications@github.com]
Sent: Monday, October 12, 2015 11:00 PM
To: molinch/FFImageLoa

[2015-10-13 17:59] softwaremills opened #59 "Feature request: load to Bitmap instead of ImageViewAsync"
FFImageLoading is pretty fantastic. I have a use case where I'm making Android notifications that require `Bitmap`s. Could you make an overload of `Into` that loads into `Bitmap`s or something similar instead of `ImageViewAsync`s?

I did try making a `SideEffectTransformation` that would copy the bitmap in directly, but immediately worried that caching would prevent future notifications with the s

[2015-10-13 19:21] daniel-luberda opened #60 "Xamarin.Forms - Images get mixed after a lot of requests (cell reusing)"
Please try this sample:
https://github.com/daniel-luberda/FFImageLoading/commit/c916f4c5b8b4de67d275414ffd39d1a00b6b2a12

Steps to reproduce:
- Open List Demo
- Scroll the list FAST few times from start to end
- Click the "Duplicate list items"
- Scroll the list FAST few times from start to end
Result:
Images get mixed (wrong order).

[2015-10-14 00:56] daniel-luberda commented on #60
Fixed it. It would be nice to make a new build. https://github.com/daniel-luberda/FFImageLoading/commit/8d506a4121173b2ca015c15fad0cb257ec3e7cac

[2015-10-14 04:23] molinch commented on #60
Seems like a Xamarin Forms bug that you "fixed" am I right ?
What does the Invalidate?

[2015-10-14 06:03] molinch commented on #59
Thanks @softwaremills!

Your need is really a special use case, that would not fit into this lib, therefore it should not be that hard to implement it on your side. You could subclass ImageLoaderTask and totally bypass the WorkScheduler.

Your subclass could have a method `RetrieveBitmapAsync`:
[code]

Then if you have your own version of it, you can instantiate it and await it:
[code]

[2015-10-14 10:54] daniel-luberda commented on #60
Of course. Invalidate is an Android method. If invalidate() gets called it tells the system that the current view has changed and it should be redrawn as soon as possible. Original Image renderer had an Invalidate override that skips Invalidate operation once after setting ImageSource. That was the cause why images didn't always reload when FAST scrolling. I just removed override and that's all.

[2015-10-14 15:31] bertbeck opened #61 "IOS - IOException - too many files open"
I'm randomly getting this error - I think the downloader may be trying to open too many connections at once - or maybe it is not trapping open errors ? I was getting these errors originally in my app when using listivew with url images - it seemed to be also trying to download too many images at once. This was run in the IOS iphone6 simulator, Xamarin Studio Stable version, Xcode 6.4

(sorry to pa

[2015-10-14 16:45] molinch commented on #61
Difficult to say without reproduce sample. Could upload something or pieces of your code?
If you prefer to send via email it's also fine

[2015-10-14 17:32] molinch commented on #60
Thanks Daniel it's much clearer now.
I think it would be better to remove the hack and change nuspec. As you said the lib automatically auto cancels previous requests so it's quite safe to do so.

[2015-10-14 17:34] daniel-luberda commented on #60
Ok, if canceling a lot of requests is fine, we could merge it. :) But don't change dependencies to XF >-1.5, 1.4 is fine too (it'll just cancel requests)

[2015-10-14 17:34] molinch commented on #60
Fine for me!

[2015-10-14 17:34] daniel-luberda commented on #60
Ok :)

[2015-10-14 17:43] molinch commented on #60
New nuget pushed: https://www.nuget.org/packages/Xamarin.FFImageLoading.Forms/
Could you give it a try?

[2015-10-14 18:07] bertbeck commented on #61
I'll put together a sample and email it

Does the code limit the number of simultaneous transfers ? Is there a way
to set the max # ?

thanks

Bert

On Wed, Oct 14, 2015 at 12:45 PM, Fabien Molinet <notifications@github.com>
wrote:

[2015-10-14 18:09] molinch commented on #61
Max number of concurrent transfers is limited by number of physical cores. So it should not be a lot in fact. It's quite strange that you get this, I'm wondering if it's not a Xamarin iOS issue under the hood.

The sample will definitely help: you can email it at fabien.molinet AT gmail.com

[2015-10-14 18:33] molinch commented on #61
Do you have SGen generational garbage collector turned on?

[2015-10-14 19:03] softwaremills commented on #59
Works great, many thanks!

For posterity, my final class looked like this:

	public class BitmapLoaderTask : ImageLoaderTask {
		public BitmapLoaderTask(string url)
			: base(ImageService.Config.DownloadCache, new MainThreadDispatcher(), ImageService.Config.Logger,
				ImageService.LoadUrl(url).TransparencyChannel(true), null)
		{
		}

		public async Task<Bitmap> RetrieveBitmapAsync()
		{
			// Tr

[2015-10-14 19:04] #59 closed

[2015-10-14 19:56] molinch commented on #59
Thanks for the feedback!

[2015-10-14 21:15] daniel-luberda commented on #60
Working good. Can be closed :)

[2015-10-15 06:35] davidtavarez opened #62 "Malformed rounded image (RoundedTransformation)"
I'm using FFImageLoading.Transformations.RoundedTransformation to get circular image and is working, but the final rendering is malformed.
![simulator screen shot oct 15 2015 2 28 16 am](https://cloud.githubusercontent.com/assets/337107/10506364/311f210e-72e5-11e5-8f28-8415f00e267a.png)

ExampleFile: http://files.parsetfss.com/bac1c207-ac7e-428b-b7ab-ebd97e023c60/tfss-7340424e-9323-4b47-a727-4d62a

[2015-10-15 06:40] #60 closed

[2015-10-15 06:48] molinch commented on #62
We will need to investigate.

In case you want to have a look implementation for the circle transformation is here: [CircleTransformation](https://github.com/molinch/FFImageLoading/blob/master/FFImageLoading.Transformations.Droid/CircleTransformation.cs) which relies on [RoundedTransformation](https://github.com/molinch/FFImageLoading/blob/master/FFImageLoading.Transformations.Droid/RoundedTransfo

[2015-10-15 07:36] daniel-luberda commented on #62
@davidtavarez  Can you try it without `DownsampleWidth` - `leave only `DownsampleHeight`? You don't need to set two properties. It downsamples one of the dimension, preserving aspect Ratio.

[2015-10-15 08:31] daniel-luberda commented on #62
iOS transformations here, previous were for Android:
[CircleTransformation.cs](https://github.com/molinch/FFImageLoading/blob/master/FFImageLoading.Transformations.Touch/CircleTransformation.cs)
[RoundedTransformation.cs](https://github.com/molinch/FFImageLoading/blob/master/FFImageLoading.Transformations.Touch/RoundedTransformation.cs)

[2015-10-15 08:57] molinch commented on #62
@daniel-luberda Implementation is different on iOS
I wonder if we shouldn't try to have something more similar

[2015-10-15 13:12] daniel-luberda commented on #62
We could. Will have to think about it, if you have some ideas, just write to me.

[2015-10-15 13:48] davidtavarez commented on #62
I tried without downsampling the size. The Bitmap should be resize it properly.

Android
[code]

iOS
[code]

[2015-10-15 16:10] daniel-luberda commented on #62
My proposal is to:

- Add optional parameters widthAspectRation and heightAspectRatio for CircleTransformation and RoundedTransformation. With this, the transformation could be done to our desired size - eg. if we want to have rounded square but the image is rectangle we could pass 200, 200 and the image will clipped to desired aspect ratio.
- Unify Android/iOS implementations (should work similar

[2015-10-15 16:14] molinch commented on #62
I think that we can have a helper method that accepts a couple of parameters but Transformations should remain easy to use.

So we could have:
* the helper method with some extra parameters, used only internally
* a CircleTransformation
* a CropCircleTransformation

Depending on the needs users could choose either CircleTransformation or CropCircleTransformation.

[2015-10-15 16:18] daniel-luberda commented on #62
This is a nice idea but there should be at least something like AspectRatioRoundedTransformation. Use case: if we have a different sizes of images and have a rectangle container for an image and we know it's width/height. Without it it would be impossible to make unified rounding for those images (which have different sizes, so rounding without knowing aspect ratio will be different for every of t

[2015-10-15 16:22] daniel-luberda commented on #62
BTW: Actually CircleTransformation should be crop circle transformation by default in my opinion :) There's no point for having both. On the other hand CropRoundedTransformation and AspectRatioRoundedTransformation would be useful.

[2015-10-15 16:23] davidtavarez commented on #62
What I think is something like CropCircleTransformation should by done by default.

[2015-10-15 16:27] daniel-luberda commented on #62
What is better:

- `RoundedTransformation` and `AspectRatioRoundedTransformation`
- `RoundedTransformation` with **optional** parameters (`widthAspectRatio`, `height AspectRatio`)

?

[2015-10-15 16:31] davidtavarez commented on #62
I vote for RoundedTransformation with optional parameters.

[2015-10-15 16:31] molinch commented on #62
I would prefer the same class but two constructors

[2015-10-15 16:32] daniel-luberda commented on #62
Two constructors could actually be better than optional parameters. (Activator usage, etc). That's fine for me too.

[2015-10-16 00:30] daniel-luberda commented on #62
Link: https://github.com/molinch/FFImageLoading/pull/63 Please test it.

[2015-10-16 02:21] davidtavarez commented on #62
I can't test it... just try with this image http://files.parsetfss.com/bac1c207-ac7e-428b-b7ab-ebd97e023c60/tfss-7340424e-9323-4b47-a727-4d62a279cff7-2015_10_01_014755.jpg

[2015-10-16 05:30] molinch commented on #62
I tested it with @davidtavarez image and it looks good to me. I will make an alpha nuget for the Transformations package

[2015-10-16 05:33] molinch commented on #62
Alpha Nuget is here: https://www.nuget.org/packages/Xamarin.FFImageLoading.Transformations/1.1.8-alpha1

[2015-10-16 14:00] davidtavarez commented on #62
Working good now :)
![screen shot 2015-10-16 at 10 00 07 am](https://cloud.githubusercontent.com/assets/337107/10543553/bddfdb8a-73ec-11e5-8eaa-02609d39c1b0.png)

[2015-10-16 17:35] molinch commented on #62
Thanks Daniel you rock!
And thanks David for reporting this :)

[2015-10-16 17:36] #62 closed

[2015-10-16 17:37] molinch commented on #40
I don't have this issue and there is no sample to reproduce so I close it.

[2015-10-16 17:37] #40 closed

[2015-10-16 17:38] molinch commented on #61
Any news Bert?

[2015-10-16 20:14] bertbeck commented on #61
Hi Fabien,

Not yet - I've been overly busy trying to get a beta out. I'll have more
time on this in the next few days.

It fails once in a while but not all the time.

I'll try to get you something over the weekend.

Btw - in chatting with another developer - an idea popped up -

Allow batching of image loads

This would require the developer to create a special backend web
method/service

Basica

[2015-10-16 21:42] daniel-luberda commented on #62
FFImageLoading rocks! :P Glad it's working. I definitely not rock today. Just finished rollerblading. Result: hands and one knee teared of a lot. :P

[2015-10-16 21:44] daniel-luberda commented on #40
I was trying to test it too. Couldn't reproduce it. So it's safe to close it for now.

[2015-10-17 23:43] davidtavarez commented on #62
@daniel-luberda get well soon... there is a lot of work to do here :smile:

[2015-10-20 23:19] daniel-luberda commented on #62
Thanks, I'm almost fine now. Made a new transformation. You can choose different style of every corner in image. https://github.com/daniel-luberda/FFImageLoading/commit/a50e006c1fe3ab93a855b68a24c4519aedbc67cc

![nexus 4 lollipop screenshot 10](https://cloud.githubusercontent.com/assets/13569983/10623705/a9012950-7791-11e5-8137-9e14bad5f79f.png)

[2015-10-25 20:16] molinch commented on #61
@bertbeck Batching of image load is interesting but really tightly coupled to the backend so it would not fit in this lib. It could be transparent for you if you were using HTTP2 for example with a HttpHandler that supports it (HTTP2 offers multiplexing).

If you want to have more advanced features like connection pooling/connection reuse I think that NSUrlSession offers these on iOS but I don't k

[2015-10-25 22:28] bertbeck commented on #61
Hi Fabien,

The problem may be better - I updated Xamarin tools and to XCode 6.4, and
things seems to be better. I've been working on another part of the project
- will return to messaging (where this problem comes up) this week and I
will send you a small repo when I can.

I'll have more input and may try image batching down the road.

thanks

Bert

On Sun, Oct 25, 2015 at 4:16 PM, Fabien Molinet

[2015-10-29 01:51] kirajhpang commented on #46
hi, I willing to use FFImageLoading in my xamarin.forms project, but wp will throw exception when it come to that page which needed FFImageLoading library.

I already added the FF library into wp project which I understand it cannot init(). I will use devie on platform to avoid wp use FF, but it still crush when come to that page.

btw, my wp project use PCL also.

Any comment to solve the wp prob

[2015-11-03 01:37] kirajhpang opened #67 "null reference on FFImageLoading.Helpers.MiniLogger"
Hi, guys, thanks for the great library. I wanted to said it is grateful and powerful image helper in xamarin forms. But i get this error message when I testing on it several time, it seem like can't download image and keep calling **MiniLogger** to display output message. I was trying to increase the **RetryCount & RetryDelay**, the problem isn't solve, even occur after all image download.

lookin

[2015-11-04 09:52] molinch commented on #67
@kirajhpang From your sample it's quite heard to understand what's going on.
Did you reference the nuget package in your iOS and Android package?

@daniel-luberda Any idea?

[2015-11-04 10:04] kirajhpang commented on #67
@molinch I follow the description on Github. Add FF library on **PCL, Android, iOS** project and **WP** (well, I know it can't work), and called **init()** on each platform.

I suspect that the image is fail to download so it called **MiniLogger** to print out message, and somehow the string is null, so it throw null reference exception.

Btw, the try catch exception didn't work, so I assume that'

[2015-11-04 10:05] molinch commented on #67
Could you give the URL for the image ?

[2015-11-04 10:11] kirajhpang commented on #67
I can't, it is return by the server, basically is just http URL and company own it.
Currently, maximum picture needed to be download is around **7-8** only, without this library, 4-5 image will crush definitely y java **OutOfMemory** exception.
Sometimes it work very smooth, but will crush after several action, exception same as above I described.

[2015-11-04 12:02] daniel-luberda commented on #46
@kirajhpang FFImageLoading isn't currently compatible with Windows but I'm working on it.

[2015-11-04 12:15] molinch commented on #67
I know it is corporate stuff but would you be able to send a repro sample by email?
It will be way easier to solve

[2015-11-04 12:15] daniel-luberda commented on #67
@kirajhpang You could also try to use alternative http handler (moderhttpclient) in platform specific project:

`FFImageLoading.ImageService.Initialize(httpClient: new HttpClient(new NativeMessageHandler());`

BTW: You don't need to cast to ImageSource (`Source = (ImageSource)imageSource`) - strings would work just fine!

[2015-11-04 12:34] kirajhpang commented on #67
@molinch can I have your email? I think I able to send you the images.

@daniel-luberda I quite new in Xamarin.Forms and most of my code handle in **Xamarin.Forms PCL** project, I got try the `ImageService` written on Github API page, but I have no idea how to implement it completely. Should I use `DependencyService` or `Custom Image Render`?

[2015-11-04 12:56] molinch commented on #67
@kirajhpang fabien DOT molinet AT gmail DOT com

[2015-11-04 13:02] daniel-luberda commented on #67
@kirajhpang You only need to add `FFImageLoading.ImageService.Initialize(httpClient: new HttpClient(new NativeMessageHandler());` in every platform specific project (MainActivity.cs on Android, AppDelegate.cs on iOS)

[2015-11-05 20:40] mgorbach opened #68 "Should not log cancelled errors"
FFImageLoading currently logs when a cancellation occurs. Since the cancellation is an "excepted" error condition, this should not cause logging.

[code]

[2015-11-06 17:19] molinch commented on #68
You are definitely right

[2015-11-06 17:35] #68 closed

[2015-11-06 17:49] molinch commented on #67
@kirajhpang Great I just managed to reproduce it with your code sample & images

[2015-11-06 17:52] #67 closed

[2015-11-06 17:52] molinch commented on #67
Damn that was a hard one to find!

[2015-11-07 03:26] kirajhpang commented on #67
ok, I expecting also something similar from your commit. Thanks for fix it!
Are we able to get new version from nuget now ?

[2015-11-16 13:34] KroanNL commented on #46
This would be incredible helpful to have. Is there any progress on this?

[2015-11-17 14:27] daniel-luberda commented on #46
Very soon

[2015-11-18 17:29] molinch opened #69 "Destination array was not long enough"
This happened today:

<pre>
Nov 18 18:26:55 iPad-de-Fabien eCatTouch[2699] <Warning>:
Unhandled Exception:
System.ArgumentException: Destination array was not long enough. Check destIndex and length, and the array's lower bounds
at System.Array.Copy (System.Array sourceArray, Int32 sourceIndex, System.Array destinationArray, Int32 destinationIndex, Int32 length) <0x100408650 + 0x003ac> in <filenam

[2015-11-19 03:34] daniel-luberda commented on #46
https://github.com/molinch/FFImageLoading/pull/70

[2015-11-19 16:41] daniel-luberda opened #71 "Ability to invalidate cache"
It would be nice to have ability:

- to invalidate single cache entry for an item.
- to invalidate all cached images (clear all caches)

[2015-11-20 07:35] molinch commented on #71
It would be nice if you could play with the new ImageService methods

[2015-11-20 12:49] daniel-luberda commented on #71
Ok, I'll add them for Window too. What about Forms? What do you think about static methods:

- `CachedImage.ClearCache()`
- `CachedImage.RemoveKeyFromCache(string key)`

?

[2015-11-20 14:20] molinch commented on #71
Fine for me. I still think that knowing from which cache it's removed would
make sense.
Most of the time you don't want to mess with disk cache

2015-11-20 13:49 GMT+01:00 Daniel Luberda <notifications@github.com>:

[2015-11-20 15:05] daniel-luberda commented on #71
Ok, I can add an enum as a parameter :)

[2015-11-21 16:32] daniel-luberda commented on #71
Done with https://github.com/molinch/FFImageLoading/commit/a52d91dd69e7488442fcd905f3c72499fe44855b https://github.com/molinch/FFImageLoading/commit/a1ccfa56679f4cefb1946390942fdcb662ff3929 https://github.com/molinch/FFImageLoading/commit/a2625c9321487026c41b0a3d91152339331eed70

[2015-11-21 16:32] #71 closed

[2015-11-21 16:33] molinch commented on #71
That's great ! :+1:

[2015-11-21 16:35] daniel-luberda commented on #71
Forgot to include Forms static methods for clearing cache. But I'll do it very soon :)

[2015-11-21 22:02] davidtavarez opened #72 "Unexpected behaviour using Xamarin.Forms 2.0"
I just update to Xamarin.Forms 2.0 and I did migrate all my ListView constructors, now I'm experimenting an unexcpected result.

The video here (look at the right column): https://vid.me/jgfz

While is scrolling the image do not load. The first image loaded is repeated.

[2015-11-21 22:05] davidtavarez opened #73 "CircleTransformation is not properly drawing the image using Xamarin.Forms 2.0"
After update to Xamarin.Forms 2.0 the Transformation is not working property.

![simulator screen shot nov 21 2015 5 46 40 pm](https://cloud.githubusercontent.com/assets/337107/11320745/604f1936-907a-11e5-8168-7afe526cb223.png)

Look the left column.

[2015-11-22 16:56] daniel-luberda commented on #72
I do not understand what do you mean by "While is scrolling the image do not load. The first image loaded is repeated." Could you explain it in details?

[2015-11-22 16:58] daniel-luberda commented on #73
On the screenshot you provided CachedImage isn't a square, for a CircleTransformation Image should be a square. Did you try to set WidthRequest and HeightRequest manually?

CircleTransformation could definitely be updated to support those kind of cases though.

[2015-11-22 17:07] davidtavarez commented on #73
This was working perfectly before. I just update XF to 2.0

[2015-11-22 17:08] daniel-luberda commented on #73
Xamarin.Forms 2.0 has some new bugs. Could you try to set WidthRequest and HeightRequest manually? It could help me to debug the problem.

[2015-11-22 17:09] davidtavarez commented on #72
The same image is repeated, don't you see? And this was working perfectly with XF < 2.0

[2015-11-22 17:14] daniel-luberda commented on #72
Do you use new Xamarin.ListView items recycling feature (ListViewCachingStrategy.RecycleElement)? If yes, you should update ImageSource inside ViewCell OnBindingContextChanged override.  Do you do that?

[2015-11-24 12:21] ThomasKIT opened #74 "Crashes if the image url doesn't end with a file extension"
Hey guys,

I am having an issue due to the server appending a parameter to the querystring with an ID number (e.g.: "?123123").

In this case the FFImageLoader states "filename unknown".

If you are using the extension to determine the Filetype, here is something I stumbled upon and am successfully using: http://stackoverflow.com/questions/58510/using-net-how-can-you-find-the-mime-type-of-a-file-b

[2015-11-24 13:20] molinch commented on #74
Could you try to build git sources and check whether you still have the bug? Not having the extension shouldn't cause trouble but there was a bug, which is fixed now, that could trigger this.

If not I'll need to make alpha nugets

[2015-11-24 14:24] daniel-luberda commented on #74
+1 for an alpha nugets :)

[2015-11-24 14:29] mariusmuntean opened #75 "Nuget Package targeting PCL Profile259?"
We'd like to use FFImageLoading in our project that targets PCl Profile259[Xamarin.Forms 2.0].
Unfortunately your Nuget package targets Profile111 and hence we cannot use it.

Do you have a reason for targeting the Nuget package to Profile111? Do you plan to also provide one that targets Profile259?

[2015-11-24 14:37] daniel-luberda commented on #75
No I haven't any reason, I added those packages few days ago, I just missed that. If you test Windows FFImageLoading and have any issues or suggestions just write to me: danlub01(at) gmail.com

[2015-11-24 15:36] ThomasKIT commented on #74
Hey guys, thanks for your reply.

I can't check it right now, but I will try it out tonight.
Hopefully that's it :)

[2015-11-24 15:49] mariusmuntean commented on #75
We've compiled the Forms PCL targeting Profile259 and referenced the .DLL in our PCL project (in our Android and iOS projects we added the Nuget packages) and until now it works flawlessly(Scrolling in a ListView is now much smoother).

It would be cool if you could update the .nuspec file and re-release the Nuget packages so we can reference them instead of our compiled .DLL

[2015-11-24 16:02] daniel-luberda commented on #75
@mariusmuntean Nice to hear that. Could you tell me what projects had to be changed to profile 259?

As to nuget - I'll do that soon too.

Thanks,
Daniel

[2015-11-24 16:16] daniel-luberda commented on #73
@davidtavarez Any news?

[2015-11-24 16:17] daniel-luberda commented on #72
@davidtavarez Any news?

[2015-11-24 16:23] mariusmuntean commented on #75
Your PCL project already targets Profile259. You don't have to change there anything.

The Nuget package you published seems to target Profile111 but PCL Profile259 targets portable45-net45+win8+wp8+wpa81. Updating the .nuspec file should be enough.

[2015-11-24 16:25] daniel-luberda opened #76 "Windows missing WebP support"
- WebP support

[2015-11-24 16:31] daniel-luberda commented on #75
@mariusmuntean Thanks for the info. It'll definitely speed things up.

[2015-11-24 16:43] #46 closed

[2015-11-24 16:45] davidtavarez commented on #72
I'm changing some logic in my code, I'll post the results :)

On Tue, Nov 24, 2015 at 12:17 PM, Daniel Luberda <notifications@github.com>
wrote:

[2015-11-24 17:20] davidtavarez commented on #73
I'm changing some logic in my code, I'll post the results :)

On Tue, Nov 24, 2015 at 12:16 PM, Daniel Luberda <notifications@github.com>
wrote:

[2015-11-24 23:58] ThomasKIT commented on #73
I can second that error. I already was wondering why ... :-D

Here is my Code, It'll display a circled cached image:
![image](https://cloud.githubusercontent.com/assets/5929104/11384379/80ffe560-930f-11e5-8338-3c21b70aa768.png)

But, as soon as I change the ImageSource, I get exactly the same behaviour as the first screenshot of david depicts it.

[2015-11-25 00:32] daniel-luberda commented on #73
I'll try to debug that... Is it only on iOS?

[2015-11-25 00:44] ThomasKIT commented on #73
Alright, so I am not the only one with that bug :-D
I can second that behaviour. :+1:

Android & iOS:
If I explicitly set the WidthRequest and HeightRequest, I'll get the same semi-circle with those edges.
If I surround it with a custom control and inherit the bounds, everything seems to be fine.

Only on iOS:
Unless ... the Image Source gets changed, this will even turn that custom control contai

[2015-11-25 01:02] ThomasKIT commented on #74
Alright so I built the nuget and included it into my project. Same error ...

But what I kinda overlooked was that little tiny acronym "OOM" inbetween all those lines.
Looks like the real error wasn't the file extension, which is weird, because I can read the file as a byte array and upload it to the server, but in return I can't just use it as a remote Image Source.

I guess by using the Image So

[2015-11-25 01:34] daniel-luberda commented on #73
Will try to debug it soon when I'll have some time.

*Oh Xamarin... dear xamarin.... where to start?* :P

[2015-11-25 01:45] daniel-luberda commented on #73
When using a StackLayout, make sure to have only one child set to Expand.
Avoid RelativeLayout when possible.
When using Grid, avoid Auto rows/columns if possible. Fixed row/cols are best. Stars are equally good if parent tree follows guidelines.
When using AbsoluteLayout, avoid using AutoSize if possible.
When using Labels, set the LineBreakMode to NoWrap whenever possible.
This optimization may

[2015-11-25 03:35] daniel-luberda commented on #73
@davidtavarez @ThomasKIT
Could you try this: https://github.com/molinch/FFImageLoading/commit/ebe66d53de2fce56b3e1108ba3987edfd8e23e94 ? Can't test it now.

[2015-11-25 07:39] ThomasKIT commented on #73
Haha nice optimizations xamarin :-D

Not using the HorizontalOptions is kind of making it worse as it stretches the image across the full length.

But what seems to work is explicitly setting MinimumHeightRequest and MinimumWidthRequest.
This seems to fix it.

I will have to try it on iOS, but I can't right now.

[2015-11-25 12:22] daniel-luberda commented on #73
@ThomasKIT What about my fix? Did it help? Link: https://github.com/molinch/FFImageLoading/commit/ebe66d53de2fce56b3e1108ba3987edfd8e23e94

[2015-11-26 12:33] daniel-luberda commented on #75
https://github.com/molinch/FFImageLoading/pull/77

[2015-11-26 12:33] #75 closed

[2015-11-26 21:19] TMNDevelop opened #79 "Shared Project nugetpackage is not installable for Xamarin.Forms"
Hello,
after trying to install in a deviceless surrounding (I use this project to share the Xamarin.Forms stuff)

The following Error comes up:
Adding 'Xamarin.FFImageLoading.Forms 1.1.7.2' to Firmeo.UI.
Could not install package 'Xamarin.FFImageLoading.Forms 1.1.7.2'. You are trying to install this package into a project that targets 'portable-net45+win+wpa81+wp80+MonoTouch10+MonoAndroid10+xamari

[2015-11-26 21:22] daniel-luberda commented on #79
Hi..

Yes, it's possible but we didn't release updated nuget yet. You can clone repo by yourself and build it or wait for a new nuget release (it's quite a major one), so we have to test some things first.

Here are the updated files for building nugets: https://github.com/molinch/FFImageLoading/pull/77

[2015-11-27 11:36] molinch commented on #74
It's mandatory, on Android, to read the uncompressed file as a bitmap. Therefore yes, using DownSampling is the right approach here: if the source image is too big that's the only solution.

[2015-11-29 21:13] molinch commented on #74
I am not sure this is an issue could you detail if it was fixed with Downsampling parameter?

[2015-11-29 21:13] molinch commented on #61
Any news @bertbeck ?

[2015-11-29 21:30] molinch commented on #67
@kirajhpang Pushed to nuget.
https://www.nuget.org/packages/Xamarin.FFImageLoading/

Sorry for the delay!
Could you give it a try?

[2015-11-29 21:31] molinch commented on #68
@mgorbach Just pushed to nuget.
https://www.nuget.org/packages/Xamarin.FFImageLoading/

Could you give it a try?

[2015-11-29 21:39] bertbeck commented on #61
Hi Fabien,

The problem seems to have disappeared. Xamarin updated its tools (maybe
also updated mono) and I have not seen the problem lately.

If it re-surfaces - I'll let you know.

We'll probably do a lot more testing after January - the project has been
on hold.

Bert

On Sun, Nov 29, 2015 at 4:13 PM, Fabien Molinet <notifications@github.com>
wrote:

[2015-11-30 12:26] daniel-luberda commented on #72
Any news?

[2015-11-30 12:26] daniel-luberda commented on #73
Any news?

[2015-11-30 15:06] davidtavarez commented on #73
I updated the package... same results.
![simulator screen shot nov 30 2015 11 01 26 am](https://cloud.githubusercontent.com/assets/337107/11475182/60e60240-9752-11e5-9027-975b14190bce.png)

[2015-11-30 15:10] molinch commented on #73
the package was not updated so far. The fix is in git only. So you didn't tried using git sources isn't it?

But packages will very soon be changed.

[2015-11-30 15:11] davidtavarez commented on #73
@molinch no, I can't compile the source. I tried once.

[2015-12-01 00:23] ahohns opened #80 "Sharing violation on Android using Xamarin Forms"
Hi,

Have randomly been getting the following error:

[code]

Unfortunately I'm unable to provide an example to replicate the issue as it happens randomly. The app I'm using your awesome package with does a lot of image downloading on app load so perhaps there's too much happening at once?

Here's the full stack trace:
[code]

[2015-12-01 00:42] daniel-luberda commented on #80
@molinch We could insert a lock with a new separated lock object, only for an image files write operation. It would force only one file write at a time but on mobile devices it could actually have a *positive performance impact*. What do you think?

[2015-12-01 01:10] daniel-luberda commented on #80
http://forum.xda-developers.com/showthread.php?t=1176334
![](http://oi52.tinypic.com/2wec6dk.jpg)

[2015-12-01 10:39] molinch commented on #80
@ahohns Could you give me a list of URL examples?

Yes we can have some locking mechanism. I will check and try to repro first.

[2015-12-01 21:48] highplains opened #81 "Transformation Randomly Occurs In Cell without transformation"
I'm not sure how to recreate this, and it happens almost randomly.
Here is a screen shot showing a ListView in Forms with a cell that does not have transformations applied.
Could this be an issue of how Forms handles cell reuse?

![img_2133](https://cloud.githubusercontent.com/assets/1825076/11515301/7e4f47c2-983a-11e5-871c-e45f037abbb2.PNG)

[2015-12-01 22:10] daniel-luberda commented on #81
Do you use new Xamarin.ListView items recycling feature (ListViewCachingStrategy.RecycleElement)? If yes, inside ViewCell OnBindingContextChanged override you should do:

- clear, reapply transformations, cached image properties, etc, etc
- *after that* update ImageSource

See this: https://github.com/molinch/FFImageLoading/issues/72

[2015-12-01 22:14] daniel-luberda commented on #72
If you use new Xamarin.ListView items recycling feature (ListViewCachingStrategy.RecycleElement), then it's not a FFImageLoading specific behavior. You shouldn't use bindings, instead inside ViewCell OnBindingContextChanged override you should do:

- clear, reapply transformations, cached image properties, etc, etc
- **after that** update ImageSource

[2015-12-01 22:17] highplains commented on #81
I'm using the default ListViewCachingStrategy not the RecycleElement.

[2015-12-01 22:24] daniel-luberda commented on #81
- Did you mean ListViewCachingStrategy.RetainElement? If yes, that could be a bug.
- Is `Transformations` property binded to something? Or it doesn't change at all?

[2015-12-01 22:27] highplains commented on #81
Yes im using RetainElement. The weirdest part is that there is no code in that Cell that has to do with transformations. I couldn't believe it when I saw it behave like that because it made no sense.

Here is a screenshot of the only code that touches the control.

![screen shot 2015-12-01 at 3 27 12 pm](https://cloud.githubusercontent.com/assets/1825076/11516379/1469ab44-9840-11e5-94c6-fd2e084f82

[2015-12-01 22:32] highplains commented on #81
Also a side note... The screenshot was showing the same image over and over when it should have been different.

[2015-12-01 22:32] daniel-luberda commented on #81
It's always important to have `Transformations` property changed **before** ImageSource. I'm not sure if Xamarin.Forms preserves that order when using bindings. You could try to switch from bindings to `OnBindingContextChanged` override and see if that would help - if yes, it's a Xamarin.Forms binding issue.

[2015-12-01 22:33] daniel-luberda commented on #81
So... that's a really strange one... I don't have a clue how it's possible. Are you sure that you create a new CachedImage instance in ViewCell contructor for every cell?

[2015-12-01 22:47] highplains commented on #81
Positive. I'll let you know if i figure out a way to recreate it.

[2015-12-01 23:44] daniel-luberda commented on #81
Ok :)

[2015-12-02 04:06] goneale opened #82 "Error applying Android Transform to image"
With this code inside `override void OnBindViewHolder(RecyclerView.ViewHolder viewHolder, int position)` of a `RecyclerView.Adapter`:
[code]

When I press the back button in my Android Toolbar or even intermittently on load, I receive the following exception which crashes the app soon after displaying the blurred effect:

[code]

[2015-12-02 08:03] daniel-luberda commented on #73
### FFImageLoading v2.0.0-alpha1 nuget released
https://www.nuget.org/packages/Xamarin.FFImageLoading.Forms/2.0.0-alpha1
https://www.nuget.org/packages/Xamarin.FFImageLoading.Transformations/2.0.0-alpha1

Can you try it?

[2015-12-02 08:04] daniel-luberda commented on #79
### FFImageLoading v2.0.0-alpha1 nuget released
https://www.nuget.org/packages/Xamarin.FFImageLoading.Forms/2.0.0-alpha1
https://www.nuget.org/packages/Xamarin.FFImageLoading.Transformations/2.0.0-alpha1

Can you try it?

[2015-12-02 08:04] daniel-luberda commented on #75
### FFImageLoading v2.0.0-alpha1 nuget released
https://www.nuget.org/packages/Xamarin.FFImageLoading.Forms/2.0.0-alpha1
https://www.nuget.org/packages/Xamarin.FFImageLoading.Transformations/2.0.0-alpha1

Can you try it?

[2015-12-02 08:05] luonganhtuanTMA opened #83 "Clear cache image on Xamarin Forms (PCL)"
Dear All,
I saw static method ClearCache for CachedImage in source code for Xamarin Forms.
But when I can't using it for my project.
I'm using the latest one in nuget:
Xamarin.Forms NuGet package: https://www.nuget.org/packages/Xamarin.FFImageLoading.Forms/
Please help!

[2015-12-02 08:07] molinch commented on #83
Can you try Alpha Forms package?
https://www.nuget.org/packages/Xamarin.FFImageLoading.Forms/2.0.0-alpha1

[2015-12-02 08:09] luonganhtuanTMA commented on #83
Thanks @molinch
I'll try it!

[2015-12-02 08:11] daniel-luberda commented on #76
- Fade animation code should be here: https://github.com/molinch/FFImageLoading/blob/master/source/FFImageLoading.Windows/TaskParameterExtensions.cs#L43
- WebP support - We need some C# decoder. If someone have an info about it - let me know.

[2015-12-02 09:49] daniel-luberda opened #84 "Android transformations ignore TransparencyEnabled"
[code]

Android transformations ignore TransparencyEnabled property if new bitmap is created. How could we use it inside some transformations to save memory? Should we modify Transform method to pass also task parameters?

[2015-12-02 11:42] molinch commented on #84
We should definitely pass this parameter :)

[2015-12-02 11:46] molinch commented on #82
If you know some exact steps that lead to that. Could you write them?

[2015-12-02 15:14] davidtavarez commented on #73
Yes, right now.

On Wed, Dec 2, 2015 at 4:03 AM, Daniel Luberda <notifications@github.com>
wrote:

[2015-12-02 15:45] davidtavarez commented on #73
Same results.
![simulator screen shot dec 2 2015 11 43 04 am](https://cloud.githubusercontent.com/assets/337107/11535357/e2b78472-98e9-11e5-9399-f3abfee74a73.png)

I'll try changing the size... now, I'm just testing the package, I'm not changing the code that was working before.

[2015-12-02 15:57] davidtavarez commented on #73
Yes... I changed HeightRequest and WidthRequest to 0 (zero) and the result is the same.
![screen shot 2015-12-02 at 11 56 40 am](https://cloud.githubusercontent.com/assets/337107/11535794/d4968fee-98eb-11e5-94fa-42a621665d51.png)
![screen shot 2015-12-02 at 11 55 15 am](https://cloud.githubusercontent.com/assets/337107/11535796/d8a2f136-98eb-11e5-8532-4ce17b94db76.png)

[2015-12-02 15:59] davidtavarez commented on #73
Something is really wrong with XF2.0

[2015-12-02 16:04] davidtavarez commented on #73
Even if I change to Image the result is the same.

[2015-12-02 16:14] highplains commented on #73
If that's the case can you open a bugzilla with xamarin? I'd like to follow that

Sent from my iPhone

[2015-12-02 16:21] davidtavarez commented on #73
@highplains yes I did

https://bugzilla.xamarin.com/show_bug.cgi?id=36470

[2015-12-02 16:56] molinch commented on #73
Wow that's a nasty regression!

[2015-12-02 17:30] daniel-luberda commented on #84
Ok :) just, let me know - I could modify transformations then.

[2015-12-02 17:38] daniel-luberda commented on #73
If it's a Xamarin.Forms bug - we could close the issue now. Thanks for the info!

[2015-12-02 17:38] #73 closed

[2015-12-02 17:39] daniel-luberda commented on #83
As @molinch said - it works starting from 2.0.0-alpha1.

[2015-12-02 17:39] #83 closed

[2015-12-02 17:40] #79 closed

[2015-12-02 21:06] #84 closed

[2015-12-02 21:07] molinch commented on #84
Damn it took me more time than expected because some transformations NEED to have Alpha transparency :)

[2015-12-02 21:10] molinch commented on #82
Btw I tried to repro this exact issue during 1h and didn't managed to have it.
If you can detail as much as possible that's gonna help for debugging.
Thanks

[2015-12-02 21:10] molinch commented on #74
Any news?

[2015-12-02 23:08] goneale commented on #82
Try swapping out Universal Image Loader for FFImageLoading in this sample, that is the Xamarin template I started with. I do believe it's an issue in conjunction with recycler views. https://github.com/jamesmontemagno/Xam.NavDrawer

[2015-12-03 02:23] daniel-luberda commented on #84
Cool! :) I think we can close it :)

[2015-12-03 07:14] molinch commented on #82
Which Android version?

[2015-12-03 07:49] ThomasKIT commented on #74
Hey molinch,

yes everything is fine and the downsampling solved it.

thanks.

[2015-12-03 07:49] #74 closed

[2015-12-03 08:20] mariusmuntean commented on #75
Hi Daniel,

I just replaced the self-compiled .DLLs from my PCL project with the Nuget Package v2.0.0-alpha1 and it works just fine.
The Profile is fine and after ~1 hour of testing I haven't found any problems.

Thanks a lot!

[2015-12-03 17:33] daniel-luberda commented on #75
Thanks!

[2015-12-03 22:07] goneale commented on #82
4.4.4

[2015-12-04 05:43] ahohns commented on #82
Have also received this error. Android 6, Xamarin Forms 1.5.1.6471, FFImageLoading 2.0.0-alpha1
[code]

[2015-12-04 06:01] daniel-luberda commented on #82
@ahohns Can you give me some code to reproduce Xamarin.Forms bug? I'll Debug it. Do you use transformations?

[2015-12-04 06:10] ahohns commented on #82
I can't at the moment sorry, as I only just noticed it for the first time this afternoon testing a new beta release. Yep using a custom transformation.

While we're only on XF 1.5.1 we're using TwinTechs FastCell in a ListView which uses recycling.

[2015-12-04 06:11] daniel-luberda commented on #82
@ahohns If you're using a custom transformations be sure not to dispose/recycle source bitmap. It's really important as FFImageLoading does it after transformation. I'm quite sure it's the cause.

[2015-12-04 06:25] ahohns commented on #82
Hmm I don't believe we're doing anything with the source, it's a simple transformation to create a circle image with a border which pretty much follows existing transformations:

[code]

[2015-12-04 06:43] daniel-luberda commented on #82
I just tested it on a large list and couldn't reproduce it. Your transformations works without any exception.

[2015-12-04 06:54] molinch commented on #82
Did you guys got it in simulator too?
If yes could you tell me your config? (So I can match it)

[2015-12-04 12:42] daniel-luberda commented on #69
I think it may be caused by this: https://github.com/molinch/FFImageLoading/blob/master/source/FFImageLoading.Common/Work/WorkScheduler.cs#L239-L242
[code]

It's missing `lock (_pendingTasksLock)` as everywhere else where `_pendingTasks` is modified.

[2015-12-04 12:45] daniel-luberda commented on #61
@molinch  It may be something related to this: https://github.com/molinch/FFImageLoading/issues/80#issuecomment-160810109

[2015-12-05 13:22] daniel-luberda commented on #14
I could do it for Xamarin.Forms (width/height can be read easily). The problem is I need to make a property for this because Forms renderer uses own aspect ratio enumeration (which is included in Forms). Will `DownsampleToViewSize` name be ok?

[2015-12-06 18:05] daniel-luberda commented on #14
It is working in Xamarin.Forms (`DownsampleToViewSize` property)

[2015-12-06 18:33] molinch commented on #14
Very cool !
It'll be very useful & powerful for users 😉

2015-12-06 19:05 GMT+01:00 Daniel Luberda <notifications@github.com>:

[2015-12-08 04:03] kirajhpang opened #85 "System ArgumentException in Jobject when using FFImageLoading in ListView"
Hi, is me again. I have try the new release FFImageLoading library in Nuget, which is alpha-3 version. The library working perfect in empty project, but when I trying to add-on in production project, to replace XLabs.CircleImage, it fail every time when trying to set source property.

here is the Exception stack:
[code]

Here is the step what I had did.
1. Hide Xlabs CircleImage on XAML, and inclu

[2015-12-08 04:38] daniel-luberda commented on #85
I think there were no changes in that matter.

Some questions:
- Does it work on 1.1.7?
- Is source a file/url/stream?
- Are you sure that LoadingPlaceholder file doesn't have an extension? Did you try it without the placeholder?
- Is method SetImageSource called on UI thread? It's important.
- CachedImage can also be used with XAML. Did you try that? Example here: https://github.com/molinch/FFIma

[2015-12-08 05:49] kirajhpang commented on #85
Here are answers:

- on 1.1.7, this issue will come out randomly. but mostly is the Null reference on MiniLogger which you guys already fix.
- the source is either file or uri
- yes, I have try on the blank project with same FF reference, same implementation, same LoadingPlaceHolder, same file image or uri image it work perfectly.
- ok, the list view will use OnPropertyChanged, and yes, it will ke

[2015-12-08 05:57] daniel-luberda commented on #85
@kirajhpang

But are you calling this method from UI Thread? If not, you'll get exceptions.

Try to invoke this method like this, and see if it would help:

`Device.BeginInvokeOnMainThread(() => SetImageSource(imageSource));`

[2015-12-08 06:08] kirajhpang commented on #85
@daniel-luberda

actually this SetImageSource is a custom Control for us to centralize our data template, the Image property custom control is written by this way:
[code]
so `_image` previously is refer to CircleImage, what I want to do actually just refine a FFImage on XAML and this part of code should working.

This custom control will refresh every time ObservableCollection data have changed. S

[2015-12-08 06:24] daniel-luberda commented on #85
Ok, I understand. I just can't understand what could cause this as setting image source is quite safe operation (all exceptions are catched). What we get here is an unhandled exception `'jobject' must not be IntPtr.Zero` is quite a generic error, so it's hard to debug it. Could you replace nuget with a Debug compiled dll's and send me exception stack once again? Here's the link: https://mega.nz/#!

[2015-12-08 06:35] daniel-luberda commented on #80
@molinch Link: https://github.com/daniel-luberda/FFImageLoading/commit/a760ba920411a7ce8f30ce59857ee507cbcdcb49 What do you think about it?

[2015-12-08 06:35] kirajhpang commented on #85
@daniel-luberda I will update for you once I tested on it. Thanks,
p.s: yup, I also found that this is very generic error, could be various reasons.

[2015-12-08 06:37] daniel-luberda commented on #85
@kirajhpang Ok, waiting for some more info! :) Debug build should give us a lot more information what could cause this.

[2015-12-08 06:39] molinch commented on #85
@daniel-luberda  'jobject' must not be IntPtr.Zero means the instance has been disposed somehow.
I'm very busy today but I'll try to have a look tomorrow too

[2015-12-08 14:00] daniel-luberda commented on #85
It *may* be related: https://github.com/molinch/FFImageLoading/commit/11be110aa56ef71bad176d35fd29e0ef3e2bb8e1

[2015-12-08 17:46] daniel-luberda commented on #81
@highplains Does this bug still apply to 2.0.0-alpha3?

[2015-12-08 18:26] daniel-luberda commented on #69
I fixed it in: https://github.com/molinch/FFImageLoading/commit/13895f05c2a52c604ef7f360f84d9e0ae2b259cb

[2015-12-08 21:37] highplains commented on #81
So hard to reproduce i'm really not sure. Feel free to close this out
though.

On Tue, Dec 8, 2015 at 10:46 AM, Daniel Luberda <notifications@github.com>
wrote:

[2015-12-08 21:49] daniel-luberda commented on #81
Ok :) BTW: That could be also a Forms renderer bug. I released alpha4 with some stability improvements. If you'll experience it once again - feel free to reopen this bug. We'll try to find out what's causing this bug. Thanks.

[2015-12-08 21:49] #81 closed

[2015-12-08 21:50] daniel-luberda commented on #72
Hi @davidtavarez. Do you still experience those issues?

[2015-12-08 21:54] daniel-luberda commented on #61
Hi @bertbeck. There were some changes in 2.0.0-alpha4 - now, FFImageLoading queues file saving operations, so it shouldn't throw "too many open files" exceptions. If you still experience this bug - feel free to reopen the issue.

[2015-12-08 21:54] #61 closed

[2015-12-08 21:55] daniel-luberda commented on #80
Hi @ahohns. There were some changes in 2.0.0-alpha4 - now, FFImageLoading queues file saving operations, so it shouldn't throw "too many open files" exceptions or sharing violations. If you still experience this bug - let us know. Thanks.

[2015-12-08 22:11] bertbeck commented on #61
thanks

On Tue, Dec 8, 2015 at 2:54 PM, Daniel Luberda <notifications@github.com>
wrote:

[2015-12-08 22:16] ahohns commented on #85
I had a couple of jobject errors last week - I saved the errors so I'll post them here in case they're related and could help (I assume the first one was caught hence the nice error messages):

[code]

[code]

[2015-12-08 22:20] daniel-luberda commented on #85
@ahohns That stack trace will definitely be useful. It looks like some methods need to be reviewed. Thanks!

[2015-12-08 22:27] ahohns commented on #80
Thanks, love the effort you guys are putting in :)  I haven't seen the issue again, and will try out alpha4 cheers!

[2015-12-08 23:00] davidtavarez commented on #72
Yes, but I will find a solution soon.

[2015-12-09 10:05] KroanNL opened #86 "Retrieving image first time fails"
When I use the following code:

`ImageService.LoadUrl(newsItem.ImageUrl)
.Success(() =>
{ })
.Error(exception =>
{ })
.Into(iconImageView);`

The code will not go into success, but into the Error-[art the first time I call it. Once I call the same code for the same url thereafter (even after restart) the required image is shown. Removing the app from the device and then running it again will resul

[2015-12-09 10:53] daniel-luberda commented on #86
Hi @KroanNL

- What version of FFImageLoading? Did you try 2.0.0-alpha4?
- `Error` returns an exception. Could you give it to us? (message and stack trace)
- `loader_img` - I don't think there's a hardcoded file anywhere in FFImageLoading. Are you sure it isn't your code which sets it?

[2015-12-09 10:55] daniel-luberda commented on #80
Thanks :)

If you haven't seen the issue, I'll close it. Feel free to reopen it if you experience it once again.

[2015-12-09 10:55] #80 closed

[2015-12-09 11:39] KroanNL commented on #86
You are correct. The loader_img was actually in my storyboard. I forgot about it somehow hah!

Here is the requested info:
`{System.Exception: FFImageLoading is unable to generate image.}
	Data: Count = 0
	HResult: -2146233088
	HelpLink: (null)
	InnerException: (null)
	Message: "FFImageLoading is unable to generate image."
	Source: (null)
	StackTrace: (null)
	TargetSite: (null)
	Non-public members

[2015-12-09 15:25] daniel-luberda commented on #86
Ok. 2.0.0 will go stable soon. I think we can close the issue if it's fixed :) Feel free to reopen it if you experience it once again.

[2015-12-09 15:25] #86 closed

[2015-12-09 20:14] highplains opened #87 "Resolution / Pixelation after upgrading to latest alphas"
I'm not using any downsampling. Here is the code relating to the CachedImage

[code]

This is the resulting image after updating the nugets tot he latest alphas
![screen shot 2015-12-09 at 1 09 35 pm](https://cloud.githubusercontent.com/assets/1825076/11697289/220ce07c-9e76-11e5-9d4b-5a2c06696356.png)

Image after downgrading the nugets back to Stable....
![screen shot 2015-12-09 at 1 13 44 pm](ht

[2015-12-09 20:38] daniel-luberda commented on #87
Hi @highplains  Can you PM me a url of the image?

[2015-12-09 20:56] highplains commented on #87
Sent to your gmail.

On Wed, Dec 9, 2015 at 1:38 PM, Daniel Luberda <notifications@github.com>
wrote:

[2015-12-10 02:50] daniel-luberda commented on #87
@highplains I debugged it and I'm quite sure you have downsampling to a very small size enabled somewhere. For me, all is working fine! Screenshot.

BTW: This image is VERY large. I strongly advice to use `DownsampleToViewSize=true` on `CachedImage` - you won't loose image quality but app should be a lot more responsive.
![ios simulator screen shot 10 gru 2015 03 44 10](https://cloud.githubusercon

[2015-12-10 02:56] daniel-luberda opened #88 "Rounded/Circle Transformations sizes are not uniform across platforms"
Rounded/Circle Transformations sizes are not uniform across platforms (Windows/iOS/Android) AND different bitmap resolutions.

We'll need to fix this.

[2015-12-10 05:14] molinch commented on #87
Daniel couldn't it come from  a transformation since now we use 8bit when
possible ?

Le jeudi 10 décembre 2015, Daniel Luberda <notifications@github.com> a
écrit :

[2015-12-10 06:43] daniel-luberda commented on #87
@molinch Hi Fabien. It's on iOS, so it can't be related :)

[2015-12-10 08:36] molinch commented on #87
Valid point!

2015-12-10 7:43 GMT+01:00 Daniel Luberda <notifications@github.com>:

[2015-12-10 14:48] highplains commented on #87
I'm not using a transformation or Down sampling on that image.

Sent from my iPhone

[2015-12-10 15:10] daniel-luberda commented on #87
I couldn't reproduce it, all is working fine. Can you send a reproduction? Please also note, that older stable versions didn't have iOS downsampling, so you wouldn't notice even if it was enabled. After update, when the feature was added - it just started to work. Are you sure it isn't the case?

[2015-12-10 15:14] daniel-luberda commented on #87
@molinch User sent me this info (PM).

[2015-12-10 16:27] daniel-luberda commented on #85
@ahohns You could try 2.0.0-alpha5 to see if it'll fix those `'jobject' must not be IntPtr.Zero` issues.

[2015-12-10 17:06] highplains commented on #87
OK I think I know why this is happening to me.
So I have a list view that downsamples the images to thumbnail sizes roughly 60x60
![screen shot 2015-12-10 at 10 03 30 am](https://cloud.githubusercontent.com/assets/1825076/11722342/6b91cc8a-9f25-11e5-8abb-d57e57ffb23b.png)

This image I think is then being cached at the 60x60 size so when i click on the profile picture to open up the next screen wh

[2015-12-10 17:12] daniel-luberda commented on #87
Ok. Got it :) If it's that, it won't be hard to fix. I'll let you know when it's fixed. Thanks!

[2015-12-10 17:16] highplains commented on #87
Thanks!

[2015-12-11 02:04] daniel-luberda commented on #87
Fixed

[2015-12-11 02:12] #87 closed

[2015-12-11 06:11] highplains commented on #87
This gonna end up in a Nuget anytime soon?

Sent from my iPhone

[2015-12-11 07:03] molinch commented on #87
Perfect fix @daniel-luberda that's definitely the way to do it ;)

[2015-12-11 07:38] molinch commented on #82
@ahohns @goneale Could you give more info? Do you still have the issue btw?
If you have a repro sample would it be OK to share it? (can be done by email for privacy reasons)

[2015-12-11 07:43] molinch commented on #69
Could be fixed. So far I haven't got it again in production (we are using older sources that don't contain the fix).

[2015-12-11 07:47] ahohns commented on #82
I was able to almost always repro it this morning (using alpha-5) but another exception was happening around the same time and once I fixed that I didn't have a way to repro it any more. Perhaps it was the way we were doing something and changing it fixed it. We're using Xamarin Insights with our testers so if I see the issue still happening we'll try and track it down again.

[2015-12-11 09:54] daniel-luberda commented on #87
@highplains I'll make a nuget alpha6 soon.

[2015-12-11 09:58] daniel-luberda commented on #69
Ok, so maybe we can close it? I haven't got it either.

[2015-12-11 14:45] #88 closed

[2015-12-13 21:44] fedemkr opened #89 "Windows Phone loads the image just the first time"
Hi, I'm having trouble loading an image from Url  in Windows Phone using FFImageLoading.WIndows 2.0.0-alpha6.
The problem is that it loads the image just the first time I run the app, but if I open it up again, the image doesn't load. The only way it reappears is to uninstall the app and run it again.

The code:

        <ff:FFImage
            Name="image"
            VerticalAlignment="Stretch"

[2015-12-14 04:58] daniel-luberda commented on #89
@fedemkr That was a disk cache initialization problem. It's fixed now. I'll try to release a nuget soon (2.0.0-alpha6fix). Thanks!

[2015-12-14 04:58] #89 closed

[2015-12-14 05:04] daniel-luberda commented on #89
https://www.nuget.org/packages/FFImageLoading.Windows/2.0.0-alpha6fix

[2015-12-14 06:50] ahohns commented on #82
@molinch @daniel-luberda Did some testing using alpha-6 on a slow device today and finally got this error again. Unfortunately it was totally random, but it's possible there's some sort of corruption going on and looking at Xamarin Insights the devices we see this error from are slower / older devices. We're using Xamarin 1.5.1

In rare cases after clicking around the app really fast (especially d

[2015-12-14 07:17] molinch commented on #82
Many thanks for investigating it @ahohns
On Android bitmap memory is not reclaimed in a deterministic way.
Due to that memory will grow until GC kicks in. Currently we force GC only when getting an OutOfMemoryException, which oftently only delays the issue.
Therefore when the memory is really too low Android kills the app and there is no way to catch it. I believe that is what happens here. I coul

[2015-12-14 13:34] molinch commented on #81
Btw, if there is a memory issue then transformation won't be applied (since it consumes even more memory)

[2015-12-14 13:51] daniel-luberda commented on #89
@fedemkr Did it work for you?

[2015-12-14 14:04] #69 closed

[2015-12-14 14:09] daniel-luberda commented on #85
I'm closing this issue since we've done some fixes which should prevent from `'jobject' must not be IntPtr.Zero` exceptions. If you experience it once again- just reopen the issue. Thanks.

[2015-12-14 14:09] #85 closed

[2015-12-14 14:11] daniel-luberda commented on #72
@davidtavarez Any news? Did you try the latest alpha6?

[2015-12-14 21:02] davidtavarez commented on #72
@daniel-luberda I found it! on the next comment and is nothing with the CachedImage. Please, close this issue when I post the details.

[2015-12-14 21:26] daniel-luberda commented on #72
Ok, if it's not FFImageLoading issue, I am closing it. Luckily, it looks like there are no more bugs to fix for the stable release! :P Thanks!

[2015-12-14 21:26] #72 closed

[2015-12-14 23:18] fedemkr commented on #89
It works perfectly. Thank you very much. :+1:

[2015-12-15 00:51] ahohns opened #90 "Sometimes see null ref exception errors and bitmap reconfigure warning spam together"
Am seeing a null reference exceptions appearing when clicking around (for both Uri and File images) and at the same time warnings about calling reconfigure on a bitmap in use. The warning says it could cause graphical corruption and that's what happened. [See screenshot](https://dl.dropboxusercontent.com/u/2404186/tmp/rno-errors_15-12-15.jpg)

While doing testing I loaded the root page, then click

[2015-12-15 01:13] ahohns commented on #82
A bit of googling and the impression I get is the error is thrown when trying to use a bitmap that has been recycled or collected, either manually or when imageView is recycling the drawing cache for whatever reason. So perhaps it is somewhat memory related where a bitmap gets thrown out of the cache but is still being referenced somehow?
The app itself is never in danger of running out of memory

[2015-12-15 04:05] daniel-luberda commented on #90
My commit fixes possible null exception but doesn't apply to `[Bitmap] Called reconfigure on a bitmap that is in use! This may cause graphical corruption!` @molinch any clues?

[2015-12-15 04:57] molinch commented on #90
Awesome investigation @ahohns ! This will definitely help.
It's definitely an issue with ImageCache that gives a Bitmap still in use.

By any chance @ahohns would you have a repro that you could email me?

[2015-12-15 05:15] molinch commented on #90
In any case I think our implementation of cache/bitmap pool, on Android, should be closer to TangoAndCache: https://github.com/rdio/tangoandcache

I will integrate some of their nice ideas

[2015-12-15 16:23] daniel-luberda commented on #90
@molinch Do you want to include those changes in 2.0.0?

[2015-12-15 16:29] daniel-luberda commented on #90
BTW: It would be nice to make a generic caches interfaces in a common project. What do you think about it?

[2015-12-15 17:10] molinch commented on #90
I will check the effort and come back to you.

[2015-12-15 22:33] daniel-luberda opened #91 "Possible Android cache bug"
Didn't have much time to debug it, but it looks like we've got some bug when using transformations on Android.

I added new CropTransformation with a demo: https://github.com/molinch/FFImageLoading/commit/cd196c8c3a20a5ba7d77b42049c9de8070edeed9

- Run sample Xamarin.Forms app
- Open CropTransformation demo
- Try to zoom in / zoom out few times
- After a few transformation you'll get blank image a

[2015-12-15 23:39] molinch commented on #91
I don't have any issue with any transformation: I just tested. Therefore with CropTransformation there is a dezoom issue when image is taken from cache though.

[2015-12-16 00:04] daniel-luberda commented on #91
It's not only with CropTransformation. If you use any other transformation in that example the issue is the same. Any clues what that could be? The issue is only on Android.

[2015-12-16 01:28] daniel-luberda commented on #91
@molinch It's caching problem. If I change Key property to:
[code]

... everything works fine! Any clues?

[2015-12-16 08:27] ahohns commented on #90
@molinch I went into work early today with the intention of trying to create a repro for you but we're close to release so was busy all day :(  Will be off until Monday as well. Was basically the same as the recycled bitmap thing - loading up heaps of images on other pages then returning to the main page and browsing through the listview.

[2015-12-16 12:36] molinch commented on #90
MASSIVE change to better handle bitmap reuse (beware it's absolutely not the same as caching) done in https://github.com/molinch/FFImageLoading/commit/25c96f7c86057aff6741af15b973a528a83bbf55

It's currently only in branch [better-bitmap-pool] (https://github.com/molinch/FFImageLoading/commits/better-bitmap-pool)

[2015-12-16 12:43] molinch commented on #82
It's not on Nuget so far but there is a branch with changes that will definitely help: https://github.com/molinch/FFImageLoading/tree/better-bitmap-pool

Could you give it a try? @goneale @ahohns

[2015-12-16 16:06] daniel-luberda commented on #90
@molinch Nice work! I'm going to do some tests soon.

[2015-12-16 18:17] daniel-luberda commented on #82
@molinch Tested it for a while and didn't experienced any problems yet. It works very good! The only problem is I still experience this: #91 which is definitely a cache bug (if I modify transformation key to return random string, so it bypasses cache, it works good)

[2015-12-16 19:47] molinch commented on #82
Ok that's great, on my side I didn't got any issue too but I tested it so far on a real projet.
I'll check for #91 now

[2015-12-16 22:47] #91 closed

[2015-12-16 22:50] molinch commented on #91
Fixed

2015-12-16 3:28 GMT+02:00 Daniel Luberda <notifications@github.com>:

[2015-12-16 23:04] daniel-luberda commented on #91
Superb! That was a hard one I think :)

[2015-12-16 23:21] molinch commented on #91
Yes it was a lot of pain!
Btw this issue happened because two requests were done almost at same time: one succeeded, one got cancelled as expected. But then cancellation code was buggy.

Now it works but we still have two requests done (this part is strange).

[2015-12-16 23:23] daniel-luberda commented on #91
Yes! That's because of Xamarin.Forms bug (duplicating propertychanged calls), we deleted the fix, but samples use older Forms version. I'm going to update to Xamarin.Forms 2.0 but only after they will release a stable release... current has a lot of bugs.

[2015-12-16 23:50] ahohns commented on #82
@molinch Wow nice work, you're a ninja! I won't be able to test until Monday (Australian time) but will definitely give it a go then.

[2015-12-17 00:10] daniel-luberda commented on #82
@molinch @ahohns I'll make a nuget with recent changes (alpha8).

[2015-12-17 01:36] fedemkr opened #92 "Windows Phone does not load ErrorPlaceholder image when Source null or empty"
Hi, it's me again. I'm currently using version FFImageLoading.Windows 2.0.0-alpha6fix and when the Source is null or empty the control does not load the Error Placeholder image.
In the other platforms (iOS & Android) works perfectly but in WP does that. Am I missing something?

The code:

    <ff:FFImage Name="image"
                                    Grid.Row="0" Grid.Column="0" Grid.RowSpan="2"

[2015-12-17 01:39] daniel-luberda commented on #92
Hi @fedemkr,

I don't really understand why would you want to load an error placeholder if the source is null? Null source means you want to clear the view. It's not possible to get error when setting null as a source. Could you elaborate?

Thanks,
Daniel

[2015-12-17 01:50] daniel-luberda commented on #92
Also you could make a custom `Source ` value converter which replaces `null` `UserImagePath` strings with a default `ic_defaultuser.png` for that.

[2015-12-17 02:23] fedemkr commented on #92
@daniel-luberda Thanks for your quick answer and I was thinking about the converter to solve this. But when source is Empty should the control also clear the view? If so I'm on my way to create the converter :+1:

[2015-12-17 02:26] daniel-luberda commented on #92
Do you mean source is `string.Empty`? Currently, View is cleared when a source is `null`.

[2015-12-17 02:30] fedemkr commented on #92
Yes, I'm binding against UserImagePath, and when the user does not have an image, that property is set to `string.Empty` . In that case, should the control show the ErrorPlaceholder or clear the view?

[2015-12-17 03:55] fedemkr commented on #92
The converter worked perfectly. Thank you very much for the help :+1:

[2015-12-17 05:00] #92 closed

[2015-12-17 10:46] Rajeshr34 opened #93 "Error: System.Net.WebException: Aborted"
I am getting this error every time
```System.Net.WebException: Aborted.```

[code]

[2015-12-17 10:57] molinch commented on #93
You have activated break on all exceptions I think.
So if your image cannot be loaded this is the expected behaviour.

[2015-12-17 11:03] Rajeshr34 commented on #93
Images are loading. Problem is when i play with the application like going to another activity and when i come back to old activity after some time it triggers the error.

[2015-12-17 11:13] molinch commented on #93
Does it crash the app?
If not it's expected behaviour: you must have all exceptions turned on.

[2015-12-17 11:17] Rajeshr34 commented on #93
I have turned all the exceptions. yes it crashes the app.

[2015-12-17 11:20] molinch commented on #93
Ok thanks for the info.
Could you send us a sample that reproduces this? It should be easy to fix once we get it.

[2015-12-17 18:02] chapayGhub opened #94 "Not supported UIImage.FromBundle("image.png") for placeholders"
Not supported resources which placed in bundle assets catalog

[2015-12-17 18:17] molinch commented on #94
You know writing a bit more context doesn't harm, right now I don't understand what you mean.

Which OS & version, which device?
If it is an exception do you have a stacktrace?

[2015-12-17 19:39] daniel-luberda commented on #94
It's definitely supported. I don't really understand what it's about but i could guess you would want to use:
[code]

@molinch W should prepare some docs for every platform. I'll try to make something.

[2015-12-19 10:35] molinch commented on #30
@kenkyee @sahilkhan99 Bitmap cache/bitmap pool has been heavily rewritten, based on TangoAndCache. This change drastically limits allocations.
Could you give it a try?

[2015-12-19 15:19] daniel-luberda commented on #94
Feel free to reopen this issue if you provide more details about the issue. Thanks.

[2015-12-21 04:18] ahohns commented on #82
Seems good here so far - ran it through its paces same as last week and haven't had any issues. I did get one random "trying to use recycled bitmap" error but it didn't have any useful stacktrace this time (no FFImageLoading trace etc) so it might not have been from this library.

[2015-12-21 04:18] ahohns commented on #90
Haven't come across anything like this so far with the new version, looking good!

[2015-12-21 04:41] ahohns opened #97 "Images load very slow on slower devices"
Testing on a slow phone with what seems to be a much slower disk (slow write speeds) results in very slow image loading. With lots of images loading at once on first load (and when scrolling through new list items with images) it causes images to load in order quite a bit more slowly compared to newer/faster phones. This was noticed last week using alpha-6 and also this week using 2.0.0.  Is it po

[2015-12-21 04:56] daniel-luberda commented on #97
Yes. The image is updated after it's written to the disk. See: https://github.com/molinch/FFImageLoading/blob/d4182ea84c688eb7a3d1abc9c9d0b236dfe71c75/source/FFImageLoading.Shared/Cache/DownloadCache.cs#L94

There's also a lock which forces only one file writing operation at a time. That could be it. https://github.com/molinch/FFImageLoading/blob/master/source/FFImageLoading.Shared/Cache/DiskCache

[2015-12-21 05:16] daniel-luberda commented on #97
SemaphoreSlim fileWriteLock supports setting timeout. Maybe we could set some timeout to allow multiple file writes after specified time?

[2015-12-21 05:25] molinch commented on #97
Please wait before changing anything here @daniel-luberda. I would like to check a few things

[2015-12-21 05:30] david-pershouse commented on #97
Maybe create a new memory stream after downloading using getbuffer and the new memorystream(byte[],offset,count) constructor (to share memory) and then skip await on save to disk (pass it the new memory stream) since even if we can't cache to disk, we probably are happy with downloaded file

[2015-12-21 05:39] daniel-luberda commented on #97
@molinch Ok. I'm currently quite busy, so I can't do anything now. You could check that.

+1 for @david-pershouse idea

[2015-12-21 05:57] ahohns opened #98 "Events only fire once on multiple images if they have the same source"
I'm not sure if this is intended behaviour, but setting a Finish event (and assumedly others) on multiple images only fires once if the images have the same source. If the images have a different source then they each fire their own Finish event.

[2015-12-21 06:07] david-pershouse opened #99 "change copytoasync default buffer size to match .net 4.5"
MS changed the default buffer size in 4.5 claiming improved performance. Maybe we should do the same:
https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/IO/Stream.cs#L48

[2015-12-21 06:13] molinch commented on #98
@ahohns I am sorry I have not clearly understood. Could you write an example?

[2015-12-21 06:19] ahohns commented on #98
@molinch Sure:
[code]
ImageB never outputs because it's the same file source as ImageA.

[2015-12-21 06:30] molinch commented on #98
Yes you are right, B will wait for A to finish, and currently it won't call callbacks.
It shouldn't be too difficult to change.

[2015-12-21 06:36] molinch commented on #99
I wonder if we can find the `large object heap threshold` used on Xam.iOS and Xam.Android.
I will ask our Xamarin key account.

[2015-12-21 12:51] daniel-luberda opened #100 "Refactor some methods to use C# await within catch blocks"
We use some tricks in try-catch blocks to call `Async` methods. In C#5 we couldn't await in catch block. Now with C#6 it's possible. It should be changed.

[2015-12-21 13:27] daniel-luberda commented on #99
We should test it out.

[2015-12-21 13:31] daniel-luberda commented on #82
@ahohns Thanks for the info. We could close it then. Feel free to reopen it if you experience those exceptions while testing.

[2015-12-21 13:31] #82 closed

[2015-12-21 13:31] daniel-luberda commented on #90
@ahohns Thanks for the info. We could close it then. Feel free to reopen it if you experience those exceptions while testing.

[2015-12-21 13:31] #90 closed

[2015-12-21 13:44] molinch commented on #99
I would rather have Xamarin answer on this topic than just committing .NET stuff.
This kind of change can improve performance but create more OOMs.

[2015-12-21 13:47] daniel-luberda commented on #99
We could easily revert it. I'm doing some tests now to see if it changes anything. Please, let me know if you get any response from Xamarin.

[2015-12-21 14:01] daniel-luberda commented on #99
BTW:

[2015-12-21 14:04] daniel-luberda commented on #99
Reverted it.

[2015-12-21 17:24] chapayGhub commented on #94
[code]
This way not work for images in assets catalog

I have some image in the assets catalog and try to load as placeholder in code

![screen shot 2015-12-21 at 8 06 40 pm](https://cloud.githubusercontent.com/assets/878464/11936533/93c82412-a81f-11e5-815a-185b444085c5.png)
[code]
As I understand
Library trying to load image as single file from bundle, but it wrong way for image from assets catal

[2015-12-21 18:08] chapayGhub opened #101 "I want re-download only one image. How I can do it?"

[2015-12-21 18:17] chapayGhub commented on #101
Now I use next approach
'''c#
	MD5Helper md5 = new MD5Helper();
	string filename = md5.MD5(parameters.Path);
	ImageService.Invalidate(filename, CacheType.All);
'''
Maybe exist another way?

[2015-12-21 19:20] molinch commented on #101
@chapayGhub yes that's the way to do it currently.
@daniel-luberda We should change it so the MD5 computation is done by the method.

[2015-12-21 19:41] #101 closed

[2015-12-21 19:41] molinch commented on #101
It will be easier with the stuff from this commit.
Btw there was a bug too that prevented to remove from DiskCache (it's fixed in git now)

[2015-12-21 19:44] molinch commented on #94
You are right we should provide a method for that. On iOS assets are compiled so I will go for ImageSource.CompiledResource

[2015-12-21 19:52] molinch opened #102 "Wrong Bitmap returned from pool"
From Luca.7923 posted on Xamarin Forums: http://forums.xamarin.com/discussion/comment/171904#Comment_171904

Crashlog:
[log (1).txt](https://github.com/molinch/FFImageLoading/files/68914/log.1.txt)

[2015-12-21 19:53] molinch commented on #102
Luca could you upload a sample or some code?

[2015-12-21 20:02] #94 closed

[2015-12-21 20:03] molinch commented on #94
@chapayGhub I just pushed a first implementation in git
Could you give it a try? It uses CompiledResources

[2015-12-21 20:07] molinch commented on #97
So to sum it up:
- we need a queue where disk writes gets queued
- there is one entry of the queue processed at a time
- if an item with the same key exists in the queue, or in the disk cache, then we should just skip it
- Thread pool tasks or a dedicated thread. Ideally I would rather use the thread pool.

[2015-12-21 20:10] molinch commented on #102
This is the method that determines if Bitmap is reusable: https://github.com/molinch/FFImageLoading/blob/88cd3596a1df7733f81559fa2d7cd8c6b3426706/source/FFImageLoading.Droid/Cache/ReuseBitmapDrawableCache.cs#L156

[2015-12-21 21:20] daniel-luberda commented on #101
@molinch @chapayGhub I don't understand what this is about. (the first mesage is empty). Is it fixed now?

[2015-12-21 21:23] daniel-luberda commented on #97
@molinch  Are you sure we need a queue. Maybe SemaphoreSlim is enough. We only need to move it to the async task which is not awaited. And that should be all. All in all FFImageloading deduplicates similar requests.

[2015-12-21 21:28] molinch commented on #97
If we want non blocking writes then yes it is needed

[2015-12-21 21:31] daniel-luberda commented on #97
What about this (psuedocode):
[code]

[2015-12-21 21:52] daniel-luberda commented on #102
I see two problems here:

1.
[code]
should be:
[code]
2. We should also pass new bitmap desired bytes per pixel as it can vary and the algorithm doesn't include that but assumes it'll be the same as bitmap which is tested if it can be used for reuse.

[2015-12-21 22:23] daniel-luberda commented on #97
I tried this approach. Works good! Take a look:

### DownloadCache.cs

[code]

### DownloadCache.cs

[code]

[2015-12-21 22:58] molinch commented on #102
Hi Daniel

First point I don't understand why it should be strictly lower.

Second, yes we should use target image config (and not source like now)

[2015-12-21 23:00] daniel-luberda commented on #102
First point it's just interpretation of comment:
[code]
It states *smaller* not *equal or smaller*

[2015-12-21 23:08] daniel-luberda commented on #97
Should I commit this?

[2015-12-21 23:08] molinch commented on #102
Ok. I will check Android doc but I'm pretty sure it is correct.

It would be nice to have a sample with hips of images of different size and format argb888 vs rgb555.
Then we can easily validate if bitmap pool behaves as expected.

[2015-12-21 23:09] molinch commented on #97
Please don't. It needs to be tested against big lists first and ideally on devices with slow writes (we can simulate it with a delay).

[2015-12-21 23:11] daniel-luberda commented on #102
I could do this. I could use a Grid like images List. for that I would need to add this nuget: https://github.com/daniel-luberda/DLToolkit.Forms.Controls/tree/master/FlowListView

We could test loading many images at a time (grid)

What do you think?

[2015-12-21 23:19] molinch commented on #102
Very good idea!

[2015-12-21 23:20] daniel-luberda commented on #97
Ok, let me know about the results if you do some tests :)

[2015-12-21 23:47] daniel-luberda commented on #97
BTW: I don't think passing cancellation token to: `var nonBlockingTask = _diskCache.AddOrUpdateAsync(filename, fileWriteStream, token, duration.Value).ConfigureAwait(false);` is a good thing, if the file was downloaded it should be saved anyway.

[2015-12-21 23:50] daniel-luberda commented on #102
I have something. Will commit soon :)

[2015-12-22 01:49] daniel-luberda commented on #102
### Error1:

[BitmapFactory] bitmap marked for reuse (136320 bytes) can't fit new bitmap (136960 bytes)

### Error2:

Generating/retrieving image: https://farm5.staticflickr.com/4141/4796759387_ebeec9a22e_z_d.jpg;GrayscaleTransformation;294x0
Generating/retrieving image: https://farm5.staticflickr.com/4141/4796759387_ebeec9a22e_z_d.jpg;GrayscaleTransformation;294x0
[SelfDisposingBitmapDrawable] On

[2015-12-22 02:09] daniel-luberda commented on #102
![ios simulator screen shot 22 gru 2015 03 05 48](https://cloud.githubusercontent.com/assets/13569983/11946254/0de87f7e-a859-11e5-98a4-130de51f0ef5.png)
![nexus 4 lollipop screenshot 13](https://cloud.githubusercontent.com/assets/13569983/11946304/69086310-a859-11e5-84c5-14dee2a410ab.png)

[2015-12-22 02:15] daniel-luberda commented on #94
@molinch NSDataAsset is iOS9 feature. Should we drop support for older SDK's by using this?

[2015-12-22 07:34] molinch commented on #94
Damn yes. We then need to use UIImage.FromBundle but more code should be changed

[2015-12-23 10:55] lbulegato commented on #102
Hi thanks for your effort,
now I am quite busy with a severe deadline.
I hope I can upload the code you asked to me as soon as possible.
Thanks again.
Luca

[2015-12-23 12:19] chapayGhub commented on #94
Next call work
[code]
With small changes in library
[code]

So I found new issue
In iOs we stored images in several sizes
error.png - iPhone3
error@2x.png - iPhone retina
error@3x.png - iPhone 6
system automatically load image for target device
[code]

[2015-12-23 20:14] molinch commented on #102
That issue was definitely coming from wrong Bitmap.Config, as @daniel-luberda suggested. We have in crashlog:
<pre>[BitmapFactory] bitmap marked for reuse (64800 bytes) can't fit new bitmap (129600 bytes)</pre>
It confirms it.

This now fixed in git.

[2015-12-23 20:14] #102 closed

[2015-12-24 06:33] chapayGhub commented on #101
@molinch  Thanks!

[2015-12-24 15:13] molinch commented on #97
I agree even though writing to disk may slow down other operations. So that's the only negative effect, and why in the first place I passed the token.

We would go for the change you propose, without a queue, therefore I still think we need a list that stores pending writes:
- If a file is pending for write then we shouldn't rewrite it (so we should stop any future write request for the same URL)

[2015-12-24 18:24] daniel-luberda commented on #97
@molinch Ok, I could make a commit with those changes (already using it when testing and there're no bugs). We could use a ConcurrentDictionary<string, Task> and check if key exists before running a new task and after write is removed from it. What do you think?

[2015-12-24 20:00] molinch commented on #97
Sounds good for me!

[2015-12-25 13:59] daniel-luberda commented on #97
Updated, non-blocking disk cache implementations which I was testing since a few days:
- iOS/Android: https://github.com/molinch/FFImageLoading/commit/a5cb2f965736bea145d6c2fafb65612a72a16735
- Windows: https://github.com/molinch/FFImageLoading/commit/82c9bf40cc9ee9a6818a18e5bfc40b4a38712d90

@molinch Do you accept it?

[2015-12-26 08:20] daniel-luberda commented on #97
https://www.nuget.org/packages/Xamarin.FFImageLoading.Forms/2.0.1-alpha1

[2015-12-26 08:28] daniel-luberda commented on #102
Please try 2.0.1-alpha1

[2015-12-26 08:28] daniel-luberda commented on #102
Please try 2.0.1-alpha1

[2015-12-26 09:57] molinch commented on #97
@daniel-luberda It's really nice. I have made a few changes in a00ee637c62a9aaf7c2798e148b9b6c694296a9e

[2015-12-26 10:02] molinch opened #105 "Cannot redisplay this drawable, its resources have been disposed."
From time to time this issue arises, it's coming from `SelfDisposingBitmapDrawable.SetIsDisplayed()`
IMO it's easy to fix. We should make additional checks when getting the image from cache.

[2015-12-26 10:49] molinch commented on #93
@Rajeshr34 I will close this issue now. If you have more feedback please create a new one. Thanks.

[2015-12-26 10:49] #93 closed

[2015-12-26 19:49] molinch commented on #105
Should be fixed by 0708dbfc6106df44356b81d8dc18ec45955019b5

[2015-12-26 19:50] molinch commented on #105
@daniel-luberda Could you play with the heavy list and tell me if you still get it?
I cannot reproduce it anymore.

[2015-12-26 19:52] molinch commented on #99
@daniel-luberda @david-pershouse Xamarin confirmed me that the large object heap threshold is 8K.
Hence I don't think we should change anything

[2015-12-26 19:52] #99 closed

[2015-12-27 08:29] #98 closed

[2015-12-27 13:34] daniel-luberda commented on #105
@molinch Couldn't reproduce it either.

[2015-12-27 22:33] molinch commented on #105
Ok let's close it for now then

[2015-12-27 22:33] #105 closed

[2015-12-28 14:54] daniel-luberda commented on #97
@molinch As all work is done we could do some tests. I'm having some strange debug info on Windows when testing HeavyList:

[code]

But all in all, everything works just fine. What that could be?

[2015-12-28 15:16] molinch commented on #100
There are much more places than just here :)

[2015-12-28 15:17] daniel-luberda commented on #100
Ok :P I searched for "trap" word. Didn't know there's more. Will try to find it :)

[2015-12-28 15:18] molinch commented on #97
Do you have it on Android too?

[2015-12-28 15:18] daniel-luberda commented on #97
No, only on Windows.

[2015-12-28 15:22] molinch commented on #97
Could you debug with all exceptions turned on so we know what happens?

[2015-12-28 15:24] daniel-luberda commented on #100
Ok got it. Indeed, there's a lot more of it.

[2015-12-28 15:40] daniel-luberda commented on #97
Sure

[2015-12-28 15:54] daniel-luberda commented on #97
[code]

[code]

I have to dig into it.

[2015-12-28 15:56] molinch commented on #97
Almost sure it's ConfigureAwait(false) changes that did this.
Not sure which one since I cannot test

[2015-12-28 16:05] daniel-luberda commented on #97
It isn't, I rolled back and it's still there. But the fix was really easy :) https://github.com/molinch/FFImageLoading/commit/5ed1f804065763b137e8d35d80b67b655dfef97a

[2015-12-28 16:14] daniel-luberda commented on #97
Oh no, it isn't fixed. There are more exceptions. I'll try to work on that.

[2015-12-28 16:15] daniel-luberda commented on #97
Oh no, it isn't fixed. Still getting `Similar request finished but the image is not in the cache`. I'll try to work on that.

[2015-12-28 16:18] daniel-luberda commented on #97
Ok, I'll mail it to you when it's fixed. Caching works good. It's because of exceptions. I need to make more changes similar to: https://github.com/molinch/FFImageLoading/commit/5ed1f804065763b137e8d35d80b67b655dfef97a (there are more places where it's need to be rewritten)

[2015-12-28 17:22] #97 closed

[2015-12-28 17:34] daniel-luberda opened #107 "Add a border support for CircleTransformation and RoundedTransformation"
- Add a border support for CircleTransformation and RoundedTransformation
- Maybe add a border support for square images?

[2015-12-28 17:52] molinch commented on #107
Great idea!
For squares I'm not sure it's so useful. It's already easy to do so in Forms

[2015-12-29 14:46] xleon commented on #14
What about Android? is it implemented somehow? I tried ScaleToFit = true, but this is adjusting the height creating an square image. The width does not get adjusted

[2015-12-29 14:49] daniel-luberda commented on #14
It isn't implemented for iOS and Android yet. @molinch suggested possible implementations but it isn't done yet.

[2015-12-29 14:50] molinch commented on #14
Even though it's easy to provide the DownSample width or height.

[2015-12-29 14:55] daniel-luberda commented on #14
To summarize:

| Platform | Xamarin Forms | Windows | iOS | Android |
|:-----------------------------------------------:|---------------|-----------|---------------|---------------|
| Manual Downsampling (fixed width/height values) | supported | supported | supported | supported |
| Auto Downsampling (image view size) | supported | supported | not supported | not supported |

[2015-12-29 14:59] daniel-luberda commented on #107
Implemented

[2015-12-29 14:59] #107 closed

[2015-12-29 15:02] xleon commented on #14
Well, yesterday I was trying to adjust in Android to the view container, using a fixed DownSample and it didn´t work. Maybe because I was also using rounded corners. I got always a square

[2015-12-29 15:04] daniel-luberda commented on #14
Yes it's because of that. RoundedTransformations has additional constructor overrides to set width/height proportions: `public RoundedTransformation(double radius, double cropWidthRatio, double cropHeightRatio)`. Just use them and you can control that.

[2015-12-29 15:05] xleon commented on #14
I´ll try that

[2015-12-29 15:05] daniel-luberda commented on #14
Actually it did work but default RoundedTransformation constructor forces image to be a square:
[code]

[2015-12-29 15:08] xleon commented on #14
Should be something like this?
[code]

[2015-12-29 15:25] daniel-luberda commented on #14
[code]
or
[code]
DownSample always maintain original image aspect ratio. If you do `.DownSample(200, 120)` one of parameters is ignored.

[2015-12-29 15:31] xleon commented on #14
I got it working with
[code]

[2015-12-29 15:33] daniel-luberda commented on #14
Ok, but please mind: DownSample always maintain original image aspect ratio. If you do .DownSample(200, 120) one of parameters is ignored.

I'll remove some posts to keep conversation within correct subject.

[2015-12-29 19:12] molinch commented on #97
@ahohns Could you give a feedback? Btw nugets have been updated and include these fixes.

[2015-12-29 21:59] ahohns commented on #97
On holidays until Monday, home pc not set up to do any development
currently so won't be able to test until next week.

[2015-12-31 09:10] PaulAchess opened #108 "Windows Phone Silverlight support"
Hi, I was missing the windows phone silverlight support so I implemented it.

Would you like a pull request to integrate it? I just have a small problem on the forms test project that I can't seem to solve (I don't know where I did wrong but if I add the Transformation.WinSL reference it just doesn't compile with the message « payload contains two or more files with the same destination path »). A

[2015-12-31 09:57] molinch commented on #108
Hi @PaulAchess that's very cool :+1:

Yes having a PR would definitely help.
Then @daniel-luberda and myself can have a look at it and then tell you what's going on.

[2015-12-31 10:34] PaulAchess commented on #108
The best part is that I used your package just because it was the simplest I found to crop images.

But it was so powerful I thought it was cooler to try to add support for silverlight rather than find another way to crop images.

[2015-12-31 11:06] ravensorb commented on #108
+1 for bringing this in to the main library.

[2015-12-31 11:22] daniel-luberda commented on #108
@PaulAchess  That's cool :) I'll take a look at https://github.com/molinch/FFImageLoading/pull/109

To make transformations work on Windows and Forms it's necessary to make Windows Transformations Package assembly info the same as Transformations PCL assembly (version, etc).

[2015-12-31 11:35] daniel-luberda commented on #108
@PaulAchess If you could switch to linked files it would speed integration a lot.

https://msdn.microsoft.com/en-us/library/windows/apps/jj714082(v=vs.105).aspx

[2015-12-31 12:57] PaulAchess commented on #108
Thanks for your quick answer ! I'll try to add more linked files (I have a few), I was mostly blocked by the namespaces indeed.

What's the process, do I cancel this PR? Or should I make another commit / PR?

[2015-12-31 12:59] molinch commented on #108
You can make additional commits in the same PR :)

[2015-12-31 12:59] PaulAchess commented on #108
Perfect, I'm on to it. Thanks for your help :)

[2015-12-31 13:59] daniel-luberda commented on #108
@PaulAchess Cool, it would be much easier to review. Thanks for your collaboration :)

[2015-12-31 14:05] PaulAchess commented on #108
Glad I could be of some help for your amazing library :)

[2015-12-31 15:12] kalarepa opened #110 "System.OutOfMemoryException"
Couple of days ago I deployed an update to my app that contains this very library. My userbase consists of roughly 1000 people - it's not huge, but significant.
Everything (that's related to this library) seems to work great, except for one thing. Sometimes, usually on phones with 512 MB of RAM, System.OutOfMemoryException is thrown.
It originates from `FFImageLoading.Extensions.ImageExtensions.To

[2015-12-31 15:14] molinch commented on #110
Thanks for the detailed feedback.
So all crashes are on Windows platform only?

[2015-12-31 15:15] kalarepa commented on #110
Yes, but my app is Windows-only.

[2015-12-31 15:21] molinch commented on #110
I see many issues in ImageCache on Windows: https://github.com/molinch/FFImageLoading/blob/82c9bf40cc9ee9a6818a18e5bfc40b4a38712d90/source/FFImageLoading.Windows/Cache/ImageCache.cs

Since it is not LRU based & does not use maxCacheSize parameter, stuff goes in but never out.

[2015-12-31 15:40] ravensorb commented on #110
Wouldn't implementing IDisposable help address remove the objects correctly?

[2015-12-31 17:19] molinch commented on #110
For the LRU cache we can simply link & reuse the one from Android:
https://github.com/molinch/FFImageLoading/blob/master/source/FFImageLoading.Droid/Collections/ByteBoundStrongLruCache.cs

We can instanciate it in a similar way: https://github.com/molinch/FFImageLoading/blob/e81687c03edab837ca82d422d03c7a25278903d7/source/FFImageLoading.Droid/Cache/ImageCache.cs#L23

[2015-12-31 17:36] daniel-luberda commented on #110
@molinch It's not based on LRU, but it's not needed because of using WeakReferences. It doesn't hold any bitmap instances, so it they're recycled with garbage collector - it is automatically evicted.

[2015-12-31 17:38] daniel-luberda commented on #110
I don't think it's the FFImageLoading problem itself, but we will have to check it anyway. I'm worried about this part:

							try
							{
								generatingImageSucceeded = await TryGeneratingImageAsync().ConfigureAwait(false);
							}
							catch (OutOfMemoryException oom)
							{
								Logger.Error("Received an OutOfMemory we will clear the cache", oom);
								ImageCache.Instance.Clear

[2015-12-31 17:47] daniel-luberda commented on #110
@kalarepa Setting maximum cache size on Windows doesn't have any practical usage. While Windows is using some bitmap in any control - it's cache. If Windows will free its resources (no control is using bitmap anymore) - it's automatically evicted.

[2015-12-31 18:19] molinch commented on #110
@daniel-luberda this part is definitely useful on iOS/Android: if there is an OOM we need memory reclaimed ASAP, so it cleares the cache and triggers a GC (inside Clear method).
On Windows you are right, bitmaps are managed and not native. Therefore I really don't think that this issue comes from that part, when this code is hit it's already bad: you got an OOM.

As said by @kalarepa the issue ori

[2015-12-31 18:47] daniel-luberda commented on #110
On Windows you are right, bitmaps are managed and not native. Therefore I really don't think that this issue comes from that part, when this code is hit it's already bad: you got an OOM.

Yes, I was referring to Windows only, but the file which executes cache clearing is shared with all platforms - we should modify it to disable cache clearing for Windows.

Things to check:
- We should also check

[2015-12-31 19:27] kalarepa commented on #110
@molinch: That depends on image. Some of them lead to GIFs, some to videos, some are just plain images. In two first two cases I use bliting transform: https://gist.github.com/kalarepa/a4b12eec540dc23c66e8.

In general, there are three types of images in my app: avatars, preview images and full images. Transforms apply only to preview images. Full images can be huge (over 1080p), but don't have to

[2015-12-31 21:34] molinch commented on #110
@daniel-luberda Transformations on WP could use a trick like here to reclaim memory sooner for old bitmap:
https://issues.apache.org/jira/browse/CB-5102

[2016-01-01 11:47] molinch commented on #110
I have now in a branch: https://github.com/molinch/FFImageLoading/commit/9709bc21564a02bf226a4756faf0eb396e54c445

2 Disposable resources were not disposed, and old transformation data is nullified now.

[2016-01-01 13:13] daniel-luberda commented on #110
@molinch Thanks for adding `using` - I missed that.

But this: https://github.com/molinch/FFImageLoading/commit/9709bc21564a02bf226a4756faf0eb396e54c445#diff-c77559e28f7ebcd88b6ae27a8ad5796dL307 won't work because on Windows the same instance of BitmapHolder (and pixel array) is used for all transformations and other operations.

[2016-01-01 13:33] molinch commented on #110
It's not always the same instance. Look at FlipTransformation for example.

[2016-01-01 13:41] daniel-luberda commented on #110
Yes, `FlipTransformation` is one of rare exceptions - and it's nullified explictly. The whole point why BitmapHolder is reused in Windows is that in most of cases (transformations) we're dealing with pixel operation - there's no point to create int array every time as we only modify some pixels. We should definitely remove those lines.

[2016-01-01 13:50] molinch commented on #110
They will not stop working. Look at the code it nullifies only if needed.

[2016-01-01 13:50] daniel-luberda commented on #110
Ahhh ok! Sorry didn't see that: `if (old != null && old != imageIn && old.Pixels != imageIn.Pixels)` :)

[2016-01-01 13:53] daniel-luberda commented on #110
But this `old.Pixels != imageIn.Pixels` had to be removed. As sometimes in transformations Pixels are changed to different instance currently with `bitmapHolder.SetPixels` method.

[2016-01-01 13:57] molinch commented on #110
We could do that but still you won't control transformations done by other persons so I would suggest keeping the check

[2016-01-01 13:58] daniel-luberda commented on #110
So we should modify transformations to return new instance of bitmap holder if pixel data was changed completely.

[2016-01-01 14:00] daniel-luberda commented on #110
@kalarepa I'll see what can be done.

[2016-01-01 14:02] daniel-luberda commented on #110
@molinch It can be a little misleading:

- User creates a custom transformation
- User replaces pixels with `SetPixels` method
- `old.Pixels != imageIn.Pixels` bitmap holder is null and we'll a null exception

We could make `SetPixels` internal or remove the check. What do you think?

[2016-01-01 14:11] molinch commented on #110
3rd point is not valid because:
`if (old != null``

But it's up to you. Basically my concern was mainly when we create another byte array of pixels and leave the old one.

[2016-01-01 14:19] daniel-luberda commented on #110
Once again you're right. I definitely need a cup of coffee :P

[2016-01-01 15:32] daniel-luberda commented on #110
https://github.com/molinch/FFImageLoading/commit/9c16aa2da5edc709c5b4bebc7789b657c5a7f787

[2016-01-01 15:36] ravensorb commented on #110
Question -- is there a way to set a callback or "fallback" to a default image if a failure occurs (as an alternative to bubbling up the exception for a image load failure)?

[2016-01-01 16:21] molinch commented on #110
@daniel-luberda Can I let you merge the changes since I cannot test on WP?

@ravensorb Yes there is a callback for that, it is `Error()` https://github.com/molinch/FFImageLoading/wiki/API#error
In any case exceptions are trapped, with or without the callback. The OutOfMemoryException is a special case: when it occurs you cannot always trap it & be safe, the OS might kill your app.

[2016-01-01 18:44] daniel-luberda commented on #110
@molinch I made some optimizations https://github.com/molinch/FFImageLoading/commits/windows-changes

[2016-01-02 16:36] daniel-luberda commented on #108
FFImageLoading Silverlight support is done.

[2016-01-02 16:36] #108 closed

[2016-01-02 16:46] daniel-luberda commented on #110
@kalarepa Could you test the actual repo? It should be better now :)

[2016-01-02 16:48] daniel-luberda commented on #110
@molinch One more thing, I didn't do anything related to catching out of memory exceptions. Any advice where could we do that?

[2016-01-02 16:50] daniel-luberda commented on #110
@molinch  Also would it do anything at all if OutOfMemory exception on Windows basically means that nothing could be done.

[2016-01-02 18:42] kalarepa commented on #110
@daniel-luberda: thanks, I'll test it soon.

[2016-01-02 21:16] molinch commented on #110
@daniel-luberda It's already behaving like that whatever the exception we get (on iOS/Android).
There's not much you can do when you get an OOM anyway.

[2016-01-03 11:40] molinch opened #111 "Limit disk cache allocated space"
Currently the disk cache as an unlimited space: what goes in, never goes out unless you call some `ImageService.InvalidateXxx` methods.

Should we limit allocated space for the disk cache? That could bring some benefit for people loading random images that change all the time (not my use case at all though).

If we go in that direction then it's maybe time to try to use Akavache for the disk cache

[2016-01-03 11:45] ravensorb commented on #111
Having a "max cache size" would be great -- then use can remove images based on least used?

[2016-01-03 13:49] daniel-luberda commented on #111
You forgot about deleting old files which are expired (CacheDuration) - we do that currently.

Does Akavache uses only disk or does it cache also in memory? Currently, we use a Dictionary, it would be hard to have something more performant than that :)

Limiting cache size is a great idea though. +1

[2016-01-03 15:08] molinch commented on #111
you are totally right @daniel-luberda! I forgot about cache duration. I guess I was tired when I wrote this :)

In that case it's more a nice to have. And yes @ravensorb we could imagine a LRU disk cache.

[2016-01-03 16:30] molinch commented on #25
Now added in branch custom-cache-key https://github.com/molinch/FFImageLoading/commit/84f0a4b857bb34b162e285927f3e758d6ab23689

It will be merged soon.

[2016-01-03 16:32] daniel-luberda commented on #111
Another alternative is to provide something like `public Task<long> GetDiskUsageInBytes()` method. This way users could clear cache by themselves just by checking if a specific value was reached. It would be a lot easier to implement. What do you think?

[2016-01-03 16:51] molinch commented on #25
It would be great @daniel-luberda if you could add CachedImage support

[2016-01-03 17:59] daniel-luberda commented on #25
Great! Nice work :) I'll add key support soon (for CachedImage and FFImage).

[2016-01-04 05:14] daniel-luberda commented on #25
https://github.com/molinch/FFImageLoading/commits/custom-cache-key

[2016-01-04 05:38] ahohns commented on #97
Seems a lot better on the slower device, thanks!

[2016-01-04 06:00] chapayGhub opened #112 "Hi Guys!"
Happy New Year!
Thanks for your Work!
)))

[2016-01-04 06:22] molinch commented on #25
Very cool :+1: Thanks @daniel-luberda

[2016-01-04 12:52] daniel-luberda commented on #112
Thanks! :) Same to you! :)

[2016-01-04 14:22] daniel-luberda commented on #25
Docs for Forms: https://github.com/molinch/FFImageLoading/wiki/Xamarin.Forms-Advanced#custom-cache-key

[2016-01-04 14:39] daniel-luberda commented on #110
Ok, so we could close the issue now as nothing more can be done here.

@kalarepa Thanks for the info :) If you'll have any issues feel free to reopen it.

[2016-01-04 14:39] #110 closed

[2016-01-04 15:07] PaulAchess opened #113 "UIKit Consistency error"
Hi!

I'm using FFImageLoading in a Xamarin Forms project, and I reproduce all the time the exception:
[code]

When calling
[code]

On the renderer here: https://github.com/molinch/FFImageLoading/blob/master/source/FFImageLoading.Forms.Touch/CachedImageRenderer.cs#L309

It seems the operation `image.ResizeUIImage(…)` can only be done in the UI Thread.

I'm wondering if `Task.Run(…)` should be repla

[2016-01-04 15:31] daniel-luberda commented on #113
Yes, it should be easy to fix - I'll try to fix that. Meanwhile you can fix that using this method inside
[code]

[2016-01-04 15:37] PaulAchess commented on #113
Actually I tried this and it does not work, could `Task.Run()` bypass it?

Do you need help fixing it? A `TaskCompletionSource` + `InvokeOnMainThread(() => {})` should be enough I think.

[2016-01-04 15:39] daniel-luberda commented on #113
Yes. Do you have a stack trace? I have to know what exact line needs to be called on UI thread.

[2016-01-04 15:54] PaulAchess commented on #113
I can't seem to get a proper stacktrace (more than `GetImageAsByte`), probably because it is threaded.

However when I look at the code, I think it is on `image.AsPNG()` (and probably ` image.AsJPEG()` as well) (https://github.com/molinch/FFImageLoading/blob/master/source/FFImageLoading.Forms.Touch/CachedImageRenderer.cs#L320)

I'm not using desiredWidth or desiredHeight, but I also think `image.R

[2016-01-04 15:56] PaulAchess opened #114 "Remove quality parameter for GetImageAsPNG(int quality)"
The quality parameter does not make sense for PNG files.

It is not used in the iOS / Windows code and ignored by the Android framework ([here](http://developer.android.com/reference/android/graphics/Bitmap.html#compress(android.graphics.Bitmap.CompressFormat, int, java.io.OutputStream))).

I think it should be removed: I was really trying to understand what this parameter meant the first time, as

[2016-01-04 16:16] kalarepa commented on #110
@daniel-luberda @molinch
I deployed an update with all those recent improvements. On top of that, I added `Image.Source = null;` in `Page.Unloaded` event (as well as logic to set source when loaded again). This change cuts down RAM usage by 10-15 MB when switching image-filled pages.
Update is still propagating to users, so I don't know if it significantly improves the situation. But what I do kno

[2016-01-04 16:22] #113 closed

[2016-01-04 16:22] daniel-luberda commented on #113
Done :)

[2016-01-04 16:27] PaulAchess commented on #113
#Efficiency

Thanks :)

[2016-01-04 16:31] PaulAchess commented on #113
Watch out I think `image.AsPng()` ([here](https://github.com/molinch/FFImageLoading/commit/0014f29464361630008d96058de49521ddcbc038#diff-5b121fd67bb4107a3b7dcfee2ec4b306R322)) also needs it

[2016-01-04 16:34] daniel-luberda commented on #113
It should be fine :)

https://developer.xamarin.com/api/member/MonoTouch.UIKit.UIImage.AsJPEG()/

[2016-01-04 16:37] PaulAchess commented on #113
Then I don't understand why it was crashing for me.
I was not using desiredWidth nor desiredHeight, which means `ResizeImage` should not have been called.

Could `imageData.ToArray()` be unsafe for background threads?

[2016-01-04 16:43] daniel-luberda commented on #110
@kalarepa Thanks, let us know - it's a very useful information.

If you have any idea how could we be more memory efficient, just tell us. My ideas so far:

- Change BitmapHolder to use `byte[]` instead `int[]` internally - that way we could omit fast copying data from `byte[]` to `int[]` when creating `WriteableBitmap` - but GC should collect old `int[]` anyway and making custom transformations w

[2016-01-04 16:51] daniel-luberda commented on #113
That's strange - all other methods shouldn't require UI thread. Does it still crash after fixing?

[2016-01-04 16:59] PaulAchess commented on #113
The fix I tried was a lot less subtle (surround everything) and now I tried yours.

Believe it or not, it crashes at the very beginning, with `Control.Image` ([here](https://github.com/molinch/FFImageLoading/blob/master/source/FFImageLoading.Forms.Touch/CachedImageRenderer.cs#L310))

[2016-01-04 17:04] PaulAchess commented on #113
I decompiled the assembly, there is a dirty `UIApplication.EnsureUIThread()` on the getter (and the setter, good to know) of UIImageView.Image.

Stupid fat hobbit.

[2016-01-04 17:11] daniel-luberda commented on #113
Thanks for debugging. Fixed it once again (didn't have opportunity to test it). This should fix it:

https://github.com/molinch/FFImageLoading/commit/635f373769f79172be4f504ea197238163a6f13a

[2016-01-04 17:14] PaulAchess commented on #113
Just tested it, works like a charm. Also I checked, you can remove it from ResizeUIImage, it is not needed.

Thanks for the fix! I still cannot believe it was coming from a getter, that is so sneaky of them.

[2016-01-04 17:21] daniel-luberda commented on #113
Changed it - thanks for your help.

I didn't expect that too!

[2016-01-04 17:25] PaulAchess commented on #113
I checked, it is not needed to dispatch the `image.ResizeUIImage`, it can work on background.

You can remove it if you want.

[2016-01-04 17:25] daniel-luberda commented on #114
Yes, that's true, but the only, quite important thing is that it could break existing code - quality parameter will become desiredWidth parameter. That's a problem - we should leave it as is now but we could add XML info that this parameter is ignored.

[2016-01-04 17:26] daniel-luberda commented on #113
It's removed already here: https://github.com/molinch/FFImageLoading/commit/dc75cbbef92887f7db3d5db5ae31caaa833f4ad1

[2016-01-04 17:30] PaulAchess commented on #113
:+1:

[2016-01-04 17:34] molinch commented on #114
We can have two methods and one of them marked as obsolete.
Then in the future we remove the obsolete one.

[2016-01-04 17:39] molinch commented on #112
Thanks @chapayGhub
Happy new year 2016 too!

[2016-01-04 17:39] #112 closed

[2016-01-04 17:43] daniel-luberda commented on #114
I could do that - but look at the method signature: https://github.com/molinch/FFImageLoading/blob/master/source/FFImageLoading.Forms/CachedImage.cs#L520

Default parameter values :/

[2016-01-04 17:50] molinch commented on #114
Yes kinda sucks :(
Another alternative which is more verbose is:
[code]

and then we mark the other method as obsolete.  But to be honest it's a lot of change for not much...

[2016-01-04 17:51] daniel-luberda commented on #114
I'll add an XML comment for now and then we'll decide what to do. It's not that much issue after all.

[2016-01-04 17:52] molinch commented on #114
:+1:

[2016-01-04 17:53] PaulAchess commented on #114
I did not think about breaking existing code, that is indeed pretty hard to solve.

The xml documentation is already a good thing in my opinion.

Or you could use this opportunity to rename the method `GetImageAsPNGAsync(…)` (add Async)

[2016-01-04 19:32] molinch commented on #25
Merged

[2016-01-04 19:32] #25 closed

[2016-01-04 23:55] #114 closed

[2016-01-05 09:20] PaulAchess commented on #114
:+1:

[2016-01-06 01:41] daniel-luberda commented on #108
@PaulAchess @ravensorb Did you try 2.0.3-alpha1 nuget if it's working fine on silverlight? I can't test it right now.

[2016-01-06 08:03] PaulAchess commented on #108
Not yet, I was on a tight release since yesterday and I only had the time to test my own version. It's in prod, no issue so far, but I will test the alpha asap.

[2016-01-06 09:41] PaulAchess commented on #108
Okay, it works fine!

However, there is a small thing to correct on the nuspec somewhere, `Xamarin.FFImageLoading.Transformations` do not need `FFImageLoading.Windows` but rather `Xamarin.FFImageLoading` ([here](https://github.com/molinch/FFImageLoading/blob/master/source/Xamarin.FFImageLoading.Transformations.nuspec#L49))

Or `Xamarin.FFImageLoading.Forms` need `FFImageLoading.Windows` instead of

[2016-01-06 09:52] PaulAchess commented on #108
Also the description of the Forms package can be changed to add WinSL support

[2016-01-06 09:58] molinch commented on #108
I don't want a single package because I use Xamarin Studio only.
On XS you cannot do any Windows development. This means I wouldn't be able anymore to upload nugets for FFImageLoading (non Forms).

[2016-01-06 10:14] PaulAchess commented on #108
Okay, I see the issue.

Would it be possible to use a community version of Visual Studio to build it? I really think having only one package would be a plus for users and maintainability.

Nevertheless the incoherence still remains in the packages.

[2016-01-06 10:48] molinch commented on #108
It's not really difficult for users: they take FFImageLoading.Forms package and then all dependencies are resolved automatically.
If they only want Windows stuff without Forms they take the Windows package.
If they only want iOS/Android stuff they take the other package.

Maintenance, for me, is way more complicated if we bring Windows in the same nuget: I'm using a Mac with XS.

[2016-01-06 11:01] PaulAchess commented on #108
Not really difficult, more counter-intuitive. Fundamentally, Xamarin.FFImageLoading and FFImageLoading.Windows are the same packages, but both are implementations of the same FFImageLoading.

I completely understand your reasons not to merge them, this was merely a suggestion to simplify things.

With this in mind, regarding the nuspec I think then that the package `FFImageLoading.Forms` should em

[2016-01-06 11:06] ravensorb commented on #108
Would a Shared Project be easier to work with for this?  Move the files that are the same in to the Shared Project and then reference the Shared Project form both packages?

[2016-01-06 12:34] daniel-luberda commented on #108
Could you clarify if everything is working fine? Do you get any unused package installed? We could make a unified package in the future - but we'll stick to 4 nugets for now (Windows, XamariniOS/Android, Forms and Transformations).

[2016-01-06 13:05] PaulAchess commented on #108
There are 4 packages:

* `FFImageLoading.Windows`
* `Xamarin.FFImageLoading`
* `Xamarin.FFImageLoading.Forms`
* `Xamarin.FFImageLoading.Transformations`

Right now on WSL:
* `Xamarin.FFImageLoading.Forms` embeds `Xamarin.FFImageLoading`
*  `Xamarin.FFImageLoading.Transformations` embeds `FFImageLoading.Windows`

I need both `Xamarin.FFImageLoading.Forms` and `Xamarin.FFImageLoading.Transformations

[2016-01-06 14:50] daniel-luberda commented on #108
Yes, I understand it now. Thanks for detailed explanation! I will fix nuspec files now :)

[2016-01-06 15:03] PaulAchess commented on #108
Could you group it with `"portable-netcore45+wpa81"` ? It's the same dependencies.

[2016-01-06 15:24] daniel-luberda commented on #108
I would prefer to keep distinct group for Silverlight, something like that:
[code]

[2016-01-06 15:37] daniel-luberda commented on #108
@PaulAchess Could you take a look at this: https://github.com/molinch/FFImageLoading/commit/ad9f675ef46e2c601db7069268d0356a429c6f88

I hope there are no more issues.

[2016-01-06 15:47] PaulAchess commented on #108
That seems correct yes!

[2016-01-06 15:52] daniel-luberda commented on #108
@PaulAchess Thanks once again! :)

[2016-01-06 15:54] PaulAchess commented on #108
You are welcome :)

[2016-01-06 22:39] Bonelol opened #115 "FFImageLoading is unable to generate image"
Unable to get image from Facebook in iOS, when image url is like bellow
https://graph.facebook.com/1006568059385230/picture?type=normal.

Here is the code I used to do initializing:
ImageService.Initialize(httpClient: new HttpClient(new NativeMessageHandler()));

[2016-01-06 23:57] daniel-luberda commented on #115
I think it's related to http redirects.
- If you're using custom HttpClient you have to configure it to follow redirects. Did you try that?
- Did you try if it's working without using custom HttpClient?

[2016-01-07 01:29] Bonelol commented on #115
Hi Daniel, just found out it is my fault that I forgot to clear OAuth token from header. It all works now, thanks.

[2016-01-07 01:29] #115 closed

[2016-01-07 01:29] daniel-luberda commented on #115
Ok, no problem. Cheers.

[2016-01-07 10:54] wouterh opened #116 "[ios] NullReferenceException in CachedImageRenderer.Dispose()"
I am using master (commit b4e81f3).

I saw the following exception once:

[code]

I haven't been able to reproduce it since then. It occured when I was navigating away from a screen that includes `CachedImage`s.

[2016-01-07 11:50] #116 closed

[2016-01-07 11:50] daniel-luberda commented on #116
@wouterh  Thanks! Good catch! There was an issue in `Dispose` method. It's fixed.

[2016-01-07 19:09] daniel-luberda opened #117 "Xamarin.Forms - ListViewCachingStrategy.RecycleElement issue"
**Problem:**

If we use Bindings for setting `Source` property in a ViewCells which are used in a ListViews with ListViewCachingStrategy.RecycleElement enabled - images get loaded into CachedImage not correctly (they are mixed).

**It's because:**

**To avoid it:**

#### Instead using bindings for setting Source property - please use ViewCell's OnBindingContextChanged override to update it avoidin

[2016-01-07 20:07] molinch commented on #117
I would suggest writing about it in XF Slack room: https://xamarinchat.slack.com
Maybe some XF guys is there

[2016-01-07 20:22] coonmoo opened #118 "UIKitThreadAccessExceptionUIKit while using Forms renderer"
When I try to call "MyImage.GetImageAsJPG(100, 100)" in iOS I always end up with the following exception.

I'm sure I call it on the UI thread (even when I use Device.BeginInvokeOnMainThread()  for the call) the exception occurs.

[code]

Any ideas?

[2016-01-07 20:23] daniel-luberda commented on #118
Are you using 2.0.3 which was released about two hours ago? It should be fixed :)

[2016-01-07 20:38] coonmoo commented on #118
Awesome support! Thank you.

Indeed 2.0.3 fixed the problem.

[2016-01-07 20:39] molinch commented on #118
:+1:

[2016-01-07 20:39] #118 closed

[2016-01-07 21:36] rusty21 opened #119 "FFimage loading in cells of a tableview"
I'm creating a news feed type tableview where each cell will need to have at least 3 images loaded when the cell scrolls onto the screen. When using ff image loading my tableview is very laggy. When a new cell is about to enter this is a very noticeable stutter that make the tableview almost unusable. If I comment out all of my ImageService.LoadUrl().Into()'s the lag goes a way. Is there anything

[2016-01-07 21:44] molinch commented on #119
Could you post the image loading request that you write?
Also which platform and device model?

[2016-01-08 12:39] coonmoo opened #120 "Xamarin.Forms nuget lacks Windows UWP support (currently only WinRT and SL)"
I added the latest (2.0.3) FFImageLoading.Windows and Xamarin.FFImageLoading.Forms to my Xamarin.Forms UWP Project via nuget.

When I try to compile the Project I get the following errors:

Severity	Code	Description	Project	File	Line
Error		Cannot resolve Assembly or Windows Metadata file 'Xamarin.Forms.Platform.WinRT.dll'	MyUwpApp	D:\Apps\MyUwpApp.csproj
Error		Type universe cannot resolve assemb

[2016-01-08 13:58] rusty21 commented on #119
It's actually happening on both iOS and Android. For iOS the test device is an iPhone 5 running iOS 8. The android device is a Samsung Galaxy s5 running android 4.4.
I have varius other things in my "GetCell" method but here are the ff image loading parts.
Android:
    if (!string.IsNullOrEmpty (item.SiteIconUrl))
    {
    	ImageService.LoadUrl (item.SiteIconUrl).IntoAsync (view.FindViewById<Imag

[2016-01-08 14:28] daniel-luberda commented on #120
Currently, there's no Xamarin.Forms UWP renderer in nuget package. You have to clone the repo and build it by yourself. Nuget contains only Xamarin.Forms WinRT/Silverlight renderers.

[2016-01-08 15:41] coonmoo commented on #120
Thanks again for the fast answer :)!

[2016-01-08 15:43] daniel-luberda commented on #120
@coonmoo No problem. I'll try to include UWP renderer soon in nuget but to be honest - I didn't install UWP SDK's yet on my dev machine (I am using WinRT currently) :)

[2016-01-08 15:50] coonmoo opened #121 "Real dimension loaded of image in CachedImage?"
Could you add an API to fetch the real dimensions of a loaded Image (especially Xamarin.Forms).

Actually when I call cachedImage.Height/Width I get the dimensions of the Xamarin.Forms component (which is mostly larger than the image because of the aspect).

So would it be possible to read the real dimensions of the image when loading it into the view? So e.g. we could access the component "cached

[2016-01-08 16:24] daniel-luberda commented on #121
It's already possible: https://github.com/molinch/FFImageLoading/wiki/Xamarin.Forms-API#success (it returns image size). Dd you try it?

[2016-01-08 20:16] molinch commented on #119
@rusty21 If you are able to upload a sample or to mail it to me, I'm happy to profile it.
Would that be possible?

[2016-01-11 20:40] molinch commented on #121
@coonmoo Is it OK for you?

[2016-01-11 20:41] molinch commented on #119
@rusty21 If you prefer to mail me a zip that's also possible.

[2016-01-11 20:44] rusty21 commented on #119
Yes, I would like to mail your a zip. I've very busy at the moment but I will try to get you a sample as soon as I can. Where can I send it once its ready?

[2016-01-11 20:48] molinch commented on #119
fabien dot molinet at gmail dot com

[2016-01-11 20:50] rusty21 commented on #119
Thanks got it, you can remove your comment if you like.

[2016-01-11 20:50] molinch commented on #119
Done :)

[2016-01-12 20:00] highplains opened #122 "Occasionally Images Just Stop Loading"
After my app has been in use for a while on a device, usually after multiple days. Images appear to just stop loading.

These images should be cached for the most part and network connectivity is not the issue. Not sure why it happens but the screenshot demonstrates what occurs. When this does happen nothing short of killing and restarting the app seems to fix it.

![img_5690](https://cloud.github

[2016-01-12 20:04] daniel-luberda commented on #122
@highplains That's strange. Does it happen only on iOS?

[2016-01-12 20:32] highplains commented on #122
Feels like it does, but honestly I'm not in the android version enough to give you an answer on that.

[2016-01-12 20:33] daniel-luberda commented on #122
@highplains I added some more questions to previous post. Could you check it?

[2016-01-12 20:34] highplains commented on #122
CacheDuration = TimeSpan.FromDays(30);
I never invalidate the cache.
No Exceptions.
Production app, this is occurring in the App Store Release.
I use testflight for beta testing so it would be Release Builds.

[2016-01-12 20:39] highplains commented on #122
Also the images load fine after restarting the app so shouldn't that mean there is no corruption?

[2016-01-12 20:42] molinch commented on #122
Do you have exceptions or errors logged?

[2016-01-12 20:46] highplains commented on #122
No errors at all, I wish there was it would make it easy to find then.

[2016-01-12 21:01] daniel-luberda commented on #122
@molinch Could it be an out of memory exception?

[2016-01-12 21:06] molinch commented on #122
Yes that's a possibility
It's strange that there is nothing in logs though

[2016-01-12 21:10] daniel-luberda commented on #122
It's a handled exception, so it may only clear the caches and return null every time without any further exceptions.

[2016-01-12 21:16] highplains commented on #122
interesting. Any thoughts on what i can do to remedy this?

[2016-01-12 21:21] molinch commented on #122
If there was OOMs there would be at least in the logs:
`Received an OutOfMemoryException we will clear the cache`
or
`Received an OutOfMemoryException`

If it's not the case then we should look into another direction.
Could you post your ImageLoading request?

[2016-01-12 21:23] daniel-luberda commented on #122
@molinch By default, the logs are only printed to console. They can be not visible when using Xamarin.Insights or something similar without using custom logger initialized in `ImageService.Initialize` for FFImageLoading.

[2016-01-12 21:30] highplains commented on #122
What do you mean by request?

All that im doing is
_image.Source = model.ImageUrl;

OnBindingContextChanged

[2016-01-12 21:38] daniel-luberda commented on #122
@highplains For the future, you could make a custom logger for FFImageLoading:

[code]

and force FFImageloading to use it with:

[code]

in a platform specific project.

[2016-01-12 21:42] highplains commented on #122
so in iOS for instance i would have this in my FinishedLaunching...

                FFImageLoading.Forms.Touch.CachedImageRenderer.Init();
                FFImageLoading.ImageService.Initialize(logger: new CustomMiniLogger());

?

[2016-01-12 21:44] daniel-luberda commented on #122
@highplains Yes

[2016-01-12 21:46] highplains commented on #122
That creates a System.Net.Http dependency and requires Nuget 3.0, let me see if i can pop into Visual Studio and add that package.

[2016-01-12 21:53] highplains commented on #122
That package fails to install on a iOS project. Have you ever used the custom logger in a forms project before?

[2016-01-12 22:03] daniel-luberda commented on #122
You don't need to include any nuget. Instead add this as a reference:
![screen shot 2016-01-12 at 23 02 53](https://cloud.githubusercontent.com/assets/13569983/12278318/bb4c5a0e-b980-11e5-8862-4a6993d81f51.png)

[2016-01-12 22:05] highplains commented on #122
Maestro! Thank you! Can't believe i missed that. I'm gonna get beta testers on a new version with the logging and ill see what i can turn up.

[2016-01-12 22:08] daniel-luberda commented on #122
Ok, waiting for some logs :)

[2016-01-13 06:25] molinch commented on #122
Using Insights for the logger is a great idea :+1:

[2016-01-14 04:09] ahohns opened #123 "Error when calling ClearCache"
Am getting a crash occurring when calling:
[code]

This runs on the main thread after we dispose some pages (have tested it running before other pages are disposed as well just to be sure we aren't modifying the image cache at all).

Crash trace that occurs after a bunch of evictions:
[code]

[2016-01-14 07:11] molinch commented on #123
I'm pretty sure this was fixed a few days ago.
Which version do you use?

[2016-01-14 07:12] ahohns commented on #123
2.0.3 currently.

[2016-01-14 08:14] molinch commented on #123
Really weird I was sure it was fixed by https://github.com/molinch/FFImageLoading/commit/874b57e9f2395f34369285062e7c16bec52c9f7b

Which is part of 2.0.3

[2016-01-14 09:17] ahohns commented on #123
I'll double check in the morning, I may have only updated to 2.0.3 in another branch.

[2016-01-14 11:57] daniel-luberda commented on #123
@molinch We could modify current implementation to use ConcurrentDictionary.

[2016-01-14 11:58] molinch commented on #123
As said in the commit message I don't think it's needed: all calls to the dictionaries are surrounded by locks.
Furthermore the only cases where I found an issue, which wasn't a threading issue, are now having a .ToList()

As I said earlier, I don't think that @ahohns issue is still present in 2.0.3

[2016-01-14 12:00] daniel-luberda commented on #123
@molinch Ok then :)

[2016-01-14 12:03] Mookker opened #124 "InvalidOperationException: Cannot redisplay this drawable, its resources have been disposed."
Getting this stack-trace and exception

[code]

Reproducible on different devices, maybe caused by slow connection, but not sure

[2016-01-14 12:03] molinch commented on #121
I'm closing the issue since it's already present in our API.
If you are having a question regarding the usage/or have a different need then please reopen it or create a new.

[2016-01-14 12:03] #121 closed

[2016-01-14 12:07] molinch commented on #124
Could you write your image loading request? I guess you are using 2.0.3 isn't it?

[2016-01-14 12:09] Mookker commented on #124
Yes, 2.0.3.
				ImageService.LoadUrl(url, Constants.CacheDuration).
				LoadingPlaceholder("Images/Placeholder.jpg", FFImageLoading.Work.ImageSource.ApplicationBundle).
				TransparencyChannel(false).
				DownSample(img.Width).
				Into(img);

Image is descendent of ImageViewAsync

[2016-01-14 12:14] molinch commented on #124
Is it used in a ListView or in a RecyclerView or something else?

[2016-01-14 12:16] Mookker commented on #124
In ListView item

[2016-01-14 13:58] daniel-luberda commented on #124
@molinch  https://github.com/molinch/FFImageLoading/commit/2d34a8b9dc60e0524d2001dd04a257784b06b7b0  Could you check this?

[2016-01-14 14:30] Mookker commented on #124
@daniel-luberda  If it helps, when can it be released?

[2016-01-14 14:36] daniel-luberda commented on #124
@Mookker Actually, in a few minutes. One more question. What is Android version of devices you got those exceptions?