[2016-01-14 14:38] Mookker commented on #124
@daniel-luberda  4.1 4.2
Pretty old, but I didn't test on newer

[2016-01-14 14:49] daniel-luberda commented on #124
You can now try 2.0.4 release

[2016-01-14 14:51] Mookker commented on #124
Thank you! I'll try it and let you know, if it reproduces in future

[2016-01-14 19:47] K232 opened #125 "How to implement in Windows Universal Application?"
Hi all,
sorry for the beginner question but I've tried to find on my own without success :-( I want to use FFImageLoading in the Windows universal part of my Xamarin project. So I made the following steps:
1. Added FFImageLoading.Windows via nuget
2. Added  xmlns:ff="using:FFImageLoading" and xmlns:fft="using:FFImageLoading.Transformations" to my page.
3. Replaced the existing IMAGE with ff:FFImag

[2016-01-14 19:58] daniel-luberda commented on #125
Are you sure you're application cache files aren't deleted between builds? FFImageLoading should load images from disk cache if they exists.

Windows documentation is on my TODO list. CacheDuration unit: days

[2016-01-14 20:35] daniel-luberda commented on #125
BTW: We currently use `ApplicationData.Current.LocalFolder` for FFImageLoading cache but we should use `ApplicationData.Current.TemporaryFolder` instead. I think we should change that in future releases. I didn't notice it earlier. @kalarepa @PaulARoy What do you think?

[2016-01-14 20:45] daniel-luberda commented on #125
@K232 One thing. Does you urls are the same on every subsequent request? Or do they change? (eg. some token).

[2016-01-14 21:10] kalarepa commented on #125
@daniel-luberda: yes, I agree about TemporaryFolder.

[2016-01-14 22:17] K232 commented on #125
@daniel-luberda Thanks for fast reply.
I've checked Windows.Storage.ApplicationData.Current.LocalFolder to ensure I'm in the right path. It contains a subdirectory "ImageService" which contains a file called "FFImageLoadingCache.journal" and 17 files containing a GUID as filename, no extension. When I add ".png" the images open correct so these are the downloaded files. The files are still availab

[2016-01-14 23:16] ahohns commented on #123
Yep my apologies, I was testing it on 2.0.2 10 minutes before merging in the 2.0.3 update. Works fine on 2.0.3 thanks.

[2016-01-14 23:16] #123 closed

[2016-01-15 00:17] K232 commented on #125
I made some further tests:

Now I've made the following tests:
1. Deleted directory 'ImageService'.
2. Changed XAML Code. Used hardcoded source https://pixabay.com/static/uploads/photo/2015/09/06/20/30/sport-927762_960_720.jpg
3. Turned on wifi. Started app. Item is displayed as expected. ImageService contains the journal and the downloaded file '11427b176c03b6da9af98214108feede' Timestamp: 01:06.

[2016-01-15 06:31] molinch commented on #123
Thanks for the feedback!

[2016-01-15 07:05] molinch commented on #125
Many thanks @K232 for your detailed feedback.
I just re-run the exact same scenario on Android and iOS.
- Android: no issues
- iOS: no issues

So, if there is an issue, I am confident it only happens on WP.
@daniel-luberda Could you have a look?

[2016-01-15 10:02] PaulARoy commented on #125
Temporary folder seems better indeed. But I do not use the cache functionality a lot (the big plus that draw me here was the transformations) and I will not be able to help you much.

A small thing, I remember I had issues with file deletion on windows phone (files were considered in use even if they were not any longer).

My use case was:

* use an image in the source of Image object
* change sou

[2016-01-15 11:27] daniel-luberda commented on #125
@PaulARoy @kalarepa https://github.com/molinch/FFImageLoading/commit/94d2492f8553f45c78ef34da02e62cc8dde70845

@K232 Thanks for such a detailed debugging. Indeed, I confirm the issue on Windows. I'll try to debug it and let you know.

[2016-01-15 12:42] K232 commented on #125
@daniel-luberda I'm happy you are able to recreate the problem so it's not (only) my stupidity... :)

[2016-01-15 13:00] PaulARoy commented on #125
:+1:

[2016-01-15 13:26] #125 closed

[2016-01-15 13:28] daniel-luberda commented on #125
That was such a silly and very major bug. On Windows FFImageLoading had always only one entry because every time cache entry was added, it was written to the beginning of journal file. :/ Sorry for that :/ We have to release nuget as soon as possible!

[2016-01-15 13:30] daniel-luberda commented on #125
@kalarepa @PaulARoy @molinch @K232 Look at this: https://github.com/molinch/FFImageLoading/commit/df5009021aab01421c4ed5cf6fbbf31efde34bb2

[2016-01-15 13:42] PaulARoy commented on #125
Tricky indeed. I am not an expert on this subject but this seems good.

Would `writer.BaseStream.Seek(…)` be better than `stream.Seek(…)`? It should be exactly the same object, but I stopped trusting properties since [this](https://github.com/molinch/FFImageLoading/issues/113)

[2016-01-15 13:49] daniel-luberda commented on #125
@PaulARoy writer.Seek should be fine too :)

So basically that bug caused, that disk caching was only working for a one file up to this day. @K232 Thanks for noticing it. Nasty :/ ... and once again sorry for that. I'll make 2.0.5 nugets in a few minutes.

[2016-01-15 14:03] daniel-luberda commented on #125
I also changed journal filename as old one is probably corrupted: https://github.com/molinch/FFImageLoading/commit/f174b9183174f942eb1a4e2d3adaf3ce02fcaae3

[2016-01-15 14:05] PaulARoy commented on #125
Will this invalidate all current cache?

[2016-01-15 14:09] daniel-luberda commented on #125
Yes, I changed default folder anyway.

[2016-01-15 14:09] PaulARoy commented on #125
:+1:

[2016-01-15 15:12] coonmoo commented on #120
Thanks :)

I currently build it myself and added it to our project. Seems to work pretty solid.

[2016-01-15 15:14] daniel-luberda commented on #120
I think I found one more bug. I'll let you now.

[2016-01-15 15:15] coonmoo commented on #121
Sorry for the late reply. Yes this seems to be working.
But I don't like the fact that I have to subscribe to an Event.

I'd prefer a property on the Image like "image.ImageSize" which might be null if not yet loaded.

And maybe an extension like:

await image.WaitUntilLoadFinished(timeout);

[2016-01-15 15:17] daniel-luberda commented on #121
We introduced `SuccessComand` which is bindable and works just the same as Success event. Would it be better? `Args` are passed as command parameter.

[2016-01-15 15:18] coonmoo opened #126 "UWP crash when calling "GetImageAsJpgAsync""
Heya,

my UWP app crashes when I'm trying to read the image from the image view:

Element not found.
Windows.Graphics.Display: GetForCurrentView must be called on a thread that is associated with a CoreWindow.

Even if I call InvokeOnMainThread(()=>image.GetImageAsJpgAsync(100)) the same exception occurs.

[2016-01-15 16:00] molinch commented on #121
@coonmoo We will not add properties where values are lazy loaded in TaskParameter.

Therefore you now have the choice between the Command or the Event.

[2016-01-15 17:10] daniel-luberda commented on #125
Another fix, now everything should be ok.

[2016-01-15 17:16] daniel-luberda commented on #126
@coonmoo Do you have more detailed stack trace?

[2016-01-15 17:22] K232 commented on #125
Great, I'm keen on testing. Can't wait for the new nuget package.... Thanks a lot for this brilliant fast action!!! :+1:

[2016-01-15 17:34] daniel-luberda commented on #120
@coonmoo Thanks! :) If you have any issues - just report them here as I didn't install UWP SDKs yet. I'm only testing FFImageLoading on WinRT currently.

[2016-01-15 18:01] daniel-luberda commented on #125
@K232 @kalarepa @PaulARoy 2.0.5 with Windows fixes released!

[2016-01-15 18:02] daniel-luberda commented on #121
@coonmoo 2.0.5 with SuccessCommand released :) Cheers

[2016-01-15 18:08] K232 commented on #125
Works brilliant! Thanks a lot @daniel-luberda ! :+1:

[2016-01-15 18:11] daniel-luberda commented on #125
@K232 Once again, thanks for a detailed debugging. Without it, i wouldn't be aware of such a major disk cache issue. Luckily, we got it covered. Cheers.

[2016-01-15 18:13] K232 commented on #125
@daniel-luberda No Problem. As I'm also a developer I know how strange some user error reports could be, so I always try to be as detailled as possible. In the end, it's a bigger advantage for me, because now I could release my beta app this weekend!!

[2016-01-15 18:29] daniel-luberda commented on #124
@Mookker Do you still experience those issues? I'll close it but feel free to reopen it if you experience `resources have been disposed` related problems.

[2016-01-15 18:29] #124 closed

[2016-01-15 21:01] highplains opened #127 "Droid: Rotate Transformation Scaling Issue"
Code used for multiple rotations...

[code]

Android result at 0 degrees...
![screenshot_2016-01-15-13-52-01](https://cloud.githubusercontent.com/assets/1825076/12365146/39b0598e-bb90-11e5-9512-bdc1b2a5089e.png)

Android result after 360 degree rotation (notice cropping and scaling)
![screenshot_2016-01-15-13-52-16](https://cloud.githubusercontent.com/assets/1825076/12365162/4dc4af6a-bb90-11e5-8b3

[2016-01-15 21:46] daniel-luberda commented on #126
Could you try the newest changes? I think it should be fixed now: https://github.com/molinch/FFImageLoading/commit/e165d7102c63e32f9da4bd477597a2f1f41a6cc5 and https://github.com/molinch/FFImageLoading/commit/9b63dc49b72fa5c14b2275c5916a7ddb34859e59

[2016-01-16 12:13] coonmoo commented on #126
Wow, I'd wish xamarin had such a great support ;).

This issue is fixed.

[2016-01-16 14:00] daniel-luberda commented on #126
Thanks :)

[2016-01-16 14:00] #126 closed

[2016-01-16 14:45] daniel-luberda commented on #127
@highplains Hi, i tried to reproduce it but it's working fine for me. Look at: https://gist.github.com/daniel-luberda/4d75d96968a7ab86c7cf

[2016-01-17 14:23] molinch commented on #122
Do you have news @highplains ?

[2016-01-17 14:23] molinch commented on #119
@rusty21 Do you still have this issue? If yes could you send me a repro?

[2016-01-17 16:51] highplains commented on #122
I'm gonna make a repo tomorrow

Sent from my iPhone

[2016-01-17 16:52] highplains commented on #122
Oops diff issue. I haven't heard anything new on this, but have logging in place. We can close this pending logs if needed thanks!

Sent from my iPhone

[2016-01-17 19:24] molinch commented on #122
Thanks for the feedback @highplains
I agree with you: let's close the issue. If you reproduce it and have more info could you reopen it?

[2016-01-17 19:24] #122 closed

[2016-01-17 20:17] molinch commented on #127
I played with it too and could not reproduce it either.

Could you write your image loading request? ie:
[code]

[2016-01-19 16:40] highplains commented on #127
Here is a repo showing iOS behaving fine and android doing the bug.

[2016-01-19 16:40] highplains commented on #127
https://github.com/highplains/ImageRotation

[2016-01-20 07:23] molinch commented on #127
Ok it's clear for me now: since you reuse the already rotated bitmap and rerotate it that's why it happens.
I don't think it's a bug of the lib, it cannot handle such cases.

My suggestion would be to use the original bitmap and each time change the rotation. This way you won't have this issue. So making a new image loading request but with a different rotation degree: 90, 180, ...

[2016-01-20 12:12] Mookker commented on #111
Guys, what max cache size uses as value, Mbs, Kbs, percent of memory? There is nothing in documentation. Thank you

[2016-01-20 12:45] molinch commented on #111
@Mookker It is in bytes and only used for the memory cache: https://github.com/molinch/FFImageLoading/blob/master/source/FFImageLoading.Common/Config/Configuration.cs#L30

Furthermore it cannot be greater than 20% of available memory. We automatically limit to that, it's the upper limit.

[2016-01-20 12:46] Mookker commented on #111
Thank you!

[2016-01-20 16:18] highplains commented on #127
Indeed. :) Thanks for the tip. I got it working correctly on both platforms using this.

[code]

Thank you!

[2016-01-20 16:19] #127 closed

[2016-01-20 17:05] molinch commented on #127
Awesome! I'm glad it worked :+1:

[2016-01-21 01:01] ahohns commented on #117
@daniel-luberda What are the symptoms of this exactly? We occasionally have an issue where the wrong image gets cached - eg: user 1's profile image is actually displaying user 3's profile image and it stays that way throughout the app (so the wrong image is being attached to the cache key somehow). Haven't looked into it too much but it could always be occurring on the main page which uses recycle

[2016-01-21 10:19] wouterh opened #128 "WinRT assets not working in CachedImage"
In windows phone 8.1 (WinRT) applications, using application bundle assets as the source for a CachedImage is not working in a way interoperable with Xamarin.Forms.Image.

For example, I have the following images in my application bundle:
* Assets\image.scale-100.png
* Assets\image.scale-140.png
* Assets\image.scale-240.png

When I then set the Source of a Xamarin.Forms.Image to 'Assets\image.png'

[2016-01-21 11:22] molinch commented on #128
@daniel-luberda I guess that regular XF Image doesn't look in "Assets" straight away
If that's the case we should mimic XF default behaviour

[2016-01-21 12:36] wouterh commented on #128
FYI, I now use the following code in a custom renderer to work around it:
[code]
The part for the scale calculation could be useful.

Notes:
* I am not taking scale-180 into account that does exist for Windows 8.1, but not for Windows Phone 8.1
* I do not check if the scaled file exists, because for the assets I use it for, I know they exist. In the library you'll have to do some fallback mechanis

[2016-01-22 10:05] molinch commented on #119
Thanks for the repro

There were areas for improvements https://github.com/molinch/FFImageLoading/commit/f645c40170adc27d9c0443747e06631e4b4fa91f.

I compared before/after and the difference is huge: the UI is more reactive.

[2016-01-22 10:05] #119 closed

[2016-01-22 10:51] daniel-luberda commented on #128
@wouterh @molinch I'll fix this today before a release :) Thanks for info!

[2016-01-22 14:01] rusty21 commented on #119
I looked over your changes they looked good. Are these changes going to be reflected on Android as well?

[2016-01-22 16:49] #128 closed

[2016-01-22 16:56] daniel-luberda commented on #117
@ahohns Hi, sorry for answering so late. I've been quite busy.

Symptoms are that images get mixed between ListViews rows (eg. image from third row shows image from first row, etc). Did you try to use `OnBindingContextChanged` override instead using bindings?

[2016-01-22 20:22] xleon opened #130 "Exif rotation not supported?"
Some devices rotate images in a way that a landscape picture can be shown in portrait mode and the opposite.

In another part of my app I´m handling / fixing this with android `ExifInterface`, but `ImageViewAsync` seams like not taking care of this (correct me if I´m wrong).

This piece of code ilustrates the fix: https://gist.github.com/xleon/7c6e2eff4d9ca3c6db0b

Is there any actual workaround f

[2016-01-22 22:10] molinch commented on #130
Hi @xleon you are right Exif rotation is not yet handled. It's a good improvement for a future release.
I will investigate where would be the best place for it.

[2016-01-22 22:21] ahohns commented on #117
mm completely different issue then, thanks.

[2016-01-22 22:23] molinch commented on #117
@ahohns would it be possible to open an issue about it and add some sample there?

[2016-01-22 22:28] ahohns commented on #117
Possibly - it's one of those "it very rarely happens but it does happen" things so there's no reliable way to repro and I'd need to make sure it isn't our server causing the problem first.

[2016-01-22 23:59] xleon commented on #130
Cool.
For now I need a quick fix and I´m trying to figure out how to apply this code to the bitmap that will be shown in a ImageViewAsync. Any clue on how to do that? Even if it´s a temporal dirty hack

[2016-01-23 00:29] highplains commented on #130
I ended up adding a rotate button that uses the rotate transformation to get around this in my app

Sent from my iPhone

[2016-01-23 01:01] xleon commented on #130
That´s not an option in apps that don´t allow the user to edit the image

[2016-01-23 07:14] molinch commented on #130
Even if it's a temporary hack I would suggest having it in ImageLoaderTask.
You could insert your method call in  `GetImageAsync` just before:
[code]

[2016-01-23 10:09] coonmoo commented on #130
This has also high priority for us.

Would be awesome to get this build in FFImageLoading (we also have users who report their pictures uploaded with the wrong rotation).

[2016-01-23 10:43] molinch commented on #130
I guess Exif rotation isn't working on any platform: Android, iOS, WP (SL, UWP, RT).
Isn't it?

[2016-01-23 10:46] molinch commented on #119
Some of these will be on Android yes. Even though the major performance increase remains on iOS.
We expect to deliver a new nugets soon.

Please note that we also updated WP part which is also much faster now.

[2016-01-23 10:51] coonmoo commented on #76
This seems to have Windows WebP Support: https://github.com/chenrensong/ImageLib.UWP

[2016-01-23 10:55] coonmoo commented on #130
I'm not sure. On iOS we had rotation problems (doing a landscape photo ended up on the server in portrait). These problems occured on iOS when fetching the image from disk and resizing it then using core graphics.

Since we use CachedImage on iOS with combination of image.GetImageAsync() the photos are rotated correctly. So my guess is the iOS ImageView automatically correctly rotates the taken ph

[2016-01-23 14:37] daniel-luberda commented on #130
@coonmoo Yes, on iOS, UIImageView will read EXIFF orientation from image file and handle it (`imageView.ImageOrientation` will give you current `UIImageOrientation`).

[2016-01-23 14:52] xleon commented on #130
iOS:
- https://forums.xamarin.com/discussion/comment/63159/#Comment_63159
- http://stackoverflow.com/questions/1315251/how-to-rotate-a-uiimage-90-degrees

Windows:
- http://timheuer.com/blog/archive/2010/09/23/working-with-pictures-in-camera-tasks-in-windows-phone-7-orientation-rotation.aspx
- http://www.softwareisinthedetails.com/2012/11/windows-phone-8-photo-orientation-exif-bug.html
- https://g

[2016-01-23 15:34] daniel-luberda commented on #128
@wouterh  Nuget with fixes released :)

[2016-01-23 16:09] xleon commented on #130
I changed the issue title as we´re talking about other platforms

[2016-01-23 16:49] daniel-luberda opened #131 "Various small enhancements proposal"
1. ~~Ability to set fade animation duration~~ DONE
1. ~~Success handler should also pass original downloaded file path of image as parameter (if loaded from cache)~~ DONE
1. ~~Success handler should also pass both original image size and resized image size (width, height)~~ DONE

What do you think?

[2016-01-23 18:29] adrianknight89 opened #132 "Fast scrolling up and down crashes the app for large ListView with embedded png files"
[Android.txt](https://github.com/molinch/FFImageLoading/files/101976/Android.txt)
[iOS.txt](https://github.com/molinch/FFImageLoading/files/101977/iOS.txt)

Please see http://forums.xamarin.com/discussion/59431/ffimageloading-does-not-display-images-properly#latest

[2016-01-23 18:32] adrianknight89 opened #133 "On iOS, embedded png images are loaded with opacity 1 and then set to their developer specific opacity"
Android doesn't seem to have this issue, but I have a png file with opacity 0.5. When the page is first loaded, opacity is loaded with 1.0 and set to 0.5. in less than a second, but the transition is still visible to the user.

[2016-01-23 18:33] adrianknight89 opened #134 "FFImageLoading ImageService is null after Android back button is hit and app is restarted"
Please see http://forums.xamarin.com/discussion/59678/ffimageloading-imageservice-is-null-after-android-back-button-is-hit-and-app-is-restarted?new=1

[2016-01-23 22:19] #132 closed

[2016-01-23 22:20] molinch commented on #132
Thanks @adrianknight89
It was an issue with Streams used in lists: while scrolling fast a task was cancelled but the TaskCancelledException wasn't catched

[2016-01-23 22:22] molinch commented on #134
Adrian posted on Xamarin forum:
<pre>
Hi,

On Android,  ImageService.Initialize(fadeAnimationEnabled: false); in MainActivity.cs` throws a null reference exception if the following is done:

Run application
Hit back button to close the app
Run it again immediately after it's closed
Please see sample code.
</pre>
[App9.zip](https://github.com/molinch/FFImageLoading/files/102065/App9.zip)

[2016-01-23 22:24] molinch commented on #131
1. Good idea
2. I'm not sure to understand the need/the process you are interested to have
3. Why not, any use case?

[2016-01-24 11:46] coonmoo commented on #134
I can confirm this bug.

System.NullReferenceExceptionObject reference not set to an instance of an object
Raw
  at FFImageLoading.ImageService.Initialize (Nullable`1 maxCacheSize, System.Net.Http.HttpClient httpClient, IWorkScheduler scheduler, IMiniLogger logger, IDiskCache diskCache, IDownloadCache downloadCache, Nullable`1 loadWithTransparencyChannel, Nullable`1 fadeAnimationEnabled, Nullable`

[2016-01-24 13:55] daniel-luberda commented on #133
I added some possible fix, but I'm not sure it would be enough. We'll have to test it.

[2016-01-24 14:01] daniel-luberda commented on #131
1. Could we also add those setting to `ImageService.Initialize`? BTW: That method is getting big... I think that adding a class for those properties and passing it as a `ImageService.Initialize` parameter would be a lot cleaner solution.
1. To get an original file that was downloaded and process it in a custom way.
1. There are many use cases. One of them is CropTransformation. If user could know

[2016-01-24 14:19] daniel-luberda commented on #134
@coonmoo @adrianknight89 What version of Xamarin.Forms? I'm wondering if it isn't Xamarin.Forms bug.

[2016-01-24 14:43] molinch commented on #131
1. Yes it would be much cleaner :+1:  In fact there's already a class, so it would be easy to swap it to use the class :)
2. Still I don't get the need, do you have a clear example in mind?
3. Ok sure

[2016-01-24 14:46] coonmoo commented on #134
Latest 2.1.0-pre2

[2016-01-24 14:49] daniel-luberda commented on #131
Cool. We could also make the old one method `Obsolete`.

Eg. Add a possibility to save **original** image to image gallery after tap and hold on imageView.

[2016-01-24 16:31] daniel-luberda commented on #131
@molinch Could you take a look at: https://github.com/molinch/FFImageLoading/commit/0d28b54e394002ba0669588e7fdfcc28179bf90e ?

[2016-01-24 16:36] daniel-luberda commented on #134
Possible null exception fixed here:

Before: https://github.com/molinch/FFImageLoading/commit/0d28b54e394002ba0669588e7fdfcc28179bf90e#diff-33360d32b97948ac05fa03daa71857f6L62

After: https://github.com/molinch/FFImageLoading/commit/0d28b54e394002ba0669588e7fdfcc28179bf90e#diff-33360d32b97948ac05fa03daa71857f6R53

[2016-01-24 18:09] adrianknight89 commented on #117
Hi all, I was seeing mixed images as I scrolled fast. I'm setting properties in `OnBindingContextChanged`. Please see here http://forums.xamarin.com/discussion/59402/implementation-of-custom-view-cells-for-a-listview-with-recycleelement#latest

This seems to fix the issue.

[2016-01-24 18:46] molinch commented on #131
I saw it but I don't understand what means MultiplatformConfiguration. Isn't everything multiplatform?

[2016-01-24 19:30] daniel-luberda commented on #131
I want to use that class in a Xamarin.Forms (multi platform variation of Initialize method). We can't provide disk, logger, etc implementations there. What do you think about it? We can also move the code to Configuration class and do it on a Xamarin.Forms project level.

[2016-01-24 19:37] molinch commented on #134
Hi, I confirm that Daniel's changes definitely fixed it.

[2016-01-24 19:37] #134 closed

[2016-01-24 19:39] molinch commented on #131
Why can't these be provided on XF?
Initalize can be called by custom renderers isn't it?

Anyway since all properties are optional, default values are enforced, I don't see why we need an extra class.

[2016-01-25 00:28] daniel-luberda commented on #131
- Yes, it can definitely be provided on XF side. I'm just wondering which approach is better. I just tried to avoid another class creation on XF side.
- Currently `Configuration` class inherits from `MultiplatformConfiguration`. `MultiplatformConfiguration`, can be easily removed - it's just cut&paste.

[2016-01-25 09:04] wouterh commented on #128
@daniel-luberda it still prefixes "Assets\" ? X.F doesn't do that.

[2016-01-25 14:11] daniel-luberda commented on #128
@wouterh I missed that, I'll fix it. Thanks for the info!

[2016-01-25 14:21] coonmoo commented on #130
Since reading the image orientation on android requires using ExifInterface with a "filepath" (which the CachedImage does not know), my proposal would be the following:

Add an optional overload to: GetImageAsJpgAsync
e.g. "rotation=0"

So I can use this method http://stackoverflow.com/a/11081918 in my app to determine the rotation.

and call cachedImage.GetImageAsJpgAsync(rotation: 90) which shou

[2016-01-25 14:50] daniel-luberda commented on #128
@wouterh Are you sure about it? If I remove "Assets" it doesn't work anymore.

Xamarin uses:
[code]
FFImageLoading uses:
[code]

Maybe BitmapImage constructor adds "Assets" prefix later.

[2016-01-25 14:58] wouterh commented on #128
@daniel-luberda for X.F.Image, I have to manually set the source to "Assets\image.png". Thus X.F is doing nothing with the path I give it, while FFImageLoading is prepending "Assets".

[2016-01-25 15:25] daniel-luberda commented on #128
Ok, I made some changes to support both cases. That way `Image.png` will work on all platforms which is in my opinion a lot more expected behavior.

[code]

[2016-01-25 16:05] wouterh commented on #128
@daniel-luberda actually Xamarin says:

(https://developer.xamarin.com/guides/xamarin-forms/working-with/images/)

Which would make `Image.png` work.

But I don't like all my images to be in the root, so I've put them in a subfolder Assets anyway :-)

[2016-01-25 16:50] daniel-luberda commented on #128
With this https://github.com/molinch/FFImageLoading/commit/4c16701a99a9074ba1e26424af3c10217f558f2b both cases would work, we have to leave it to not break code which works on previous FFImageLoading releases. :)

Thanks once again!

[2016-01-25 18:09] daniel-luberda commented on #130
In a `exif-orientation-support` branch I added some initial Android EXIF orientation support for file path image sources. What about web images? Should we handle it too? What do you think?

[2016-01-25 18:18] coonmoo commented on #130
Sorry yeah, your approach (rotating the image also in the view) is the right way to do it.

But, I had huge memory problems on low-end devices that's why in my head was the rotation overload for GetImageAsJpgAsync.

@daniel-luberda

I did the rotation previously like you in your exif-orientation-support branch, but on devices with < 1GB ram I run into frequent out of memory issues when
loading the

[2016-01-25 18:24] daniel-luberda commented on #130
As to memory problems, the key is to do this: https://github.com/molinch/FFImageLoading/blob/exif-orientation-support/source/FFImageLoading.Droid/Extensions/ExifExtensions.cs#L57-L61

BTW: Notice the rotation takes place after downsampling, so if you have it correctly configured (for low-end devices capabilities) - it would be less costly operation do do the rotation.

[2016-01-25 18:33] daniel-luberda commented on #130
@molinch Do you think we could optimize this method to try to reuse bitmap from pool? That would be even less memory costly operation.

[2016-01-25 19:54] coonmoo commented on #117
I think it's an intended behaviour. As Xamarin states, do not use bindings. This problem otherwise occurs on many other controls, too.

[2016-01-25 20:12] molinch commented on #130
@daniel-luberda I don't think we can do better than that... Unfortunately it does not seem to be possible to use the pool in this case.

[2016-01-25 20:16] molinch commented on #117
@coonmoo @daniel-luberda  John Miller from Xamarin confirmed it

@daniel-luberda Do we need to do anything in the renderer? If not then let's close this

[2016-01-26 08:55] molinch commented on #130
Btw, I don't know if it changes anything but there is an overload of Bitmap.CreateBitmap that accepts the matrix as a parameter.
https://github.com/molinch/FFImageLoading/blob/exif-orientation-support/source/FFImageLoading.Droid/Extensions/ExifExtensions.cs#L43

[2016-01-26 12:28] daniel-luberda commented on #130
@molinch From what I've read, using canvas (as we do it) should be more efficient, but I didn't test the differences. If anyone has an explanation about which one is better, just let me know.

[2016-01-26 12:29] daniel-luberda commented on #117
@molinch We don't need to change anything in renderers. I'll update WIKI.

[2016-01-26 12:29] #117 closed

[2016-01-26 13:05] daniel-luberda commented on #130
BTW: shouldn't we rotate bitmap before resizing?

[2016-01-26 13:18] molinch commented on #130
To lower memory usage it's better to downsample and then rotate.

But we should enforce correct width/height... Because of EXIF tags width can be height when we downsample.

[2016-01-26 13:22] daniel-luberda commented on #130
We need to use this: http://stackoverflow.com/a/11128526/5064986 and this: https://github.com/molinch/FFImageLoading/blob/exif-orientation-support/source/FFImageLoading.Droid/Extensions/ExifExtensions.cs#L15-L41

[2016-01-26 17:24] daniel-luberda commented on #130
Another changes. What do you think? https://github.com/molinch/FFImageLoading/commit/7114cbcc0d7777b21bb489fd8dd3f5a1b6061f60

[2016-01-26 17:31] daniel-luberda commented on #111
Potential issue: https://github.com/molinch/FFImageLoading/blob/master/source/FFImageLoading.Shared/Cache/DiskCache.cs#L191-L204

Shouldn't we call `InitializeWithJournal()` after removing all the cache files (including journal)?

[2016-01-26 17:35] molinch commented on #111
yes we should good catch :+1:

[2016-01-26 17:36] daniel-luberda commented on #111
I'll fix that! It's also needed in Windows implementation too.

[2016-01-26 18:29] daniel-luberda commented on #111
@molinch iOS/Android fixed: https://github.com/molinch/FFImageLoading/commit/91ba594516694935b8aed4d0cdf0ae4bcdbf5593

Checked Windows implementation and it doesn't need a fix.

[2016-01-26 19:01] coonmoo commented on #130
I'll test it. Is there any chance you could provide a -pre release nuget package?
If it'll take you longer than 10minutes, I'd rather check out the source myself and build it.

[2016-01-26 23:56] highplains commented on #122
I finally got my phone into a state to look around on this problem. Although I am using a custom logger with Insights I don't see, to be getting any reports. Looking at the device console logs I'm seeing a lot of memory warnings which makes me think it does have to do with memory.

Jan 26 16:51:28 iPhone syncdefaultsd[2149] <Notice>: (Warn ) received memory warning
Jan 26 16:51:29 iPhone com.apple

[2016-01-27 00:14] highplains opened #135 "iOS: Callbacks no longer invoked on MainThread"
This code was working fine on 2.0.5 but now throws a NRE

[code]

[2016-01-27 00:53] daniel-luberda commented on #135
I think we didn't change anything related to this method in 2.0.6.

- Could you provide more details?
- What platform?
- Any stack trace?

[2016-01-27 01:07] daniel-luberda commented on #122
It looks like you're hitting out of memory issues. It may not be related to FFImageLoading at all. Some tips regarding FFImageLoading:

- If you're using events with CachedImage, be sure you're unsubscribing it correctly (`IDisposable`, etc) to be sure `CachedImage` instances are garbage collected correctly.
- Be sure you're using proper downscaled images (less ram usage) with values optimized for

[2016-01-27 01:28] highplains commented on #135
looks like it was getting executed on a background thread and crashing out.

[code]

seems to have fixed it. Thanks!

[2016-01-27 01:29] daniel-luberda commented on #131
Another thing:

[code]

This is how memory cache items are removed currently. What about all the variants (downsampling parameters, transformation parameters). In my opinion - they should be removed too. The method should delete all entries that start with the specified key. It's much more intuitive behavior. What do you think?

[2016-01-27 01:31] daniel-luberda commented on #135
@highplains But could you tell me what platform is this? I can change that it'll be executed on main thread by default to avoid `Device.BeginInvokeOnMainThread` in future releases.

[2016-01-27 01:35] highplains commented on #122
Wouldn't a OOM close/crash the app? My app continues to run in this situation with everything but images working.

[2016-01-27 01:37] highplains commented on #135
The platform I was testing on was iOS. Thanks!

[2016-01-27 01:41] daniel-luberda commented on #122
FFImageLoading worker detects OOM and tries to clean cache first and then if there are still some problems, it can return null bitmaps. I think it's the case.

[2016-01-27 02:37] daniel-luberda commented on #130
I uploaded dlls here: https://mega.nz/#!pU4CHLyS!HdQxoZd_blRb5q76m0AQUJLCy7zOMa-9zB_ZgToSKjc

[2016-01-27 06:18] molinch commented on #122
I think we could deliver some stats about memory usage.
This way Alan could call the method in his logger to get more info.

[2016-01-27 06:20] molinch commented on #122
Alan, do you know how long the app was opened before the user started having this issue?

[2016-01-27 06:23] molinch commented on #135
Callbacks should be invoked on main thread. So we should change that

[2016-01-27 12:58] daniel-luberda commented on #130
Another idea:

To avoid memory problems when loading image eg. from gallery. We could make a new ImageSource type which will always get an image thumbnail. It could use platform APIs to retrieve thumbnail, so it will be efficient.

[2016-01-27 15:33] molinch commented on #130
Btw I agree with what @coonmoo said. If it comes from the web it's the responsability of the server to deliver correct images with correct orientation. It doesn't make sense to do it on device: it's slow and takes memory/cpu.
IMO we should make it clear on Wiki that:
- Exif works for local files only.
- It will remain so for performance reasons.

Which platform API are you thinking about?

[2016-01-27 15:42] daniel-luberda commented on #130
@molinch I agree, exif orientation for local files should be enough.

Currently, rotation is done only for images which have exif orientation specified. There's no performance penalty for files which don't have it.

- Android: http://stackoverflow.com/a/12294235/5064986
- Windows `StorageFile.GetThumbnailAsync`
- iOS - don't know?

[2016-01-27 15:46] molinch commented on #130
Ah definitely not this API on Android :)
It's way more inefficient than the downsampling stuff we have.

I'd rather not change anything people can just use `DownSample`.

[2016-01-27 15:48] daniel-luberda commented on #130
Did you test it? Is it really that bad in newer Android versions?:P

[2016-01-27 15:52] highplains commented on #122
What I did was create a memory intensive scenario that purposely loaded too
many images. Roughly about 300 images, then played in the app until i
noticed the images stopped loading.

On Tue, Jan 26, 2016 at 11:21 PM, Fabien Molinet <notifications@github.com>
wrote:

[2016-01-27 20:55] sebastian-frysztak opened #136 "System.ObjectDisposedException"
Hi there,
remember `CTS.Dispose()` in `ImageLoaderTaskBase.Cancel()`? Well, it still crashes. At lot. I updated my app, some users already have newest version but it's looking pretty terrible so far.
I'm at https://github.com/molinch/FFImageLoading/commit/91ba594516694935b8aed4d0cdf0ae4bcdbf5593.

[2016-01-27 21:04] daniel-luberda commented on #136
I could add some additional checks if cancellation token is disposed or null.

[2016-01-27 21:06] molinch commented on #136
@sebastian-frysztak So you use the sources and not the nuget in your app right?

[2016-01-27 21:09] sebastian-frysztak commented on #136
@molinch: yes. I really wished to use nuget this time, but CTS fixes where not included in latest release.

I'm trying to trigger exception in ListView demo and it doesn't seem to be happening.
I suppose I could add:
`if(!_isDisposed)
    CancellationToken.Cancel();`, but I don't want to guess.

[2016-01-27 21:12] molinch commented on #136
Do you have a stacktrace by any chance?

[2016-01-27 21:16] sebastian-frysztak commented on #136
Sure:
`   at System.Threading.CancellationTokenSource.ThrowObjectDisposedException()
   at System.Threading.CancellationTokenSource.Cancel()
   at FFImageLoading.Work.ImageLoaderTaskBase.Cancel()
   at FFImageLoading.FFImage.<LoadImage>d__12.MoveNext()
--- End of stack trace from previous location where exception was thrown ---
   at System.Runtime.CompilerServices.AsyncMethodBuilderCore.<ThrowAsy

[2016-01-27 21:22] sebastian-frysztak commented on #136
So it looks like `if(!_isDisposed)
                CancellationToken.Cancel();` will do the job. Or maybe there's something else that also needs to be added? What do you think?

[2016-01-27 21:23] #136 closed

[2016-01-27 21:24] molinch commented on #136
Damn my bad I refactored everything and forgot that one. I'm really sorry.
Thanks for the hint @sebastian-frysztak

[2016-01-27 21:26] sebastian-frysztak commented on #136
It's okay. Thank you for reacting so quickly.

[2016-01-27 23:30] daniel-luberda commented on #136
:thumbsup:

@sebastian-frysztak  BTW:  I'm just curious if you profiled memory usage after Windows optimizations from 2.0.6? Are there any features that you miss in FFImage?

[2016-01-28 08:25] sebastian-frysztak commented on #136
@daniel-luberda: yes, I did. I would just start my app and scroll, until I got to given entry. So I'm not sure how reliable it is.
But overall - It's much better. Memory usage seems lower, and so are the peaks (when opening a image). And it definitely feels faster.

And as for features, sometimes I wish that loading placeholders would show after a bit of delay. Because currently, when you're on fa

[2016-01-28 12:24] daniel-luberda commented on #136
@sebastian-frysztak I'm happy to hear that! There's another place for optimizations in Transformations handling. We could avoid using `int[]` which we fast-copy to `byte[]` unnecessary and could switch to using `byte[]` internally avoiding it. Did some initial changes in https://github.com/molinch/FFImageLoading/tree/windows-new-bitmapholder-optimization branch. Do you use transformations or custo

[2016-01-28 12:27] daniel-luberda commented on #130
@coonmoo Did you test it?

[2016-01-28 15:24] coonmoo commented on #130
Hey Daniel, thans for your effort!
I tested the dlls on various phones and discovered no issues.

But sadly I currently don't have access to the phone where the wrong orientation problems occured. So I cannot tell you if the orientation problem is fixed.

At least the change is stable on the phones I tested.

[2016-01-28 15:48] sebastian-frysztak commented on #136
@daniel-luberda: I use just one transformation. And it's not applied to every image. I think I posted it here some time ago. It's a blitting transformation - overlaying one semi-transparent image over another.
I'd have to change it a bit to make use of new BitmapHolder, but I don't mind as long as it's faster.

You can't just cast int[] to byte[] in C#, right?

[2016-01-28 16:11] daniel-luberda commented on #136
Sadly, no... We use some unsafe code to make it faster:  https://github.com/molinch/FFImageLoading/blob/master/source/FFImageLoading.Windows/Extensions/ImageExtensions.cs#L135-L152 - but it's still copying.

@sebastian-frysztak I'll provide some extension methods that can help to operate on `byte[]` arrays. Here: https://github.com/molinch/FFImageLoading/blob/windows-new-bitmapholder-optimization/

[2016-01-28 16:23] sebastian-frysztak commented on #136
@daniel-luberda: Good, it'll maybe it easier for others to port to new API.
BTW, do you have any estimates how many users use this library? I mean end-users, consumers not developers.

[2016-01-29 22:02] BradleyDHobbs commented on #124
I'm getting this on Android API 17

[2016-01-30 06:55] molinch commented on #124
Do you use 2.0.6 nuget?

[2016-01-30 12:29] coonmoo commented on #130
I rolled out the test dll changes to some testers.

Some people report that their uploaded pictures are now completly black.

So what I do is load the camera picture in the CachedImage view (preview is totally fine), then I call (after loading finished) image.GetImageAsJpgAsync(500.500. 95) and upload the resulting Byte Array to the Server. The Server stores this raw Byte Array then (without any f

[2016-01-31 16:30] #135 closed

[2016-01-31 16:31] molinch commented on #135
Success callback is now ALWAYS invoked on main thread.
Remark: Error callback and Finish callback do not enforce the main thread

[2016-01-31 17:31] molinch commented on #111
Let's close this task since we talked about totally unrelated stuff and we won't develop a disk LRU cache in short/medium time anyway.

[2016-01-31 17:31] #111 closed

[2016-01-31 17:45] molinch commented on #131
This last point is now implement.
So points 1, 2, 3 are still remaining right?

[2016-01-31 17:46] molinch commented on #133
@daniel-luberda I would suggest rolling alpha nugets and letting Adrian test it. What do you think?

[2016-02-01 03:05] daniel-luberda commented on #136
@sebastian-frysztak It's really hard to estimate such data. I suppose, a lot :) Do you need it for some special reason or just curious?

[2016-02-01 03:12] daniel-luberda commented on #131
@molinch Yes, I'll try to implement number one first (fade)

[2016-02-01 03:32] daniel-luberda commented on #133
@adrianknight89  I released 2.0.7-alpha1 nuget package. Could you test it?

[2016-02-01 03:33] daniel-luberda commented on #130
@coonmoo I suppose it may be related to this: https://github.com/molinch/FFImageLoading/issues/135

[2016-02-01 08:44] sebastian-frysztak commented on #136
@daniel-luberda: just curious :).

[2016-02-01 16:38] adrianknight89 opened #137 "Add ForceReload to CachedImage"
See https://forums.xamarin.com/discussion/60121/ffimageloading-resize-image-on-device-orientation-change#latest

Image doesn't seem to be resizing on device orientation change on Android. iOS seemed fine when I tried, but you should double check.

[2016-02-01 16:40] #137 closed

[2016-02-01 16:40] adrianknight89 commented on #137
Sorry i think this could be closed. Just looked at commit history.

[2016-02-01 16:41] daniel-luberda commented on #137
@adrianknight89 Implemented here: https://github.com/molinch/FFImageLoading/commit/c9879132bf9307af509ee5fe9d7132edada188d6  :)

[2016-02-02 01:10] adrianknight89 commented on #133
Unfortunately, the issue still persists with alpha1.

[2016-02-02 18:27] coonmoo commented on #130
I'm not sure.

I just tested it on a low end device, and sometimes even the images loaded from the server in CachedImage display completly black.

[2016-02-02 19:37] molinch commented on #130
@coonmoo do you have anything special in the logs when it happens?

[2016-02-03 01:07] daniel-luberda commented on #133
@adrianknight89  Will you be able to provide a repro project?

[2016-02-03 06:11] adrianknight89 commented on #133
For some reason, I can't attach a zip file to the comment section here. I posted it on http://forums.xamarin.com/discussion/59431/ffimageloading-does-not-display-images-properly#latest

[2016-02-03 06:38] c1rus opened #138 "Android ImageViewAsync - adjustViewBounds and fitCenter"
Hi guys, again, awesome work with the library :)

Just found one problem with ```adjustViewBounds="true"``` and ```scaleType="fitCenter"```.

This my ImageView setup:

[code]

And this is result with regular ImageView:

![imageview](https://cloud.githubusercontent.com/assets/11233730/12774806/a7afdf2e-ca48-11e5-8578-eb056fb10a75.png)

And ImageViewAsync:

![imageviewasync](https://cloud.githubuser

[2016-02-03 13:32] coonmoo commented on #130
Here is the log from a low end device.

1) I opened the camera from my app and took a Picture
2) The result of the camera is loaded into CachedImage (first line of log)
3) The log line "Image was loaded" is when FFImageLoading finished loading
4) The displayed Image in CachedImage is completly black
5) The Image on the sdcard is fine, though

[code]

[2016-02-03 13:50] coonmoo opened #139 "Android: .webp images are displayed black/partially when loaded from server"
I noticed another issue when images loaded from server display partially or completly black in CachedImage. It seems to be related to .webp processing.

When I load .jpg instead of .webp from the server I have no issues.

Heres the log from loading .webp files:

This occurs very often on low-end devices (with less than 1GB ram).
[code]

[2016-02-03 14:01] coonmoo commented on #139
To reproduce:

1) Load some .webp files from web (I use a Resolution of 480x480)
2) I started an Android Emulator and set the Ram Limit to 512MB.
3) The images appear to be partially displayed

[http://s23.postimg.org/xk4hexpyz/webperror.png](url)

[2016-02-03 15:49] daniel-luberda commented on #130
@coonmoo I don't see anything useful information in logs. My guess: Do you have `TransparencyEnabled` set to `true`?

[2016-02-03 15:55] coonmoo commented on #130
I'm using the FFImageLoading defaults.

CachedImage is configured like this:

DownsampleToViewSize=true;
DownsampleUseDipUnits=true;
CacheDuration = TimeSpan.FromDays(10);
DownsampleWidth = 200;
Aspect=Aspect.AspectFill;

[2016-02-03 15:56] daniel-luberda commented on #130
Try with `TransparencyEnabled` set to `true`. Could send me source file so I could analyze its exif data? (/storage/sdcard0/Android/data/com.myapp/files/Pictures/myapp/IMG_20160203_142225.jpg)

[2016-02-03 16:09] daniel-luberda commented on #139
It may be related to this:

- https://bugs.chromium.org/p/webp/issues/detail?id=170
- http://stackoverflow.com/questions/18842748/certain-webp-image-not-able-to-load-in-android-4
- https://github.com/square/picasso/issues/177#issuecomment-32117960

[2016-02-03 17:00] daniel-luberda commented on #133
I was able to reproduce it, but don't know why is it happing (i suppose some iOS issue). @Community? :)

[2016-02-03 17:01] highplains opened #140 "Occasionally Wrong Image is Cached and Displayed."
I've noticed that sometimes the wrong image gets cached and displayed.

Example.

Notice the image for "Susie O."
![screen shot 2016-02-03 at 9 57 00 am](https://cloud.githubusercontent.com/assets/1825076/12789776/7c0ce34e-ca5c-11e5-937e-7bb7402df541.png)

In the database on the device the image url is: http://d3jwlazd4lxjto.cloudfront.net/4435D05D1CEE3E9A011CD841CBBE86F8   which is the correct im

[2016-02-03 17:21] daniel-luberda commented on #138
@c1rus It should work now. Are you able to test it? :)

[2016-02-03 17:51] molinch commented on #139
@coonmoo Could you please indicate your Android version and also deliver an image that fails?

[2016-02-03 17:52] molinch commented on #140
Do you use a specific cache key?

[2016-02-03 18:00] highplains commented on #140
I use defaults, so no.

[2016-02-03 18:12] molinch commented on #140
The issue is on iOS or Android?

[2016-02-03 18:48] molinch commented on #140
Other question: I guess you use latest stable nugets?

[2016-02-03 18:50] highplains commented on #140
I've only tested on ios

Sent from my iPhone

[2016-02-03 18:51] highplains commented on #140
The problem occurs in latest stable and alphas

Sent from my iPhone

[2016-02-03 19:04] molinch commented on #140
Thanks for the feedback I am investigating.

I don't know if that's possible for you but if you build the lib from sources, in debug, and run your app with it in debug then valuable logs will be in the console.
If you can do so could you attach them here?

[2016-02-03 19:15] coonmoo commented on #139
Thanks for the fast answer.

You are probably right, it's related to the issue because some Android versions do not support alpha.

Android Version is 4.1.2.

I'll send the Images to daniel-luberda because I can't attach them here.

[2016-02-03 19:56] highplains commented on #140
2016-02-03 12:55:37.636 RRiOS[23298:8594846] Generating/retrieving image: http://d3jwlazd4lxjto.cloudfront.net/4435D05D1CEE3E9A011CD841CBBE86F8;120x0
Generating/retrieving image: http://d3jwlazd4lxjto.cloudfront.net/4435D05D1CEE3E9A011CD841CBBE86F8;120x0

That is the log entry for the relative image.

[2016-02-03 20:20] highplains commented on #140
Seeing it for other profiles as well. In this image "Rob S" is showing the correct image while "Vidal L." is showing the wrong image.

![screen shot 2016-02-03 at 1 16 24 pm](https://cloud.githubusercontent.com/assets/1825076/12795749/b7606be8-ca78-11e5-9de3-6fd1f4178f89.png)

Rob S: http://d3jwlazd4lxjto.cloudfront.net/EEB5D7BF24B6F139B6E6F179E9085473;120x0
Vidal L: http://d3jwlazd4lxjto.cloudfro

[2016-02-03 20:22] softwaremills commented on #131
Hey guys, I just want to thank you for the fantastic library and express my sincere appreciation. Thanks so much for the work you've put into it. :)

[2016-02-03 23:45] c1rus commented on #138
Nope. It's weird.

I tried to comment all stuff in ImageViewAsync and ManagedImageView and same result

this is working:
[code]
this is not:
[code]

[2016-02-04 06:01] molinch commented on #140
Thanks it will definitely help for debugging.
Do you use XF recycling strategy?

[2016-02-04 06:47] molinch commented on #139
Please have a look at: http://developer.android.com/intl/es/guide/appendix/media-formats.html
WebP lossy (Android 4.0+), so similar to JPG
WebP lossless, transparency (Android 4.2.1+), so similar to PNG

If you target a 4.1.2 device make sure your WebP image is lossy/without alpha.

[2016-02-04 14:33] highplains commented on #140
No I use uneven rows a lot so RetainElement

Sent from my iPhone

[2016-02-04 15:53] daniel-luberda commented on #139
I think we could close the issue.
BTW: Does anyone know a way for full support of `webp` in older Android versions?

[2016-02-04 15:54] daniel-luberda commented on #131
@softwaremills Thanks! :)

[2016-02-04 15:57] daniel-luberda commented on #138
@c1rus Indeed, that's weird.
- Did you try another images? Is it the same?

[2016-02-04 16:06] daniel-luberda commented on #140
The important one is:

My types:

- Corrupted journal file. Clearing image cache should help. Did you try that?
- Concurrency error when saving journal entry. (we use locks so I don't think it's the case)

[2016-02-04 16:31] highplains commented on #140
I'm pretty sure clearing the cache will work as well, but that doesn't help my users that might experience this. More interested in how it occurs in the first place.

[2016-02-04 16:34] daniel-luberda commented on #140
@highplains Yes, we definitely need to track it down. Did you ever use methods for clearing disk cache in your app? There was a bug in previous version which could corrupt journal file: https://github.com/molinch/FFImageLoading/commit/91ba594516694935b8aed4d0cdf0ae4bcdbf5593

[2016-02-04 16:35] highplains commented on #140
No I've never used any invalidation routines before. Never needed to.

[2016-02-04 16:40] daniel-luberda commented on #140
Is it possible that you could mail me `.journal` file so I could analyze it if it's corrupted and if it contains correct entries?

[2016-02-04 16:45] highplains commented on #140
sent

[2016-02-04 17:15] c1rus commented on #138
It's the same.

Actually before i was trying this code only with ImageView, but it is working with ImageViewAsync as well:

[code]

So the problem has to be somewhere here:
[code]

[2016-02-04 17:44] c1rus commented on #138
Ok, i have found it, this lines are the problem:

https://github.com/molinch/FFImageLoading/blob/2b057e28f7e29719a58a21ad2513b0fabde59038/source/FFImageLoading.Droid/Work/ImageLoaderTask.cs#L644
https://github.com/molinch/FFImageLoading/blob/2b057e28f7e29719a58a21ad2513b0fabde59038/source/FFImageLoading.Droid/Work/ImageLoaderTask.cs#L804

[2016-02-04 18:27] daniel-luberda commented on #138
@c1rus Nice catch! It'll be definitely easier to fix now. Thanks!

BTW: @molinch Intrinsic sizes can be sometimes misleading. Nice read about this: http://stackoverflow.com/a/28159175/5064986

[2016-02-04 18:42] daniel-luberda commented on #140
@highplains Thanks for the files. Some more information:

### Example1
c 8e090fa1e3842e825e64cd49a0ac8071 635901144972886480 2592000000
c 51774df1cd016d95ea144801d492601b 635901144979156220 2592000000
m 51774df1cd016d95ea144801d492601b 635901144980165350 2592000000

http://d3jwlazd4lxjto.cloudfront.net/4435D05D1CEE3E9A011CD841CBBE86F8 (file: 51774df1cd016d95ea144801d492601b) was cached as http://d

[2016-02-05 06:25] molinch commented on #131
Many thanks @softwaremills ! :+1:

[2016-02-05 06:47] molinch commented on #138
@c1rus Wow you hit some legacy code :)
https://github.com/molinch/FFImageLoading/commit/ebf52fe5c3bbb01319af83f9184c5ece128830a1
It is one of the only remaining part that was already in the first library's commit...

I'll first try to remember why this is here I come back to you soon.

[2016-02-05 06:54] molinch commented on #140
Thanks for the debugging Daniel. That could definitely explain it.

[2016-02-07 13:53] molinch commented on #140
Currently I still didn't managed to repro this.
@highplains is it possible to email me a repro sample?

[2016-02-07 14:02] molinch commented on #139
@coonmoo This issue doesn't seem to be related to FFImageLoading.
Feel free to reopen it if you believe the opposite.

[2016-02-08 12:50] coonmoo commented on #130
I sent you the image.

Btw it happens on the specific device to every image captured from the camera.

TransparencyEnabled=true makes not difference.

[2016-02-08 14:00] coonmoo commented on #139
Thank you very much for the information.

I solved it with lossy Images for Android < 4.2.1

[2016-02-08 14:09] coonmoo commented on #139
I'm not completly sure if not FFImageLoading causes some issues here.

I encoded all webp files not lossy without transparency.
I see some improvements here, but occassionally some images are still only partially displayed in CachedImage.

The reported issues:
https://bugs.chromium.org/p/webp/issues/detail?id=170
http://stackoverflow.com/questions/18842748/certain-webp-image-not-able-to-load-in-an

[2016-02-08 15:54] molinch commented on #139
Could you send me a few pics that cause trouble?
fabien.molinet AT gmail.com

[2016-02-09 06:16] jaganjan opened #141 "ffimageloading default constructor not found roundedtransformation xaml"
how can i achive roundedtransformation in xaml

[code]

[2016-02-09 10:20] jaganjan commented on #141
leave it i figure it out

[2016-02-09 10:20] #141 closed

[2016-02-09 13:22] coonmoo commented on #139
Hello fabien,

the issue is definitely with pictures loaded from a webserver.

I created a new xamarin.forms project and added 2 CachedImage controls. One displaying the Image from a local file and one displaying the same Image loaded from the Server.

[Image](http://s7.postimg.org/9ci5m6mor/Screenshot_2016_02_09_14_14_29.png)

Code:
[code]

[2016-02-09 15:12] coonmoo commented on #130
The issue with black Images is definitely caused by the exif rotation change.

I reverted to FFImageLoading 2.0.7 alpha and have no issues when capturing images.

Then I tried again your [dlls](https://mega.nz/#!BdZEiLST!UlruNvm6ajg4n5nYHyvyXrffCU_sDzEdSmgRpwdE-To) and the captured image was black again.

Can I assist you any further with this issue?

[2016-02-09 16:33] highplains commented on #140
I don't know the sequence that causes the issue it would be hard for me to create a repo as well.

[2016-02-10 03:51] ahohns commented on #140
For what it's worth I've seen this too and it's very infrequent and random - I mentioned it in another issue but never created a separate issue as I haven't seen it happen for a while and put it down to something being fixed with the more recent versions.

[2016-02-10 11:12] jaganjan opened #142 "ios not working when load from image assets"
in Appdelegate

`CachedImageRenderer.Init();`

[code]

The above xaml syntax works well in android but not works in ios

Folder structure in IOS PROJECT
Resources->Icons->Hamburger.png

[2016-02-11 00:14] ahohns opened #143 "Request: Provide way to download & cache images without assigning to views"
Is it possible to provide a way to download & cache an image (either disk, memory, or both) without assigning the image to a view?

Use case example: We'd like to iterate through a list and call a method that downloads & caches an image from each item in the list. This is so the images are pre-cached and display quicker when scrolling for certain listviews within an app.

Currently images are only

[2016-02-11 14:34] highplains commented on #143
This would be handy

Sent from my iPhone

[2016-02-11 15:15] dspacey89 commented on #143
+1

[2016-02-12 07:32] andrewSvsg commented on #143
+1

[2016-02-12 07:34] c1rus commented on #143
+1

[2016-02-14 16:57] adrianknight89 commented on #143
I'd like to see this done too.

[2016-02-15 05:47] SemyonL opened #144 "heap corruption detected by dlmalloc_real"
When using FFIL with the bunch of images we often get heap corruption crash.

Any idea how can we avoid this?

[ReuseBitmapDrawableCache] Cache hit
[ReuseBitmapDrawableCache] Cache hit
[ReuseBitmapDrawableCache] Cache hit from reuse pool
[ReuseBitmapDrawableCache] Cache hit from reuse pool
[SelfDisposingBitmapDrawable] OnFreeResources
[ReuseBitmapDrawableCache] Cache hit from reuse pool
[SelfDispo

[2016-02-15 11:21] SemyonL commented on #144
We solved the issue by uncommenting the OnDetachedFromWindow method from ManagedImageView, because it looks the only place where NoLongerDisplayed event could be raised.

[2016-02-15 17:15] coonmoo commented on #130
I spent a few hours debugging this issue on my low end devices.

I finally have a solution which works very well across all devices:
[http://pastebin.com/5FVrJ68Y](http://pastebin.com/5FVrJ68Y)

I modified: ExifExtensions.ToRotatedBitmap with the provided function.

[2016-02-16 16:06] tamasszadvari opened #145 "8-digit CircleTransformation border color not works on iOS"
The 6-digit works well on both iOS and Android, but the 8-digit works only on Android.
Would it be possible to use the Xamarin.Forms Color class instead of hex strings?

[2016-02-18 13:25] daniel-luberda commented on #145
We cannot use Xamarin.Forms `Color` class because the library also works on pure iOS/Android/Windows. I'll try to add support for 8-digit hex colors on other platforms instead.

[2016-02-18 13:29] daniel-luberda commented on #130
@coonmoo Thanks, sorry for answering so late, I had a very busy week. I'll test your changes and merge it into master. Great! Nice work :)

[2016-02-18 13:40] tamasszadvari commented on #145
Oh, I see. Thanks, that would be awesome! It's pretty easy to convert Xamarin.Forms `Color` objects to hex color strings, so the 8-digit hex support is more than enough. :)

[2016-02-18 13:41] daniel-luberda commented on #144
We need to fix that. I'll reopen the issue.

[2016-02-18 13:52] daniel-luberda commented on #143
We could have some helper method to do that, but in my opinion, we need to modify scheduler to support task priorities to avoid starvation of normal image loading tasks.

[2016-02-19 07:04] OrcJMR opened #146 "Crash on Android API15 & lower"
FFImageLoading.Droid/Views/ImageViewAsync.cs : 106
get_AdjustViewBounds is only introduced in API 16 (despite set being available since API 1), leading to a crash on API15 and lower.

It is easy to stub it by overriding set and storing a copy locally, but maybe there's a way to not actually need it on lower API levels.

[2016-02-19 11:58] escamoteur opened #147 "CachedImage.InvalidateCache has no effect"
Hi,

I have a listview with CachedImages bound to an ObservableCollection. When I change elements of the ObservableCollection the Image get's updated. In cases if only the underlying Imagefile changes I want to have the Image Updated. I'm trying this by calling

            CachedImage.InvalidateCache(imagepath, FFImageLoading.Cache.CacheType.Disk);

But nothing is updated.

This is the Bound Obje

[2016-02-19 13:12] daniel-luberda commented on #147
After invalidation you should reapply the source

eg.

[code]

or call new `ReloadImage` method (not available on nuget yet).

[2016-02-19 13:31] escamoteur commented on #147
ReloadImage would be great, but how do I access the Imageinstance inside a ListView when creating the View in Xaml.

As you saw ThumbPath has no setter. So reapplying the source won't work.
I know tried to manually call OnPropertyChanged,
This works, but only once, after that the Image is no longer updated.

[2016-02-19 14:32] escamoteur commented on #147
I know used your Workaround reapplying the source again and it works only once, after that it does noch update the image anymore.
Ich I change the CachedImage to Image it works.

[2016-02-19 14:34] daniel-luberda commented on #147
@escamoteur You should invalidate memory cache type.

[2016-02-19 14:35] escamoteur commented on #147
Why? Its a FileImageresource.

[2016-02-19 14:36] daniel-luberda commented on #147
Images for a given path are cached also in memory (if you use multiple images with same path, the only one bitmap instance is used).

[2016-02-19 14:38] escamoteur commented on #147
I try:

            CachedImage.InvalidateCache(imagepath, FFImageLoading.Cache.CacheType.Memory);
           ((IngredientsMainPageModel) this.PreviousPageModel).UpdateLastItemImage();

And it updates only the first time, after that it always displays the same Image. with Image it works

[2016-02-19 14:42] daniel-luberda commented on #147
Do you use any transformations or downsampling? There was a scenario when cache wasn't invalidated correctly with those features. See this:

- https://github.com/molinch/FFImageLoading/commit/cac2927b7d19a1a69462caa6786bfcd098a8492c
- https://github.com/molinch/FFImageLoading/commit/1f110c264cfcd406403b103927706b46e799f4c9

I'll make a nuget with those features very soon.

[2016-02-19 14:49] escamoteur commented on #147
I use Downsampling.Can I just pull from GitHub?

[2016-02-19 14:50] daniel-luberda commented on #147
Sure. Just remember to use `removeSimilar = true` in `InvalidateCache` method.

[2016-02-19 14:51] escamoteur commented on #147
what does it?

[2016-02-19 14:54] daniel-luberda commented on #147
FFImageLoading caches bitmaps in memory. If you use downsampling or transformations, the same image can have different versions (600dp size, 100dp size, circleborder), those informations are added to cache key, eg:

`image.png`
`image.png;600x0`
`image.png;100x0`
`image.png;CircleTransformation`

If you use `removeSimilar = true`, you'll invalidate all of them.

[2016-02-19 15:16] escamoteur commented on #147
Now with removeSimilar = true the Image only flickers and does nbot change at all.
With removeSimilar = false it again changes only once.

[2016-02-19 15:18] escamoteur commented on #147
I just git an Exception in

		public override void SetImageDrawable(Drawable drawable)
		{
			var previous = Drawable;

			base.SetImageDrawable(drawable);

			UpdateDrawableDisplayedState(drawable, true);
			UpdateDrawableDisplayedState(previous, false);
		}

System.ArgumentException: 'jobject' must not be IntPtr.Zero.

Parameter name: jobject

[2016-02-19 15:21] daniel-luberda commented on #147
Can you make a repro? It really should work without problems, if you:

- Invalidate cache
- Reload Image

I'll need more details.

[2016-02-19 15:23] escamoteur commented on #147
This is the StackTrace:

System.ArgumentException'jobject' must not be IntPtr.Zero. Parameter name: jobject
Raw
Android.Runtime.JNIEnv.CallNonvirtualObjectMethod(IntPtr jobject, IntPtr jclass, IntPtr jmethod)JNIEnv.g.cs:586
Android.Widget.ImageView.get_Drawable()Android.Widget.ImageView.cs:542
FFImageLoading.Views.ManagedImageView.SetImageDrawable(Drawable drawable)
FFImageLoading.Forms.Droid.Cach

[2016-02-19 17:33] escamoteur commented on #147
Hi Daniel,
I think I wait for the next nuget-Package

[2016-02-19 18:46] #130 closed

[2016-02-19 18:46] #145 closed

[2016-02-19 18:52] daniel-luberda commented on #138
@molinch any news, can I safely delete it?

[2016-02-19 18:55] daniel-luberda commented on #142
Are you sure the image file has BuildAction set to `BundleResource`?

[2016-02-19 22:31] daniel-luberda commented on #144
@SemyonL Could you test this https://github.com/molinch/FFImageLoading/commit/b23dad1ab790536365788826d78cd55a67f32a44?

[2016-02-19 22:41] daniel-luberda commented on #146
It's a legacy code, we'll probably remove it completely soon. Meanwhile, I rolled back commit related to https://github.com/molinch/FFImageLoading/issues/138 as it doesn't fix the issue. It should be working fine again on API < 16.

[2016-02-19 22:41] #146 closed

[2016-02-20 18:30] daniel-luberda commented on #138
@c1rus It should be fixed now as legacy code was removed.

[2016-02-23 14:33] daniel-luberda commented on #131
All missing points are now implemented with https://github.com/molinch/FFImageLoading/commit/95182999641a43e5fec25084c203707fe84999da

[2016-02-23 14:33] #131 closed

[2016-02-23 17:19] daniel-luberda commented on #147
@escamoteur 2.0.7-rc1 released.

[2016-02-23 17:23] escamoteur commented on #147
Hi Daniel,

did you find something concerning my problem?

Best
Thomas

[2016-02-23 17:26] daniel-luberda commented on #147
@escamoteur I reviewed some code parts but I didn't find anything. If I had a repo project I could test it further.

[2016-02-23 17:27] escamoteur commented on #147
If it is no problem for you I could send you my current project, as it
is still in the beginning.

------ Originalnachricht ------
Von: "Daniel Luberda" <notifications@github.com>
An: "molinch/FFImageLoading" <FFImageLoading@noreply.github.com>
Cc: "escamoteur" <thomas@burkharts.net>
Gesendet: 23.02.2016 18:26:13
Betreff: Re: [FFImageLoading] CachedImage.InvalidateCache has no effect
(#147)

[2016-02-23 17:29] daniel-luberda commented on #147
Sure, just give me some info where to look at :)If it's a bug, it would be nice to have it fixed before 2.0.7 stable release.

[2016-02-23 17:32] daniel-luberda commented on #144
@SemyonL That fix is included in 2.0.7-rc1 released, it would be really nice if you could give some feedback about the issue.

[2016-02-23 17:32] escamoteur commented on #147
I just did some major refactoring, actually I'm preparing to bundle some
part of my App as PCL for CRUD Dialogues and put it on GitHub soon.
As soon as everything works again ;-) I send you a donwload link.

------ Originalnachricht ------
Von: "Daniel Luberda" <notifications@github.com>
An: "molinch/FFImageLoading" <FFImageLoading@noreply.github.com>
Cc: "escamoteur" <thomas@burkharts.net>
Gesend

[2016-02-23 17:33] daniel-luberda commented on #147
Sure :) Cheers!

[2016-02-23 17:35] daniel-luberda commented on #100
We could close it, as it's not an issue and not so urgent really.

[2016-02-23 17:35] #100 closed

[2016-02-23 20:19] daniel-luberda commented on #143
@ahohns @highplains @dspacey89 @andrewSvsg @c1rus https://github.com/molinch/FFImageLoading/commit/74d161a5683bd9008aef8aa764eb9e8f7429f9a0 I added `DownloadImageAndAddToDiskCache`  helper method for a start. What do you think?

[2016-02-23 20:28] daniel-luberda commented on #147
Ok. Got it. It's because: https://github.com/molinch/FFImageLoading/blob/master/source/FFImageLoading.Shared/ImageService.cs#L309

As you see. Method is not awaited. :/ As a temporary solution, you could add a `Task.Delay` after invalidate call. We would need to convert that method to Async to fix that.

[2016-02-23 20:49] highplains commented on #143
Is there a way to check if the image has already previously been downloaded
first?

On Tue, Feb 23, 2016 at 1:19 PM, Daniel Luberda <notifications@github.com>
wrote:

[2016-02-23 20:51] daniel-luberda commented on #143
Not currently, I could modify method to just download image if it's not in cache. What do you think?

[2016-02-23 21:48] #147 closed

[2016-02-23 22:00] highplains commented on #143
Ya that could work, can you return a value from the function that indicates whether the image exists in the cache when the function exits?

[2016-02-23 22:35] daniel-luberda commented on #143
@highplains Yes, I just commited that changes.

[2016-02-23 22:57] highplains commented on #143
nice any way to get that into a RC on nuget?

On Tue, Feb 23, 2016 at 3:35 PM, Daniel Luberda <notifications@github.com>
wrote:

[2016-02-23 23:14] daniel-luberda commented on #143
RC2 nuget already released. Could you test it?

[2016-02-23 23:17] highplains commented on #143
ya ill give it a go tomorrow for sure

On Tue, Feb 23, 2016 at 4:14 PM, Daniel Luberda <notifications@github.com>
wrote:

[2016-02-23 23:26] highplains commented on #143
What does the lib do if I'm downloading the same images in the background that the user is requesting while scrolling? Just out of curiosity.

[2016-02-23 23:32] daniel-luberda commented on #143
For now, image loading task prioritizing is not implemented (it's on a todo list), so basically it behaves just the same as other image downloads which use Views. I advice to insert `Task.Delay` call after each `	DownloadImageAndAddToDiskCacheAsync` for now to minimize its effect.

[2016-02-24 03:23] SemyonL commented on #144
@daniel-luberda Just tested the latest source and no luck, still getting heap corruption. Dispose doesn't seem to work properly.

[2016-02-24 06:35] molinch commented on #144
@SemyonL does it happen on a particular Android version or any?

[2016-02-24 07:15] molinch commented on #138
You didn't removed the correct code :)

[2016-02-24 07:18] SemyonL commented on #144
@molinch It easily reproduced on nexus 7 with 5.1. However, on another 4.3 device after 5 minutes it doesn't crash.

[2016-02-24 07:24] molinch commented on #144
Thanks I'll try with 5.1

[2016-02-24 07:52] #138 closed

[2016-02-24 07:54] molinch commented on #139
@coonmoo Sorry for the delay. Could you reupload the picture somewhere? The link no longer works.

[2016-02-24 08:37] molinch commented on #144
So I tried on a simulated Nexus 4 and couldn't reproduce it.
I guess I will need a real device.

If you manage to run against git sources I'm pretty sure you will get valuable info.

[2016-02-24 13:04] escamoteur commented on #147
Hi Daniel,

yes a Task.Delay(300) did the job.

Best
Thomas

------ Originalnachricht ------
Von: "Daniel Luberda" <notifications@github.com>
An: "molinch/FFImageLoading" <FFImageLoading@noreply.github.com>
Cc: "escamoteur" <thomas@burkharts.net>
Gesendet: 23.02.2016 21:28:18
Betreff: Re: [FFImageLoading] CachedImage.InvalidateCache has no effect
(#147)

[2016-02-24 17:56] coonmoo commented on #139
@molinch thanks for looking into this issue.

Yeah the host only allows like 10times Access to the link.

I just uploaded the "webptest.webp" I sent you via mail through this formular: http://image.online-convert.com/convert-to-webp.

So when the below link expires you can upload it again.

Here is another link http://www24.online-convert.com/download-file/7935cd65a3a769c42ac186439e05d934/converte

[2016-02-24 21:42] daniel-luberda commented on #147
It's fixed in RC2 nuget (use new methods)

[2016-02-24 21:43] daniel-luberda commented on #138
@molinch Sorry and thanks!

[2016-02-25 13:32] chamamo opened #148 "Custom Scale not working (Zoom) on Android"
Hi,

I'm tryning to include this [class](https://gist.github.com/justintoth/10663869) in my project, it's a custom ImageView wich allow you to zoom (in/out).
It's not work when this class inherit from ImageViewAsync.
Did I missed something?

Thank you in advance.

[2016-02-25 14:21] daniel-luberda commented on #148
It's a lot of code. I'll need some more details.

BTW: FFImageLoading has a CropTransformation which allows you too zoom in/out image. Did you try it? All you need to do is to handle touch events. https://github.com/molinch/FFImageLoading/blob/master/source/FFImageLoading.Transformations.Droid/CropTransformation.cs

[2016-02-25 14:31] molinch commented on #148
IMO the legacy code we removed could help.
@chamamo could you try with our nuget alpha?

[2016-02-25 14:39] teunhoogendoorn commented on #140
I've also seen this happening. In a list of images sometimes a previous loaded image is used instead of the correct image.

[2016-02-25 15:39] molinch commented on #140
Please note that we consider this issue as a critical one. Therefore for now I have not been able to repro it.

Could be great if any of you was able to deliver some sample where we know we can face this issue.
Even if we hit it after 10mn or rarely, we could heavily play with the sample, until we get it.

[2016-02-25 15:42] highplains commented on #140
I'm not sure if its relevant but I see this occur in the iOS simulator much
more then my production app. 9:1

On Thu, Feb 25, 2016 at 8:39 AM, Fabien Molinet <notifications@github.com>
wrote:

[2016-02-25 15:45] teunhoogendoorn commented on #140
Indeed, mostly seen on iOS simulator.

[2016-02-25 17:21] chamamo commented on #148
No need to update your code, I'm using ImageView inside ViewPager, The ViewPager was handling  the touch event before ImageView.
It work now, thank you very much.
Juste a question, LoadingPlaceholder and ErrorPlaceholder methods take a string parameter, can I use a resource Id? from drawable folder for exemple?

[2016-02-26 13:59] daniel-luberda commented on #148
@chamamo You have to provide resource path eg. "Loading.png" (full paths are supported).

[2016-02-26 13:59] #148 closed

[2016-02-26 14:00] daniel-luberda commented on #143
Did anyone test it?

[2016-02-26 14:00] chamamo opened #149 "WebException when call CancelLoading"
Hi,

I'm using ViewPager to show pictures, before destroy page I'm tryning to cancel image loading like this:

`
public override void DestroyItem(ViewGroup container, int position, Java.Lang.Object obj)
        {
            var view = (View)obj;
            var imageView = view.FindChild<SlgImageView>().FirstOrDefault();
            if (imageView != null)
            {
                imageView.C

[2016-02-26 14:10] molinch commented on #149
These are handled exceptions so it shouldn't be an issue.

[2016-02-27 08:16] molinch commented on #149
Please reopen in case you have an issue.

[2016-02-27 08:16] #149 closed

[2016-02-27 08:16] molinch commented on #142
Please reopen in case there is really an issue.

[2016-02-27 08:16] #142 closed

[2016-02-27 08:58] molinch commented on #140
@daniel-luberda  I retried to update our sample ListExampleViewModel, I updated this method:
[code]

So as you can see I know have tons of pictures of a decent size.
Therefore I'm still unable to reproduce.

[2016-02-27 09:04] molinch commented on #144
@SemyonL Do you reproduce this issue in simulators as well?

[2016-02-27 09:35] molinch commented on #139
Ok I reproduce the issue on a Nexus 4 with Jelly Bean.

I confirm that it's related to your webp format: if I use a lossy webp then there's no issue.
[lossy.webp.zip](https://github.com/molinch/FFImageLoading/files/149286/lossy.webp.zip)

[2016-02-27 09:35] #139 closed

[2016-02-27 11:56] xleon opened #150 "MvxImageLoadingView not available"
I saw this class here: https://github.com/molinch/FFImageLoading/blob/master/source/FFImageLoading.Cross/MvxImageLoadingView.cs

But for any reason the namespace "FFImageLoading.Cross" it´s not available in the lastest nugget release

[2016-02-27 12:06] molinch commented on #150
@xleon Did you try it? My goal was to offer a quick alternative to MvxImageView.
I'm happy to make a nuget if needed.

[2016-02-27 12:30] xleon commented on #150
Yeah, I´m trying it now and getting some errors I´m trying to fix.
This will be very handy once fixed

[2016-02-27 12:32] xleon commented on #150
This is what I´m trying so far:

[code]

[2016-02-28 19:57] #150 closed

[2016-02-28 19:57] molinch commented on #150
@xleon It's fixed now in git. Could you give it a try?

[2016-02-29 09:17] mariusmuntean opened #151 "Encrypted images"
Hi,

First of all thanks for the great work!

We're starting to use encrypted image files and we're wondering what the best way would be to allow some processing(decryption) of the downloaded images.

Ideally we could hook into the download and cache mechanism to receive a byte array of the downloaded data, process it and then return it to the cache to be persisted in plain-text.

A possible solut

[2016-02-29 09:22] molinch commented on #151
Good news! It's already possible to provide your own IDownloadCache.
Please have a look at https://github.com/molinch/FFImageLoading/wiki/Advanced-Usage

[2016-02-29 09:41] mariusmuntean commented on #151
Hi Fabien,

Thanks for the quick reply.
I wasn't aware of that. After looking into it for a few minutes it seems indeed that it is possible to do exactly what we want.

For the record: Call `ImageService.Initialize(customConfig)`, where `customConfig `is an instance of [`Configuration`](https://github.com/molinch/FFImageLoading/blob/master/source/FFImageLoading.Common/Config/Configuration.cs) that

[2016-02-29 09:41] #151 closed

[2016-02-29 11:20] coonmoo commented on #140
I see this also in my android app.
But it's hard to reproduce, because it only happens sometimes.

I does not seem to relate with the number of pictures in the list. I've seen this issue appearing with only 10 cells loaded and only 3 images displayed.

[2016-02-29 11:22] coonmoo commented on #139
Thanks for looking into this.

But if it's an Encoding issue, why does "ImageSource.FromFile("imgwebp.webp");" perfectly load, whereas the ImageSource.FromUri fails?

[2016-02-29 12:46] molinch commented on #139
I really don't know why from disk it works, the only thing I'm sure is that it's related to Android version.
I tested on 4.4 and Lollipop and it worked perfectly there.

[2016-03-02 07:38] molinch commented on #140
@daniel-luberda I think we could rewrite a much simpler cache system similar to: https://github.com/JimBobSquarePants/ImageProcessor/blob/master/src/ImageProcessor.Web/Caching/DiskCache.cs

This way we would avoid having a journal file.

[2016-03-02 08:42] chamamo commented on #124
I'm getting this on Android with version 2.0.6
I'm using ImageViews in RecyclerView and I load images in OnBind method.
Before loading Image I try to recycle previous one like this:

`imageView.CancelLoading();

var drawable = imageView.Drawable;
            if (drawable is BitmapDrawable)
            {
                var bitmapDrawable = (BitmapDrawable)drawable;
                var bitmap = bit

[2016-03-02 10:54] molinch commented on #124
@chamamo You shouldn't recycle the bitmap.
We have an internal pool it will be recycled automatically when needed.

[2016-03-02 12:00] chamamo commented on #124
@molinch Done, thanks

[2016-03-02 12:11] xleon commented on #150
Hi, I´m not sure how to try this as you changed other files. I tried clonning the repo but it´s not compiling

[2016-03-02 12:13] daniel-luberda commented on #150
@xleon I'll release a 2.0.7 nuget today.

[2016-03-02 12:27] xleon commented on #150
I finally figured out how to use it.
It seams to be working, at least in iOS, but I had to add one line to the file that is a default constructor (I´m using autolayout without cgframes.
Do you want me to make a pull request?

[2016-03-02 12:28] molinch commented on #150
That would be super cool!

[2016-03-02 12:29] xleon commented on #150
Ok, I´m testing more cases in my app to make sure everything is ok. I´ll make that PR ASAP today

[2016-03-02 16:11] joeforshaw opened #153 "Image Download Priority"
Hi there,

I have a view which contains a bunch of images, some on-screen, some off-screen accessible by scrolling through carousels. When images are being downloaded, I want to be able to prioritise the on-screen images and download those first, then the off-screen images.

Therefore I'd like to request some download priority system be implemented which allows me to accomplish such a goal. Apolog

[2016-03-02 16:13] escamoteur commented on #120
Is this solved? I just ran into the same error.

[2016-03-02 16:25] molinch commented on #153
It would not be that hard to add such a prioritization system, we could add an overload to all `ImageService.LoadXxx` methods which would allow an enum:

[code]

Defaut value would be `Normal`
@daniel-luberda @joeforshaw What do you think about it?

[2016-03-02 16:29] joeforshaw commented on #153
Sounds perfect.

[2016-03-02 16:31] joeforshaw commented on #153
Would it be possible to pass the priority as an int instead of an enum? That way you would have a very fine grained approach to prioritising an image.

[2016-03-02 17:21] daniel-luberda commented on #120
Yes :) Just a few minutes ago: try 2.0.7 nuget.

[2016-03-02 17:21] #120 closed

[2016-03-02 17:25] daniel-luberda commented on #153
Yes, we should definitely implement it. I already mentioned about it here: #143 - it would be also very useful in that case.

+1 for WithPriority() fluent method and LoadingPriority enum

[2016-03-02 17:48] joeforshaw commented on #153
Perfect.

[2016-03-02 20:32] michaeldimoudis opened #154 "System.MissingMethodException: Method 'CGSize..ctor' not found."
So I updated from 2.0.7-rc2 to 2.0.7 today, and it's crashing in Android, and the images aren't loading in iOS. Reverting back to 2.0.6 or 2.0.7-rc2 it works. What's happening with my solution??

Below is the iOS stack trace error per image load.

`System.MissingMethodException: Method 'CGSize..ctor' not found.
  at System.Runtime.CompilerServices.AsyncMethodBuilderCore.Start[TStateMachine] (Syste

[2016-03-02 20:52] highplains commented on #154
+1 for this. app wont load any pics have to downgrade

[2016-03-02 20:56] daniel-luberda commented on #154
@highplains @michaeldimoudis Give me a minute, so I could debug those trace logs.

[2016-03-02 20:59] daniel-luberda commented on #154
@highplains @michaeldimoudis Can you write Xamarin.Forms version you're using?

[2016-03-02 21:10] daniel-luberda commented on #154
@highplains @michaeldimoudis Ok, got it, I think I accidentally compiled projects with alpha Xamarin iOS / Android channel :/

[2016-03-02 21:15] michaeldimoudis commented on #154
I'm using all stable releases with latest Xamarin.Forms 2.1.0

[2016-03-02 21:44] daniel-luberda commented on #154
@michaeldimoudis @highplains Could you test 2.0.7.1 now? I'll be really grateful for that.

[2016-03-02 21:46] michaeldimoudis commented on #154
Sure I'll try give it a shot soon

[2016-03-02 21:52] michaeldimoudis commented on #154
@daniel-luberda All good now!! Thanks for the prompt response :)

[2016-03-02 22:06] xleon commented on #150
The "Cross" stuff is not included in the nugget (2.0.7.1)

![captura de pantalla 2016-03-02 23 03 21](https://cloud.githubusercontent.com/assets/145087/13477104/171c9f1c-e0cb-11e5-96d0-0160f75a5ae0.png)

[2016-03-02 22:16] #154 closed

[2016-03-02 22:21] daniel-luberda commented on #154
@michaeldimoudis Thanks for a help! :)

Sorry about the confusion with that release.

[2016-03-03 09:45] molinch commented on #150
@xleon Yes, our goal is to provide it as a separate nuget.
Could you copy/paste the file meanwhile? If you are happy with it then we might make a nuget soon.

[2016-03-03 09:49] xleon commented on #150
Ok, I have to test this in Android to make sure it works. Will keep you
updated

El jue., 3 mar. 2016 a las 10:45, Fabien Molinet (<notifications@github.com>)
escribió:

[2016-03-03 21:15] highplains commented on #143
Looking good so far!

[2016-03-04 06:25] xleon opened #155 "MvxImageLoadingView auto ImageSource detection"
`ImageSource` is needed as a previous step to load any image.
This is fine and a view will normally load the same image source type. But what happens if the type changes?

*The edge case:*
I found myself doing an avatar picker. When a pic is selected, it will load the image from a local file.
If the user save changes in the form, the image will upload to server and next time he/she opens up the sc

[2016-03-04 10:56] molinch commented on #140
There is now a branch with a different disk cache implementation: https://github.com/molinch/FFImageLoading/tree/simple-diskcache

Basically there is no more journal file.
It would be super awesome if you could play with it and tell me if you still get the issue.

[2016-03-04 10:57] molinch commented on #144
@SemyonL if we don't get more feedback we cannot solve this. Could you help us?

[2016-03-04 10:58] molinch commented on #155
It's a really good idea to have a new property like `AutoDataLocation` that would accept an Uri.
Then you could easily know which scheme is used (file, url, res, ...).

I'm happy to merge such a change :)

[2016-03-04 11:44] xleon commented on #155
yeah, I need to read about all possible uri shemes and I´ll commit it.
That could be useful outside of "Mvx" as well

[2016-03-04 12:13] molinch commented on #155
Yes that's true. The best would be to have a new `ImageService.LoadUri` method.
This method would invoke the corresponding methods (LoadFile, LoadUrl, ...) based on Uri scheme.

Then a new property, for example `MvxImageLoadingView.DataLocationUri`, would call it.

[2016-03-04 12:23] xleon commented on #155
mmm schemes can be tricky. Look at this:

`data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUA
AAAFCAYAAACNbyblAAAAHElEQVQI12P4//8/w38GIAXDIBKE0DHxgljNBAAO
9TXL0Y4OHwAAAABJRU5ErkJggg==`

[2016-03-04 12:25] molinch commented on #155
Currently we don't handle Base64 encoded images, is this a need for you?

[2016-03-04 12:26] xleon commented on #155
Not at all, but if we do a ImageService.LoadUrl() it would be cool, isn´t it?

[2016-03-04 12:27] molinch commented on #155
it is indeed cool, but we should focus on what people will really use.
I would rather add new schemes if people ask for them on github

[2016-03-04 12:29] xleon commented on #155
You are right.
I´ll handle the most common schemes then

[2016-03-04 12:32] daniel-luberda commented on #155
Maybe it would help:

- https://github.com/molinch/FFImageLoading/blob/master/source/FFImageLoading.Forms.Droid/ImageSourceBinding.cs#L30-L58
- https://github.com/molinch/FFImageLoading/blob/master/source/FFImageLoading.Forms.Touch/ImageSourceBinding.cs#L29-L58
- https://github.com/molinch/FFImageLoading/blob/master/source/FFImageLoading.Forms.WinRT/ImageSourceBinding.cs#L36-L73

[2016-03-04 12:34] daniel-luberda commented on #155
And the last one, most important as it's based on strings: https://github.com/molinch/FFImageLoading/blob/master/source/FFImageLoading.Windows/FFImageSourceBinding.cs#L19-L53

[2016-03-04 15:55] xleon commented on #155
That will definitely help

El vie., 4 mar. 2016 a las 13:34, Daniel Luberda (<notifications@github.com>)
escribió:

[2016-03-04 16:40] daniel-luberda commented on #143
@highplains Thanks for testing!

I want to modify that method, so the downloading would only work when no other image loading tasks are running. My idea is to:

- Modify `ITaskScheduler` so it would expose `HasPendingTasks` property
- `DownloadBytesAndCacheAsync` (https://github.com/molinch/FFImageLoading/blob/master/source/FFImageLoading.Shared/ImageService.cs#L373) will not be called until `HasP

[2016-03-04 16:40] #153 closed

[2016-03-04 16:52] highplains commented on #143
In my app pictures are downloading frequently as the user scrolls, i would
still like to be "pre-downloading" pictures later in the list while that is
happening. Can you open it up as a options so we can choose?

On Fri, Mar 4, 2016 at 9:40 AM, Daniel Luberda <notifications@github.com>
wrote:

[2016-03-04 16:56] daniel-luberda commented on #143
@highplains Sure, I think a simple method parameter, eg. `downloadOnlyWhenIdle = false` will be enough.

[2016-03-04 20:56] ryanherman commented on #141
How did you do the constructor in XAML?  Trying for BlurredImage

[2016-03-05 00:06] daniel-luberda commented on #141
@ryanherman Just use something like:
[code]

[2016-03-06 03:07] adrianknight89 opened #156 "Android: System.NotSupportedException: Unable to activate instance of type Java.Lang.Thread+RunnableImplementor from native handle"
Using this on:

FFImageLoading 2.0.7
Xamarin Forms 2.1.0.6521
Compile using Android 6.0 Marshmallow
Minimum target Android 4.4 (SDK 19)

I have a ListView with ~200 items (embedded png files). When I scroll fast up or down like a child, I get the following error:

[code]

[2016-03-06 03:10] adrianknight89 commented on #156
I can't tell if this is an issue with FFImageLoading or Xamarin Forms, but it fails my app miserably :(

[2016-03-06 08:17] molinch commented on #156
Hi
Are you using 2.0.7.1?
There was an issue in the build 2.0.7

[2016-03-06 11:46] daniel-luberda commented on #156
It's related to this:  http://stackoverflow.com/a/10603714/5064986

But I don't think we're missing any constructor:

- https://github.com/molinch/FFImageLoading/blob/master/source/FFImageLoading.Droid/Views/ImageViewAsync.cs#L13-L29
- https://github.com/molinch/FFImageLoading/blob/master/source/FFImageLoading.Droid/Views/ManagedImageView.cs#L15-L27
- https://github.com/molinch/FFImageLoading/blob

[2016-03-06 16:07] adrianknight89 commented on #156
I updated to 2.0.7.1. Same issue. As indicated before, I think this is a Xamarin issue. It's a serious one indeed. :|

https://bugzilla.xamarin.com/show_bug.cgi?id=32462
https://bugzilla.xamarin.com/show_bug.cgi?id=27408

[2016-03-06 18:23] daniel-luberda commented on #156
@adrianknight89 As you said, we can't do anything about it. If you'll have some more info, feel free to post it here. Thanks for sharing!

[2016-03-06 21:50] chamamo opened #157 "System.NullReferenceExceptionObject reference not set to an instance of an object"
Hi, I am using the last version and sometimes I have this exception:

[code]

[2016-03-07 07:10] molinch commented on #156
e4381feed3b6c104ffe5afaede0e835ef00cff97 could potentially help, even though I am almost sure there is a Xamarin mystery out there

[2016-03-07 08:22] chamamo opened #158 "Cannot redisplay this drawable, its resources have been disposed."
Hi,

I'm using ImageViewAsync in a RecyclerView with placeholder.
My activity crash and closed unexpectedly with this exception:

System.InvalidOperationExceptionCannot redisplay this drawable, its resources have been disposed.
  at FFImageLoading.Drawables.SelfDisposingBitmapDrawable.SetIsDisplayed (Boolean isDisplayed) <0x94b5fbd0 + 0x00088> in <filename unknown>:0
  at FFImageLoading.Views.Mana

[2016-03-07 09:02] molinch commented on #158
Please post your RecyclerView class, it will help for debug

[2016-03-07 09:03] molinch commented on #157
@chamamo Could you please indicate which Android version and which device?

[2016-03-07 09:46] chamamo commented on #158
I put image url on OnBindViewHolder method and I have a custom ImageViewAsync:

`[Register("namespace.droid.controls.SlgImageView")]
    public class SlgImageView : ImageViewAsync, ViewTreeObserver.IOnPreDrawListener
    {
        private bool isViewLoaded;

        private string imageUrl;

        private bool lazyLoading;

        public SlgImageView(IntPtr javaReference, JniHandleOwnership tra

[2016-03-07 14:07] chamamo commented on #157
Android 5.0.1, Galaxy s4 (GT-I9505)

[2016-03-07 16:07] molinch commented on #158
@chamamo Would it be possible to access your sample project? maybe via email?

[2016-03-07 19:38] daniel-luberda commented on #156
@molinch  I think that missing constructor is from Xamarin internal class.

[2016-03-07 19:57] daniel-luberda commented on #157
@molinch https://github.com/molinch/FFImageLoading/blob/2d34a8b9dc60e0524d2001dd04a257784b06b7b0/source/FFImageLoading.Droid/Cache/ReuseBitmapDrawableCache.cs#L317-L318

I think we should call `reuse_pool.Add` first and then `displayed_cache.Remove`. It could be it, what do you think?

[2016-03-08 07:15] molinch commented on #143
IMO preloading images while there is ongoing work will kill performance.
As a result I am against such a parameter.

[2016-03-08 07:23] molinch commented on #157
I don't think so: the bitmap should only be reusable once it is no longer displayed.

Btw all calls are inside a `lock (monitor)`, regarding concurrency, switching the 2 statements will not do anything.

[2016-03-08 08:39] luonganhtuanTMA commented on #83
@molinch @daniel-luberda
I got this bug in latest version 2.0.7.1 for Xamarin Forms.
I had a profile picture that user can override by uploading another.
The URL to profile picture haven't changed.
So I tried to clear cache after uploading new profile picture then reloaded but the old image still showed up.
I did try all following methods but not working:
await CachedImage.ClearCacheAsync (CacheTy

[2016-03-08 10:06] daniel-luberda commented on #83
@luonganhtuanTMA If you're using downsampling or custom transformations, use another override:

`await CachedImage.InvalidateCacheEntryAsync (patient.ImageUrl, CacheType.All, removeSimilar: true);`

Did you try it?

[2016-03-08 10:10] daniel-luberda commented on #157
@molinch You're right, there are locks in outer scope.

[2016-03-09 03:22] luonganhtuanTMA commented on #83
@daniel-luberda Yep, I just gave a try but it didn't work.
The "key" that you use to cache image is the url, isn't it?
Here is my code:
`public class CircleImage : CachedImage
	{
		public CircleImage ()
		{
			Transformations = new System.Collections.Generic.List<FFImageLoading.Work.ITransformation> {
				new CircleTransformation ()
			};
			CacheDuration = TimeSpan.FromDays (1);
		}
	}`

After up

[2016-03-09 07:02] molinch commented on #83
@luonganhtuanTMA I just checked it and for me it works so that's quite strange :(

Yes if you give the URL then it should clear all caches with the method:
[code]

[2016-03-09 10:53] daniel-luberda commented on #83
@molinch Do you use new disk cache or the old one (with journal)?

[2016-03-09 11:06] daniel-luberda commented on #83
https://github.com/molinch/FFImageLoading/commit/0ede6b614f7351b997355ce584e909d6628d9ea0

[2016-03-09 12:06] molinch commented on #83
I tried & fixed both but what I fixed was unrelated to this issue.

[2016-03-09 12:08] molinch commented on #156
@adrianknight89 Please reopen if it isn't coming from Xamarin

[2016-03-09 12:08] #156 closed

[2016-03-09 17:48] molinch commented on #140
There is now an alpha nuget that includes these changes: https://www.nuget.org/packages/Xamarin.FFImageLoading.Forms/2.1.0-alpha1

Could you tell us if it fixes the issue? @highplains @ahohns @coonmoo @teunhoogendoorn

[2016-03-09 17:49] molinch commented on #153
There is now an Alpha nuget that includes it:
https://www.nuget.org/packages/Xamarin.FFImageLoading.Forms/2.1.0-alpha1

Please note that this is NOT production ready but it allows to test the functionality.
Could you give us your feedback on it?

[2016-03-10 08:27] aghamohammadi opened #159 "How set Bitmap?"
I can set bitmap, sample:

myImageView.setImageBitmap(bmp);

[2016-03-10 09:39] joeforshaw commented on #143
When I call `CachedImage.DownloadImageAndAddToDiskCacheAsync ()` it always returns false and doesn't appear to cache images. It still returns false if I delete the app and run my app from fresh, without any images cached.

Is there any setup that I need to perform to use `CachedImage.DownloadImageAndAddToDiskCacheAsync?`

[2016-03-10 12:51] daniel-luberda commented on #143
@joeforshaw  What version of nuget?

[2016-03-10 12:54] joeforshaw commented on #143
v0.2.7.1

[2016-03-10 12:56] daniel-luberda commented on #143
@joeforshaw Could you try 2.1.0-alpha1?

[2016-03-10 13:12] joeforshaw commented on #143
@daniel-luberda Just tried it out, the issue is still present in 2.1.0-alpha1.

[2016-03-10 19:34] molinch commented on #159
I don't understand your question

[2016-03-10 22:09] molinch commented on #143
Just to let you know `CachedImage.DownloadImageAndAddToDiskCacheAsync()` will be removed in 2.1.0 and be replaced by a Fluent method like `Preload()` directly on TaskParameter.
It will be much more handy and will handle priority.

[2016-03-11 05:33] daniel-luberda commented on #143
@molinch There's no concept of TaskParameter on Xamarin.Forms, I think `CachedImage.DownloadImageAndAddToDiskCacheAsync()` would stay (we'll change only its internal implementation.

[2016-03-11 09:08] aghamohammadi commented on #159
How can I set bitmap in FFImageLoading?
"normal sample"
`       myImageView.setImageBitmap(bmp);`

"FFImageLoading sample"
        ?????

[2016-03-11 09:10] molinch commented on #159
Please have a look at the wiki page for FFImageLoading usage: https://github.com/molinch/FFImageLoading/wiki/API

The ImageViewAsync inherits from classic ImageView so everything works the same.

[2016-03-11 09:10] #159 closed

[2016-03-11 09:50] kentliaw opened #160 "Change Logs"
Hey man,

Anywhere i can view the changes log for this plugin ?

Sorry , i am new to github here.

Best Regards,
Kent Liaw

[2016-03-11 11:29] aghamohammadi commented on #159
I Know This https://github.com/molinch/FFImageLoading/wiki/Android-API
and FFImageLoading work on Android images can be loaded from Internet, Resources, Assets or File.
BUT my qustion is, how set bitmap to FFImageLoading?? No FileUrl No Assets No Stream
No !!

[2016-03-11 11:42] daniel-luberda commented on #160
https://github.com/molinch/FFImageLoading/releases

[2016-03-11 11:42] #160 closed

[2016-03-11 11:46] molinch commented on #159
FFImageLoading does not load from bitmap.

Therefore you can do that easily with standard Android Java. Have you already tried `imageView.SetImageBitmap()`?

[2016-03-11 12:02] aghamohammadi commented on #159
tanks for replay, i went use FFImageLoading for lazyloading and fade but for set bitmap, i shoud use standard Android Java.
tanks

[2016-03-11 13:08] kentliaw commented on #160
Thank you, sir.

[2016-03-11 15:21] molinch commented on #94
@chapayGhub Hi I don't remember could you confirm me that this was fixed?

[2016-03-11 17:38] eladmarg opened #161 "Add pre-delay before starting to fetch images"
sometimes when user is scrolling fast long list,  we shouldn't even start to download the image.
a pre-delay parameter can help to prevent this

[2016-03-11 17:49] molinch commented on #161
We can have a Fluent Delay() method.
By default it wouldn't delay but people could specify one.

[2016-03-11 18:32] eladmarg commented on #161
Thanks, is it possible to export it globally? so instead of pause we can set the delay?

for instance:
`ImageService.SetDelay(100);`

instead of:

`case ScrollState.Fling:
      // all image loading requests will be silently canceled
      ImageService.SetPauseWork(true);
      break;`

[2016-03-13 19:35] molinch commented on #158
@chamamo any chance to send us a sample? I would love to investigate what happens

[2016-03-13 19:36] molinch commented on #155
@xleon Have you managed to do anything? If not I can also handle the rest of the task.

[2016-03-13 20:01] xleon commented on #155
I´ve been very busy and just had time to implement this for my project needs. I could have something for the end of next week. If you want to go ahead, please let me know

[2016-03-13 20:04] xleon commented on #155
Nothing really useful, but just in case... the "res:" prefix is coming from mvvmcross that I was using in some value converters

[code]

[2016-03-13 20:07] molinch commented on #155
:+1: I will try to integrate it during the week

[2016-03-14 08:31] RanaInside opened #162 "iOS7 support"
Hi guys, first of all - thanks for a wonderful library; now I know ffimage iteself supports ios7, but the current nuget version downloads a WebP.dll which is built against iOS8; On my project, I have minimum SDK as 7.1, and it refuses to build.

Any suggestions?

[2016-03-14 20:48] jzeferino opened #163 "[QUESTION] - OnDestroyView"
I noticed that in your Android examples you override the `OnDestroyView`.
It is mandatory to use your library?
I'm currently using Picasso, and i consider changing to `FFImageLoading`.
Can you detail that please?

[code]

[2016-03-15 06:47] molinch commented on #163
@jzeferino It is not mandatory

[2016-03-15 06:47] #163 closed

[2016-03-15 06:48] molinch commented on #161
Shouldn't be an issue to add a global parameter too.

[2016-03-15 07:41] molinch commented on #162
I just did an alpha Web.Touch package: https://www.nuget.org/packages/WebP.Touch/1.0.2-alpha
Could you try to build using it?

[2016-03-15 09:03] jzeferino commented on #163
Ok, thank you. Any special reason to do that in that example?

[2016-03-15 09:11] molinch commented on #163
@c1rus Is there any reason you wrote it? I know it was a while back so maybe you don't remember :)

[2016-03-15 09:25] c1rus commented on #163
@molinch hmmm, i think you wrote it. :)

look at this:
https://github.com/molinch/FFImageLoading/commit/6f51cb63e93bbaf59b28c7a35e613355d6e89e17

[2016-03-15 09:43] RanaInside commented on #162
Hi molinch, thanks for your reply; I have actually managed to solve it. There were two issues: first minimum SDK, and the other one was missing ARMv7s; I have XCode 7, so I had to manually add the missing architecture and then build;

Sorry that I forgot to mention about the arc. before. Does your build have that?

[2016-03-15 10:13] molinch commented on #163
Oh yes my bad! You're totally right :)
Know I remember everything !

Basically @jzeferino when you use FindViewById it is a good practice to dispose views you found (this reduces GC's work).
Which is why I added this call in OnDestroyView.

If you google 'Xamarin FindViewById Dispose' I am sure you will find plenty of interesting resources from StackOverflow or forums.

[2016-03-16 18:55] molinch commented on #162
I am glad you managed to do it. It would be awesome if you could make a PR with your changes: https://github.com/molinch/WebP.Touch

Yes ARC should be enabled: https://github.com/molinch/WebP.Touch/search?utf8=%E2%9C%93&q=CLANG_ENABLE_OBJC_ARC

[2016-03-16 22:22] molinch commented on #143
@joeforshaw a new implementation for preloading has been pushed to master
We will deliver new alpha nugets soon

[2016-03-16 22:34] joeforshaw commented on #143
Roger that, thanks for letting me know.

[2016-03-17 11:32] toverux opened #165 "Use the library as an image resizer?"
Hello,

I let my users change their profile image via the camera gallery and device. Since the upload is directly done to Azure (without transiting by our servers) I need to resize images on the client side.

According to the docs, the Downsampling properties are resizing the image to consume less memory. And since there is a `GetImageAsJpgAsync()`, I thought that I could use a  non-displayed Cach

[2016-03-17 11:36] PaulARoy commented on #165
I completely backup this request!

I tried the same thing and got the `NullReferenceException`, probably because the view was not rendered.

My solution was to create a dedicated service `ImageResizer` thanks to this forum post:

[2016-03-17 11:36] daniel-luberda commented on #165
You must call `var jpgBytes = await downsampledImage.GetImageAsJpgAsync();` in a `OnSuccessCommand` or `OnSuccess` event (after it's loaded).

BTW: image resizer (cropping) example here:
https://github.com/molinch/FFImageLoading/blob/master/samples/ImageLoading.Forms.Sample/Shared/Pages/CropTransformationPage.cs
https://github.com/molinch/FFImageLoading/blob/master/samples/ImageLoading.Forms.Sampl

[2016-03-17 11:38] PaulARoy commented on #165
@daniel-luberda I tried many things, including the `OnSuccess` but I was not able to achieve this.

Note: I created a CachedImage that was not included in any view and tried to downsample it.

I think the element has to be renderer somehow ?

[2016-03-17 11:41] daniel-luberda commented on #165
Yes, it has to be rendered. Other operations are better suited for another dedicated library. Eg. https://github.com/JimBobSquarePants/ImageProcessor

[2016-03-17 11:42] PaulARoy commented on #165
:+1:

Good suggestion.
It might be a plus to be able to do this but I understand why you consider this out of scope.

[2016-03-17 11:43] toverux commented on #165
I tried, but it seems that the event is not fired when the source is a Stream.
Thank you for you help, since I don't want the image to be rendered, I will use a specialized library.

[2016-03-17 11:52] #165 closed

[2016-03-17 11:58] daniel-luberda commented on #165
Thanks!

[2016-03-17 12:33] molinch commented on #165
Just a side note: with upcoming 2.1 this might be possible.
Target and Loading task are decoupled, it means that you will be able to do anything.

[2016-03-17 20:46] RanaInside commented on #162
Hi molinch, done;

[2016-03-18 22:11] jzeferino commented on #163
Thank you.

[2016-03-20 18:41] molinch commented on #162
Thanks @RanaInside
New nuget uploaded: https://www.nuget.org/packages/WebP.Touch/

[2016-03-20 18:41] #162 closed

[2016-03-21 12:39] chamamo commented on #158
I will prepare a sample project for you, i'm sorry I don't have time in this moment to do that.

[2016-03-27 13:25] sebastian-frysztak opened #166 "Windows: A COM call to an ASTA was blocked"
When starting my app as share target (for those unfamiliar with Windows - for example when selecting an image in gallery and sharing), it crashes with the message:

And here's stacktrace:

[code]

So the problem arises somewhere in [here](https://github.com/molinch/FFImageLoading/blob/e165d7102c63e32f9da4bd477597a2f1f41a6cc5/source/FFImageLoading.Windows/Helpers/MainThreadDispatcher.cs#L23). I rea

[2016-03-28 15:49] RanaInside opened #167 "Enhancement: iOS Behavior with Xamarin Forms"
Nutshell: While the image is loading, placeholder image is not displayed.

On a page, I have a cached image with LoadingPlaceholder, ErrorPlaceholder, and Source set; I've tried both binding method or directly specifying the values;

On device, I initially get a white box area (I have specified image width and height; page has white background); then web image loads and I see the image; But while

[2016-03-28 18:33] Korayem opened #168 "When I try to display a gallery of 60+ images, they are downloaded sequentially which is very slowly"
It's dead slow in comparison to using normal Xamarin Forms Image, which apparently sends around 5 requests simultaneously.

[2016-03-28 18:38] Korayem commented on #168
Update: I realized that's because FFImageLoading was using native .NET httpClient and not ModernHttpClient which was doing the high performance loading.

I simply ran the following in `public partial class App : Application`
[code]

[2016-03-28 21:41] highplains opened #169 "Latest alpha seems to stretch Portrait images."
In this first image you can see two pictures taken with the camera in iOS, one portrait one landscape. This was done using the stable version.
![screen shot 2016-03-28 at 3 38 57 pm](https://cloud.githubusercontent.com/assets/1825076/14091103/6fc22882-f4fb-11e5-838f-57f781d7af44.png)

In this second image the photos were taken after updating to latest alpha, again portrait and landscape but as you

[2016-03-28 21:54] highplains commented on #169
Actually I think this is a diff plugin. Sorry.

[2016-03-28 21:54] #169 closed

[2016-03-29 01:42] daniel-luberda commented on #168
I'll investigate it. Come back to you soon.

[2016-03-29 07:01] molinch commented on #168
@Korayem XF sends 5 requests separately? Are you sure of that? Even though I don't think that sending concurrent requests will help on mobile devices: if you have a slow connection it will make things worse, if you have a good connection it will help...

We don't use it because we encountered a few bugs with ModernHttpClient.
You can see: https://github.com/paulcbetts/ModernHttpClient/issues/184 a

[2016-03-30 09:17] MrGrabazu commented on #37
Maybe I don't understand the answers but I need to know.
On IOS, I have an image asset with image.png, image@2x.png and image@3x.png in it.
So when I want that the place holder display this asset I just need to call `LoadingPlaceholder("image.png", ImageSource.ApplicationBundle)` and the service will load image.png or the other two depending the needs on display (retina or not) ?
Or I need to writ

[2016-03-30 20:49] bentmar opened #170 "iOS System.IO.FileNotFoundException: Could not load file or assembly 'FFImageLoading.Forms' or one of its dependencies"
I get this error when trying to deploy on iphonesimulator and device. Im running iOS 9.3.
On android it all works perfect.

I tried the latest nuget release of today and the prerelease, get the same error on both..
Is this a known issue? does earlier version work on ios?

[2016-04-02 14:02] alexandrMykhailov opened #171 "FFImageLoading and UWP issue"
Hello!
I have Xamarin Forms app for Android and iOS, I`d like to add UWP version.
So I add UWP project, download nugets and when I launch app I have an exception:
Activated	Event	Time	Duration	Thread
	Exception thrown: 'System.MethodAccessException' in Hubber.dll ("Attempt by method 'Hubber.View.ProfilePage+<InitializeComponent>_anonXamlCDataTemplate_8.LoadDataTemplate()' to access method 'FFImage

[2016-04-05 09:20] petlack opened #172 "[iOS] The CancellationTokenSource has been disposed."
Version: 2.0.7.1
Context: fast scrolling through a list of composite views with many images.

[code]

[2016-04-07 11:42] Korayem commented on #168
I will record a video and share difference in loading bulk images for later
investigation

On Tue, Mar 29, 2016 at 9:02 AM, Fabien Molinet <notifications@github.com>
wrote:

[2016-04-07 18:10] ravensorb opened #173 "Support for Authentication tokens/headers?"
Any thought to support Authentication tokens and/or headers during the request process?  For example, how would I set an OAuth Bearer token priory to using this in XAML on a page?  Keeping in mind that authentication will happen long after the application loads (in terms of start up).

One possible option could be to allow a callback (Action/Func type property) to be set within the PCL code?

Ex:

[2016-04-07 20:24] ravensorb opened #174 "Build Process?"
I was looking to make a few changes and submit a PR only issue is, I am running into build issues (254 to be exact)

Ex
[code]
or

[code]

Another thing I noticed is that the nuspec files are looking for assemblies that do not exist.  Are you in the process of renaming things?  Example: the FFImageLoading.Windows project creates an assembly called FFImageLoading.Platform (so does the project FFIma

[2016-04-08 10:41] ravensorb opened #175 "LoadingError should contain more information on what the error actually was"
Right now the LoadingError event on CachedImage contains a hard coded string.  Ideally it would contain a little more information to help identify the problem -- maybe an error code as well (ex: 401, 404, 500, etc)?

[2016-04-09 18:23] ravensorb commented on #174
Any help here?  I was really hoping to use this library however from what I can tell, it looks like it is in the middle of some refactoring (very little compiles or runs)

[2016-04-09 18:24] ravensorb commented on #173
Note: I tried setting a custom HttpClient in the Initialize method -- this does not work.  I get a general error back and since FFImageLoading hides the underlying error, I have no idea what went wrong.

[2016-04-10 02:17] michaeldimoudis commented on #173
Hi, I have gotten authentication support working. Please find a few tips below :)

In your AppDelegate or MainActivity:
`ImageService.Initialize(new Configuration
{
	HttpClient = new HttpClient(new AuthenticatedHttpImageClientHandler(_authService.GetToken))
});`

And something like this for the auth handler:
`namespace MyNamespace
{
    public class AuthenticatedHttpImageClientHandler : HttpClient

[2016-04-10 14:55] ravensorb commented on #173
Thanks.  However, I tried almost exactly that :)  All I get is a general error generating image with no additional information in both the Logger or the Error Event Handler.

Note: Mine is a little different as I don't get a token until after the login process which is long after the MainActivity initializes.

I also tried setting the DefaultHeaders in HttpClient in the Download Cache Handler and

[2016-04-10 17:07] ravensorb commented on #173
Yep, just to confirm -- using the EXACT code above with an addition of calling

    token = await _getToken();

I get the same thing

    e.Exception	{"FFImageLoading is unable to generate image."}	System.Exception

I have tried with 2.0.7.1 and with 2.1.0-alpha1  -- both result in the same thing with NO additional error information, so I have no idea why it is failing. And since I cannot get the

[2016-04-11 09:28] bspinner commented on #155
What's the status on this, @molinch ?

[2016-04-12 05:06] patook commented on #158
Hello - we are running into this issue as well. It is rare but it crashes the app. We had 15,000 sessions over the past week and it crashed 7 times so it is very hard to repro.

I understand it might be hard to fix based only on the stack trace below but do you have any hint where we could place try/catch to at least keep the app from crashing?

Here is the stack trace:

FFImageLoading.Drawables.S

[2016-04-12 19:39] rusty21 opened #176 "Unable to convert instance of imageview to type FFImageLoading.Views.ImageViewAsync"
I'm running in the Beta channel of Xamarin and we just received an update today to xamarin studio 6 as well as a bunch of other updates. Now when I run my Android project I get this error:
A System.InvalidCastException was thrown.
Unable to convert instance of type 'Android.Widget.ImageView' to type 'FFImageLoading.Views.ImageViewAsync'.

Granted, I'm not in the stable channel but if the problem f

[2016-04-14 12:02] msivers opened #178 "ImageService.LoadBitmap(Android.Graphics.Bitmap bitmap) method would be really useful."
I have a scenario (Android project) where I have bitmaps and would like to create an ImageViewAsync from the existing bitmap rather than having to use a path or url to an image. This seems like a useful addition to the library? It would also be great to be able to define a placeholder or error image from a bitmap irrespective of how the main image is being loaded.

[2016-04-14 12:24] msivers opened #179 "Documentation example of LoadStream does not match latest version of code base."
The example in the documentation for ImageService.LoadStream - https://github.com/molinch/FFImageLoading/wiki/Android-API#stream - does not work and the method signature is now different.

[2016-04-14 14:55] lecnierfreeman opened #180 "On Xamarin.Forms after update to pre version:2.2.0.5-pre2 Android project fail to build"
After updating Xamarin.Forms to the latest prerelease version IOS project builds but Android doesn't an all error are related to FFImageLoading  library. Maybe the cause is because in Xamarin.Forms they update the dependencies to Xamarin.Android.Support.(v4, v7, Design) to 23.1.1.1 and there they changed things  ?
These are **39 errors** if **Xamarin.FFImageLoading** and **Xamarin.FFImageLoading.F

[2016-04-15 00:44] daniel-luberda commented on #174
Hi @ravensorb Yes, there are some refactorings pending. I was not available for some time, sorry for that. I'll push new commits today or tomorrow. Then, all you'll need to build is MakeFile and it should build just fine.

[2016-04-16 06:27] daniel-luberda commented on #174
@ravensorb It should build now. If something doesn't work feel free to reopen the issue.

Some additional info:

There's a `MakeFile` support, so you only need to run `make` command from source directory and it will build all projects (from mac). For building additional Windows files you can use `MakefileWindows.bat`. To generate nuget packages just use `make package`

[2016-04-16 06:27] #174 closed

[2016-04-16 07:13] daniel-luberda commented on #166
@sebastian-frysztak Hi, it's probably because of that: http://stackoverflow.com/a/34978672

Replace: https://github.com/molinch/FFImageLoading/blob/master/source/FFImageLoading.Windows/Helpers/MainThreadDispatcher.cs#L29
With:
`CoreApplication.GetCurrentView().Dispatcher`

Could you try it? I can't reproduce it.

[2016-04-16 07:18] #171 closed

[2016-04-16 07:18] daniel-luberda commented on #171
@xleon  Should be fixed now. Thanks.

[2016-04-16 07:26] daniel-luberda commented on #180
@lecnierfreeman Hi, it's not FFImageLoading issue. Read more here: https://forums.xamarin.com/discussion/63983/xamarin-forms-2-2-0-pre2-released

You must use 23.1.1.1 support packages.

[2016-04-16 07:26] #180 closed

[2016-04-16 07:46] daniel-luberda commented on #167
Hi @RanaInside, would you be able to make a reproduction? I am not aware of any issues regarding placeholders.

[2016-04-16 11:59] vsarnataro commented on #180
so we wait that FFImageLoading library support 23.1.1.1 version?

[2016-04-16 13:32] ravensorb commented on #174
Does the Visual Studio solution build process work?

[2016-04-16 15:33] daniel-luberda commented on #180
@vsarnataro It's not FFImageLoading issue. It applies to prerelease version of Forms nuget package. Just be sure your support packages are correct version.

[2016-04-16 15:36] daniel-luberda commented on #174
@ravensorb Yes, it should build fine. Just one note: Use `Release` configuration for Common/Android/iOS, then `Windows Release` for Windows specific projects.

[2016-04-17 00:20] jasonCodesAway opened #181 "Question: Image Clicking support in Xamarin Forms?"
It's rather common to use an image as a button or let it be clickable (e.g. viewing profile pics, clicking/tapping an image opens it), is there any MVVM support for that (existing or planned)? I.e. `<CachedImage ClickedCommand="{Binding LoginCommand}" Source="{Binding LoginImageSource}"/>`

[2016-04-17 23:37] daniel-luberda commented on #181
Hi @jasonCodesAway It's already possible using standard GestureRecognizers:
[code]

[2016-04-18 17:29] lecnierfreeman commented on #180
@daniel-luberda Hi,

Sorry to say that in indeed it's a FFImageLoading issue, but I think is an easy one, since in this new pre-release version of Xamarin.Forms they moved to Xamarin.Android.Support.v4(and Friends) to version 23.1.1.1 all you need to do is just re-build the nugget packages with that version.

For confirming that it's a FFImageLoading I tried removing all packages from my project,

[2016-04-18 18:58] #181 closed

[2016-04-18 19:01] daniel-luberda commented on #173
Hi @ravensorb @michaeldimoudis,

@ravensorb That error is probably TaskCancelledException, I fixed it here: https://github.com/molinch/FFImageLoading/commit/f87602abd6f17dc78f8d25418b509535b150d2e7#diff-7399e835b4d01addca6bd9a204466d58R213

[2016-04-18 19:08] daniel-luberda commented on #175
@ravensorb  There are few cases when generic error is returned. I'll try to fix them all to get more details about it.

[2016-04-18 19:13] daniel-luberda commented on #178
@msivers FFImageLoading uses its own bitmap drawable subclass internally for performance / memory optimizations and it's not compatible with existing generic ones. You can use Stream image sources instead. Look here: https://github.com/molinch/FFImageLoading/tree/master/source/FFImageLoading.Droid/Drawables

[2016-04-18 19:17] daniel-luberda commented on #176
@rusty21 I'll make a nuget compiled with XF Alpha soon and do some tests. Do you have any reproduction?

[2016-04-18 19:21] daniel-luberda commented on #144
@SemyonL I'll close this one. If you'll have any more details about it, feel fry to reopen it. I cannot reproduce it. Thanks.

[2016-04-18 19:21] #144 closed

[2016-04-18 19:24] daniel-luberda commented on #140
FFImageLoading 2.1 should eliminate this issue, as new `DiskCache` implementation doesn't use journal file anymore (it bases on filenames). I'll close this one, feel free to reopen it if there are some new details.

[2016-04-18 19:24] #140 closed

[2016-04-18 19:25] rusty21 commented on #176
I assume by "Do you have any reproduction?" means can I reliably reproduce this. Like I said all i did was  open an existing project that used FFImageloading go into Xamarin studio on my Mac and install everything in the beta branch. After installing I get the error. Installing everything in the stable branch causes the error to go away. I actually attempted going into the alpha branch about 2 wee

[2016-04-18 19:30] daniel-luberda commented on #158
@patook  I added some new checks with: https://github.com/molinch/FFImageLoading/commit/3da78fc6b29b51551fde76f7f451d82f97331e6e

Could you test it? I'll try to make new alpha nugets soon.

[2016-04-18 19:41] daniel-luberda commented on #179
Fixed. Thanks!

[2016-04-18 19:41] #179 closed

[2016-04-18 19:43] #178 closed

[2016-04-18 19:47] patook commented on #158
Hi Daniel,

Your check-in looks good.

The only way I can test it is by pushing it to the app store, since it only happens maybe 1 out of 100 times.

If you have nugets that you think are stable and contain this fix, I’ll be happy to add them and push a new release.

Best regards

Tony

Patook

From: Daniel Luberda [mailto:notifications@github.com]
Sent: Monday, April 18, 2016 12:30 PM
To: molinch

[2016-04-18 20:16] #172 closed

[2016-04-18 20:34] daniel-luberda commented on #158
Hi @patook There will be new nugets: FFImageLoading 2.1 alpha, but with new version, all previously downloaded cache data will be invalidated as new version uses new DiskCache implementation (without using journal file).

[2016-04-18 20:37] patook commented on #158
I see – in this case, we will wait for the beta since there are about 20,000 active sessions and we want to make sure the fix is stable.

Thank you!

From: Daniel Luberda [mailto:notifications@github.com]
Sent: Monday, April 18, 2016 1:34 PM
To: molinch/FFImageLoading <FFImageLoading@noreply.github.com>
Cc: patook <aed@patook.com>
Subject: Re: [molinch/FFImageLoading] Cannot redisplay this drawabl

[2016-04-18 20:43] lecnierfreeman opened #182 "Xamarin Forms 2.2 support"
@daniel-luberda Hi,

Sorry to say that in indeed it's a FFImageLoading issue, but I think is an easy one, since in this new pre-release version of Xamarin.Forms they moved to Xamarin.Android.Support.v4(and Friends) to version 23.1.1.1 all you need to do is just re-build the nugget packages with that version.

For confirming that it's a FFImageLoading I tried removing all packages from my project,

[2016-04-18 21:06] daniel-luberda commented on #182
@lecnierfreeman Thanks for the info. I didn't test alpha Xamarin.Forms yet. I'll give it a look soon.

[2016-04-19 01:19] jasonCodesAway commented on #181
Hi Daniel. Sorry for taking a while to respond, I was on travel. I've seen the gesture recognizers approach but was hoping for the more modern 1-liner (like MR.Gestures or XamSvg). The above turns one line into 5, spreading that over all the XAML is one heck of an eye-sore.

[2016-04-19 01:26] Englbach opened #183 "How to load image from url on internet"
Xamarin android
if (track.artwork_url != null) {
					viewHolder.Image=FFImageLoading.Views.ImageViewAsync(track.artwork_url);

It don't run.

[2016-04-19 01:37] daniel-luberda commented on #183
https://github.com/molinch/FFImageLoading/wiki/Fluent-Syntax

[code]

[2016-04-19 01:37] #183 closed

[2016-04-19 02:10] Englbach commented on #183
Error CS1928: Type `FFImageLoading.Work.TaskParameter' does not contain a member `Into' and the best extension method overload `FFImageLoading.TaskParameterExtensions.Into(this FFImageLoading.Work.TaskParameter, FFImageLoading.Views.ImageViewAsync)' has some invalid arguments (CS1928)

viewHolder.Image = view.FindViewById<ImageView> (Resource.Id.image);
ImageService.LoadUrl(track.artwork_url)

[2016-04-19 02:16] daniel-luberda commented on #183
There's whole Android example in Samples: https://github.com/molinch/FFImageLoading/blob/master/samples/ImageLoading.Sample/ImageFragment.cs

[2016-04-22 00:31] ryanherman commented on #182
I can confirm and I just recompiled FFImageLoading.Forms.Droid w/ Forms 2.2.0.5-pre4 and all is back to normal.  I think I'm gonna wait for you guys to release on NuGet with the update.

Awesome Work!  Love this Plugin.

[2016-04-22 01:12] adrianknight89 commented on #182
@daniel-luberda I'm using XF 2.2.0.23-pre4 and having the same issues. I have Android Support library 23.3.0.

[2016-04-22 19:05] softwaremills opened #184 "Android: device log shows a lot of [ReuseBitmapDrawableCache] not coming through the FF logger"
So on Android, in my Application Output window when I'm scrolling my RecyclerView, I'm seeing a lot of this:

[code]

This happens even though I've redirected the logger to a logger that doesn't log to the console. Any chance we could get those messages to go through the FF standard logger?

[2016-04-24 18:17] patook commented on #158
On second thought, since our number of crashes has gone up to 27 over the last week, I think we can try the alpha nugets whenever you have them available.

[2016-04-26 04:37] patook opened #185 "Caching downsampledtoview image"
Hi - not sure what you're currently doing but I had the following problem:

1- Display 500 times the same cachedimage on Android -> often crash, out of memory, but when it succeeds it is fast.
2- As (1) but with DownsampleToview=1. No crash but very slow performance.

Do you have any idea what might be happening? All views are the same size.

[2016-04-26 13:11] xPeKx commented on #143
When we can expect this to be released?

[2016-04-26 13:11] xPeKx commented on #143
When we can expect nugets?

[2016-04-26 15:21] bspinner commented on #144
Well, it happens here, too. Details? Use a lot of images in your app and your app will likely crash after some usage.

[2016-04-27 23:50] michaeldimoudis commented on #182
Xamarin Forms 2.2.0 stable just got released, any chance you can get a new nuget package out so we can use the new forms build in Android? Thanks :)

[2016-04-28 13:27] ArtemZelinsky commented on #182
Have same errors, as above. Can not get it to work with latest stable Forms build on Android. Shows multiple "missing resource" errors

[2016-04-28 15:17] alicint commented on #182
Upgraded xamarin forms to version 2.2, I can't build, same issue as others.

[2016-04-29 08:57] tobiasschulz commented on #182
This is really urgent. 2.2 is a stable release now and it doesn't build with FFImageLoading.

[2016-04-29 09:25] molinch commented on #182
@daniel-luberda Is it fixed in master?

[2016-04-29 09:26] molinch commented on #184
You are right these should be debug info and not be in the release.
I will check it.

[2016-04-29 09:47] #184 closed

[2016-04-29 09:49] molinch commented on #180
@daniel-luberda Should we do anything?

[2016-04-29 10:21] molinch commented on #161
@daniel-luberda it is implemented now, we just the Xamarin Forms counterpart. Could you do it?

[2016-04-29 10:34] molinch commented on #155
Sorry for the delay. This is now done in master.
Furthermore the MvvmCross helper will now be shipped with Nuget packages.

@xleon would it suit you like this?

[2016-04-29 10:34] #155 closed

[2016-04-29 10:35] molinch commented on #185
@patook Could you send us a sample and also tell us where it fails? simulator, real device (which one?)

Thanks!

[2016-04-29 10:41] timbrand commented on #182
@molinch Yes, sort of. The XF packages aren't updated in the Master yet. But if you do update them and build, it's running fine.
Currently running the new compiled version on beta's on iOS and Android for about a week now, without problems.

[2016-04-29 10:44] molinch commented on #182
Thanks for the feedback @timbrand !
I'll do that then

[2016-04-29 13:36] daniel-luberda commented on #182
@molinch I'll fix that and release alpha nuget now.

[2016-04-29 14:23] lecnierfreeman commented on #182
Thank You, Thank You, Thank You, I've been waiting for this two weeks, couldn't build Android.

[2016-04-29 14:29] daniel-luberda commented on #182
FFImageLoading 2.1.0-alpha2 nuget with Xamarin.Forms 2.2.0.31 support released.

[2016-04-29 14:33] daniel-luberda commented on #176
@rusty21  Please try newest 2.1.0-alpha2. Can you still reproduce it?

[2016-04-29 14:33] daniel-luberda commented on #166
@sebastian-frysztak Any news?

[2016-04-29 14:34] daniel-luberda commented on #158
@patook Please try newest 2.1.0-alpha2. Can you still reproduce it?

[2016-04-29 14:46] daniel-luberda commented on #180
@molinch  It should be fixed in 2.1.0-alpha2

[2016-04-29 14:47] molinch commented on #184
FFImageLoading 2.1.0-alpha2 nuget with Xamarin.Forms 2.2.0.31 support released.If you have any problems, please write details here. Thanks.

[2016-04-29 14:47] molinch commented on #180
FFImageLoading 2.1.0-alpha2 nuget released which brings this fix.
If you have any problems, please write details here. Many thanks.

[2016-04-29 14:48] molinch commented on #155
FFImageLoading 2.1.0-alpha2 nuget released which brings it by default in the lib.
If you have any problems, please write details here. Many thanks.

[2016-04-29 14:49] molinch commented on #172
FFImageLoading 2.1.0-alpha2 nuget released which brings this fix.
If you have any problems, please write details here. Many thanks.

[2016-04-29 14:49] molinch commented on #171
FFImageLoading 2.1.0-alpha2 nuget released which brings this fix.
If you have any problems, please write details here. Many thanks.

[2016-04-29 14:49] daniel-luberda commented on #161
@molinch Sure :)

[2016-04-29 14:49] molinch commented on #156
@adrianknight89 Have you received some news from Xamarin?

[2016-04-29 14:50] daniel-luberda commented on #144
@bspinner  I have some image heavy apps and can't reproduce it. I'll need some help with it.

[2016-04-29 14:52] molinch commented on #144
It would be awesome to have a sample that fails. Could you deliver one?

[2016-04-29 15:12] rusty21 commented on #176
Yes the problem still occurs.

[2016-04-29 15:29] molinch commented on #176
@rusty21 Could you go in XS>About>Show details and post your configuration?

[2016-04-29 15:33] rusty21 commented on #176
=== Xamarin Studio Business ===

Version 6.0 (build 5104)
Installation UUID: 33b02efd-12be-454b-bef5-7609235ddcad
Runtime:
	Mono 4.4.0 (mono-4.4.0-branch/81f38a9) (64-bit)
	GTK+ 2.24.23 (Raleigh theme)

	Package version: 404000142

=== Xamarin.Profiler ===

Version: 0.31.0
Location: /Applications/Xamarin Profiler.app/Contents/MacOS/Xamarin Profiler

=== Apple Developer Tools ===

Xcode 7.3 (10183.

[2016-04-29 15:37] rusty21 commented on #176
I just ran this simple test in the C# interactive in visual studio
[code]

This error gets thrown
`Unable to cast object of type 'BaseClass' to type 'SubClass'.`

As you can see I attempted to new up a base class then cast it so a sub class. This obviously failed. You guys are attempting to do the same thing. Going from ImageView to ImageViewAsync probably isn't going to work anymore. Not sure why

[2016-04-29 15:39] molinch commented on #176
Now I start understanding.
So you use `ImageView`in your axml files and not `ImageViewAsync`?

[2016-04-29 15:40] rusty21 commented on #176
Yes just as I always have and it was working just fine.

[2016-04-29 15:42] molinch commented on #176
TBH I have no idea how it worked so far for you :)
Yes it is mandatory to use `ImageViewAsync` on Android:  https://github.com/molinch/FFImageLoading/wiki/Android-API#imageviewasync

[2016-04-29 15:42] #176 closed

[2016-04-29 15:47] rusty21 commented on #176
What is the xaml definition for an imageviewasync object?

[2016-04-29 16:00] rusty21 commented on #176
For anyone who cares it looks like this
[code]
What sucks is now in all my views I see this massive grey blobs...

I attempted this but it never worked, so if anyone can tell me why or how I could make it work that would be appreciated.
[code]

[2016-04-29 16:01] martb1n opened #186 "The CancellationTokenSource has been disposed."
Hello. I have some problems with ListView with DataTemplate with CachedImage inside.
When I scroll ListView very fast and dynamically adding items,
Can you anyone help me?
Xamarin.FFImageLoading version="2.0.7.1"
Xamarin.FFImageLoading.Forms" version="2.0.7.1"
Xamarin.Forms" version="2.1.0.6529"
I received this error

<pre>
Version Code: 100000
Version Name: 1.0.0
Android: 5.0
Android Build: 26.1.

[2016-04-29 16:04] molinch commented on #186
Could you try the 2.1 Alpha2 nuget packages that we uploaded?

[2016-04-29 16:07] martb1n commented on #186
yes, I can. i'll try and tell you later.

[2016-04-29 16:15] molinch commented on #176
I will check and come back to you if I find anything.

[2016-04-29 16:20] krisrok commented on #182
can confirm it works.
but only after you add the references to the platform-specific project, too.

i'm pretty new to the xamarin-thing so i don't know if that's normal.

[2016-04-29 16:49] adrianknight89 commented on #182
At the moment, I'm getting a weird

`Exception in thread "main"` error in COMPILETODALVIK

[2016-04-29 18:36] molinch commented on #182
@adrianknight89 TBH I don't know why you got this but it definitely seems to be a Xamarin or Android issue
Thanks for posting the solution! It will be useful in case somebody else gets it in the future.

[2016-04-29 18:45] molinch commented on #173
FFImageLoading 2.1.0-alpha2 nuget released which brings this fix.
Could you please have a look at it?

[2016-04-29 18:46] molinch commented on #166
By the way FFImageLoading 2.1.0-alpha2 nuget has been released.
Could you give it a try to see if this issue is gone?

[2016-04-29 18:47] molinch commented on #157
@chamamo Quite a lot of code changed in 2.1 alpha 2.
Could you check if you still get it with the latest nuget?

[2016-04-29 18:51] molinch commented on #143
@xPeKx @joeforshaw @ahohns   2.1 Alpha 2 nugets have been released and they contain the new `Preload`method.

Could you give it a try?

[2016-04-29 18:57] molinch commented on #168
@Korayem Scheduler changes are available in the latest 2.1 alpha 2 nuget package.
Could you give it a try and tell us if you still face this issue?
If it is still the case could you upload your screencast?

[2016-04-29 18:58] molinch commented on #182
@krisrok Yes that's the normal scenario :)

[2016-04-29 20:27] patook commented on #158
OK I am migrating it over and will have a push out on Monday. Did you remove ClearCacheAsync? What is the replacement?

[2016-04-29 21:15] patook commented on #182
I have done some testing over the past couple of hours. The XF2.2 version compiles/runs for me.

However, I am seeing some perf degradation in the alpha nugets compared to the original nugets. My observations:
1- Loading the images on start-up (from DiskCache I'm guessing) seems particularly slow as well. If I turn the app off/on there is always a long lag at the beginning until the images show up

[2016-04-29 21:39] ravensorb opened #187 "Feature Request: Consolidate Nuget packages"
Has there been any thought to consolidating the nuget packages?

If you look at
https://i.imgur.com/HSG3Qus.png

There are 6 packages and it is really difficult to determine which one to include when.

Maybe combine FFImageLoading.Windows with Xamarin.FFImageLoading?

[2016-04-29 21:42] molinch commented on #187
@ravensorb In fact there are only 4. I have no idea why somebody created 2 alternative packages (they end with f3).

[2016-04-29 21:45] ravensorb commented on #187
ok - it was/is still a little confusing :)

Thanks

[2016-04-29 21:46] molinch commented on #158
Depending on your need it is now `InvalidateCacheAsync` (it can clear both, memory or disk only).
Or directly `InvalidateMemoryCache` and `InvalidateDiskCacheAsync`.

[2016-04-29 21:49] molinch opened #188 "Possible performance degradation"
Quoting @patook

[2016-04-29 21:49] ravensorb commented on #182
Does the latest build really depend on XF2.2? I have a lot of issues with XF 2.2 right now on Android so I am holding off on upgrading.

[2016-04-29 21:51] molinch commented on #182
@patook I created https://github.com/molinch/FFImageLoading/issues/188 for your issue it will be easier to continue there

[2016-04-29 21:55] molinch commented on #188
@patook yes the scheduler changed:
- it supports priorization
- it loads latest tasks first

I expected that loading latest tasks first would increase speed perception therefore you say the opposite.
You can see the change here: https://github.com/molinch/FFImageLoading/blob/master/source/FFImageLoading.Common/Work/WorkScheduler.cs#L344
`ThenByDescending(t => t.Position)`

Could you test using git

[2016-04-29 22:23] patook commented on #188
OK that makes sense. In my case (which is a common scenario I think), I have a list of 16 images top-to-down and they get loaded in reverse order so the top images stay white for the longest time.

Yes, I can get the source code from git but it will be on Monday, is that OK? Might not be a bad idea to make this configurable regardless (i.e. let the user pick between descending/ascending based on s

[2016-04-30 07:46] sebastian-frysztak commented on #166
I can't check it now, as I don't have access to Windows anymore.
Thank you for taking the time to investigate the issue. I'll report back as soon as I'll be able to (might be days or weeks).

[2016-05-01 04:41] vackup commented on #176
The lastes prebuilt app from xamarin called Acquaint (https://www.xamarin.com/prebuilt) has the same issue when opened with the beta channel

[2016-05-01 09:04] molinch commented on #188
Sure Monday is totally fine, many thanks for your help!
And don't worry: if the sorting change makes no sense we will revert it.

Yes you can now add a priority: lowest, low, high, highest or even a custom value since the enum maps to an int.

Please note that DiskCache implementation changed. So cached images will have to be redownloaded.
Basically we no longer rely on a journal file. Instead the

[2016-05-02 05:55] molinch commented on #176
@vackup Yes you are right Acquaint.Native uses FFImageLoading. Therefore it is not an FFImageLoading issue but a code issue in Acquaint.Native: an ImageView is defined in AXML and an ImageViewAsync is used in code.

I submit a PR: https://github.com/xamarinhq/app-acquaint/pull/3

[2016-05-02 11:54] molinch commented on #188
@patook have you managed to play with it?

[2016-05-02 17:24] patook commented on #188
Hi @molinch

Yes - I have just finished testing after replacing ThenByDescending with ThenBy.

I believe the performance appears as good as the original nugets now so I am happy.

Personally I can work around this by customizing the priorities but I think ThenBy might be optimal for a larger number of common scenarios than ThenByDescending.

Thank you

[2016-05-02 17:32] patook commented on #188
Actually please wait a couple more hours as I am still seeing some low perf behavior after more testing.

[2016-05-02 17:51] patook commented on #188
Out of curiosity was there any change to the way local images (i.e. those under Resources) are loaded? I am perceiving a small difference in perf for them but I've tested it so many times now that I'm not 100% sure anymore.

[2016-05-02 19:08] molinch commented on #188
Many thanks for the feedback !
There are a couple of changes but I don't see a particular one that would harm loading local resources.
If you confirm the performance degradation I will make deeper tests.

Biggest changes are:
- journal based disk cache to file system only
- the lib uses targets rather than specific views, a target receives the bitmap data and uses it, this allows more fine control

[2016-05-02 20:08] patook commented on #188
OK thank you @molinch . I did some more testing and I cannot conclusively say anything about local resources.

For the moment I just moved the local resources (for example the icons) to LoadingPriority.Highest and that looks good. Before that, sometimes they would be the last to load which maybe contributed to the "slowness" perception.

Since you've replaced with "ThenBy", I am fine with closing

[2016-05-02 22:06] vackup commented on #176
so ImageView and ImageViewAsync are not compatible? just asking... why i could be working in previous version?

Thanks!

[2016-05-03 04:32] molinch commented on #176
ImageViewAsync inherits from ImageView, hence the compatibility.

So you cast an ImageViewAsync to an ImageView.
But the opposite is not possible, which was the issue in this case.

In previous version of Xamarin it worked, even though it shouldn't have, it was already an issue.

[2016-05-03 05:17] molinch commented on #188
Ok let's do this way :)

[2016-05-03 18:44] molinch commented on #133
I debugged it and for me this issue comes from XF. I have no idea how to fix it.

Basically when the UIImage is assigned to the UIImageView with the fading transition occurs, ie here: https://github.com/molinch/FFImageLoading/blob/master/source/FFImageLoading.Touch/Work/UIImageViewTarget.cs#L31
In that case the UIImageView layer has opacity set to 1.

After the fading transition, when the assignme

[2016-05-03 18:47] molinch commented on #187
I contacted the package owner and he seem to have removed f3 nuget packages.
So now we have only 4 packages visible via search.

Having windows in the same package won't be complicated.

[2016-05-03 19:45] molinch commented on #175
This cannot ship into 2.1 since there is too much code change involved for a minor functionality.
We will do it for 2.2

In order to do this we should get rid of `GenerateResult` enum in our iOS, Android & WP ImageLoaderTask.
Instead we should return the `LoadingResult` enum and add a couple of entries in it for each kind of error.

The TaskParameter `Error` callback would be changed to be:
[code]

[2016-05-03 22:08] owlstack opened #189 "Support for bad/no connectivity?"
Does this library have support to cache and load images from the background when the user has bad connection or loses connection so that the images are still loaded from the cache instead of showing a blank image (currently happening with the library). Where should I look for support on this functionality?

Thank you!

This is particularly for Xamarin.Forms

[2016-05-04 01:35] michaeldimoudis commented on #189
I echo this statement. If there is no internet connection, you can see in the stack trace that a network call is been made to fetch the image, and that it obviously fails. App doesn't crash, but it would be great if this library can detect if the phone is connected to the net, and immediately return the cached image or placeholder image, instead of trying an internet connection which will obviousl

[2016-05-04 02:13] TravyDale opened #190 "CircleTransformation with border"
I am pretty sure you have support for a border with CircleTransformation, but how do you set this up in XAML? I cannot figure this out. Please assist.

[2016-05-04 02:50] owlstack commented on #189
@michaeldimoudis Please let me know if you got a solution either with returning the cached image or the placeholder image. How are you currently setting the placeholder image for FFImageLoading?

Thanks!

[2016-05-04 04:30] molinch commented on #189
Makes sense it should not be difficult to add that functionality.

[2016-05-04 05:16] #188 closed

[2016-05-04 05:17] molinch commented on #186
Any news @martb1n ?

[2016-05-04 07:49] martb1n commented on #186
Hi, sorry for delay. I have problems with dependencies in the app and I can't update them all now.

[2016-05-04 10:16] xPeKx commented on #143
It is working for me.

[2016-05-04 15:42] P0rKnPiK opened #191 "Display non-animated .gif"
Hi everyone,

I try to find how to display a .GIF picture non-animated.
It's weird i know, but i don't have the choice. I already tried to use ImageView and MvxImageView but it doens't work.
If anyone has a solution, thanks in advance.

[2016-05-04 18:12] patook commented on #182
FYI we have the latest version of FFImageLoading (compiled from source) in production for the past two days on iOS and things are stable.

[2016-05-04 18:13] patook commented on #158
FYI I have pushed out the latest version which has this fix into production for the past 2 days. I am not seeing the crash in the latest version. I will wait till the end of the week to confirm that it is gone.

[2016-05-04 18:15] patook opened #192 "Rare crash in StrongLruCache: System.NullReferenceExceptionObject reference not set to an instance of an object"
2 occurrences in 30,000 sessions.

<pre>
FFImageLoading.Collections.StrongLruCache<TKey, TValue>.Add(TKey key, TValue value, bool overwrite)
FFImageLoading.Collections.StrongLruCache<TKey, TValue>.Add(TKey key, TValue value)
FFImageLoading.Cache.ReuseBitmapDrawableCache.DemoteDisplayedEntryToReusePool(SelfDisposingBitmapDrawable value)
FFImageLoading.Cache.ReuseBitmapDrawableCache.OnEntryNoLongerD

[2016-05-05 18:43] Zeraceee opened #193 "Finish Custom Transformations Wiki"
I would love to be able to create custom color filters with FFImageLoading, but sadly the "Custom Transformations" section of the wiki is marked as "TODO". I understand y'all are busy updating and fixing up the library at any given time, but I feel as though this documentation would be useful for many people.

[2016-05-06 06:13] molinch commented on #192
@patook By any chance do you know the device model and API version?
Any extra information would help.

[2016-05-06 06:17] patook commented on #192
Yes, this is Android 4.2, device RCT6103W46

It is running XF2.1 and the FFImageLoading from just before you updated to XF2.2.

From: Fabien Molinet [mailto:notifications@github.com]
Sent: Thursday, May 5, 2016 11:14 PM
To: molinch/FFImageLoading <FFImageLoading@noreply.github.com>
Cc: patook <aed@patook.com>; Mention <mention@noreply.github.com>
Subject: Re: [molinch/FFImageLoading] Rare crash in

[2016-05-06 06:30] molinch commented on #192
If you get it with 2.1 could you post the error message too?
We added some arguments check so it will be easier to track it down: https://github.com/molinch/FFImageLoading/blob/017541135eba42fee001b11016556231e8524772/source/FFImageLoading.Droid/Collections/StrongLruCache.cs#L118

[2016-05-06 19:23] patook commented on #192
Yes. I will push out a build with 2.1 to Android app store as soon as XLabs is stable on Android with XF2.2. Hopefully by next week.

Thank you for your time in responding to this.

From: Fabien Molinet [mailto:notifications@github.com]
Sent: Thursday, May 5, 2016 11:30 PM
To: molinch/FFImageLoading <FFImageLoading@noreply.github.com>
Cc: patook <aed@patook.com>; Mention <mention@noreply.github.co

[2016-05-07 06:51] molinch commented on #182
@daniel-luberda Can I let you answer @ravensorb's question?

[2016-05-07 13:35] daniel-luberda commented on #182
@ravensorb  Yes, It depends on it. I'll try to make two nugets on release "old Forms" and "new Forms" as those builds are not compatible.

[2016-05-07 14:43] daniel-luberda commented on #190
Just use something like:
[code]

or

make a custom class which inherits from transformation:

[code]

then use it in XAML as: `<local:MyTransformation/>`

[2016-05-07 14:47] daniel-luberda commented on #189
+1 Code needed for checking network on each platform is here: https://github.com/jamesmontemagno/Xamarin.Plugins/tree/master/Connectivity/Connectivity

[2016-05-07 14:48] daniel-luberda commented on #186
@martb1n I'll release two nuget version for Forms < 2.2 and Forms >= 2.2 soon.

[2016-05-07 15:38] ravensorb commented on #182
Interesting -- what changed that sets the hard dependency?

[2016-05-07 15:39] daniel-luberda commented on #182
Actually, Xamarin.Forms 2.2 (Android) itself, I'll try to investigate if we can do something about it to be independent of that.

[2016-05-07 16:20] daniel-luberda commented on #193
A lot of docs need rewriting, I'll try to do it soon. There are some examples how to use color filters in samples here: https://github.com/molinch/FFImageLoading/blob/master/samples/ImageLoading.Forms.Sample/Shared/PageModels/TransformationPageModel.cs#L88

You can create own color matrices. Some build-in are here: https://github.com/molinch/FFImageLoading/blob/master/source/FFImageLoading.Common/

[2016-05-07 16:45] owlstack commented on #189
Currently, I'm using CachedImages and I'm setting the ErrorPlaceholder, so that when there's no internet, the placeholder images are shown but what if I want to cache my images that need internet to load. I want to cache it when the user first logins with internet connectivity but when they're offline, they can still see their cached images. I'm looking for a Xamarin.Forms solution using this libr

[2016-05-07 16:52] molinch commented on #189
Images that are loaded with the lib are automatically cached, hence available when offline. This is by default.

If you want to "preload" images this is also possible with the new `Preload` method.

[2016-05-07 23:37] TravyDale commented on #190
Hmm it isnt working for CircleTransformation. Here is my XAML:

[code]

I dont see any errors when debugging. I even see this in my debug messages:
`05-07 18:35:15.802 D/ReuseBitmapDrawableCache( 1246): OnEntryAdded(key = https://www.someurl.com/83.jpeg;CircleTransformation,borderSize=2,borderHexColor=#FF8A07)`

[2016-05-08 13:58] tobiasschulz commented on #182
I don't think you can. If you use the android app compat packages, you have to set the nuget dependency to a specific version (just as Forms does). Or you could depend on a Forms version range (2.1.X or 2.2.X), which in turn would depend on a specific AppCompat version...

[2016-05-08 14:53] daniel-luberda commented on #182
@tobiasschulz  Thanks to @aritchie, we'll probably have this sorted out and be compatible with all XF versions in one package:

[2016-05-08 17:58] daniel-luberda commented on #182
2.1.0-rc1 nuget released. As always, testers needed.

[2016-05-08 19:30] molinch commented on #182
@ravensorb @patook @adrianknight89 @krisrok @lecnierfreeman Could you please test the release candidate and tell us in case you find anything weird?
We would like to release it this as soon as possible.

Thanks !

[2016-05-08 19:50] patook commented on #182
@molinch The build I got from source has been in production on the iOS app store for over a week and is running perfectly. I have had zero crashes in the last 5,000 sessions with the 2.1 build (and XF2.2).

[2016-05-08 23:03] Zeraceee commented on #193
@daniel-luberda I'll experiment around with it here soon, and if I can, write up a little contribution document myself. Thanks for giving me a solid start.

[2016-05-08 23:15] daniel-luberda commented on #166
That fix doesn't work. Any help appreciated.

[2016-05-08 23:16] daniel-luberda commented on #192
@patook  2.1.0-alpha2 should work on any Xamarin.Forms version. You can test it as it has some fixes related to this issue.

[2016-05-08 23:19] daniel-luberda commented on #193
No problem, if you need any help - just ask here. Thanks @Zeraceee, any contribution is very appreciated.

[2016-05-08 23:20] daniel-luberda commented on #191
You should parse that bitmap from gif file manually and load it to your image instance as a stream image source.

[2016-05-08 23:22] daniel-luberda commented on #190
That's strange, it should work. As you see FFImageLoading is using correct transformation (`CircleTransformation,borderSize=2,borderHexColor=#FF8A07`). Do you have any reproduction?

[2016-05-08 23:24] daniel-luberda commented on #186
@martb1n There's a new nuget which will work on any Xamarin.Forms version, so you can test it.

[2016-05-09 03:44] michaeldimoudis commented on #189
Hi I am having a pretty big issue now, I didn't want to create a new issue. With the latest RC 2.1.0-rc1, my images are NOT getting cached anymore. On each load it downloads the images again, and if I cut my network the error placeholder image appears. My app logic hasn't changed, just updated Xamarin Forms and FFImageLoading etc... is this a known issue? Has anything major changed here? I have ju

[2016-05-09 09:00] bspinner commented on #144
Well, problem went away after not setting MaxCacheSize. Maybe it should be renamed to MaxMemoryCacheSize... ... ...

[2016-05-09 12:45] michaeldimoudis commented on #182
Hmmm this is really bugging me, I am having absolutely major issues with 2.1.0-rc1 with xamarin forms 2.2. Images aren't getting cached. I have them in a list view, they get downloaded each time. When I click on the cell to go to next page, the same image is again displayed in the content page, and it's getting re downloaded. I close the app, turn off net, open the app, and images are not there, e

[2016-05-09 12:48] daniel-luberda commented on #182
@michaeldimoudis Did you try the newest nuget (RC1)? Is it on Android/iOS? I'll need more details.

[2016-05-09 12:49] michaeldimoudis commented on #182
Yea I'm on RC1. It's iOS. I'll fire up Android and see if it's the same...

[2016-05-09 12:53] TravyDale commented on #190
Sorry, I'm not sure I follow what you mean with your question -- Are you sure you changed image source after you set Transformations?

I am new to your library so maybe I missed something I was supposed to do. All I do is bind my Source property to what I have in my ViewModel and then also in my XAML I have what I gave you above for the CircleTransformation. I see the Circle Image but just no bord

[2016-05-09 12:57] michaeldimoudis commented on #182
@daniel-luberda it's fine on Android. Just iOS is my issue... I'll keep trying some things, cleaning, resetting sim, etc.

[2016-05-09 12:57] daniel-luberda commented on #190
@TravyDale If you set `CachedImage.Source` property first then set `CachedImage.Transformations` the image will be without transformations. You have to set `CachedImage.Transformation` property first, then set `CachedImage.Source` property.

[2016-05-09 13:00] daniel-luberda commented on #182
@michaeldimoudis It has to be something specific to your project. Do you empty any caches? Do you preserve caches between app deploys?

[2016-05-09 13:05] TravyDale commented on #190
How would I do this via XAML then? My property in my ViewModel doesnt get set until my 'NavigatedTo' method is called. I'd think that would re-set my Source proprety when the RaisePropertyChanged is fired. I am assuming the Transformation is already set at that point. Especially since I am seeing the debug message trying to use the borderSize and borderHexColor.

[2016-05-09 13:28] michaeldimoudis commented on #182
@daniel-luberda nop, just a stock standard implementation. I init it in AppDelegate, and just call CachedImage where I need to. The only non standard thing is my ImageService initialize which is this. This all worked as expected before I upgraded forms and FFImageLoading nuget packages.

            ImageService.Instance.Initialize(new Configuration
            {
                FadeAnimationDurat

[2016-05-09 13:41] michaeldimoudis commented on #182
Ok there is something weird going on with FFImageLoading 2.1.0 on iOS, I restored my project back to master with xamarin forms 2.0 and FFImageLoading 2.0.7.1, worked as expected, cached when offline as expected. I then only updated FFImageLoading to 2.1.0 rc1 and images don't get cached. Obviously I let the app re download the images on 2.1.0, closed app and turned off my wifi, opened app, and all

[2016-05-09 13:47] bspinner opened #194 "ObjectDisposedException in SelfDisposingBitmapDrawable"
Our app crashes with a `ObjectDisposedException`:

[code]

Happening primarily on Samsung Galaxy S3 (vanilla, neo, LTE)

[2016-05-09 15:43] molinch commented on #194
@bspinner Which FFImageLoading version is it?

[2016-05-09 15:51] bspinner commented on #194
2.1.0-alpha1. Is it already fixed in later version? Couldn't find a changelog :)

[2016-05-09 16:36] vime-o opened #195 "Image Cache Windows UWP Xaml"
Hi everyone,
How to implement image cache using xaml? There are a property call CacheDuration in xaml but the documentation doesn't clear. Do you have some example with CacheDuration=2 days?
I would like download images only each 2 days.
Thanks.

[2016-05-09 18:21] molinch commented on #182
You are right I confirm the issue. I'm working on it.
Many thanks for reporting it 👍

[2016-05-09 18:46] patook commented on #182
@molinch is this something that was newly introduced in the last week? I have last week's build of 2.1 from source and am not seeing such an error (I think).

[2016-05-09 18:48] molinch commented on #182
@patook the bug is only on iOS

[2016-05-09 18:53] daniel-luberda commented on #195
When using Windows UWP XAML `CacheDuration` is an `int` which means number of days.

[2016-05-09 18:57] daniel-luberda commented on #194
@bspinner Yes, It should be fixed in newest nuget package. https://github.com/molinch/FFImageLoading/commit/3da78fc6b29b51551fde76f7f451d82f97331e6e

[2016-05-09 19:16] vime-o commented on #195
@daniel-luberda Thanks!! I don't understood this, so, I have this code for two days:
<ff:FFImage LoadingPlaceholder="loading.png" ErrorPlaceholder="error.png" Source="{Binding img}" RetryCount="3" RetryDelay="200" CacheDuration="2" />
Now, I undestand!
And How do I set the images stored in cache? It is auto? Thanks. :)

[2016-05-09 19:18] daniel-luberda commented on #195
No problem :) Yes, it's automatically cached in memory and disk (for offline usage).

[2016-05-09 19:19] vime-o commented on #195
@daniel-luberda  Oh thanks!! :)

[2016-05-09 19:42] molinch commented on #182
@michaeldimoudis fixed in git, should be available soon via nuget

[2016-05-09 19:42] molinch commented on #189
@michaeldimoudis this issue is now fixed in git, should be fixed soon in nugets

[2016-05-09 20:02] owlstack commented on #189
@molinch how do I set them available for offline use? If I don't set a placeholder for error and loading, then would they load even though there's low or no connection?

[2016-05-09 20:08] molinch commented on #189
@owlstack What is implemented currently:
- loading images when there is network, these images are cached, hence they will be available offline and online
- if an image request is done while offline, and the image was not already cached, then the error placeholder will be displayed
- in both cases while the image loads the loading placeholder is displayed

What is not yet implemented:
- immediately

[2016-05-09 20:10] daniel-luberda commented on #167
@RanaInside  Feel free to reopen this issue if you have some new informations.

[2016-05-09 20:10] #167 closed

[2016-05-09 20:42] molinch commented on #144
@bspinner You are right, this name makes more sense. Changed https://github.com/luberda-molinet/FFImageLoading/commit/4beb8cf251140a038269325f08e22ac69b846d3a

[2016-05-09 21:22] owlstack commented on #189
@molinch yes I had meant I wanted to preload the images using Xamarin.Forms. Is there an example on how to use the preload method? Thanks!

[2016-05-10 05:14] michaeldimoudis commented on #182
@molinch no probs, glad this was caught now not later :) Nuget isn't updated yet, you get an ETA for that? Cheers.

[2016-05-10 16:54] egeaydin opened #196 "FFImageLoading.Forms.Droid does not exists on v2.0.7.1"
Hello there, when I try to intiliaze FFImageLoading on android project the library FFImageLoading.Forms.Droid does not exists on version 2.0.7.1. However when I downgraded it to V2.0.6 it does exists. I wonder if it got moved to somewhere and I cannot find where it is.

Regards

[2016-05-10 17:11] alexrainman opened #197 "151 issues in Xamarin Forms Android"
I cannot use the library. It's giving me 151 resources errors like this one:
[code]
Is there any requirement i am missing? I am using Support packages 23.3.0, Xamarin.Forms 2.2.0.31

[2016-05-10 17:41] alexrainman commented on #197
I downloaded the source code. Updated to latest Android packages, compiled a released and used as reference in my project and it works so, you may do a new release.

[2016-05-10 21:13] owlstack commented on #143
@xPeKx How are you calling your preload method and where would you typically make that call? In the view with the images or in app.cs? Thanks!

[2016-05-11 05:25] molinch commented on #143
@owlstack Just use standard API for it: https://github.com/luberda-molinet/FFImageLoading/wiki/API
For example: `ImageService.Instance.LoadUrl(urlToImage).Preload()`

[2016-05-11 05:30] molinch commented on #197
@alexrainman That is fixed in our prerelease nugets. We will deliver a final release in the coming days.

[2016-05-11 05:30] #197 closed

[2016-05-11 05:32] molinch commented on #196
@egeaydin Never had this issue or heard anything similar. 2.0.7.1 should work fine it's there since a while.
Can you try to uninstall the nugets, then reinstall them ?

[2016-05-11 23:01] patook commented on #182
Hi @molinch are the RC2 nugets up?

[2016-05-12 07:47] krisrok commented on #182
@patook you can look it up yourself at https://github.com/luberda-molinet/FFImageLoading
just scroll down to the version history. the topmost entry is the newest version available on nuget.

[2016-05-12 07:53] molinch commented on #182
Unfortunately Daniel's PC is broken now: some liquid fell on it.
So we will need to wait 1 or 2 additional days before having the final nuget.
Meanwhile you can use, as krisrok said, the prerelease nugets.

[2016-05-12 09:37] dlpopescudcube opened #198 "New exceptions in FFImageLoading Plugin for Xamarin 2.1.0-rc1 LoadUrl method"
See log below:

[code]

[2016-05-12 10:08] molinch commented on #198
Hi @dlpopescudcube
Could you please indicate API version and device model?
Also if you customize the configuration please give your custom config.
Thanks

[2016-05-12 10:14] dlpopescudcube commented on #198
Hi, molinch,

thank you for the quick reply.

Device model: Samsung SM-G361F
API version: 22

Device model: Samsung SM-T533
API version: 22

No custom configuration for the plugin.

Lucian

[2016-05-12 15:17] ravensorb opened #199 "Issue: Unable to read package: File contains corrupted data"
I just tried to update and now I am getting the following

[code]

I have tried to re-download the packages and that is not help either.

[2016-05-12 15:26] ravensorb commented on #199
From looking at the nuspec that is stored inside the package, there are a few things that look a bit off.

Example:
* There is a folder for MonoAndroid10, Xamarin.ios10, and a portal profile, however each folder has exactly the same assemblies by name.  Isn't it normal to have platform specific named assemblies to prevent collisions?
* There is a reference to dependencies only for MonoAndroid1.0 a

[2016-05-12 15:28] daniel-luberda commented on #199
Thanks for the info.  I'll analyze that and release rc2 today/tommorow
On 12 May 2016 5:26 pm, "Shawn" <notifications@github.com> wrote:

[2016-05-12 15:34] ravensorb commented on #199
if it helps, I have been using the [NuGet Package Explorer](https://github.com/NuGetPackageExplorer/NuGetPackageExplorer) for most of my nuspec editing lately.  It is good enough were I can do the minor fixes by hand.

[2016-05-12 15:42] ravensorb commented on #199
Looks like the same issue exists for the Xamarin Forms alpha build

[2016-05-12 17:12] molinch commented on #199
That is quite strange: nobody else complained about the nuget packages. We will check it.

@ravensorb We use [Bait & Switch](http://log.paulbetts.org/the-bait-and-switch-pcl-trick/) so it is mandatory to have the same assembly name/namespaces for each platform.

[2016-05-12 17:14] molinch commented on #196
@egeaydin Any news?

[2016-05-12 17:14] molinch commented on #195
@vime-o can we close this?

[2016-05-12 22:03] Korayem opened #200 "Example of XAML Usage in ListView with ListViewCachingStrategy.RecycleElement enabled using normal ViewCell"
I tried following instructions on [this page](https://github.com/luberda-molinet/FFImageLoading/wiki/Xamarin.Forms-Advanced) and [that page too](https://developer.xamarin.com/guides/xamarin-forms/user-interface/listview/performance/#RecycleElement) but both show code-behind implementation (non XAML). In case of XAML, if I have the following `list view` with normal `view cell`,  what should I do to

[2016-05-12 22:47] #195 closed

[2016-05-14 07:32] molinch commented on #198
Can you please post your image request?
So either your CachedImage XAML or your ImageService.Instance.Loadxxx method

[2016-05-14 08:00] molinch commented on #198
[code]

This is the related Mono line: https://github.com/mono/mono/blob/ef407901f8fdd9ed8c377dbec8123b5afb932ebb/mcs/class/System/System.Net/WebConnection.cs#L977

[2016-05-14 09:04] molinch opened #201 "Performance improvement"
# More concurrency
Currently [WorkScheduler](https://github.com/luberda-molinet/FFImageLoading/blob/master/source/FFImageLoading.Common/Work/WorkScheduler.cs) executes lot of tasks. Lot size is `ProcessorCount / 2`.
It could be way more efficient. First of all this calculation should be changed, something like in Glide would be probably better: https://github.com/bumptech/glide/blob/master/library

[2016-05-14 09:13] molinch commented on #200
@Korayem This is described in the wiki: https://github.com/luberda-molinet/FFImageLoading/wiki/Xamarin.Forms-Advanced

[2016-05-14 13:34] Korayem commented on #200
Thanks @molinch for the detailed explanation

My issue with using custom view cell is that my viewcell is implemented in XAML and has other elements like labels, stacklayout etc.. along with FFImage. From the custom cell implementation you linked too, it assumes the viewcell only contains FFImage which is not in my case.

[2016-05-15 01:35] Korayem commented on #200
It's described with no mention of XAML and using Custom View

On Sat, May 14, 2016 at 11:13 AM, Fabien Molinet <notifications@github.com>
wrote:

[2016-05-15 02:33] molinch commented on #200
@daniel-luberda Could you answer? I have not enough knowledge of XF.

[2016-05-15 13:53] daniel-luberda commented on #200
@Korayem You should create separate XAML view for a cell (separate file: Add File -> Forms ContentView XAML), then use it in your page:

[code]

Then override `OnBindingContextChanged` method in `YourCustomView.xaml.cs` file.

[2016-05-15 13:57] daniel-luberda commented on #199
@ravensorb New nugget released. If you still have issues, please reopen the issue. Thanks.

[2016-05-15 13:57] #199 closed

[2016-05-15 13:58] daniel-luberda commented on #196
It happens sometimes, but it's IDE / issue (not FFImageLoading specific). Just remove package and install it once again.

[2016-05-15 13:58] #196 closed

[2016-05-15 13:59] #194 closed

[2016-05-15 14:00] #191 closed

[2016-05-15 14:02] daniel-luberda commented on #182
Released 2.1.0-rc2 release, feel free to test it as it's stable candidate. If you're using 2.1.0-rc1 on iOS, it's very important to update as that version has a bug that causes caching to be disabled. Thanks.

[2016-05-15 14:06] daniel-luberda commented on #190
Yes, I see from logs that transformation is set correctly (`https://www.someurl.com/83.jpeg;CircleTransformation,borderSize=2,borderHexColor=#FF8A07)`, so it should be working fine. I would uninstall all nugets and re-add them, don't forget about Transformations package. If it won't work disable assembly linking in project settings.

[2016-05-15 14:08] daniel-luberda commented on #185
@patook Can you define "slow performance"? Is it slow loading? Or something else?

[2016-05-15 14:15] #157 closed

[2016-05-15 14:16] #158 closed

[2016-05-15 14:17] daniel-luberda commented on #161
It's currently implemented.

[2016-05-15 14:17] #161 closed

[2016-05-15 14:20] #200 closed

[2016-05-15 14:48] daniel-luberda opened #202 "FFImageLoading 2.2 changes - please give us your opinion"
We want to release 2.2 soon, it's a good occasion to do some changes.
- Is there any API refactoring necessary?
- Are there any library defaults that should be changed?
- Is there any feature you're missing?
- etc.

Feel free to give us your opinion.

[2016-05-15 14:59] daniel-luberda commented on #202
Some my ideas:

- Transparency should be enabled by default for images loaded from application resources (Android specific) as this is a common usage scenario.
- better Transformations XAML support (Xamarin.Forms specific) - we could use XAML constructor parameter as here: https://github.com/xamarin/Xamarin.Forms/blob/master/Xamarin.Forms.Core/ListView.cs#L70
- Windows transformations BitmapHolder

[2016-05-15 15:03] molinch commented on #200
@daniel-luberda Maybe wiki could be improved regarding Recycle strategy? So we have the XAML example too

[2016-05-15 15:05] molinch commented on #192
@patook Have you received it with 2.1? By the way we just release RC2 prelease nuget.

[2016-05-15 15:06] daniel-luberda commented on #200
@molinch Yes, definitely. There're much more things to update in Wiki for Forms. I'll try to do that when I'll have some time.

[2016-05-15 15:07] molinch commented on #186
RC2 nuget just released, could you give it a try?

[2016-05-15 16:12] molinch commented on #143
Closing since this is available in our release candidates

[2016-05-15 16:12] #143 closed

[2016-05-15 16:13] molinch commented on #173
@ravensorb Any news about it? 2.1 RC2 is now released.

[2016-05-15 16:17] ravensorb commented on #187
Any thoughts on combing the Windows version into a the main package?

[2016-05-15 16:28] molinch commented on #187
It is a very good idea, it is planned for 2.2.

[2016-05-15 17:25] ravensorb commented on #173
Trying to update now -- running into odd issues with my UWP project at the moment.  It is complaining that FFImageLoading is defined in multiple assemblies.  Plus I am still getting the corrupt data error

[code]

[2016-05-15 17:27] molinch commented on #173
I really don't get it: on my side the package works as a charm.
@daniel-luberda Maybe it is VS/UWP related, what do you think?

[2016-05-15 17:28] ravensorb commented on #182
i am still hitting the corrupt data error after loading the latest version.

[code]

[2016-05-15 17:30] patook commented on #158
Confirming this has not happened in the last two weeks in production app after 2.1

[2016-05-15 17:37] ravensorb commented on #173
I am looking at the nuspec files now -- there are a number of small tweaks I think we can make to fix this.  If it works, I'll do a PR

[2016-05-15 17:53] ravensorb commented on #173
Question -- Anyone know if the nuspec files and the solution in sync? I see references to FFImageLoading.Common in the nuspec files, however in the solution that project is not loaded at all + the MakeFileWindows.bat doesn't build it either so I am not sure which is correct -- the nuspec or the sln file?

[2016-05-15 18:10] ravensorb commented on #173
Ok, running into issues :)  Is the nuspec file in the repository correct? And does it match the current source code and solution?  I am getting compiler errors on several of the samples and the nuspec file is looking for files that do not get build.

[2016-05-15 18:14] ravensorb commented on #173
Ok, I think I found it -- looks like a bit of a classic mistake between windows and non-windows.  The nuget spec actually requires a \ to be used for path separators rather than / (doesn't matter which platform you use to create the package the xml file requires a backslah).  If I replace all of the / with \ then bingo we have a valid nuget package that passes all tests

[2016-05-15 18:17] molinch commented on #173
Many thanks @ravensorb for the investigation!
Would you mind submitting a PR?

[2016-05-15 18:17] ravensorb commented on #173
finished it up now

[2016-05-15 18:38] ravensorb commented on #173
Ok, done.  I also combined the windows package into the main one.  If that is not ok, it is easy enough to pull out again.

[2016-05-15 19:05] chkrishna2001 opened #204 "Resource not found"
Recently I am getting error in resource designer, I have areoud 1591 errors like this please help. not sure what is causing this issue

<pre>
global::FFImageLoading.Forms.Droid.Resource.String.mr_media_route_button_content_description = global::Sthotraani.Droid.Resource.String.mr_media_route_button_content_description;
global::FFImageLoading.Forms.Droid.Resource.String.mr_media_route_chooser_searc

[2016-05-15 19:06] molinch commented on #204
@chkrishna2001 Can you please add some context? We can't help without more detailed information.
Thanks!

[2016-05-15 20:14] chkrishna2001 commented on #204
Whenever i build the project I get many resource not found errors and all are pointing to the resources used by FFImage loading

`'Resource.Attribute' does not contain a definition for 'mediaRouteSettingsDrawable'
'Resource.Color' does not contain a definition for 'design_textinput_error_color'
'Resource.Dimension' does not contain a definition for 'design_fab_content_size'	`
Please let me know if

[2016-05-15 20:18] daniel-luberda commented on #204
Are you using the preview 2.1.0-rc2 nuget release?
On 15 May 2016 10:14 pm, "chkrishna2001" <notifications@github.com> wrote:

[2016-05-15 20:19] chkrishna2001 commented on #204
No.
I am using 2.0.7.1 stable  version

[2016-05-15 20:21] daniel-luberda commented on #204
Please use the preview version
On 15 May 2016 10:19 pm, "chkrishna2001" <notifications@github.com> wrote:

[2016-05-15 20:21] chkrishna2001 commented on #204
okay will try that. Thank you

[2016-05-15 20:47] owlstack commented on #202
Hi, thank you so much for your work. I am waiting for stable release so that I can use the preload method soon :) The only other thing I am wondering about is... I reuse grid cells for images and I notice that when the view loads, some of the old images appear briefly for a sec before the new images load. I am wondering, is the best situation to fix this issue is to add a placeholder image for Loa

[2016-05-15 21:48] patook opened #205 "System.ObjectDisposedException: The CancellationTokenSource has been disposed."
New bug, as of 2.1-rc2 and XF2.2. Rare.

<pre>
System.ObjectDisposedExceptionThe CancellationTokenSource has been disposed.
Raw
  at System.Threading.CancellationTokenSource.ExecuteCallbackHandlers (Boolean throwOnFirstException) <0x100342a70 + 0x004f4> in <filename unknown>:0
  at System.Threading.CancellationTokenSource.NotifyCancellation (Boolean throwOnFirstException) <0x10022b1e4 + 0x0009f> i

[2016-05-15 22:30] chkrishna2001 commented on #204
After adding the preview app is just shutting down. build is successful but not debugging at all. after deplyment it's shutting down, not sure whether this is the cause or not
`Android application is debugging.
The application could not be started. Ensure that the application has been installed to the target device and has a launchable activity (MainLauncher = true).

Additionally, check Build->Co

[2016-05-16 00:54] TravyDale commented on #190
RC2 seems to have fixed it. Thanks!

[2016-05-16 00:54] #190 closed

[2016-05-16 02:02] chkrishna2001 commented on #204
No I am unable to remove the prerelease version :(

Unable to read package from path 'Xamarin.FFImageLoading.Forms.2.1.0-rc2\Xamarin.FFImageLoading.Forms.2.1.0-rc2.nupkg'.
  File contains corrupted data.
Unable to read package from path 'Xamarin.FFImageLoading.Forms.2.1.0-rc2\Xamarin.FFImageLoading.Forms.2.1.0-rc2.nupkg'.
  File contains corrupted data.
Unable to read package from path 'Xamarin.FF

[2016-05-16 07:31] molinch commented on #204
The last issue will be fixed with RC3. It should be submitted soon.

[2016-05-16 07:44] molinch commented on #205
@patook We already have a few checks around the CancellationToken.
I am wondering if this isn't coming from the following Mono issue: https://github.com/mono/mono/pull/2104#issuecomment-163933163

This issue was fixed in 4.3.2 or better. What is your mono version?

[2016-05-16 07:54] molinch commented on #185
@patook It would be really great if you could give more context here.
We are definitely interested to check into it but we need more info.
Thanks!

[2016-05-16 08:17] molinch commented on #186
We have added fixes for it in recent release.
However there is a related Mono issue as I described in #205.

I will close this issue, we will continue investigations in #205

[2016-05-16 08:17] #186 closed

[2016-05-16 15:59] martb1n commented on #186
Sorry, It's difficult to get steps to reproduced. I'll be watching in different issue(205) and will notify, if something change.

[2016-05-16 17:23] molinch commented on #204
@chkrishna2001 That may be an issue in your Nuget cache. You can see:
http://stackoverflow.com/questions/19601350/strange-nuget-error-while-enabling-nuget-package-restore

Can you try to remove FFImageLoading packages from your cache: %localappdata%\NuGet\Cache

[2016-05-17 15:21] coonmoo opened #206 "Performance degraded from 2.0.7 to 2.1.0-rc3"
Hello,

scrolling our ListView which is image intense became sluggish when we upgraded from 2.0.7 to 2.1.0-rc3.

Tested on Nexus5 Android 6.

Our ListView is basically a Twitter stream with large Picture + Profile Picture.

[2016-05-17 15:35] molinch commented on #140
@coonmoo Do you have any ImageService.Instance.Initialize() specificities? or anything special that you would be doing?

Disk cache implementation changed, and other fixes have been added. Does it happen on device only, or in simulator as well?

[2016-05-17 16:04] coonmoo commented on #140
@molinch

I call the initialize:
 ImageService.Instance.Initialize(new FFImageLoading.Config.Configuration { HttpClient = new HttpClient(new NativeMessageHandler()), Logger = new MySimpleLogger() });

NativeMessageHandler is from ModernHttpClient package.

Otherwise I'm not doing anything special (just using the CachedImageRenderer).

Was only able to see it on my devices yet.

I use the unmodifie

[2016-05-17 18:21] molinch commented on #206
Do you have some transformations?

[2016-05-17 23:38] molinch commented on #206
Would it be possible to check your app with branch changes https://github.com/luberda-molinet/FFImageLoading/tree/scheduler-changes ?

[2016-05-18 06:13] NVentimiglia commented on #202
+1

[2016-05-18 06:14] NVentimiglia commented on #182
+1

[2016-05-18 15:01] coonmoo commented on #206
Heya,

I don't use any transformation.
Xamarin.Foms 2.2.0 (latest stable).

I'll try to check the changes as soon as possible.
Thank you!

[2016-05-18 18:06] daniel-luberda commented on #206
@coonmoo Are you sure that performanxe differences don't come from XamarinForms 2.2 changes? (lot layout handling changes).

[2016-05-18 20:38] molinch commented on #206
@coonmoo There was definitely a massive regression on Android: memory cache was no longer used...
That's now fixed https://github.com/luberda-molinet/FFImageLoading/commit/ec3822e0d22a92e9a9f9be12b83f1204c9d08a60

[2016-05-19 03:00] michaeldimoudis commented on #200
Don't want to open up another issue, as my question is related to this. So I have a ViewCell in XAML, in the xaml.cs code behind I did put OnBindingContextChanged. I named the CachedImage and I tried to set the source in the code behind, but the source was never set. Only way I could get it to work is in XAML Source={Binding MyImage} etc.

Any tips on this?

[2016-05-19 06:10] molinch commented on #204
Fixed with the 2.1 release

[2016-05-19 06:10] #204 closed

[2016-05-19 06:12] molinch commented on #192
Closing since 2.1 is now released. Feel free to reopen if you still have the issue.

[2016-05-19 06:12] #192 closed

[2016-05-19 06:15] molinch commented on #187
2.1 released which has only 3 nugets now.
Old windows package has been unlisted, it will take a few hours to be visible.

[2016-05-19 06:15] #187 closed

[2016-05-19 06:15] molinch commented on #187
And thanks for your help !! 👍

[2016-05-19 06:16] molinch commented on #185
Closing since we have no news since 20 days.
Please reopen if you have more informations to share.

[2016-05-19 06:16] #185 closed

[2016-05-19 06:16] molinch commented on #168
2.1 is now fully released

[2016-05-19 06:17] molinch commented on #168
Please note that 2.2 will be around performances, not features.
We have tons of ideas to improve things.

Feel free to reopen if you still experience issues.

[2016-05-19 06:17] #168 closed

[2016-05-19 06:18] molinch commented on #182
2.1 released which supports new XF and fixes corrupted package issue.
Many thanks @ravensorb for your help and debugging!

[2016-05-19 06:18] #182 closed

[2016-05-19 06:19] molinch commented on #206
Could you tell us if things are back to normal?
Please note that 2.2 will be a performance release: we have tons of ideas to improve things.

[2016-05-19 10:56] KotiJocki commented on #37
@MrGrabazu LoadingPlaceholder("image", ImageSource.CompiledResource)
- no .png extension
- CompiledResource, not ApplicationBundle

[2016-05-19 11:13] coonmoo commented on #140
Tried with FFImageLoading 2.1.0 and could not reproduce this issue anymore.

[2016-05-19 11:15] coonmoo commented on #206
Performance of 2.1.0 is better than with  2.1.0-rc3.

But our list is still a little bit sluggish (2.0.7 was running totally smooth).

[2016-05-19 12:10] MrGrabazu commented on #37
Thanks ! :)

[2016-05-19 22:10] molinch commented on #166
@daniel-luberda Have you looked into XF code how they do it?

[2016-05-20 02:19] kpespisa commented on #71
It doesn't appear the Forms static method for clearing cache ever made it in?

[2016-05-20 05:31] molinch commented on #71
It did but we changed some parts to be in ImageService only.

So for Forms, if you invalidate a single image, then you can do it with the custom renderer static method:
https://github.com/luberda-molinet/FFImageLoading/blob/eb58e9d1fe95a9cf6f24db5fe5d7d9693e20c95c/source/FFImageLoading.Forms/CachedImage.cs#L576
Or directly with `ImageService.Instance`:
https://github.com/luberda-molinet/FFImageLoa

[2016-05-20 07:35] chapayGhub opened #207 "Crash"
Do you have an advice?
What a reason?

[code]

Thanks

[2016-05-20 08:42] molinch commented on #207
From the stacktace it seems like a Xamarin.Android issue.
Is it possible to have a repro?
Also which device, which API and which XF version do you use (if you use XF)?

[2016-05-20 08:58] bspinner opened #208 "Placeholder Images get streched/shrinked if actual Source Image has a different aspect ratio"
We're using FFImageLoading with placeholder images which are shown during loading (as you likely will know).

When those placeholder images fade to the actual source image after its loaded via http, the placeholder images are stretched to the source image's aspect ratio during that fade.

[2016-05-20 09:26] chapayGhub commented on #207
samsung gt-i8200
android 4.2.2
I have not steps to reproduce
It occures time to time

[2016-05-20 10:21] bspinner commented on #206
For us there is no real difference between 2.1.0 and 2.1.0-rc3.
One thing I'm wondering about: Is it ok, that `OnFreeResources` is being called very often in my app while scrolling in a listview?

[2016-05-20 10:49] GnanaprakashChandiran commented on #156
i am  also handle same problem... If you find any solution please post it here.

[2016-05-20 13:46] molinch commented on #206
@bspinner Do you have a performance regression too?
Yes it is normal to have OnFreeResources called many times while scrolling.

[2016-05-20 15:32] NVentimiglia opened #209 "CachedImage shows placeholder only"
I have a xamarin forms app and this is replicated on IOS and Android. I have a dashboard with about a dozen images in a scroll list. I have two issues.

On the initial load, the first image never loads (showing nothing), and the rest of the images load fine. I noticed a few other images are missing in my app. The missing images appear to be local PNGs.

After a few navigations around the app, I wi

[2016-05-20 15:33] NVentimiglia commented on #209
Using 2.1 with XamForms 2.2

[2016-05-20 22:19] martb1n commented on #189
Hi. Sorry,  don't want create new issue, but my problem related to this.
I try to explain behavior: I had very, very slow connection (near 0.03Mbit) but I had. I have list view with 30 items and each contains CachedImage with source as url. And also I have CachedImage with .png source, but this png don't display until I get good connection and load all images from url.
I use XF 2.1.0.6529 and FFIm

[2016-05-21 15:17] daniel-luberda commented on #209
@NVentimiglia  Do you still experience those issues on Android / iOS in 2.1? Is related to usage of camera (email) or is it another issue?

[2016-05-21 15:27] daniel-luberda commented on #206
@bspinner @coonmoo Are you sure the performance difference isn't related to Xamarin.Forms itself? Did you try on XF < 2.2?

[2016-05-21 19:07] NVentimiglia commented on #209
More detail, the issue was caused when backgrounding the app (such as opening the camera). We fixed this by removing the 'end task early' feature from our application class.

`ImageService.Instance.SetExitTasksEarly(false);`

[2016-05-21 19:07] NVentimiglia commented on #209
Re-opened.

Might want to fix this, or update the documentation.

[2016-05-21 19:23] molinch commented on #209
I guess you were using SetExitTasksEarly while scrolling in lists right?

[2016-05-21 19:29] NVentimiglia commented on #209
yes

[2016-05-22 09:02] molinch commented on #209
Would it be possible to have a simple repro for it?

[2016-05-22 09:06] molinch commented on #189
@martb1n I know it's annoying but that is the expected behaviour in 2.1.
This is something we want to improve for 2.2

[2016-05-22 13:54] molinch commented on #166
That's how they do it in XF:
- [WP8](https://github.com/xamarin/Xamarin.Forms/blob/2d9288eee6e6f197364a64308183725e7bd561f9/Xamarin.Forms.Platform.WP8/WP8PlatformServices.cs#L21)
- [RT and UWP](https://github.com/xamarin/Xamarin.Forms/blob/2d9288eee6e6f197364a64308183725e7bd561f9/Xamarin.Forms.Platform.WinRT/WindowsBasePlatformServices.cs#L42)

[2016-05-22 15:33] molinch commented on #208
Yes, I think we have the same issue as https://github.com/square/picasso/issues/427
I have no idea yet how to fix it.

[2016-05-23 10:53] mattfinch1980 commented on #206
Hi, I upgraded to XF 2.2.0.31 then needed to upgrade FFImageLoading to 2.1.0-rc3 for compatibility. I use CachedImage in listview and FFImageLoading previous official release with XF previous offical release was working great. Now with latest versions, image loading performance is similar between using either CachedImage or standard Image in 2.2.0.31..i.e not the excellent improvements experienced

[2016-05-24 14:12] vsarnataro opened #211 "LoadFile not work with path gallery image in xamarin android"

[2016-05-24 15:35] molinch commented on #211
@vsarnataro This is clearly not enough for us to debug it.
Can you add some context:
- What is your loading request?
- Android API version?
- Device model?

Thanks

[2016-05-24 15:47] vsarnataro commented on #211
with 4.4.2 and 5.0 on s4 mini and nexus 5 emulator.
I get  photo with:

                imageIntent.SetType("image/*");

                imageIntent.SetAction(Intent.ActionGetContent);

                StartActivityForResult(Intent.CreateChooser(imageIntent, "Select photo"), 0);

and try put it in asyncImageView
                   ` ImageService.Instance.LoadFile(data.Data.Path).Transform(new Circ

[2016-05-24 15:59] molinch commented on #211
Many thanks !
Can you give me a path example? ie what you have inside: `data.Data.Path`

[2016-05-24 17:12] MarcorOnline opened #212 "Windows Phone CachedImage initialization exception"
Hello.
I'm using your component, from NuGet, on Android, iOS and Windows Phone, with Xamarin Forms, but it doesn't works on Windows Phone (8.1 RT).

When I try to use the CachedImage (both via XAML or C#) I have this exception:

The type initializer for 'FFImageLoading.Forms.CachedImage' threw an exception.

"Could not load type 'FFImageLoading.Work.LoadingPriority' from assembly 'FFImageLoading,

[2016-05-25 07:04] patook commented on #202
Is there a way to apply the transformations post aspect ratio fitting?

For example, I want to have 10pixel radius corners for my images, but since I've set AspectFill, the transformation gets aspect fitted as well.

[2016-05-25 08:28] vsarnataro commented on #211
`/external/images/media/625`

[2016-05-25 13:19] AlchemySolutionsPvtLtd opened #213 "App Crashed with class FFImageLoading.Views.ImageViewAsync could not be loaded exception"
@daniel-luberda  @molinch

Hi,
I tried to implement FFImage with Carousel Control. My app compiled successfully but as soon as I tried to run it, it crashed with the message : _**The class FFImageLoading.Views.ImageViewAsync could not be loaded, used in FFImageLoading.Platform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null**_
I have added the nuget packets : **FFImageLoading** and **FFImag

[2016-05-25 15:28] krisrok commented on #202
is only partially related to this issue, but what i don't get.. how do we know which xamarin.forms version is this (or really any xamarin.forms pcl) build with/for?

i'm on forms 2.2.0.31 (latest stable at time of writing) and on android it just worked, installed via nuget -IncludePrerelease. on ios i get the exception "Could not load file or assembly 'FFImageLoading.Forms' or one of its dependenc

[2016-05-25 15:41] daniel-luberda commented on #213
@AlchemySolutionsPvtLtd

- You must include `CachedImageRenderer.Init()` call in every platform specific project as stated here: https://github.com/luberda-molinet/FFImageLoading/wiki/Xamarin.Forms-API#important
- Are you sure all nuget packages installed successfully? You should have Xamarin.FFImageLoading and Xamarin.FFImageLoading.Forms in every project (shared and platform specific). Also plea

[2016-05-25 15:44] daniel-luberda commented on #212
@MarcorOnline Could you try if it would work without Init call? (Windows is the only platform which doesn't require it, method is empty on that platform)

[2016-05-25 15:52] daniel-luberda commented on #202
@patook Two ways:
- Some of the transformations have alternative constructors which allow to set aspect ratio.
- You can use **multiple transformations**, so you could add `CropTransformation` first (which lets you control size / aspect ratio), then another one, like `CircleTransformation`.

@krisrok
FFImageLoading 2.2 should work on **any** Xamarin.Forms version.
- You must include `CachedImageRe

[2016-05-25 15:54] daniel-luberda commented on #202
@owlstack The solution is here:
- https://github.com/luberda-molinet/FFImageLoading/wiki/Xamarin.Forms-Advanced#usage-in-listview-with-listviewcachingstrategyrecycleelement-enabled
- https://developer.xamarin.com/guides/xamarin-forms/user-interface/listview/performance/#RecycleElement

[2016-05-25 15:56] daniel-luberda commented on #206
@mattfinch1980 We noticed some threading issues in 2.1, fix is coming soon.

[2016-05-25 21:23] ravensorb opened #214 "Is it possible to use all transformations in Xaml?"
I saw a sample for the grey scale transformation in xaml, however when I try to use others like CornersTransformation I get an error about "no default constructor found".  Am I missing something?

[2016-05-25 21:34] ravensorb opened #215 "Placeholder image double loads in latest build"
I am using the following in an application (bellow is simplified)

[code]

And I have noticed that the "LoadingPlaeholder" seems to load AFTER the control shows up on the screen, and then the image shows up, flickers, and loads again.  Then if the image cannot be displayed the "ErrorPlaceholder" does the same thing.  So it will sometimes happen that there are 4 "flickers" before rendering the new

[2016-05-25 21:35] molinch commented on #215
Are you using a placeholder from internet or a local one?

[2016-05-25 21:45] ravensorb commented on #215
Local -- marked as "Content"

[2016-05-25 21:45] daniel-luberda commented on #214
@ravensorb  Just use something like:
[code]

or

make a custom class which inherits from transformation:

[code]

then use it in XAML as: `<local:MyTransformation/>`

[2016-05-25 21:49] ravensorb commented on #214
Ok, thanks -- that was were I was heading. If I have time, I might take a shot at the properties and do a PR this weekend :)

[2016-05-25 21:50] daniel-luberda commented on #214
Sure, If you have something feel free to make a PR :)

[2016-05-26 00:04] molinch commented on #215
For the flickering I think @daniel-luberda should have a look at it.

@ravensorb We did a lot of improvements around performance & scheduler, these are only in https://github.com/luberda-molinet/FFImageLoading/tree/scheduler-changes branch currently.

I am not able to make a nuget package right now, would you be able to give it a try?

[2016-05-26 00:07] molinch commented on #211
Could you upload a basic sample that demos this issue?
It should not be difficult to fix once we reproduce it.

[2016-05-26 00:10] molinch commented on #205
@martb1n @patook Have you tried with beta channel to see if you still have the issue?

[2016-05-26 07:42] MarcorOnline commented on #212
@daniel-luberda thanks, I've removed the Init call and a new exception appeared:
"You are referencing the Portable version in your App - you need to reference the platform (iOS/Android) version"

I've removed the portable version from WP project, and now no more exception when I try to create a CachedImage, but no image appears. I can see only a white box.

I'm using this image for testing:
http:/

[2016-05-26 14:35] molinch commented on #206
@bspinner @mattfinch1980 @coonmoo @ravensorb We just upload alpha packages to nuget that contain massive performance improvements.

Could you give us your feedback on these?
Please don't consider these as production ready!

[2016-05-26 16:04] michaeldimoudis commented on #206
Hi haven't tested the new alpha packages extensively, but I got this crash in insights. When I went back to the page (image wasn't in a ListView) the image loaded successfully. This was on Android.

System.ObjectDisposedExceptionCannot access a disposed object. Object name: 'FFImageLoading.Drawables.SelfDisposingAsyncDrawable'.
Raw
Java.Interop.JniPeerMembers.AssertSelf(IJavaPeerable self)
Java.In

[2016-05-26 16:20] daniel-luberda commented on #206
@michaeldimoudis You should follow this: https://github.com/luberda-molinet/FFImageLoading/issues/200

I'll update wiki soon

[2016-05-26 16:22] molinch commented on #206
Just one thing: please don't mix different issues in the same issue.
Instead if you can create separate issues that's much easier to manage for us.
Thanks!

[2016-05-26 16:24] molinch commented on #214
If you submit a PR we will accept it with pleasure :)

[2016-05-26 16:24] #214 closed

[2016-05-26 16:28] molinch opened #216 "Old image is displayed before new one when scrolling"
Scrolling a list shows old image then new one on iOS.
@michaeldimoudis reported in #206:

[2016-05-26 16:29] molinch commented on #216
This one is tricky to tackle, we'll need to investigate.

[2016-05-26 16:31] molinch commented on #206
@michaeldimoudis the `ObjectDisposedException` you reported was with 2.1.1 pre1 or 2.1.0 ?
Same question for iOS issue where images where no longer loaded.

[2016-05-26 16:33] molinch commented on #173
@ravensorb Could you tell us if you still have this issue with 2.1.1 https://www.nuget.org/packages/Xamarin.FFImageLoading/2.1.1-pre1?
If that's the case I will investigate.

[2016-05-26 16:34] molinch commented on #198
@dlpopescudcube I don't think that we can do anything about this one. As I said it looks like a Mono issue.
How often do you get it?

[2016-05-26 16:36] molinch commented on #205
Closing it for now. Please reopen if it still occurs with Mono >= 4.3.2.

[2016-05-26 16:36] #205 closed

[2016-05-26 16:39] michaeldimoudis commented on #206
It was all pre 1. Saw your Nuget update so thought I'd test it out. I believe with the iOS issue, it looks like it wants free network resources before even loading even a cached image?

[2016-05-26 16:41] molinch opened #217 "ObjectDisposedException on Android"
Reported by @michaeldimoudis in #206. It occurred with 2.1.1 pre1.
[code]

[2016-05-26 16:42] molinch opened #218 "FFImageLoading stops loading images"
Reported by @michaeldimoudis in #206. It occured with 2.1.1 pre1.

[2016-05-26 17:04] #217 closed

[2016-05-26 17:09] daniel-luberda commented on #216
It's related to how bindings are working on Xamarin.Forms. Solution here:

- https://github.com/luberda-molinet/FFImageLoading/wiki/Xamarin.Forms-Advanced#usage-in-listview-with-listviewcachingstrategyrecycleelement-enabled
- https://developer.xamarin.com/guides/xamarin-forms/user-interface/listview/performance/#RecycleElement
- https://github.com/luberda-molinet/FFImageLoading/issues/200

[2016-05-26 17:13] molinch commented on #216
I'm not 100% sure it is only that.
I think that I experienced it in a non XF app.
I will check, but consider it as a low priority for now.

[2016-05-26 20:50] owlstack commented on #218
Not sure if this is related but I got version 2.1.0 of FFImageLoading and I'm using Preload() method and the images are blank, they are not loaded. I debugged and the url is passed in but the images are not showing up.

[2016-05-27 00:07] patook commented on #202
@daniel-luberda Since you're asking for our feedback, is there any chance FFImageLoading can resolve the longstanding animated GIF problem with Xamarin? I would like nothing better than just put a CachedImage with Source = GIF file and have it play automatically.

[2016-05-27 05:30] molinch opened #219 "Unit tests"
Now that we have AppVeyor CI integration (thanks again @mattleibow 👍 ) we can write some units tests that will automatically run.

Things that can be tested:
- WorkScheduler
- SimpleDiskCache
- DownloadCache

There may be some open issues with xUnit2 and AppVeyor: http://help.appveyor.com/discussions/problems/677-xunit-20-support

[2016-05-27 08:54] mattfinch1980 commented on #206
Hi,

Just upgraded to new 2.1.1 pre-release and tested with Xamarin Forms 2.2.0.31.

Compiled and run on Android so far. The use of cachedimage inside listview appears to have definitely improved since the last development release. Rapid scrolling on screen seems fine.

I will experiment further by increasing the count of cells within the listview and adding additional image loading processes.

Th

[2016-05-27 13:59] adrianknight89 opened #220 "2.1.1.-pre1: System.ArgumentNullException: Value cannot be null."
FFImageLoading stopped working for me. When I load a listview with embedded png resources, I get this error and the app crashes.

[code]

[2016-05-27 18:58] tamifist commented on #143
How I can use it from Xamarin.Forms shared code?

[2016-05-27 19:14] molinch commented on #143
@tamifist From anywhere you can call:
[code]

[2016-05-28 15:27] Damian-Pumar commented on #155
Hi all, how to set LoadingPlaceholderPath and ErrorPlaceholderPath using MVVMCross ?
Thanks!

[2016-05-30 19:18] molinch commented on #215
@ravensorb Could you give a try to our 2.1.1 prerelease package?

[2016-05-30 19:20] molinch commented on #206
Closing since performance are much better in prerelease.
If you encounter bugs please create new issues.

[2016-05-30 19:20] #206 closed

[2016-05-30 19:22] molinch commented on #213
@AlchemySolutionsPvtLtd Any news ?

[2016-05-30 19:23] molinch commented on #218
@owlstack I'll check

[2016-05-30 20:32] molinch commented on #220
@adrianknight89 new nugets 2.1.1 pre2 have been uploaded.
Could you give it a try?

[2016-05-30 20:33] molinch commented on #217
New nuget 2.1.1 pre2 has been uploaded, which contains the fix.

[2016-05-30 20:40] molinch commented on #218
@michaeldimoudis unfortunately I couldn't reproduce it.
By any chance do you know a scenario? Or have extra infos?

[2016-05-30 20:48] daniel-luberda commented on #166
So after investigating it it uses `Window.Current.Dispatcher` method to get dispatcher.

[2016-05-30 20:51] michaeldimoudis commented on #218
It was on a fresh app reinstall when updated to pre where it had to download a lot of images again and got stuck. I only experienced it once. You can close if you want, if it happens again I can open a new issue?