[2016-11-02 20:37] alanspires commented on #356
My app doesn't crash but I noticed that whenever this occurs a random image seems to not load. If I restart the app though that same image will load.

[2016-11-03 00:35] #357 closed

[2016-11-03 00:46] #356 closed

[2016-11-03 00:46] daniel-luberda commented on #357
Found the issue, it should be: `string tmpPath = Path.Combine(documents, "..", "Library", "Caches");` instead `string tmpPath = Path.Combine(documents, "..", "Library");`

[2016-11-03 00:50] daniel-luberda commented on #282
I don't understand. Could you elaborate?

Simple explanation is that `var currentImage = Xamarin.Forms.ImageSource.FromFile(imagePath); ` is giving you only a pointer to the file. You have to load it to the image view after that. Eg. `cacheImage.Source = currentImage`;

[2016-11-03 00:53] daniel-luberda commented on #356
I fixed it with: https://github.com/luberda-molinet/FFImageLoading/commit/57c769df6809081207efc904c085ec3d74c35a94

[2016-11-03 01:51] EmmanVazz commented on #356
Thanks!

[2016-11-03 01:55] daniel-luberda commented on #348
I don't have a clue what that might be.

- Did you try to disable memory cache? `ImageService.Instance.LoadUrl(e.NewElement.ImageSource).WithCache(Cache.CacheType.Disk).Into(ProfilePicture);`? Does it work like that?
- Did you try to call `Control.Invalidate()` after loading cache from memory?
- Could you make a reproduction?

[2016-11-03 02:00] daniel-luberda commented on #353
Could you test v2.2.2 and see if it solves your issue?

[2016-11-03 03:17] patook commented on #348
@daniel-luberda I have created and attached a very simple repro case (only 20 lines or so).

Please click the button twice and you'll see that when the images are loaded from memory they stop rendering.

I noticed that setting ScaleToFit=true is one of the things that breaks it but I believe there are others.

[SimpleFFCustomRenderer.zip](https://github.com/luberda-molinet/FFImageLoading/files/568

[2016-11-03 06:39] wouterroos commented on #353
I updated to `v2.2.2 `but unfortunately the issue still remains. I did some further testing and found that the issue **doesn't** occur when I set `FadeAnimationEnabled="False"`. Maybe there is something wrong with the animated transition between the LoadingPlaceHolder and the actual image?

[2016-11-03 08:00] nevalenny commented on #357
Thanks for fast response and the great job you do! The control is awesome!

[2016-11-03 08:07] alexpetin commented on #355
v2.2.2 - the problem not fixed.

[2016-11-03 10:26] baxtercr opened #359 "AsUIImageAsync throws exception on iOS"
UIImage image = await ImageService.Instance.LoadUrl(this.imageUrl).AsUIImageAsync();

System.Runtime.ExceptionServices.ExceptionDispatchInfo.Throw() in /Users/builder/data/lanes/3859/b638977c/source/xamarin-macios/_ios-build/Library/Frameworks/Xamarin.iOS.framework/Versions/git/src/mono/mcs/class/referencesource/mscorlib/system/runtime/exceptionservices/exceptionservicescommon.cs:143
System.Runtim

[2016-11-03 10:35] baxtercr opened #360 "iOS 6+ image scaling incorrectly"
ImageService.Instance.LoadUrl(this.imageUrl)
                .Into(this.mainImageView);

On the 6plus (3x) the image aspect ratio appears incorrectly.

[2016-11-03 12:30] marlonconstante commented on #349
@daniel-luberda Unfortunately the problem is still occurring in version _2.2.2_

[2016-11-03 13:02] shnaz commented on #349
Same problem here. using 2.2.2..

[2016-11-03 13:34] marlonconstante commented on #349
To work right for now I'm using this workaround in my image class that inherits from CachedImage:

[code]

[2016-11-03 16:46] daniel-luberda commented on #353
Could you make a reproduction? Thanks.

[2016-11-03 16:47] daniel-luberda commented on #355
Could you give more details?

[2016-11-03 18:41] daniel-luberda commented on #349
@marlonconstante Thanks for the workaround. I'll try to debug it once again. Sorry for that, the amount of changes were huge in this release, so I could have missed something.

[2016-11-03 19:21] daniel-luberda commented on #360
Could you write more details? Controlling aspect ratio is up to dev.

[2016-11-03 19:31] #359 closed

[2016-11-03 19:33] daniel-luberda commented on #359
Could you try 2.2.3 prerelease? It should be fixed.

[2016-11-03 19:33] daniel-luberda commented on #349
Could you try 2.2.3 prerelease? It should be fixed.

[2016-11-03 19:34] daniel-luberda commented on #355
Could you try 2.2.3 prerelease?

[2016-11-03 20:52] alanspires opened #361 "New Errors in latest Pre-Release"
`2016-11-03 14:49:51.135 RollRandomiOS[23766:9991767] Image loading failed: https://cdn.rollrandom.com/event/d1e26ba0Image loading failed: https://cdn.rollrandom.com/event/d1e26ba0cc06452402c8d3472521a30a.jpg;210x0
System.AggregateException: One or more errors occurred. ---> System.Exception: HttpHeadersTimeout
  at FFImageLoading.Cache.DownloadCache+<DownloadAsync>d__13.MoveNext () [0x0029b] in <

[2016-11-03 21:14] daniel-luberda commented on #361
Hi @alanspires It's not a bug, it was just written to log that `HttpHeadersTimeout` occured (when server doesn't respond with a certain amount of time). By default it's 6 seconds and it can be cached with config `HttpHeadersTimeout` parameter.

[2016-11-03 23:11] markmni commented on #354
Thanks both, I tried the latest prerelease and setting a placeholder image, but unfortunately images are still going astray.

I tried a quick workaround in client code markmni/FFImageTesting@91c9d0790be0269f4cfac0488a4b81cc22238d07 by storing a reference to the scheduled work on the image, then explicitly cancelling it before loading the new image, which (GC implications aside) does seem to stop t

[2016-11-04 00:50] daniel-luberda commented on #354
The source of the problem is here:
- https://github.com/luberda-molinet/FFImageLoading/blob/master/source/FFImageLoading.Droid/Drawables/FFBitmapDrawable.cs#L122-L154 (returns drawable size)
- https://github.com/luberda-molinet/FFImageLoading/blob/master/source/FFImageLoading.Droid/Drawables/FFBitmapDrawable.cs#L94-L97 (animation ends)

Somehow, drawable is not invalidated correctly after animatio

[2016-11-04 00:53] daniel-luberda commented on #353
The source of the problem is here:
- https://github.com/luberda-molinet/FFImageLoading/blob/master/source/FFImageLoading.Droid/Drawables/FFBitmapDrawable.cs#L122-L154 (returns drawable size)
- https://github.com/luberda-molinet/FFImageLoading/blob/master/source/FFImageLoading.Droid/Drawables/FFBitmapDrawable.cs#L94-L97 (animation ends)

Somehow, drawable is not invalidated correctly after animatio

[2016-11-04 04:55] #354 closed

[2016-11-04 04:56] daniel-luberda commented on #354
It's fixed. Thanks for you help.

[2016-11-04 08:37] wouterroos commented on #353
I tested the `v2.2.3-pre-197` but the issue still remains. I created a repro case (using `v2.2.3`) which you can find [here](https://github.com/wouterroos/FFImageLoading-AspectRatioIssue-Repro).

Steps to reproduce:

1. Start the app on Android
2. Click the _Navigate_ button
3. A page will be shown which shows a fallback image (square) and then fades to the actual image (wide) with the **incorrect

[2016-11-04 11:52] alexpetin commented on #355
2.2.3 release - the problem not fixed.

Asset Catalog Image Sets [Preferred] - Added in iOS 7, Asset Catalogs Image Sets contain all the versions or representations of an image that are necessary to support various devices and scale factors for your application. Instead of relying on the image assets filename (see the Resolution Independent Images and Image Nomenclature), Image Sets use a Json fil

[2016-11-04 16:20] daniel-luberda commented on #355
Could you test 2.2.4 prerelease and see if it's working? Thanks.

[2016-11-04 18:35] marlonconstante commented on #349
Worked perfectly!
Thanks

[2016-11-04 18:38] alexpetin commented on #355
Yes, it's working - v.2.2.4-pre-201.
Thank you!

[2016-11-05 15:32] Muriet96 opened #362 "Not load images after the new update"
Hi
After the Xamarin's update, my app does not load images.
Whereas before he did.
I want to know why? Please help me.

Sometimes loads the image, but after he does more.

I used CachedImageRenderer.Init();

**[Before update](https://scontent-mia1-1.xx.fbcdn.net/v/t34.0-12/14958716_10207631327641079_1707534982_n.png?oh=18a8cdafced385f7a81afcf4f3aea8d8&oe=581EBBB4)**

**[After update](https://scont

[2016-11-05 19:07] daniel-luberda commented on #362
Try to uninstall packages,  remove bin, obj folders,  install them again and see if it works

[2016-11-05 23:46] Muriet96 commented on #362
I did it.
I created a new solution and is the same result.

[2016-11-06 09:59] softclickbr opened #363 "No disk caching..."
I just started to use FFImageLoading and experienced many problems with the Placeholder Image and another things (blinks updating image, stretching, just in Galaxy S7, emulators other issues) . I resolved using another methods, working directly with ICommand SuccessCommand and ErrorCommand, using a AcitivityIndicator Running until Succes or Error is called (and error replaces de image).

Well, I d

[2016-11-06 10:04] softclickbr commented on #338
I experienced this problem in the 1st moment that I tried FFImageLoading, exactly the same issue.

I resolved using WithRequest and HeightRequest inside ffimageloadin:CachedImage.  I hate to use absolute values, but this used grid exceptionally had 3 lines 25 dpi and 1 column 75 dpi. The Image uses 3 rows (rowspan 3), so the available space was 75x75. I put widht and height request to 75x75 and th

[2016-11-06 10:08] softclickbr commented on #362
I saw many problems occouring when used IsVisible, Binding with some values, etc. I needed to put and retire each parameter to test the problems to load images. Anything wrong or strange, just the image not loaded. May be, your code had some error that not resulted in broken images and after the upgrade is not ignored more. Do you use XAML? What is the code?

[2016-11-06 15:06] softclickbr commented on #363
Some logging error on start app:

11-06 13:02:21.372 D/Mono    ( 9938): Assembly Loader probing location: '/storage/emulated/0/Android/data/sacico.sacico/files/.__override__/FFImageLoading.dll'.
11-06 13:02:21.372 D/Mono    ( 9938): Image addref FFImageLoading[0xee65f740] -> /storage/emulated/0/Android/data/sacico.sacico/files/.__override__/FFImageLoading.dll[0xee612e00]: 2
11-06 13:02:21.372 D/Mo

[2016-11-06 15:48] daniel-luberda commented on #363
You have something wrong with your project files.  Please:

- clean solution,  remove bin/obj folders
- uninstall library packages and install them once again
- remove app from your devices

[2016-11-06 15:50] daniel-luberda commented on #362
Could you make a reproduction?

[2016-11-06 16:52] softclickbr commented on #363
These erros like

"11-06 13:02:21.392 D/Mono ( 9938): AOT module '/storage/emulated/0/Android/data/sacico.sacico/files/.override/FFImageLoading.Platform.dll.so' not found: dlopen failed: library "/data/app/sacico.sacico-1/lib/arm/libaot-FFImageLoading.Platform.dll.so" not found"

Never can occours?

I cleaned solution, removed app, deleted bin, continues appearing on start app.

Now I will do a ba

[2016-11-06 19:22] daniel-luberda commented on #363
Try sample app from repo, it works fine. Are you sure you have nugets installed in both shared & platform specific projects?

[2016-11-06 19:26] daniel-luberda commented on #353
I made some initial changes for that: https://github.com/luberda-molinet/FFImageLoading/commit/c048b7b838af5c702cd580ffbdc3b880c63377ae

We're going to switch to using `TransitionDrawable` internally, just the same as Glide library for Android does it. It should solve those issues.

[2016-11-06 23:38] fedemkr commented on #286
Hi, I created a repo with the reproduction of the issue, hope it helps

https://github.com/D-Genix/FFILXmlVectorTest

[2016-11-07 05:54] daniel-luberda commented on #286
https://github.com/D-Genix/FFILXmlVectorTest/blob/master/FFILXmlVector/FFILXmlVector.Droid/MainActivity.cs#L33-L36

FFImageLoading doesn't support loading xml drawables through its loader. You can do it like that:

`imageView.SetDrawable(Resources.GetDrawable(Resource.Drawable.YourVectorDrawable));`

[2016-11-07 06:00] #286 closed

[2016-11-07 06:00] #360 closed

[2016-11-07 06:19] daniel-luberda commented on #338
It's probably because we're calling `InvalidateMeasute` method after image loading... and `Image` uses `InvalidateMeasureInternal` method which also calls some internal stuff and it's `internal` as name suggests. https://github.com/xamarin/Xamarin.Forms/blob/74cb5c4a97dcb123eb471f6b1dffa1267d0305aa/Xamarin.Forms.Core/VisualElement.cs#L651-L655

The only way to fix this is to use reflection.

[2016-11-07 06:48] wouterroos commented on #353
Nice! When can we expect the fix on NuGet?

[2016-11-07 08:30] wouterroos commented on #353
I tested `v2.2.4` and the actual image is now shown with the proper aspect ratio after fading. However, I now see that, while fading from the fallback image to the actual image, the fallback image aspect ratio quickly changes to the actual image fallback ratio (thus distorting the fallback image) before fading. I've updated the [repro case](https://github.com/wouterroos/FFImageLoading-AspectRatioI

[2016-11-07 08:32] daniel-luberda commented on #353
Hi @wouterroos Thanks for debugging.

[2016-11-07 08:33] daniel-luberda commented on #353
Hi @wouterroos, Thanks for debugging. The cause is here: https://github.com/luberda-molinet/FFImageLoading/blob/master/source/FFImageLoading.Droid/Drawables/FFBitmapDrawable.cs#L109-L121

Any ideas how to improve that?

[2016-11-07 12:59] rajeshkumar1229 opened #364 "FFImageLoading failed to load images"
I am using FFImageLoading 2.2.4 for Xamarin Android application. I am using this library for getting netwrok images and cahing and it is working fine except for one scenario. FFImageLoading library is throwing runtime exception at times. If I uninstall and install the xamarin application sometimes in repetition and start this application then FFImageLoading is getting failed to load the network im

[2016-11-07 15:48] buttifabio opened #365 "FFImageLoading fail to load image on iOS after upgrading from 2.1.8 to 2.2.4"
Hi,

I have a Xamarin.Forms project where i use FFImageLoading to load an image from a web url applying a CircleTransformation.

This is the init code:
[code]

When i download the data model from my webservice i setup `Image.Source = "https://censored/url/of/image.jpg"`.

With FFIMageLoading.iOS 2.1.8 everything worked, but after the upgrade to 2.2.4 i have the following exceptions:
`Image loading

[2016-11-07 16:51] daniel-luberda commented on #364
Hi @rajeshkumar1229,

It's not a bug, this error is thrown when network request times out. It should be a log-only information.

[2016-11-07 16:52] Spierki commented on #365
+1

[2016-11-07 16:53] daniel-luberda commented on #365
Hi @buttifabio,

- What version of iOS?

[2016-11-07 16:53] Spierki commented on #284
@daniel-luberda I'm gonna try this very soon

[2016-11-07 16:57] Spierki commented on #365
@daniel-luberda 10.0.2 for me

[2016-11-07 17:05] buttifabio commented on #365
@daniel-luberda 10.1.1

[2016-11-07 17:23] daniel-luberda commented on #365
@buttifabio @Spierki

Could you test the newest pre-nuget and notify me if it's fixed?

[2016-11-08 03:03] mike-rowley commented on #361
Written to the log?  I am seeing this error as a hard System.Exception in 2.2.4  or the latest 2.2.5pre.
https://github.com/luberda-molinet/FFImageLoading/blob/c7c769df0c344f65d1eaaf10a6bd6f7de030e383/source/FFImageLoading.Common/Cache/DownloadCache.cs#L99

This is not caught by an Error event on the CachedImage either, I am unclear as to how this should be handled when the source is a bound field

[2016-11-08 07:35] buttifabio commented on #365
@daniel-luberda

I downgrade to 2.2.3 and the error changed to
[FFImageLoading_error_version_2.2.3.txt](https://github.com/luberda-molinet/FFImageLoading/files/577559/FFImageLoading_error_version_2.2.3.txt)

It's strange because `user_avatar_default.png` is present in the bundle. In fact if i downgrade to 2.1.8 again everything works.

[2016-11-08 08:29] Spierki commented on #365
@daniel-luberda not working for the last pre-nuget, this is the error :

System.IO.FileNotFoundException: /var/mobile/Containers/Data/Application/F9D7F379-693C-476A-B960-B6864ECB5CA6/Documents/cartesFidelite/c78a2a15-c2ca-4ede-9cad-34ee18c08883.jpg
  at FFImageLoading.DataResolvers.BundleDataResolver+<Resolve>d__1.MoveNext () [0x003ef] in <9ef0b80610e246fa9936690e1e1d0e0d>:0 `

[2016-11-08 15:23] daniel-luberda commented on #361
Hi @mike-rowley

Could you explain? Does it cause your application to fail? What does hard exception mean? Unhandled? Or is it only written to log? Those exceptions should be catched.

Is it possible that server doesn't respond within 6s?

[2016-11-08 15:26] daniel-luberda commented on #365
Coukd you test 2.2.5-pre-207?

[2016-11-08 15:39] aherrick opened #366 "Listview - Circle Transformation Border"
I'm on the latest stable bits of FFImageLoading.

I'm trying to add a border to my CircleTransformation. My ListView ItemTemplate looks like below.

The circle transformation **is** being applied, but I see no border. What's wrong here? Note I am testing with Xamarin Forms UWP

[code]

[2016-11-08 17:39] daniel-luberda commented on #366
Hi @aherrick,

I'll try to debug this soon. Meanwhile, this is the code responsible for drawing border: https://github.com/luberda-molinet/FFImageLoading/blob/master/source/FFImageLoading.Transformations.Windows/RoundedTransformation.cs#L117-L139

Do you see anything wrong there? Maybe the extension method `ToColorFromHex` fails (and it fails back to transparent by default) https://github.com/lube

[2016-11-08 17:57] mike-rowley commented on #361
Hi @daniel-luberda
I should have said base exception, the code I am seeing throw the error is throw new Exception("HttpHeadersTimeout");
However in the process of isolating the issue into a separate project it seems the Exception Dialogs may be related to my Exception Settings in VS.

What I am seeing is the "loading" graphic (an embedded resource) is displayed, then faded out half way on some Lis

[2016-11-08 17:59] mike-rowley commented on #361
Here is a screenshot of what I am seeing:
![screenshot_2016-11-08-10-49-15](https://cloud.githubusercontent.com/assets/15679646/20110647/699d55aa-a5a2-11e6-92b7-4e0244aab292.png)

[2016-11-08 19:27] aherrick commented on #366
Hey thanks for the response. FYI I just tried with iOS and the border DOES show... however it seems the thickness isn't changing either.

[2016-11-08 20:37] timbrand commented on #365
Seems that I'm having this issue too.
On 2.2.4 it gave me an exception the "UIKit.UIKitThreadAccessException". Then I updated to the pre-207 nuget and now getting the following exception:
`Image loading failed: /var/mobile/Containers/Data/Application/0D32FC7C-735A-4567-9D07-462C027125CC/Documents/temp/IMG_20161108_213433.jpg;200x0
System.IO.FileNotFoundException: /var/mobile/Containers/Data/Applic

[2016-11-08 22:30] alanspires opened #367 "Is there a way to cancel all Preload requests from the PCL?"

[2016-11-09 09:54] Muriet96 commented on #362
This is the code

[code]

[2016-11-09 13:13] buttifabio commented on #365
@daniel-luberda

Excuse me, but how can i test versione 2.2.5-pre-207? Where can i get that version?

Thank you

[2016-11-09 16:06] aherrick commented on #366
Update here. I had to make the thickness "14" for it to show. However it is very jagged in UWP. ALSO, I'm not able to see a `LoadingPlaceholder` show up, even with a simple PNG/JPG URL in UWP. `ErrorPlaceholder ` however DOES show if the image fails to load. Any thoughts there?

[2016-11-09 18:46] mike-rowley commented on #365
@buttifabio the prereleases are all on Nuget.
https://www.nuget.org/packages/Xamarin.FFImageLoading.Forms/2.2.5-pre-207

Note: you may need check off "Include Prereleases" if you are using the Nuget Manager in Visual Studio.

[2016-11-09 19:30] DarthDerrr opened #368 "Initialize Cache from Bundle?"
I'm working on an app which can have many images with urls known at build time. I've been encouraged to attempt to preload our image cache with many of these images when the app starts from a bundle file which will be part of our app.

Is there a recommended way to preload images which map to a url from a file?

I believe I can do this by implementing an IDownloadCache which contains an instance o

[2016-11-09 20:01] daniel-luberda commented on #368
It should be an easy to do with custom `IDataResolver` (you can set it through config). Here's the default one:

- https://github.com/luberda-molinet/FFImageLoading/blob/master/source/FFImageLoading.Touch/DataResolvers/DataResolverFactory.cs#L20
- https://github.com/luberda-molinet/FFImageLoading/blob/master/source/FFImageLoading.Droid/DataResolvers/DataResolverFactory.cs#L20

Identifier = file pa

[2016-11-09 20:21] daniel-luberda commented on #366
It's because of this: https://github.com/luberda-molinet/FFImageLoading/issues/254. Does anyone have a good algorithm for drawing circles / elipses with anti-aliasing pixel by pixel? **Any help needed.**

Could you write more details and create separate issue for that?

[2016-11-09 20:21] #366 closed

[2016-11-09 20:22] daniel-luberda commented on #363
@softclickbr Did you solve it?

[2016-11-09 20:24] daniel-luberda commented on #367
Try the newest alpha. `Preload` and `DownloadOnly` now return a task, which can be cancelled (`Cancel()` method).

[2016-11-09 20:24] #367 closed

[2016-11-09 20:24] #364 closed

[2016-11-09 20:27] daniel-luberda commented on #365
Could you test the newest 2.2.5-pre-209 alpha? It should be fixed (I hope so).

[2016-11-09 20:27] daniel-luberda commented on #362
The sample works fine for me. Did you try the newest alpha (2.2.5-pre-209 alpha)?

[2016-11-09 20:46] daniel-luberda commented on #348
`ScaleToFit` is an `ImageViewAsync` specific method. This is the code which is responsible for its functionality: https://github.com/luberda-molinet/FFImageLoading/blob/master/source/FFImageLoading.Droid/Views/ImageViewAsync.cs#L89-L145

Do you see anything wrong there?

[2016-11-09 20:47] DarthDerrr commented on #368
@daniel-luberda I'm not really sure how the resolvers help. I ended up finding a much different way to do this - a colleague pointed out that the cache key may be the url and it turned out not hit the network for the image the first time it was used:

`ImageService.Instance.LoadFileFromApplicationBundle("testImage.png").CacheKey(testUrl).Preload();`
...
`ImageService.Instance.LoadUrl(testUrl)...In

[2016-11-09 20:51] daniel-luberda commented on #368
I though you want to use a different loading logic, eg. if image name in url contains `someImage.png` instead loading it from web, load it from app bundle, or something similar.

Yes, custom cache keys will solve your problem too.

[2016-11-09 21:00] daniel-luberda commented on #361
Hi @mike-rowley

- Does it happen on Android only?
- Does it happen with fade animation disabled?

[2016-11-09 21:04] mike-rowley commented on #361
It does happen on Android only.  However I do get HTTPTimeout Errors on iOS that I believe I shouldn't be getting.
It does not happen with fade animation disabled, the images load properly in that case.

[2016-11-09 21:17] daniel-luberda commented on #361
I pushed some potential fix for that (see above).

BTW: I changed `HttpHeaderTimeout` to 10s by default.

[2016-11-09 21:20] #368 closed

[2016-11-09 21:37] alanspires commented on #367
Ok im storing all the tasks in a collection and using the Finish method to remove itself from the collection.

`                    _preloads.TryAdd(i, ImageService.Instance.LoadUrl(i, TimeSpan.FromDays(daysToCache)).WithPriority(priority).Finish((obj) => RemoveItem(i)).DownloadOnly());`

Whenever "Finish" is called the Task shows IsCompleted = false && IsCancelled = false. Shouldn't IsCompleted =

[2016-11-09 22:04] daniel-luberda commented on #367
Yes, it should. It's a bug. It should be fixed now. Nice catch, thanks (see commit above).

[2016-11-09 22:08] daniel-luberda commented on #367
You can test it on 2.2.5-pre-211

[2016-11-10 01:57] softclickbr commented on #363
@daniel-luberda  We are remounting our project, all files, all plugins, restarting from 0, the estimated time is 2 days, the generated lists are in the final point instalation because needs to be synchronized with the server. I believe in something wrong this the another compilation (visual studio solution), may be some crashed plugin. I will mantain you updated.

[2016-11-10 16:03] aherrick opened #369 "Listview - Xamarin Forms UWP LoadingPlaceholder fails to show image"
I have a Listview referencing a custom view cell with an FFCachedImage.

I have the image in the root of my UWP project and am referencing it from PCL like this:
[code]

The `ErrorPlaceholder ` DOES however show if the image is broken.

Any idea what the difference would be between Loading/Error? Also on iOS the Loading image does immediately show.

[2016-11-10 16:24] alanspires commented on #367
Good to go

[2016-11-10 16:50] mike-rowley commented on #361
Thanks @daniel-luberda, I tested pre-212 and it resolves the issue with the animations stalling on android, it also appears to resolve the HTTPTimeoutErrors I was seeing.

I did notice that what is happening now is that only the first image fades in, the others remain as the loading image until the first image fade is done, then the others rapidly transition from the loading image to the source im

[2016-11-10 17:01] rusty21 opened #370 "Android listview fade animation not finishing"
I've got a listview that uses FFImageLoading. When the listview initially loads I have multiple cells attempting to load the same image with FFImageLoading. I've got a sample where I'm loading the same image into 7 cells. It appears though 2 of the cells are fully opaque. But the other 5 cells look mostly transparent. I can still tell it tried to load the image but the animation seems to stop befo

[2016-11-10 17:55] daniel-luberda commented on #370
It's already fixed in current prerelease nuget :)

[2016-11-10 17:55] #370 closed

[2016-11-10 18:00] daniel-luberda commented on #361
@mike-rowley I definitely want to have those animation effect back for all images. I have to find the way first (I'll try drawable.Mutate()` today and see if that would help).

Thanks

[2016-11-10 19:25] rusty21 commented on #370
Any feelings on when this fixed will be part of a stable build? As a temporary solution we are disabling the fade animation.

[2016-11-10 19:37] owlstack opened #371 "If images are cached, why are some images still trying to load on airplane mode?"
I have my images cached and then I turn on airplane mode. Once, I'm in airplane mode, I navigate to the detail screen with that image. Why is the image trying to load when I'm on airplane mode? It should either show the cached image or just immediately show the placeholder if it can't get the image from the cache. Why is there a delay to fetch the image if it's stored locally or not found?

I thin

[2016-11-10 19:47] timbrand commented on #365
Sorry, still not working. Even tried the 212 build, also not working.

Exception I get on the 212-build:

`016-11-10 20:37:07.547 GroupComiOS[293:51154] Image loading failed: /var/mobile/Containers/Data/Application/E8582598-4DA0-4416-A322-EB09497C9BB9/Documents/temp/IMG_20161110_203706-2280x2280.jpg;200x0
System.IO.FileNotFoundException: /var/mobile/Containers/Data/Application/E8582598-4DA0-4416-A

[2016-11-10 20:11] rusty21 opened #372 "FFImageLoading Crashes android app"
An error reporting service called HockeyApp is telling us that FFImageLoading is crashing our application. It happens very infrequently and cannot be reliably reproduced. Good luck :)

Heres the trace given by HockeyApp

        System.NullReferenceException: Object reference not set to an instance of an object
        at com.agilx.fanlete.FFImageLoading.Collections.StrongLruCache`2[TKey, TValue].

[2016-11-10 20:27] rusty21 commented on #372
Here some output from the application output window in xamarin studio after implementing IMiniLogger and just doing a Debug.WriteLine() inside the error functions.

        Image loading failed: https://s3.amazonaws.com/fanlete/uploads/dee371d0c35a816d22b067d8862b9cfd2db062c8.png System.NullReferenceException: Object reference not set to an instance of an object.
        at FFImageLoading.Collecti

[2016-11-10 21:05] owlstack commented on #372
@rusty21 I'm having the exact same issue!! However, it could be an issue with aws because I can't access the image directly! I get access denied error. I'm having IT look at it. Do you get an access denied error when you try to directly go to the aws link in the browser?

[2016-11-10 21:14] rusty21 commented on #372
Yes I'm sure your issue is your AWS bucket is private. My bucket is public so that is not a problem. Its pretty clear that FFImageLoading is failing when attempting to cache the image in memory but its unclear as to why.

[2016-11-10 21:15] alanspires commented on #372
@owlstack you probably need to configure the bucket permissions in AWS to
allow access. @rusty21 is having a diff issue because you can clearly click

https://s3.amazonaws.com/fanlete/uploads/dee371d0c35a816d22b067d8862b9cfd2db062c8.png
 and the image loads.

On Thu, Nov 10, 2016 at 2:05 PM, owlstack <notifications@github.com> wrote:

[2016-11-10 21:17] owlstack commented on #372
Yes you're right but I am getting the same null reference exception: Object reference not set to an instance of an object!

[2016-11-10 21:19] rusty21 commented on #372
@owlstack Is it consistent or intermittent?

[2016-11-10 21:20] owlstack commented on #372
It is consistent!

[2016-11-10 21:23] rusty21 commented on #372
Perhaps you could post your failing url so that @daniel-luberda can have an easy way to generate the exception and hopefully find a fix.

[2016-11-10 21:24] owlstack commented on #372
@rusty21 It's happening to a few of them but here's one:

[code]

[2016-11-10 21:27] highplains commented on #372
@rusty21 you should test the latest pre-release nugets.

[2016-11-10 21:31] owlstack commented on #372
@rusty21 I can no longer reproduce the issue. The issue I was getting with access denied is either

1) The image does not exist or 2) permission issue.

It turned out that the image url in the db did not exist in that location. That's why I was getting that issue. Make sure your images are in the correct location. I can't reproduce right now. I'll let you know if I run into it again.

[2016-11-10 22:31] highplains opened #373 "Best Practices for Preloading Images?"
I'm trying to figure out the best way to preload a bunch of images while not interfering with the user as they navigate to screens that have to download and display images as well.

1. `ImageService.Instance.LoadUrl(url, TimeSpan.FromDays(daysToCache)).WithPriority(LoadingPriority.Lowest).DownloadOnly()`

This seems to be the most straightforward way to go about it. The assumption here is that by

[2016-11-10 23:00] luccasclezar opened #374 "UWP pixelated image with DownsampleToViewSize"
Its really what the title says.

I have a xamarin.forms application with a ListView with images. These images have DownsampleToViewSize set to true and are fine in Android, but it looks like in UWP it gets downsampled to a value lower than the size of the View itself.

Also in UWP, I'm experiencing this issue:
![issuephoto](https://cloud.githubusercontent.com/assets/12024080/20197715/08b52bcc-a788

[2016-11-11 00:02] rusty21 commented on #372
How do I go about testing the pre-release version?

[2016-11-11 00:14] highplains commented on #372
Search the Xamain.FFimage nugets and check the box that says something like "Include Prerelease"  verbiage is diff on Xam studio and Visual Studio but its def noticable.

[2016-11-11 01:46] daniel-luberda commented on #370
Max 2 days.

[2016-11-11 01:49] daniel-luberda commented on #363
Are you sure it's FFImageLoading issue? It stores data in cache folders. Maybe you clear it somewhere? Or maybe os clears it? (especially iOS clear cache when it's low on storage).

BTW: You can implement you own disk cache for FFImageLoading. Just implement `IDiskCache` interface.

[2016-11-11 02:51] daniel-luberda commented on #371
- Do you experience it on a device or an emulator?
- Do you use any custom path for disk cache?
- FFImageLoading is using temp cache folders. Do you clear your app cache somewhere?

I tested sample app from repo on a disconnected device, not a single http request and images are loading fine from disk. Could give more details / make a reproduction?

It's not implemented yet, but you can implement i

[2016-11-11 03:16] daniel-luberda commented on #365
Arrgh.... @timbrand Could you make a repro, so I could finally fix this? I can't reproduce it.

[2016-11-11 06:31] daniel-luberda commented on #373
Hi @highplains,

`ImageService.Instance.LoadUrl(url, TimeSpan.FromDays(daysToCache)).DownloadOnly();` is enough as preloading has lowest possible priority by default (which is even lower than `LoadingPriority.Lowest`). Also local images have higher priority than http downloaded images by default.

Up to this day: Yes. When any of the task finishes, it takes task with the highest priority as next t

[2016-11-11 06:31] #372 closed

[2016-11-11 07:56] #361 closed

[2016-11-11 08:13] daniel-luberda commented on #372
@rusty21 It's fixed (new nuget soon). Thanks for a help! :)

[2016-11-11 08:14] daniel-luberda commented on #365
I hope it's the last fix :)

[2016-11-11 08:32] daniel-luberda commented on #369
Do you set loading placeholder before or after setting source? I'll need more info.

[2016-11-11 08:42] daniel-luberda commented on #374
Hi @luccasclezar

- What is original image size?
- What is downsampled image size?
- What is image view size?

- Could you send original image, so I could test it?
- Is the issue with transformation enabled, disabled or both?

[2016-11-11 08:43] daniel-luberda commented on #133
Thanks for your help!

[2016-11-11 08:43] #133 closed

[2016-11-11 13:38] rusty21 commented on #372
I see you've added a bunch of null checks. What behavior is that going to have? Imagine something failed a null check. Will the image still load and just not be cached, or will the image fail to load silently, will FFImageLoading retry the image?

[2016-11-11 14:13] timbrand commented on #365
Sorry, still not fixed. I'll now create a project to reproduce it.

[2016-11-11 14:48] timbrand commented on #365
You can use this project to reproduce the issue.

[ffimageloading_test.zip](https://github.com/luberda-molinet/FFImageLoading/files/586005/ffimageloading_test.zip)

[2016-11-11 15:49] highplains commented on #373
Very Cool! Thanks!

[2016-11-11 15:51] highplains opened #375 "2.2.5 [iOS] Placeholder images now need file extensions."
So. ErrorPlaceholder = "placeholder_default_2" use to work and now "placeholder_default_2.png" is needed. No big deal just wanted to make sure this is expected.

System.IO.FileNotFoundException: placeholder_default_2
  at FFImageLoading.DataResolvers.BundleDataResolver+<Resolve>d__1.MoveNext () [0x00456] in <f866fc50aabd449da0e25c454a95fbec>:0
--- End of stack trace from previous location where ex

[2016-11-11 15:59] #373 closed

[2016-11-11 17:15] daniel-luberda commented on #375
It's not expected.  I'll have to fix it.  Thanks for the info.

[2016-11-11 17:24] daniel-luberda commented on #372
Image will load. Btw: That exception was not caused by adding to cache,  but by removing from cache and passing null as a key.

[2016-11-11 17:26] rusty21 commented on #372
I see, sound good! Keep up the good work.

[2016-11-11 17:42] luccasclezar commented on #374
Hi,

I've tested with several sizes and ratios, some of them were 1600x1000, 858x536, 1400x888, 672x420, etc. The only one that displayed correctly was 1200x1500. The difference that I saw trying to understand this issue was in the ratio, as the only picture that was correct had its width smaller than its height.

Sorry, I didn't look at the image size when it got downsampled and I can't look righ

[2016-11-11 19:08] highplains opened #376 "FadeAnimationForCachedImages = true doesn't seem to work."
Here is a demo video

https://www.dropbox.com/s/z5qu1802b01bkv6/NoFadeAnimation.mov?dl=0

As you can see the images are cached but they just slam right in when they load, no animation. Also I did step thru and verify that FadeAnimation = true before Source is assigned.

[2016-11-12 03:46] Puffdot commented on #376
"FadeAnimationForCachedImages = false" also does not work (tested on iOS 10.0). Result: The images fade in if they are in disk cache, but not if they are in RAM cache.

"FadeAnimationEnabled = false" does work.

I've tried FFImageLoading version 2.2.4 and 2.2.5. It used to work with 2.1.8.

[2016-11-12 15:20] Karuna30 opened #377 "IOS - Images Cache cleared when app goes to background and come back to foreground"
I am noticing that images are loaded from cache only as long as the app is in foreground, as soon as it goes to background and comes back images are getting loaded from web

Here is my AppDelegate Code:

[code]
[code]

Please let me know if I am missing something

[2016-11-12 17:16] #365 closed

[2016-11-12 17:17] daniel-luberda commented on #375
Fixed.

[2016-11-12 17:17] #375 closed

[2016-11-12 17:46] daniel-luberda commented on #376
![screen shot 2016-11-12 at 18 40 49](https://cloud.githubusercontent.com/assets/13569983/20239757/35177eb4-a908-11e6-8194-9c39f43cd163.png)
You're just setting it wrong. Config must always be initialized with `ImageService.Instance.Initialize(config);` method.

[2016-11-12 18:00] daniel-luberda commented on #377
Read this: http://stackoverflow.com/questions/7155964/will-application-home-library-caches-be-clear-on-app-update

BTW: You can change disk cache path with `DiskCachePath` property.

[2016-11-12 18:07] alanspires commented on #376
Lol right on

Sent from my iPhone

[2016-11-13 00:47] daniel-luberda commented on #363
Read this: http://stackoverflow.com/questions/7155964/will-application-home-library-caches-be-clear-on-app-update

BTW: You can change disk cache path with `DiskCachePath` property.

[2016-11-13 15:16] aherrick commented on #369
Hey Daniel

Below is the exact code I'm using. So it's being sent on List Item binding. Loading/Error set in constructor.

[code]

[2016-11-13 17:05] marra85 commented on #365
@daniel-luberda

Hello,
I think I'm still hitting this issue with both versions 2.2.5  and 2.2.6-pre-228 .
the image "icn_eno.png" is a bundleresource.

`
2016-11-13 16:18:50.699 DOTMobileiOS[967:44563] Image loading failed: icn_eno.png
System.IO.FileNotFoundException: icn_eno.png
  at FFImageLoading.DataResolvers.BundleDataResolver+<Resolve>d__1.MoveNext () [0x00512] in <2dad20202474493fb6cd0d6a3

[2016-11-13 17:11] Karuna30 commented on #377
Sorry, I don't understand the Stack Overflow URL talks about cache cleanup during app upgrade, I am just doing background-foreground and the cache is cleared.

I tried changing the cache path too, but it still does the same thing

[code]

[2016-11-13 18:00] daniel-luberda commented on #377
- Does your custom path folder exist?
- Do you call 'ClearCache'  somewhere?

[2016-11-13 18:06] daniel-luberda commented on #365
@marra85 Can you make a reproduction? Not enough info.

[2016-11-14 00:17] spegase commented on #363
Hello Daniel, Thanks for your great job!

I am having the same issue using Xamarin.Android. I have try multiple ways it seams like the images are cached in memory regardless of "WithCache(CacheType.Disk)" or "WithCache(CacheType.All)" but not retreivable from disk. The log shows the "Cache hit" info, I see the bitmap retrieved while the app is on, but as soon as it's shutdown, nothing is retrieved

[2016-11-14 08:17] timbrand commented on #365
In my case I can confirm that the issue has been resolved in the latest pre-228 release.
Thanks for that!!

[2016-11-14 09:06] softclickbr commented on #363
I'm suspecting that Android Api23+ changed anything about write
permissions.PCLStorage Api is not writing more too.

2016-11-13 22:17 GMT-02:00 Alexandre S. <notifications@github.com>:

[2016-11-14 10:34] daniel-luberda commented on #363
@softclickbr Thanks for the info. Did you managed to solve it?

[2016-11-14 11:07] keshavkaul opened #378 "InvalidOperationException - TaskCompletionSource.SetException"
Getting an exception of type System.InvalidOperationException: An attempt was made to transition a task to a final state when it had already completed.
This happened when iOS device was offline.
I'm using library version 2.1.7

Stack trace from Hockey App -

FFImageLoading.TaskParameterExtensions.<>c__DisplayClass11_0.<IntoAsync>b__0(Exception ex)
FFImageLoading.Work.ImageLoaderTaskBase.<>c__Displ

[2016-11-14 11:24] daniel-luberda commented on #378
Hi @keshavkaul  2.1.7 is quite old release. It's already fixed now.

[2016-11-14 11:29] #378 closed

[2016-11-14 12:13] keshavkaul commented on #378
@daniel-luberda Thanks, which version has the fix?

[2016-11-14 12:14] daniel-luberda commented on #363
@spegase This is the code responsible for saving to disk:

- https://github.com/luberda-molinet/FFImageLoading/blob/master/source/FFImageLoading.Shared/Cache/SimpleDiskCache.cs#L74-L120
- https://github.com/luberda-molinet/FFImageLoading/blob/master/source/FFImageLoading.Shared/IO/FileStore.cs#L37-L42

[2016-11-14 12:16] daniel-luberda commented on #378
I don't remember but I would suggest using the newest one, it has a better performance.

[2016-11-14 12:19] daniel-luberda commented on #363
You could try to use custom logger to debug exceptions as here: https://github.com/luberda-molinet/FFImageLoading/blob/master/samples/ImageLoading.Forms.Sample/Droid/MainActivity.cs#L21-L51

[2016-11-14 12:21] Karuna30 commented on #377
Yes the custom path exists and I do not call "ClearCache" anywhere in my code.
Here are logs for what I am seeing:

[code]
Call to get Image
[code]
[code]
Call to get image again, app is in foreground
[code]
[code]
Call to get images after doing background-foreground
[code]
[code]

[2016-11-14 13:15] daniel-luberda commented on #377
@Karuna30 I modified the code to convert relative paths to absolute paths. Could you check the newest prerelease? (2.2.6.232).

Instead: `/var/mobile/Containers/Data/Application/C09DFF54-74A1-495C-8488-1F5CFAE9B565/Documents/../Library/Caches/myapp`

We have `/var/mobile/Containers/Data/Application/C09DFF54-74A1-495C-8488-1F5CFAE9B565/Library/Cache/myapp`

[2016-11-14 15:09] Karuna30 commented on #377
Same issue, I tried with and without explicitly setting DiskCachePath

[code]
[code]

[2016-11-14 15:11] daniel-luberda commented on #377
If it's not working, it must be something with the permissions for file writing. Sample app from repo, works just fine. Did you try it?

[2016-11-14 15:11] daniel-luberda commented on #377
If you could make a reproduction, maybe I could debug it.

[2016-11-14 15:44] angelinaflorence opened #379 "Add helpers for loading Base64 string images"
hi

Does the FFImageLoading support base64 encode images?

[2016-11-14 15:48] alanspires commented on #379
You can convert the base64 back to a byte array and load from a stream.

On Mon, Nov 14, 2016 at 8:44 AM, angelinaflorence <notifications@github.com>
wrote:

[2016-11-14 16:02] alanspires commented on #376
ImageService.Instance.Initialize(new Configuration {
FadeAnimationForCachedImages = true });

Still seems to have no effect.

On Sat, Nov 12, 2016 at 11:07 AM, Alan <alan.spires@gmail.com> wrote:

[2016-11-14 17:14] alanspires commented on #375
Still not working on latest pre-release.

ystem.IO.FileNotFoundException: placeholder_default_2
  at FFImageLoading.DataResolvers.BundleDataResolver+<Resolve>d__1.MoveNext () [0x00512] in <5e1302cb63844e40aa7eeef4cb77b319>:0
--- End of stack trace from previous location where exception was thrown ---
  at System.Runtime.ExceptionServices.ExceptionDispatchInfo.Throw () [0x0000c] in /Users/builder/d

[2016-11-14 19:07] spegase commented on #363
Hi Daniel,
I have been using "AddToSavingQueueIfNotExistsAsync" from "ImageService.Instance.Config.DiskCache.AddToSavingQueueIfNotExistsAsync" and yet nothing is written at the path location, I have checked with "ES file explorer".
I used your logger, no message is appearing or exception.
Perhaps could you post a sample in the project how to properly use the CacheDisk?
Thanks again

[2016-11-15 09:44] marra85 commented on #365
@daniel-luberda

Sorry, it was a git problem (the resources were not tracked in git so they weren't available in my test branch).

[2016-11-15 16:16] Karuna30 commented on #377
ok I ll try to run the sample app and check

[2016-11-15 17:30] Auhmaan opened #380 "Incoherent image loading"
Given a valid web url to an image, the `ImageViewAsync` doesn't load the image on a `Fragment` but - given the fact that in this case, this first `ImageViewAsync` links to another Fragment that contains yet another `ImageViewAsync` - it loads on another.

I've set up logging on the `Success`, `Error` and `Finish` and, in the first case, only the `Finish` is accessed whilst in the second goes throu

[2016-11-15 20:47] alanspires opened #381 "Memory cache - Image Pinning to prevent eviction of specific images"
Is there a way to "pin" images so they are never removed from the memory cache? I noticed that local images sometimes reload from disk which causes them not to display momentarily. This create delays in things like dashboard images which looks funny. Thanks!

[2016-11-15 21:49] rusty21 opened #382 "Images sometimes don't load on android"
Alright so I'm still seeing this error occur on android and it causes images not to get loaded into image views.

    Image loading failed: https://s3.amazonaws.com/fanlete/uploads/dee371d0c35a816d22b067d8862b9cfd2db062c8.png System.NullReferenceException: Object reference not set to an instance of an object.
    at FFImageLoading.Collections.StrongLruCache`2[TKey, TValue].Add (TKey key, TValue va

[2016-11-16 06:19] daniel-luberda commented on #376
Can you make a reproduction? I just tested on sample app from repository and it works good.

[2016-11-16 06:45] daniel-luberda commented on #380
Please configure custom logging as here: https://github.com/luberda-molinet/FFImageLoading/blob/master/samples/ImageLoading.Forms.Sample/Droid/MainActivity.cs#L21-L51 and copy your output here or make a reproduction. I need more details to help you.

[2016-11-16 07:36] daniel-luberda commented on #381
Currently, there's no such feature. What OS?

[2016-11-16 07:38] daniel-luberda commented on #379
Also don't forget to use `CustomCacheKey` when doing that to use caching capabilities properly.

[2016-11-16 11:46] Auhmaan commented on #380
Unfortunately, and for now, I'm unable to test what could be the problem, since it started working. I added the snippet you provided on the code so if it happens on the future I'll add the log here. I'll later try to revert the changes to test the behavior with the snippet.

I might add that this might be problems with multiple loading of fragments. The `ImageViewAsync` that isn't loading the imag

[2016-11-16 14:49] alanspires commented on #381
iOS so far.

Sent from my iPhone

[2016-11-17 06:17] daniel-luberda commented on #363
@spegase

`AddToSavingQueueIfNotExistsAsync` is used internally by `DownloadCache` implementation. It just takes a byte array which should be saved to disk as a parameter.

I added some additional logging info in the latest prerelease, could you test it and send me your output?

[2016-11-17 06:17] daniel-luberda commented on #375
Should work now.

[2016-11-17 06:18] daniel-luberda commented on #382
That's some impressive debugging, thanks for that - it helped a lot. I did some changes (see above). I replaced whole LRUCache implementation. Could you test it?

[2016-11-17 07:47] mfranc28 opened #383 "WebP.Touch iOS Failed to resolve"
In iOS when I compile I get this error:
"Severity	Code	Description	Project	File	Line	Suppression State
Error		Failed to resolve assembly: 'WebP.Touch, Version=1.0.5923.35383, Culture=neutral, PublicKeyToken=null"

[2016-11-17 07:55] mfranc28 commented on #383
Seems resolved when I downgrade component version to prevoious release

[2016-11-17 09:31] softclickbr commented on #363
ES File Explorer not opens the same directories. I wrote wrong when said
PCLStorage not working, its saving in a different hidden path. I work now
as Steve Wonder, I can take, touch, use, but can't see the files...

2016-11-14 17:07 GMT-02:00 Alexandre S. <notifications@github.com>:

[2016-11-17 14:53] rusty21 commented on #382
Been testing on various phones and views and things are looking good. I haven't had a single image throw an exception.

[2016-11-17 15:44] 3-50 opened #384 "InvertColorMatrix bug?"
I created 3 png files: 8 bit, 24 bit and 32 bit.  Applying "InvertColorMatrix" function. File png 8bit reverse wrong. The program paint.net is inverted correctly.
![image](http://i.imgur.com/t3cT12A.png)

FFImageLoading v2.2.5, v2.2.6-pre-233

[2016-11-17 15:50] 3-50 commented on #384
after using "new TintTransformation(226,255,0,128)"
![image](http://i.imgur.com/L2y5Ek6.png)

[2016-11-17 21:44] EmmanVazz opened #385 "Simple usage questions"
I have looked at the source code but can't seem to find easy ways to do these two task.

1) Can you set the Forms Cached Image to not cache an image? I have tried setting the CacheDuration to zero and that didn't work. My current solution is to create a SucessCommand that calls CachedImage.InvalidateCache for that image.

2) Is there a way to check if something is already in the cache? I am preloa

[2016-11-17 23:27] daniel-luberda commented on #382
That's really nice! :)

[2016-11-18 01:39] daniel-luberda commented on #385
Not currently, I'll try to add `None` to `CacheType` enum / property. You can only disable disk cache with `CacheType=CacheType.Memory` now.

- There's no harm with calling `Preload` multiple times for the same item. If the item is already in cache, preloading will simply not do anything.
- You can check it with:
  - `ImageService.Config.MemoryCache.Get(string key)` for memory cache. It will retur

[2016-11-18 01:45] daniel-luberda commented on #384
It's the code responsible for:
- ColorSpace transformation, which is used by `TintTranformation` by default: https://github.com/luberda-molinet/FFImageLoading/blob/master/source/FFImageLoading.Transformations.Windows/ColorSpaceTransformation.cs#L86-L124
- `TintTranformation` with `EnableSolidColor=true` https://github.com/luberda-molinet/FFImageLoading/blob/master/source/FFImageLoading.Transformat

[2016-11-18 05:03] EmmanVazz commented on #385
Actually CacheType. Memory makes more sense now that I think of it, thanks I will use that.
Also I know that it doesn't do harm but ImageService.Config.DiskCache.ExistsAsync(string key) is what I am looking for. Thanks!

[2016-11-18 05:03] #385 closed

[2016-11-18 05:06] daniel-luberda commented on #385
One more thing I forgot to mention, keys for disk cache are encoded representation, so you should call it like that:

`var key = ImageService.Config.MD5Helper.MD5(yourNormalKey);`

[2016-11-18 12:16] 3-50 commented on #384
8 bit PNG can have no more than 256 colors. A part of the PNG file structure holds pointers to 256 colors and then each pixel in the image gets its color from one of those pointers. Thus each pixel only consumes one bytem its 0-255 value pointing to its color on the palette. On the other hand, a 32 bit PNG is 4 bytes per pixel and each pixel can represent a different ARGB color value.

[2016-11-18 20:19] alanspires opened #386 "Preload Blocking"
ImageService.Instance.LoadUrl(i, TimeSpan.FromDays(10)).DownloadOnly();

Must be called from the UI thread or it blocks, this seems counter intuitive to the concept of preloading which ideally should happen in the background.

Thanks!

[2016-11-18 20:34] alanspires opened #387 "Picky Image Loading"
I can consistently get a image to NOT load on startup, even though the image is disk cached and moving the list view to redraw the cell loads it. You can see in the video that the image, using the same URL, is correctly displayed just two cells underneath it as well.

https://www.dropbox.com/s/wx9sghxxj64jsio/PickyImage.mov?dl=0

Really weird, any thoughts?

[2016-11-18 21:29] rusty21 commented on #387
The first place I would start is making sure you are on the latest version. Next look at the application output to see FFImageLoading printed some error or stack trace. If there's nothing there I would probably implement a logger for FFImageLoading. Mine looks like this

	public class MyLogger : IMiniLogger
	{
		public void Debug (string message)
		{
			System.Diagnostics.Debug.WriteLine (message)

[2016-11-18 21:31] alanspires commented on #387
Thanks, I'll check that out. I don't have any errors right now and I've been on the latest pre-release.

[2016-11-19 04:05] EmmanVazz commented on #386
Are you trying to preload the image for future use? If so you should be using this method instead https://github.com/luberda-molinet/FFImageLoading/wiki/API#preload

[2016-11-20 23:32] EmilAlipiev opened #388 "Xamarin.FFImageLoading.svg.Forms latest pre-release doesnt work!"
When i install and build 2.2.6 pre233 version, I get compile error in Droid project as below
[code]

[2016-11-21 14:34] shineon84 opened #389 "LoadingPlaceholder not showing in first cell of ListView (Xamarin.Forms)"
Hi, I have a problem using FFImageLoading with Xamarin.Forms.
I have a ListView, where every cell has an CachedImage. The source of this images is a http url.

In the cell, I've setted a LoadingPlaceholder and a ErrorPlaceholder.

In iOS everything is right.
But in Android, when the ListView is showed, every cell has a LoadinPlaceholder (this is correct, because the images of the cells must be dow

[2016-11-21 15:22] Luke47 opened #390 "Windows Phone 8.1: Poor performance in ListView"
First of all, thank you for this library! :)

Currently, I'm building a search function into our **WP 8.1 app** and want to use FFImageLoading for caching the images of the results. Unfortunately, there is a major problem with the performance while scrolling the list of results.

<h3>Setup & Basic Information:</h3>

**Library** : Latest available version of FFImageLoading.Windows (2.1.0-rc1)

**XA

[2016-11-21 16:23] alanspires commented on #389
I've been seeing something similar in iOS as well.

#387

[2016-11-21 16:46] alanspires commented on #387
@rusty21  looks like your working in native, I'm in Forms and not using custom renderers for these ListViews.

[2016-11-21 23:01] Ralle1986 opened #391 "Loading Image from folder on IOS fails"
Can´t load Image from Folders in Resources anymore. If the image is placed in the root of the Resource folder, there is no problem, but if the image is placed in a folder, i throws a exception. See below. I think i upgrade from 2.1.8, to 2.2.5

i used the Image like this

[code]

[code]

Btw, thanks for a super nice library :)

[2016-11-22 00:10] EmilAlipiev commented on #388
nobody cares about this?

[2016-11-22 06:12] daniel-luberda commented on #388
It was an issue with nuspec file, I'll fix this soon. Meanwhile you can add dlls manually (from unpacked nuget file).

[2016-11-22 12:35] #382 closed

[2016-11-22 12:36] daniel-luberda commented on #382
I've made some more changes to android memory cache.

[2016-11-22 12:39] daniel-luberda commented on #386
Are you sure? I don't think it's the requirement as preloading works as any other image loading task. Does it throw exceptions? How do you know it requires UI thread? Could you make a reproduction?

[2016-11-22 12:41] daniel-luberda commented on #387
@rusty21 @alanspires
In forms, previous image loading is cancelled by default.

@alanspires I can't reproduce it, any chance for reproduction? Thanks

[2016-11-22 12:46] daniel-luberda commented on #390
If it's a low end device the problem might be just "low-on-ram" issue. FFImageLoading caches all the bitmaps on Windows as `weak references`, I guess that on low end devices, OS is just more aggressive on disposing them. Maybe we should implement some LRUCache for Windows too, to cache strong references, but that can lead to `OutOfMemory` exceptions.

[2016-11-22 12:49] daniel-luberda commented on #389
Is it possible I could get some reproduction?

[2016-11-22 13:09] #391 closed

[2016-11-22 14:09] daniel-luberda commented on #391
Could you check the newest prerelease and check if it was fixed? Thanks.

[2016-11-22 14:14] Luke47 commented on #390
Yeah, that's what I thought too. Do you think it's the same issue with the emulator? Unfortunately, I have no  other phone at my disposal to test it. I could try to diagnose how much ram is used on the phone (need to figure out how to do that).

Is there any other possibility to solve this on my side? Maybe prefetching and saving the images myself in an image collection and then assigned them? It

[2016-11-22 14:25] daniel-luberda commented on #390
The best and only good solution is to modify FFImageLoading memory cache implementation to use `LRUCache<string, WriteableBitmap>` instead `Dictionary<string, WeakReference<WriteableBitmap>>`: https://github.com/luberda-molinet/FFImageLoading/blob/master/source/FFImageLoading.Windows/Cache/ImageCache.cs#L19

It's import that `LRUCache` must have max size specified, so old entries are removed, othe

[2016-11-22 14:27] daniel-luberda commented on #390
Yes, it will reuse it, until the bitmap is disposed by OS.

[2016-11-22 14:37] daniel-luberda commented on #388
It should be fixed. Could you try the newest prerelease?

[2016-11-22 14:42] Luke47 commented on #390
I see, thank you so much for your help and your time!

I will look into the `LRUCache` thing. However, I basically just started with programming for WP a few weeks ago (I'm actually an iOS developer). So I guess this topic is still a bit too advanced for me.

So it may be better to wait for your merge instead of creating my own pull request.

[2016-11-22 14:44] daniel-luberda commented on #371
@owlstack Any news?

[2016-11-22 14:46] daniel-luberda commented on #362
@Muriet96 Any news?

[2016-11-22 14:46] daniel-luberda commented on #387
@alanspires Any news?

[2016-11-22 14:48] daniel-luberda commented on #383
@mfranc28 What is your project Target Version?

[2016-11-22 14:48] daniel-luberda commented on #377
@Karuna30 Any news?

[2016-11-22 14:48] daniel-luberda commented on #376
@alanspires Any news?

[2016-11-22 14:50] daniel-luberda commented on #369
I don't see anything wrong here but I still can't reproduce it.

[2016-11-22 14:51] daniel-luberda commented on #363
Any news?

[2016-11-22 14:52] daniel-luberda commented on #390
No problem, I can probably implement it by the weekend.

[2016-11-22 15:54] alanspires commented on #376
No good news, looks like I'm going to have to burn a day creating repos.

[2016-11-22 16:21] daniel-luberda commented on #376
If you can provide more details, I'll also try to help.

[2016-11-22 16:34] alanspires commented on #376
Let me grab some caffeine and I'll work on the Preload UI thread, this and "Picky" image loading. Cheers.

[2016-11-22 16:45] alanspires commented on #386
He is some ugly code in a video that demos this. You can see that On initial run inside of "BeginInvokeOnMainThread" everything goes fine. But once that is commented out everything locks/blocks.

https://www.dropbox.com/s/82obdqwsb1k2hsj/PreloadUI.mov?dl=0

[2016-11-22 16:50] alanspires commented on #386
I've seen this before in lib's that use ConfigureAwait(false) heavily, but I'm not sure what it is.

[2016-11-22 17:16] alanspires commented on #386
@EmmanVazz .Preload() loads into the memory cache as well, I am trying to preload into disk cache and let the lib handle loading into memory cache based off how the user interacts with the app.

[2016-11-22 17:21] mfranc28 commented on #383
Android 6

Best.

Michelangelo Franco
Xamarin Certified Mobile Developer
michelangelo.franco@gmail.com<mailto:michelangelo.franco@gmail.com>

Il 22 nov 2016 3:48 PM, "Daniel Luberda" <notifications@github.com<mailto:notifications@github.com>> ha scritto:

@mfranc28<https://github.com/mfranc28> What is your project Target Version?

—
You are receiving this because you were mentioned.
Reply to this

[2016-11-22 17:27] EmmanVazz commented on #386
Hmm maybe we need another parameter for Preload to tell it to just store is in disk cache? I have an app that has a similar format and I think I would like it to preload just into disk as well, kind of skipped my mind that Preload() may cache to memory.

[2016-11-22 17:32] alanspires commented on #387
Here is a link that shows the run with logging. It appears that the image gets queued but the download never happens until scroll.

https://www.dropbox.com/s/0qn81kil3l42prc/PickyImageLoadingWithDebug.mov?dl=0

(Sorry gonna try with logging info before i attempt to create a repo)

Does this help?

[2016-11-22 17:35] alanspires commented on #386
I believe .DownloadOnly() has the desired effect.

[2016-11-22 18:00] daniel-luberda commented on #386
@EmmanVazz You have `DownloadOnly` for that, which is a shortcut for `Preload` with `CacheType=CacheType.DiskOnly` specified.

@alanspires Could you test the newest alpha? 2.2.6-pre-241

[2016-11-22 18:09] EmmanVazz commented on #386
@daniel-luberda @alanspires Okay thanks.

[2016-11-22 18:11] alanspires commented on #386
2.2.6-pre-241 is working.

[2016-11-22 18:12] daniel-luberda commented on #386
Cool, could you test the other issue with it?

[2016-11-22 18:14] alanspires commented on #386
My apologizes I had a "return;" in the routine. I am still having the same effect in latest pre release

[2016-11-22 18:16] daniel-luberda commented on #386
Could you paste the exceptions stack trace when the error occurs?

[2016-11-22 18:22] alanspires commented on #386
Sure, not an exception per say, thread block, but here is the call stack on the block.

`CoreFoundation.DispatchQueue.dispatch_sync_f() in
CoreFoundation.DispatchQueue.DispatchSync(System.Action action) in /Users/builder/data/lanes/3969/44931ae8/source/xamarin-macios/src/CoreFoundation/Dispatch.cs:393
FFImageLoading.Helpers.MainThreadDispatcher.Post(System.Action action) in
FFImageLoading.Helpers.

[2016-11-22 18:26] alanspires commented on #387
Same on new pre

[2016-11-22 18:59] alanspires commented on #391
this still occurs in latest pre-release. Placeholder file extension ".png" etc is still required to not throw this.

`Image loading failed: https://cdn.rollrandom.com/event/5443f0ae3f985ebde1e511f023488d1d.jpg;210x0 System.IO.FileNotFoundException: placeholder_default_2
  at FFImageLoading.DataResolvers.BundleDataResolver+<Resolve>d__1.MoveNext () [0x00560] in <9afb72f8b56441c48e7c51c53cbf71b4>:0

[2016-11-22 21:15] alanspires commented on #376
It appears that when an image is loaded from Url or Disk -> Memory -> Image the animations work correctly (Generating/retrieving image). If the image is already in the memory cache (Image loaded from cache) then the animation doesn't happen anymore.

So to clarify is this fade animation only suppose to happen on intial load/appearing into the memory cache? Or does "FadeAnimationForCachedImages" al

[2016-11-22 21:19] alanspires commented on #376
Here is a video demo

https://www.dropbox.com/s/25beadqlj1mkkx5/fadeanimation.mov?dl=0

As you can see as I scroll down and the images are fetched from the disk cache the animation plays. As I scroll back up which reloads the images from the RAM cache the animations no longer display.

[2016-11-22 21:31] alanspires commented on #376
@Puffdot I'm seeing the same thing

[2016-11-22 22:40] luccasclezar commented on #374
Hello again,

I noticed that this issue is still with the "more info needed" label, is this just because of short time to look into it or more info is really needed?

[2016-11-23 12:50] markmni opened #392 "List Recycling Mixed Images where some rows have no image"
Hi,

This might be similar to #354, which was about images in a list with recycling being mixed up. Thank you for your fix there, it did solve that problem.

I've noticed one other scenario though, and that is if some items in the list should not have an image set, the images for the items which are intended to be blank can contain the images for other rows, after scrolling.

I've created a repro

[2016-11-23 15:47] owlstack commented on #371
@daniel-luberda It seems to be working. Just need to test once more.

I have a question. One of my testers told me they expect the same image to be cached for X amount of time and when they change the image on the server, it changes to the new image and it's not cached for X amount of time. Is this correct behavior if the image name changes (creating a new url?)? If the image changes with a new im

[2016-11-23 16:18] alanspires commented on #371
Caching is done off the URL so if the image name changes And the url changes the image should re download and cache for the x amount of time

[2016-11-23 16:20] Puffdot commented on #376
I was assuming that "FadeAnimationForCachedImages" was for images cached in local storage/disc. If "FadeAnimationForCachedImages" is only meant for RAM-cached images, then it looks like it's working correctly.

If this is the case, I would like an option to disable the fade animation for images cached in local storage, while keeping fading when loading from a URL.

[2016-11-23 16:27] alanspires commented on #376
@Puffdot My testing has shown that "FadeAnimationForCachedImages" works for new downloads and Disk cache but does not work once the image is loaded into RAM cache.

[2016-11-23 16:34] owlstack commented on #371
@alanspires so the best way for the testers to test the cache duration works is to upload a new image that has the same name as the old image right? Would that work? Thanks!

[2016-11-23 16:45] alanspires commented on #371
@owlstack if a user uploads a new image with the same name I don't believe the library will even re-download it as it will see that it is already in it's disk cache. But if you are testing just the cache expiration then once the original image expires locally it should re-download it and get the new image you used to replace the old one.

[2016-11-23 17:45] owlstack commented on #371
Thanks. That's what I thought. I told my QA team.

[2016-11-23 21:22] alanspires opened #393 "GIF support"
Was playing around with GIF's in Xam.Forms today and came across...

https://github.com/jamesmontemagno/Xamarin.Forms-Awesome-Controls/blob/master/GifImageView/GifImageView/GifImageView.FormsPlugin.iOSUnified/GifImageViewImplementation.cs#L76

This routine seems to work fairly well and doesn't seem like it would be hard to throw in, at least in a alpha/beta stage.

Feels like you could check the i

[2016-11-23 23:18] alanspires commented on #393
Here is a fork that has some VERY HACKY changes to allow for Gif's in iOS.

https://github.com/alanspires/FFImageLoading/tree/gif-proof-of-concept

Video

https://www.dropbox.com/s/xsfis0gv8d1sbiv/gifexample.mov?dl=0

Only file changed was FFImageLoading.Forms.Touch.CachedImageRenderer

Key Areas
https://github.com/alanspires/FFImageLoading/blob/gif-proof-of-concept/source/FFImageLoading.Forms.Tou

[2016-11-24 00:28] alanspires commented on #393
Here is my second go on this. Found that adding it to the "Target" made more sense.

https://github.com/luberda-molinet/FFImageLoading/compare/master...alanspires:ios-gif-try2?expand=1

[2016-11-24 01:39] alanspires commented on #391
I'll get you a PR on this

[2016-11-24 16:06] Karuna30 commented on #377
Ok my mistake. I assumed that if I am not seeing log that says:"Image loaded from cache ...." it is being downloaded.
But when I debugged the sample project I understand this log is only for Memory cache.

May be we can add more logs clearly distinguishing when the image was downloaded vs loaded from disk cache vs memory cache.

Am good now, thanks for your amazing work on the library.

[2016-11-24 16:07] #377 closed

[2016-11-24 17:40] NVentimiglia opened #394 "Bitmap too large to be uploaded into a texture"
11-24 09:37:08.974 W/OpenGLRenderer(24176): Bitmap too large to be uploaded into a texture (4160x2340, max=4096x4096)

Getting this spammed into my output. Does FFImage not support dynamic resizing of content ? Should we be handling this manually ?

[2016-11-24 17:46] mike-rowley commented on #386
A week ago I finally got back to an app I had been working on a couple months back, when I ran it on Android no issues, when I ran it on IOS it stalled at the splash screen and the app never loaded.  It took me a week to back trace the issue to the Preload function being kicked off by a Task.Factory.StartNew
I happened across this post this morning and switched the call to a Device.BeginInvokeOnMa

[2016-11-24 18:44] softsan opened #395 "ffimageloading: Image loading failed"
I am on stable ffimageloading v 2.2.5 with my Xamarin.forms app and i found following error:
`Image loading failed: /var/mobile/Containers/Data/Application/97C5C455-8300-4659-BD3F-9E1B1287B524/Documents/Sample/img_45fd2d11-247c-42c5-80a8-f00c6a2320ac.jpg;
System.IO.FileNotFoundException: /var/mobile/Containers/Data/Application/97C5C455-8300-4659-BD3F-9E1B1287B524/Documents/Sample/img_45fd2d11-247c

[2016-11-25 07:06] escamoteur commented on #395
Is this on iOS? I have the same problem with Images in bundled images
Strange thing is it suddenly appeared

[code]

[2016-11-25 09:06] Ralle1986 commented on #391
I also tried the latest pre-release, and it still occurs

[2016-11-26 13:29] Karuna30 opened #396 "DiskCacheDuration is always Zero for Image Loaded via URL in XAML"
I tried to debug and found that my DiskCacheDuration is never honoured.

DownloadCache
[code]
Task Parameters have Cache Duration value of Zero and not null.
I am not setting it anywhere in my code.

I am still getting used to C#, but I guess the problem is in setting CacheDuration in CachedImage.

[2016-11-26 18:26] softsan commented on #395
Yes @escamoteur it is on iOS.

[2016-11-27 01:24] Emasoft commented on #388
I can't find the Nuget. I searched for "Xamarin.FFImageLoading.Svg.Forms" and "FFImageLoading.Svg.Forms", but there is nothing.
Just the standard FFImageLoading.Forms (that contains no Svg namespaces).

[2016-11-27 02:23] Emasoft commented on #388
Doesn't work on iOS too.

This line of code in my main project:
[code]

Throw this error on the iOS project:

[code]

[2016-11-27 12:29] escamoteur commented on #395
Did it came out of the blue too? Meaning did it work before?

[2016-11-27 23:04] EmmanVazz opened #397 "Blocked UI thread with BlurredTransformation?"
I have a xamarin forms project where I am apply a blurred transformation to the loading placeholder image and then remove the transformation on SuccessCommand.

I am playing with the iOS project and notice that the first time loading up this view takes a while, after the first time it is faster. I tried my own blurred image render and got the same affect when copying the BlurredTransformation code

[2016-11-28 13:47] stefffdev commented on #395
Same here, worked fine before, but without any changes suddenly a FileNotFoundExceptíon is thrown.

[2016-11-28 13:48] escamoteur commented on #395
https://github.com/luberda-molinet/FFImageLoading/pull/398

[2016-11-28 13:57] escamoteur commented on #395
Only problem is that @daniel-luberda seems to me on vacation or so.

Could it be that you too did not add a file extension like .png? If you add it it works

[2016-11-28 14:05] stefffdev commented on #395
The filename contains the extension .jpg, I also try to display jpg files taken from the camera, my exception looks like the one @softsan posted.

[2016-11-28 14:51] escamoteur commented on #395
This might be another problem. Do you use James Montemagnos Plugin.MultiMedia to take the picture?

[2016-11-28 15:05] stefffdev commented on #395
Yes, I'm using the plugin by James Montemagno.
But the problem occures not only with "freshly taken" pictures, also with pictures that have been in the storage for a while, so I don't think this is related to the media plugin.

[2016-11-28 16:45] escamoteur commented on #395
Best thing you could do, clone the whole Repo and Add your code to the SampleProject, then debug into the library

[2016-11-28 18:03] alanspires commented on #386
After downloading the source, updating FFImage and my project to use the latest stable Forms nuget, I can no longer re produce this, hmmmmm. @mike-rowley  what version of Forms are you running?

[2016-11-28 18:11] alanspires commented on #387
Further investigation shows that

https://github.com/luberda-molinet/FFImageLoading/blob/0b6c156a3e6cd967185924094f7173e8af0d3575/source/FFImageLoading.Common/Work/WorkScheduler.cs#L274

never returns on certain images which causes the image not to load. I'm going to keep debugging.

[2016-11-28 18:26] coletronzero opened #399 "Images with Aspect.Fill on Android are no longer filling after app resume."
Hi first I'd like to say thank you for the time you've put into this package.  The problem I'm having arises after an app resume on android.  I'm using images as a background to some containers on my UI.  It seems as though after a resume some of the backgrounds have taken the shape of other backgrounds using the same image.  Is there a way I could have multiple CachedImages using the same image s

[2016-11-28 20:02] alanspires commented on #387
Here is a repo

https://github.com/alanspires/FFImageBugs

I also noticed that this only occurs when "HasUnevenRows=true". Launch the project and you will see that there is a image that doesn't load. Get rid of HasUnevenRows and set a RowHeight and the problem stops.

[2016-11-28 20:32] alanspires commented on #391
#398

[2016-11-28 21:56] alanspires commented on #393
Whenever you get a chance I'd like to discuss future possibilities of this. Seems that it would be non-invasive but I'm not familiar enough with the library to complete it.

[2016-11-28 22:46] alanspires commented on #386
Def not a version issue. Found it while debugging. #400

[2016-11-28 22:51] alanspires commented on #386
@mike-rowley PR tested with your repo.

[2016-11-28 22:58] alanspires commented on #397
@EmmanVazz so everything is working you are just trying to increase the performance of this?

[2016-11-28 23:05] EmmanVazz commented on #397
Correct as it seems to lag a bit for me.

[2016-11-28 23:29] alanspires commented on #397
Why don't you download the project and test it with the other code. If it's better submit a PR.

[2016-11-28 23:49] EmmanVazz commented on #397
I tried reproducing my issue with the sample FF project really quick but no luck. When I have more time I can try changing to code to see if I can get better performance. Just wanted to see if anyone had similar issues or recommendations first.

[2016-11-29 10:22] MrClockOff commented on #396
Hi there,

I can confirm the same behaviour on Windows 8.1. When I navigate to cache folder \TempState\FFSimpleDiskCache all files have *.0 extension which means files are cached for 0 days. Setting CacheDuration in XAML individually for each item does the trick.

[2016-11-29 15:27] Emasoft commented on #388
@daniel-luberda Any update on this?

[2016-11-29 17:59] PereAlmendro opened #401 "load image from Url in android.axml with mvvmcross v4.4.0 and xamarin Forms"

[2016-11-29 18:10] w0301 commented on #395
I have same problem on iOS with version 2.2.5... except I am not loading image from bundle but from other file. This is loading code:
`cachedImage.Source = FileImageSource.FromFile(path);`

everything works fine on android and also if i use Xamarin.Forms.Image instead of CachedImage.

[2016-11-29 20:37] escamoteur commented on #395
Did you provide file extensions?

[2016-11-29 22:40] CliffCawley commented on #387
Just adding that I've experienced the same issue as @alanspires. Thanks for the tip on how to overcome, I just can't use it for most of my lists since the content is dynamically sized vertically. I've been using 2.2.5

[2016-11-29 22:42] alanspires commented on #387
@CliffCawley all of mine are dynamic as well, I'm confident that when @daniel-luberda gets back in the mix he can sort this one out.

[2016-11-29 22:50] bmacombe opened #402 "Xamarin Form CachedImage doesn't appear to honor the global cache duration"
I set it in the Init config to be 90 days and it was always zero.  Set CachedImage CacheDuration in XAML and the correct duration was set on the temp file (looked at the temp path in a UWP app)

This doesn't seem like the intended behavior?

[2016-11-30 00:03] CliffCawley opened #403 "iOS: Loading local images from Disk doesn't work"
I've found an issue with loading images from Disk on iOS only. The same code works fine on Android.

[Sample here](https://github.com/luberda-molinet/FFImageLoading/files/620598/TestFFImageLoading.zip) which reproduces this for you to see. If it's working you should see the same image duplicated across the screen 4 times.

Instead you'll see the top left image not loading and the following error l

[2016-11-30 00:08] CliffCawley commented on #395
I was just browsing the issues and realised that I also reported on this along with a sample project to reproduce here: https://github.com/luberda-molinet/FFImageLoading/issues/403

[2016-11-30 08:49] robjens commented on #176
Make that `FFImageLoading.Views.ImageViewAsync` here, capitalization matters to visual studio intellisense at least, before with all lower caps it would point at the parent LinearLayout not knowing this type child.

[2016-11-30 11:01] w0301 commented on #395
@CliffCawley seems to have same issue. This is my stacktrace (I can also provide sampleproject, but @CliffCawley already sent one for the same issue):
[code]

[2016-11-30 11:02] escamoteur commented on #395
@CliffCawley @w0301 sure that your files are not bundled resources?

[2016-11-30 11:09] CliffCawley commented on #395
I have it as a bundled resource only for ease of use in the sample. I copy it out to the file system and then load that.

[2016-11-30 11:10] w0301 commented on #395
@escamoteur yes I am sure. This is code that downloads and then loads file:
[code]

Here is sample project which should show 2 images - one in CachedImage view and one in Image view. The one in Image view is shown, but the in CacheImage is not:
[FFImageIssue.zip](https://github.com/luberda-molinet/FFImageLoading/files/621610/FFImageIssue.zip)

[2016-11-30 11:10] escamoteur commented on #395
Then it looks that the wrong DataResolber is used

[2016-11-30 11:10] CliffCawley commented on #395
My callstack is slightly different too

[2016-11-30 11:11] escamoteur commented on #395
yeah but both have this here

at FFImageLoading.DataResolvers.BundleDataResolver+<Resolve>d__1.MoveNext ()

[2016-11-30 11:14] escamoteur commented on #395
did anybody of you clone the project and try to debug?

[2016-11-30 11:15] w0301 commented on #395
No I haven't. Can you point us to the code which is picking up data resolver?

[2016-11-30 11:16] escamoteur commented on #395
unfortunately no, I'm not deep enough in the code. Perhaps I find later a bit of time, but if yu put a breakpoint in the Resolvemethod that fails you could easily check the stacktrace

[2016-11-30 11:31] w0301 commented on #395
I will try to debug it sometime tomorrow. I just scan the code and it seems that wrong ImageSource is set somewhere during loading, so DataResolverFactory is returning wronh DataResolver : https://github.com/luberda-molinet/FFImageLoading/blob/master/source/FFImageLoading.Touch/DataResolvers/DataResolverFactory.cs

[2016-11-30 11:36] PereAlmendro opened #404 "Load Image from url to cache"
I'm trying to save an image from url into cache but this local path is not being created in mobile
/data/users/0/my.pack.age/cache/FFSimpleDiskCache/A3CBFAC7AE59767C88B81F90AD9F9D47.432000

ImageService
.Instance
.LoadUrl(Url, new TimeSpan(5, 0, 0, 0))
.Success((arg1, arg2) => {
	localpath= arg1.FilePath;
}).DownloadOnly();

what i'm doing wrong ? thanks

[2016-11-30 11:37] #401 closed

[2016-11-30 15:00] alanspires commented on #404
When a file is saved to disk from library it is put into a Queue. Thus when the download finishes the file might still be pending in the queue and not written to disk yet. I've asked @daniel-luberda for help on this same issue regarding a GIF PR I'm working on.

Here is a hack that might help you, stick this in your .Success
`await Task.Delay(1000);
var key = ImageService.Instance.Config.MD5Helper

[2016-11-30 17:57] alanspires commented on #403
This is already fixed in the latest pre-release

[2016-11-30 18:26] alanspires commented on #395
@w0301 I believe the latest pre-release already fixes this. It seems that the BundleResolver was being used instead of the FileDataResolver. #403. I loaded up the test project in #403, updated to latest pre-release nugets and the correct resolver is being used. PR #398 will fix a separate issue regarding file extensions and the BundleResolver but the latest pre should do the trick for your use cas

[2016-11-30 18:28] escamoteur commented on #395
thanks for clarify this

[2016-12-01 00:11] Muriet96 commented on #362
Same result :(
I noticed that does not load when I use "Xam.MediaPlugin"

[2016-12-01 00:14] alanspires commented on #362
Try the latest pre-release. Think this was fixed. #403,#395

[2016-12-01 04:41] leaguefun opened #405 "Different behaviour for CachedImage's AspectFill or AspectFit between iOS and Android"
CachedImage's AspectFill or AspectFit can even update the height of the parent view on iOS, but those cannot on Android platform. If I adjust the heightrequest value of parent view after the image been loaded successfully, it causing crashes sometimes.

[2016-12-01 04:47] alanspires commented on #405
Code example??

[2016-12-01 04:53] leaguefun commented on #405
Below code fragment is using to specify the height of the CachedImage control :
`						vetProfileImage.Success += (object sender, CachedImageEvents.SuccessEventArgs e) =>
						{
							double dd = vetProfileImage.Bounds.Width;
							if (dd.Equals(-1))
								dd = wC;

							double ww, wa, hh, ha;
							double factor = w / dd;//cc.Bounds.Width;
							xx = wa = ww = Convert.ToDouble(e.ImageInf

[2016-12-01 04:54] leaguefun commented on #405
`						vetProfileImage.Success += (object sender, CachedImageEvents.SuccessEventArgs e) =>
						{
							double dd = vetProfileImage.Bounds.Width;
							if (dd.Equals(-1))
								dd = wC;

							double ww, wa, hh, ha;
							double factor = w / dd;//cc.Bounds.Width;
							xx = wa = ww = Convert.ToDouble(e.ImageInformation.OriginalWidth);
							yy = ha = hh = Convert.ToDouble(e.ImageInformati

[2016-12-01 04:55] alanspires commented on #387
Oops mis read that, from debugging the issue seems to be related to the use case of the same image being requested multiple times and the deduplication code. Confident Daniel will sort this out quickly when he gets back.

[2016-12-01 04:56] leaguefun commented on #405
Repost the code fragment :

						vetProfileImage.Success += (object sender, CachedImageEvents.SuccessEventArgs e) =>
						{
							double dd = vetProfileImage.Bounds.Width;
							if (dd.Equals(-1))
								dd = wC;
							double ww, wa, hh, ha;
							double factor = w / dd;//cc.Bounds.Width;
							xx = wa = ww = Convert.ToDouble(e.ImageInformation.OriginalWidth);
							yy = ha = hh = Convert

[2016-12-01 05:12] alanspires commented on #405
Just a quick guess. The success callback is not guaranteed to happen on the UI thread. You might want to wrap 'HeightRequest ='  in Device.BeginInvokeOnMainThread

[2016-12-01 05:37] leaguefun commented on #405
I see, I try to fix with your way and test again, thx 👍

[2016-12-01 07:58] leaguefun commented on #405
I think it should be fixed by wrapping the "HeightRequest" within Device.BeginInvokeOnMainThread, thanks a lot, alanspires !! 👍 💯

[2016-12-01 11:12] MrClockOff commented on #402
Seems like duplicate for https://github.com/luberda-molinet/FFImageLoading/issues/396

[2016-12-01 13:57] bmacombe commented on #402
Your right, sorry I missed that!

[2016-12-01 13:57] #402 closed

[2016-12-01 13:57] bmacombe commented on #402
Closed since it was a dup

[2016-12-01 13:59] bmacombe commented on #396
I noticed the same problem in a UWP Xamarin Forms app.  Ignored the global setting, but worked when the property was set on the control.  I subclassed CachedImage as a work around.

[2016-12-01 15:00] PereAlmendro commented on #404
@alanspires first of all,  thank you for your reply. your solution is not doing the trick for me, returns empty string and with the code as i post it returns a string /Data/users/0/package/cachew/etc.... but  ...../0/(from here) the path is not existing in the phone.... Maybe you know why ?, well i'm doing a bit of research to understand a bit more what you tried so I can adapt it to my case  than

[2016-12-01 17:03] alanspires commented on #404
Can you post your updated code example as well as the URL?

[2016-12-01 17:11] w0301 commented on #395
OK. That is great. Thanks for info.

[2016-12-01 17:54] owlstack commented on #371
@daniel-luberda

Can you elaborate or provide an example on how I can do this?:

Currently, I'm having these two issues:

Placeholder displayed for a second but while scrolling the page, image disappear.

Placeholder takes long time to display in offline mode. The placeholder should display immediately if image is not cached (I'm guessing what you mentioned above can fix this?)

Currently, since f

[2016-12-02 03:30] Ingenator opened #406 "Cache download problem"
Hey guys!

I'm having a problem when a listview with CachedImage when scrolling. Debugger shows something like

[code]
This particular line tries to fetch the image from my server but it attaches some data:
`http://myserver/img/p/2067/T_931_0.jpgCircleTransformation,borderSize=0,borderHexColor=`

It's obvious that there's an error with the URL but why are those properties added to the URL?
Any ide

[2016-12-02 08:06] PereAlmendro commented on #404
axml
[code]

View Model

[code]

Note that i'm new at xamarin.

[2016-12-02 11:34] d-rakviashvili opened #407 "System.NullReferenceExceptionObject exception periodicaly crashes Android app"
Hi,

While testing our Android App, we sometimes experience "System.NullReferenceExceptionObject reference not set to an instance of an object" exception, that crashes application.

Here is detailed output from Xamarin App Insights.
We use compiled NuGetPackage ver. 2.2.5

It's likely some additional null validations are necessary in:
FFImageLoading.Cache.ReuseBitmapDrawableCache.DemoteDisplayedEn

[2016-12-02 17:31] d-rakviashvili opened #408 "Unhandled exception: Java.Util.ConcurrentModificationException: Exception of type 'Java.Util.ConcurrentModificationException' during InvalidateCacheAsync (v2.2.6 - pre241)"
When calling InvalidateCacheAsync method, following unhandled exception is thrown:

Checked with latest prerelease (v2.2.6 - pre241), NuGet package
Note: Strange behavior: After few failed attempts, fifth-s or sixths method call attempt may be successful :)

Unhandled exception: Java.Util.ConcurrentModificationException: Exception of type 'Java.Util.ConcurrentModificationException' was thrown.
  a

[2016-12-02 18:37] jj09 opened #409 "Loading svg from stream does not work"
Is loading svgs from stream already supported?

I was trying to load SVG from string, but it does not work:

`var myImg = @"<svg
   xmlns:svg=""http://www.w3.org/2000/svg""
   xmlns=""http://www.w3.org/2000/svg""
   version=""1.0""
   width=""28""
   height=""28""
   id=""checkbox"">
  <defs
     id=""defs7"" />
  <path
     d=""M 11.94,20.25 8.7,13.64 C 7.5836008,11.362408 8.7449524,11.954942 9.2

[2016-12-02 20:39] patookllc commented on #393
@alanspires did you try this one recently? I remember we added GIFs to our app about a year ago and this particular library was a bit choppy. It was faster to have just a webview displaying the GIF.

[2016-12-02 20:51] alanspires commented on #393
@patookllc  I tested basic GIF's from gihpy.com on a iPhone 6 using my above mentioned code and everything looked good. Ideally what I need to do is convert https://github.com/Flipboard/FLAnimatedImage (used by FlipBoard App) to C#. On my to do list. But if we could at least get basic support (https://github.com/luberda-molinet/FFImageLoading/compare/master...alanspires:ios-gif-try3?expand=1) adde

[2016-12-02 20:52] alanspires commented on #393
Here is a good technical write up. http://engineering.flipboard.com/2014/05/animated-gif/

[2016-12-05 11:08] ShahriatHossain opened #410 "How to use FFImageLoading?"
Do I need to install it from Nuget package or how can I do it?

[2016-12-05 12:46] Cheesebaron commented on #409
I think you need to wrap this in a SvgImageSource. Not sure how exactly this would look.

[2016-12-05 13:00] molinch commented on #410
Hi,

Yes it should be installed from Nuget into the relevant projects.
Please read the related Wiki sections:
https://github.com/luberda-molinet/FFImageLoading/wiki

If you use Xamarin Forms then you should initialize the library:
https://github.com/luberda-molinet/FFImageLoading/wiki/Xamarin.Forms-API#important

[2016-12-05 13:00] #410 closed

[2016-12-05 13:03] molinch commented on #394
You can either specify the downsample width/height, or when using Xamarin Forms, set `DownsampleToViewSize` to true.

[2016-12-05 13:03] #394 closed

[2016-12-05 13:16] ShahriatHossain commented on #410
DownsampleToViewSize what this feature do if I make it true?

[2016-12-05 13:23] molinch commented on #410
@ShahriatHossain It is written in the wiki: https://github.com/luberda-molinet/FFImageLoading/wiki/Xamarin.Forms-API#downsampling-properties

It will automatically downsample the image according to it's visible width, hence reducing memory consumption.

[2016-12-05 13:24] ShahriatHossain commented on #410
I am trying to use image url from remote like https://imageurl.com (from amazon s3 file storage) but getting exception: System.Net.Http.HttpRequestException: BadRequest and more. Below is my custom cell with Cashed Image implemented code:

public class ChannelCustomCell : ViewCell
    {
        readonly CachedImage cachedImage = null;
        public ChannelCustomCell()
        {
            cached

[2016-12-06 05:02] ShahriatHossain commented on #410
Do you have any answer for this sir?

[2016-12-06 08:46] d-rakviashvili commented on #407
**Update: Latest prerelease( v2.2.6 - pre 241 ) is not affected by this issue ! **

[2016-12-06 08:46] #407 closed

[2016-12-07 23:20] scottkdavis opened #411 "Hard crash on Android when Layout.Children.Clear() includes CachedImage"
It took nearly 8 hours, but we finally tracked down an issues that crashed our app with no global exception handling and no Xamarin Insights reports.  We have an Absolute layout that includes many nested layouts and CachedImages.  On a Moto E phone, when we called _myLayout.Children.Clear(); approximately 1 to 2 seconds later, the app would hard crash.  It appears that something is happening in ga

[2016-12-09 02:10] jj09 commented on #409
Adding WithCustomDataResolver solved issue.

Full code:

var svgString = @"<svg...";

[code]

[2016-12-09 02:10] #409 closed

[2016-12-09 16:53] moonClimber opened #412 "Best approach to show a progress bar while downloading"
Hello and thanks for your work.
I'd like to add a progress bar (even indeterminate) close the ImageView to indicate to user when the image is downloading from internet and not loaded from local cache.

In your opinion, what is the best approach to implement this behavior?
I guess that an OnStart action beside the OnFinish could be helpful.

Thanks

[2016-12-09 21:05] EmmanVazz commented on #412
I am showing the progress of image downloads while using this project.

Basically what we did is copied ModernHtttpClient  HttpClientHandler (https://github.com/paulcbetts/ModernHttpClient/blob/master/src/ModernHttpClient/iOS/NSUrlSessionHandler.cs) and modified registeredProgressCallbacks to be <String, ProgressDelegate> so we can just register for progress update with the request url. Then we pa

[2016-12-10 09:16] sebastianolafhandjojo commented on #133
I still have this problem, I try to modify an existing Custom Renderers , from Xlabs Image button,
and try to replace it with this, the PNG image became black. It happened in IOS only
I use FFImageLoading version 2.2.5

[2016-12-10 14:26] 0rupp opened #413 "App crash on Android in Release. Works in Debug though"
I tried the latest nuget 2.2.6-pre-241. Initialized the lib in MainActivity with `CachedImageRenderer.Init();`. Works fine in Debug, but crashes in Release mode. logcat provides the following error (sorry no copy&paste in VS log viewer...)

![error](https://cloud.githubusercontent.com/assets/7384861/21073946/ff860496-beec-11e6-9989-03799eef4f48.PNG)

[2016-12-11 08:31] moonClimber commented on #412
Thanks

[2016-12-11 20:07] EmmanVazz commented on #412
Np, let me know if you have any questions.

[2016-12-12 10:04] sujithrajan opened #414 "FFImageLoading used along with FlowListview slows down scrolling on iOS device"
Please find the code below.

<controls:FlowListView SeparatorVisibility="None" HasUnevenRows="true" FlowColumnMinWidth="110" x:Name="FlowListViewDemo" FlowColumnExpand="Proportional" RowHeight="-1" FlowItemAppearing="OnItemAppearingList" FlowItemDisappearing="FlowListViewDemo_OnFlowItemDisappearing">
      <controls:FlowScrollCell></controls:FlowScrollCell>
      <controls:FlowListView.FlowColumnT

[2016-12-12 10:45] flchaux commented on #394
I encounter the same issue and DownsampleToViewSize doesn't seem to work to prevent the error.

[2016-12-13 03:52] franzdevel opened #415 "Configuration.MaxMemoryCacheSize not working correctly"
The Configuration.MaxMemoryCacheSize parameter does not limit the ImageCache size as expected.

In the ImageCache constructor, the following line of code

`_cache.TotalCostLimit = (nuint)Math.Max((NSProcessInfo.ProcessInfo.PhysicalMemory * 0.05d), maxCacheSize);`

should be changed to

`_cache.TotalCostLimit = (nuint)Math.Min((NSProcessInfo.ProcessInfo.PhysicalMemory * 0.05d), maxCacheSize);`

[2016-12-13 11:46] elertan commented on #414
It is due to the HasUnevenRows that causes the slowing down if you have a lot of items in your listview. I dont know why that is...

[2016-12-13 12:16] sujithrajan commented on #414
thanx elertan .. 'Now the scrolling has improved but there is little vibration on images as u scroll the list

[2016-12-13 15:29] elertan opened #416 "Android.OS.NetworkOnMainThreadException thrown"
The problem is that while scrolling a listview (FlowListView in my case) the images I download from the internet and cache using a CachedImage in my xaml page throws a NetworkOnMainThreadException as InnerException of an AggregateException. Ive done some research about whats happening and it seems that its exactly what the exception name says it is. So that means that FFImageLoading is doing some

[2016-12-13 15:40] flchaux commented on #406
I have the same issue with a long URL (more than 90 characters) but without any parameters. My URL looks like : https://static.myserver.com/clients/215_da529f7a00a67363fd60e4589ddaa094/documents/1258.jpg

[2016-12-13 16:46] softlion commented on #416
+1, it is only when using AndroidClientHandler instead of HttpClientHandler.

It can be easily reproduced by running the "heavy list" sample with the latest stable xamarin version.

The problem seems to lie in CachedImageRenderer.cs in the Cancel() method. The cancellation must not be called on the main thread otherwise android crashes with NetworkOnMainThreadException when it closes the socket.

[2016-12-13 21:48] elertan commented on #416
@softlion Okay, that makes sense. Thanks for responding so quickly. Since the developer of FFImageLoading seems inactive for a while I doubt this will be implemented soon. Do you have any good solution for now? Such as using a custom android CachedImageRenderer that has the right code. Thanks alot, it's really appreciated!

[2016-12-13 22:29] softlion commented on #416
No solution, just stumbled upon the problem today too, while working on TLS 1.2 support. I forked and fixed the repo, but my customer does not have time for this so i don't have too. Btw ffmimageloading has some other bad bugs it seems (i'm quite new at using it). Caching seems to malfunction for example. I have my own private ffimageloading like control but not for xamarin forms currently. So i h

[2016-12-14 11:54] escamoteur opened #417 "Aspect="Fill" doesn't work were default Image does"
I have this page here

[code]

This looks like

![ffimageissue](https://cloud.githubusercontent.com/assets/16635729/21180995/f4d02a88-c1fb-11e6-8b09-3f4dea92bf82.PNG)

Although it should fill the whole upper grid. If I use normal image it fills as it should

[2016-12-14 16:11] #416 closed

[2016-12-14 16:12] daniel-luberda commented on #416
@elertan @softlion It's fixed now.

@softlion

Can you give more details about it, so we could fix that?

[2016-12-14 16:16] daniel-luberda commented on #415
@franzdevel Good catch! Thanks. It's fixed now.

[2016-12-14 16:16] #415 closed

[2016-12-14 16:19] daniel-luberda commented on #413
Hi @0rupp,

It looks like Xamarin Multi-Dex feature related issue, not FFImageLoading. You can try to delete bin & obj folders, maybe it would help.

[2016-12-14 16:21] #413 closed

[2016-12-14 16:25] #408 closed

[2016-12-14 16:25] daniel-luberda commented on #408
@d-rakviashvili Thanks! It's fixed now.

[2016-12-14 16:39] daniel-luberda commented on #403
Yes, it should be fixed. Please reopen if it didn't work for you. Thanks! :)

[2016-12-14 16:39] #403 closed

[2016-12-14 16:41] daniel-luberda commented on #399
Yes, you can do this. Just use a custom key factory, and assign a different key for each image.

Here's an example:

- https://github.com/luberda-molinet/FFImageLoading/blob/master/samples/ImageLoading.Forms.Sample/Shared/Pages/CustomCacheKeyPage.cs#L51-L81
- https://github.com/luberda-molinet/FFImageLoading/blob/master/samples/ImageLoading.Forms.Sample/Shared/Pages/CustomCacheKeyPage.cs#L99

[2016-12-14 16:41] #399 closed

[2016-12-14 17:10] daniel-luberda commented on #397
@EmmanVazz Blur transformations are generally quite resources heavy operations. Current implementation doesn't use UI thread at all, see: https://github.com/luberda-molinet/FFImageLoading/blob/master/source/FFImageLoading.Transformations.Touch/BlurredTransformation.cs#L33-L42

Maybe thing could be improved by tuning `PriorityRequestLow` property, eg.

`using (var context = CIContext.FromOptions(ne

[2016-12-14 17:22] #386 closed

[2016-12-14 17:40] #396 closed

[2016-12-14 17:40] daniel-luberda commented on #396
Nice catch! It's fixed now. Thanks!

[2016-12-14 17:42] daniel-luberda commented on #395
It should be fixed (prerelease). If you experience this, please reopen. Thanks! :)

[2016-12-14 17:42] #395 closed

[2016-12-14 17:45] daniel-luberda commented on #393
It's a really nice-to-have feature, but first, I need to review some other things 👍 If you have any more resources (Android, Windows), feel free to add it here.

[2016-12-14 17:53] daniel-luberda commented on #392
You should cancel previous image loading when using recycler views:

[code]

[2016-12-14 17:54] daniel-luberda commented on #392
Please

[2016-12-14 17:54] #392 closed

[2016-12-14 18:09] daniel-luberda commented on #406
I checked the source and can't see any potential code that could append parts of keys to **image loading path**. Are you sure that you're not using string which is created from previous image load key? Please notice, **image loading key != image loading path**, as it contains additional informations (as transformations, downsampling, etc)

[2016-12-14 18:24] daniel-luberda commented on #404
@alanspires  The solution could be adding a new callback, eg. `OnFileWriteEnded`. What do you think?

[2016-12-14 18:24] daniel-luberda commented on #407
👍

[2016-12-14 18:25] daniel-luberda commented on #409
Thanks! :)

[2016-12-14 18:28] daniel-luberda commented on #410
@ShahriatHossain  `System.Net.Http.HttpRequestException: BadRequest` on S3 usually means that you didn't configured S3 folder privileges for this url. It's not an FFImageLoading issue.

[2016-12-14 18:30] alanspires commented on #404
That would be very useful, been a while since I've been in the code but I would think that would be fine.

[2016-12-14 18:36] alanspires commented on #387
@daniel-luberda Any thoughts on this and the repo?

[2016-12-14 18:37] daniel-luberda commented on #412
I think we could implement some callback for that eg. `OnDownloadProgress`.

We need to replace
- this: https://github.com/luberda-molinet/FFImageLoading/blob/master/source/FFImageLoading.Common/Cache/DownloadCache.cs#L97-L101
- with something like this: http://stackoverflow.com/a/27422691/5064986

[2016-12-14 19:38] daniel-luberda commented on #386
You can download newest prerelease which has the PR included (thanks @alanspires)

[2016-12-14 19:43] daniel-luberda commented on #414
FlowListView relies on Xamarin.Forms layout system, it has some performance issues sometimes, can't bypass that. You can also try setting `flowListView.FlowUseAbsoluteLayoutInternally = true;` which can be faster.

[2016-12-14 19:45] daniel-luberda commented on #362
@Muriet96 Did you try the newest prerelease?

[2016-12-14 19:47] daniel-luberda commented on #377
Sure @Karuna30, do you have any suggestions for better logging? Event names etc?

[2016-12-14 19:48] daniel-luberda commented on #374
I wasn't available, so I hadn't looked into this issue yet, sorry for that. Does it still happen on newest prerelease?

[2016-12-14 20:12] daniel-luberda commented on #371
There was a bug with default cache duration: https://github.com/luberda-molinet/FFImageLoading/issues/396

Are you talking about loading or error placeholder? If it's error placeholder, you can control time after it's shown with custom configuration `HttpHeadersTimeout` / `HttpReadTimeout` properties.

[2016-12-14 22:53] EmmanVazz commented on #412
That would be a great addition imo.

[2016-12-14 22:55] EmmanVazz commented on #397
I will try it when I have some time.

[2016-12-14 23:05] owlstack commented on #371
I am talking about the error placeholder.

How should I use those properties to show it if I'm also trying to do a retry?

In the end, I solved the issue by using a loading placeholder.

The bug with the default cache duration... when was it fixed? Which version of the image library is the fix included in? Thanks!

[2016-12-15 08:27] vlkam opened #418 "Xamarin Forms XAML Preview support"
When I try to open XAML in Form Previewer "Initializing renderer" runs infinitely long

[2016-12-15 10:59] daniel-luberda commented on #371
It's simple. `TimeAfterErrorPlaceholderIsShown = numberOfRetries * Timeout`

Newest prerelease.

[2016-12-15 11:08] daniel-luberda commented on #418
XAML Previewer is a Prerelease. I don't have any informations about supporting custom renderers in it (which `CachedImage` is).  If someone has any info about that, please let me know. Meanwhile, you can use `Image` and then after prototyping replace it with `CachedImage` which has the same basic properties.

[2016-12-15 11:13] daniel-luberda commented on #362
Please reopen if you still experience this.

[2016-12-15 11:13] #362 closed

[2016-12-15 11:14] #371 closed

[2016-12-15 11:14] daniel-luberda commented on #371
Please reopen if you still experience this.

[2016-12-15 12:59] aspyct commented on #283
Ha, I've been looking for this for the past 30 minutes. Is it documented somewhere else than in this issue?

[2016-12-15 13:03] daniel-luberda commented on #283
What do you want to achieve?

`ImageService.Instance.LoadUrl("http://sdadasada").LoadingPlaceholder("file.png", Work.ImageSource.Filepath);` etc

[2016-12-15 13:06] aspyct commented on #283
Specifically,

[code]

I couldn't find much documentation about how to use Resource placeholders on Android.

[2016-12-15 13:27] vlkam commented on #418
Thanks a lot for answer and the excellent library!

Yes, alfa version Previewer supports custom renderers.
But when I try to use FFImageCache in XAML, for example <ffimageloading:CachedImage/>  I catch an exception in Previewer
_Invalid XAML The type initializer for FFImageLoading.Forms.CachedImage threw an exception._
Unfortunately, logs do not show  any problem. I'm trying to find problem in con

[2016-12-15 13:39] daniel-luberda commented on #283
On Android:

- CompiledResource = Drawables (eg. Resources->Drawable folder)
- ApplicationBundle = Assets

What's not working for you?

[2016-12-15 13:49] daniel-luberda commented on #418
@vlkam Thanks.

Did you try to check /Users/username/Library/Logs folder? Maybe those logs would give some more informations.

[2016-12-15 14:12] aspyct commented on #283
Oh, it is working. It's just that I couldn't find that in the documentation.

[2016-12-15 14:19] daniel-luberda commented on #283
I understand :) Wiki can be edited by anyone, so feel free to add it if you want. I didn't have time yet to update all the docs.

[2016-12-15 14:52] aspyct commented on #283
Ha alright then, I'll try and find some time to do that properly. Cheers!

[2016-12-15 15:12] vlkam commented on #418
It's FFImageLoading's folder ? I cannot found it.

I created an empty solution, ran it and made a snapshot of logs from
C:\Users\username\AppData\Local\Xamarin\Logs\14.0
then I added ffimageloading:CachedImage into XAML, caught error and again made the snapshot, compared these snapshots and I found no significant differences

The Previewer uses only PCL part of solution and custom renders from pla

[2016-12-15 15:18] vlkam commented on #418
Ohh.... I'm so sorry, I don tell you, I work in Visual Studio (windows)

[2016-12-15 20:43] johnjore opened #419 "Image Reload issue"
Duplicate of #282?  Problems reloading images.

This is the relevant snippet:
[code]

Every  5 seconds I get this, showing the refresh routine is running:

but cell in Grid is not updating with new image. The URL behind this is `https://source.unsplash.com/category/technology/1600x900`
That URL spits out a new image each time, and I do get a new image each time app is restarted.

I use the same co

[2016-12-16 00:02] EmmanVazz commented on #397
I will close this issues just to clear the issue queue. I will re open if I find anything that helps. Thanks for the help.

[2016-12-16 00:02] #397 closed

[2016-12-16 00:51] luccasclezar commented on #374
No problem, but yes, it still happens. I checked the version today and it was up to date.

[2016-12-16 04:37] DOWONLEE commented on #411
If you use downsample or Transformations, stop it and test again

[2016-12-16 07:07] vlkam commented on #418
I have checked, double checked and triple checked the CachedImage class code, removed all suspicious fragments, tried to create a very simple instance of it but got an exception every time.
I have no idea what it could be.

[2016-12-16 07:17] lengluo opened #420 "IOS compile fail"
I'm sure I have get this lib from nuget for IOS project, But it happens blow when i compiles the project:
<img width="405" alt="xxxx" src="https://cloud.githubusercontent.com/assets/7494920/21254783/b79edd5a-c3a2-11e6-87c1-64c61602d0d8.png">

[2016-12-16 08:54] moogiis opened #421 "Aspect = "AspectFit" Not working??"
![sssssdsdsdds](https://cloud.githubusercontent.com/assets/21235622/21256953/466738cc-c3b0-11e6-846e-052802205d75.png)

[2016-12-16 12:17] daniel-luberda commented on #387
Hi @alanspires, @CliffCawley,

I tested reproduction (many thanks for that @alanspires). Conclusions are:

- It's probably not an FFImageLoading bug, rather Xamarin.Forms layout system issue
- Image loading is done in every case (correct `UIImage` is assigned to `UIImageView` control every time), but with `HasUnevenRows=true` it's not reflected on a cell layout (but the `UIImage` is correctly assi

[2016-12-16 12:32] daniel-luberda commented on #411
Hi @scottkdavis

After some digging, I am almost sure that it's an Xamarin.Android issue. It's quite hard to debug / reproduce it for me. I'll need some help with that.

[2016-12-16 12:33] #383 closed

[2016-12-16 12:41] daniel-luberda commented on #418
Hi @vlkam

If it's Windows, you could use VS help menu, Xamarin > Logs. Open the last .svclog file. There should be some log entry about your issue.

[2016-12-16 12:47] daniel-luberda commented on #420
Hi @lengluo,

- What architectures are selected in your project build configuration?
- Do you use any special iOS project build arguments?
- Did you try to remove all `bin` & `obj` folders?

[2016-12-16 13:16] luccasclezar commented on #374
Now I noticed that this issue is happening only when the picture is in a ListView.

[2016-12-16 14:34] PaulARoy opened #422 "IsCompleted cannot be found at runtime [Android]"
Hi!

I am using FFImageLoading on Android and I am trying to use the property IsCompleted on a IScheduledWork.

Problem is it can not be found at runtime. When looking at old code, I can see a « Completed » that seems to have been renamed to « IsCompleted » (or the other way around?). Is it possible that the interface and the implementation do not share the same code ?

[code]

Repro:
Install late

[2016-12-16 15:20] daniel-luberda commented on #422
I don't think so. Maybe you have mixed dll's (before changes and after changes) somewhere? Did you update all nuget packages?

BTW: You also can Use `Success` (`LoadingResult` param) or `Finish` (`IScheduledWork` param) events for that.

[2016-12-16 15:43] daniel-luberda commented on #388
Hi @Emasoft. Are you sure that returned stream is not null? You can also try new `SvgImageSource.FromResource` method.

Hi @EmilAlipiev. Any news?

[2016-12-16 15:45] #202 closed

[2016-12-16 15:49] daniel-luberda commented on #369
Please reopen if you have more info or working reproduction. Thanks :)

[2016-12-16 15:49] #369 closed

[2016-12-16 15:51] daniel-luberda commented on #380
@Auhmaan Ok. Thanks for the info. I'll close it, feel free to reopen if you experience this once again. Thanks

[2016-12-16 15:51] #380 closed

[2016-12-16 15:53] daniel-luberda commented on #376
@highplains @Puffdot Is the behaviour correct in the newest prerelease? There were some issues fixed  that could affect this one too.

[2016-12-16 15:55] daniel-luberda commented on #389
@shineon84  Do you still experience it on the newest prerelease?

[2016-12-16 15:58] daniel-luberda commented on #338
@escamoteur  Could you test the newest prerelease? There were some changes to `ImageViewAsync`.

[2016-12-16 15:59] daniel-luberda commented on #421
@moogiis  Could you test the newest prerelease? There were some changes to `ImageViewAsync`.

[2016-12-16 15:59] daniel-luberda commented on #417
@escamoteur  Could you test the newest prerelease? There were some changes to `ImageViewAsync`.

[2016-12-16 16:05] Emasoft commented on #388
@daniel-luberda I already tried FromResource. I also tried FromUrl adding file: prefix to the path, and every other possible method combination. Nothing seems to work.

[2016-12-16 16:07] daniel-luberda commented on #388
`SvgImageSource.FromResource` is not the same as `ImageSource.FromResource`. You must use SvgImageSource specific methods.

[2016-12-16 16:07] Emasoft commented on #388
@daniel-luberda Yes, I know that. I used SvgImageSource too. It doesn't work.

[2016-12-16 16:08] daniel-luberda commented on #388
@Emasoft Could you provide full StackTrace?

[2016-12-16 16:09] Emasoft commented on #388
I removed the NuGet package now, but I will try it as soon as possible. Anyway it is not different from the one I reported you above.

[2016-12-17 20:39] softsan opened #423 "Not able to show image for local path"
I have xamarin.forms app which uses camera to capture image. The captured image is stored in private folder path as shown below(on iOS):

`/var/mobile/Containers/Data/Application/21731669-A90E-4BC4-B5CA-9AD4B68E180E/Documents/Sample/img_19f1388a-407c-4310-b721-06d6396f0398.jpg`

But when i tried to load the above path image in ffimageloading it throws exception that it does not find the above file

[2016-12-18 15:03] moonClimber opened #424 "Cannot use in Windows Phone 8.1 project."
I try to use FFImageLoading in a WP8.1 project but, even after many many attempts and different approaches I always have the following error:
"**The application called an interface that was marshalled for a different thread. (Exception from HRESULT: 0x8001010E (RPC_E_WRONG_THREAD))**"

By running the sample provided with the source code, **Simple.WinPhone.Sample (Windows Phone 8.1)** I can obtain

[2016-12-19 01:33] lengluo commented on #420
@daniel-luberda Sorry for my late reply. I create the IOS project(blank App iphone) in Visual Studio 2015 and get the ffimageloading(Xamarin.FFImageLoading.Forms) from nuget, then build it with default normal way. I have tried to remove all bin and obj folders and it still have the same compile error.

[2016-12-19 17:59] alanspires commented on #387
I'm not sure this is the case. I have a app store version running on FFImage 2.1.8 and this issue never occurs.

[2016-12-19 18:17] alanspires commented on #387
I updated the sample repo for 2.1.8 and it works flawless now. This would lead me to think it is a issue with the library.

https://github.com/alanspires/FFImageBugs

[2016-12-21 08:16] lengluo commented on #420
@daniel-luberda  Aha, I‘m so sorry to waste of your time to see this issue, it’s finally found  i had made a silly mistake that i added 'Mono.Android' dll to my PCL project, by removing this dll, it's complied fine.

[2016-12-21 15:12] daniel-luberda commented on #423
Because of performance reasons, all files are saved to the disk using queue to allow loading images before it gets saved to the disk. By using newest prerelease you can use `FileWriteFinished` event / command which is called after file is successfully saved to the disk.

[2016-12-21 15:56] daniel-luberda commented on #420
@lengluo Sure, no problem, it happens. Maybe the build files were cached somewhere, so the build was successful before.

[2016-12-21 15:56] #420 closed

[2016-12-21 16:03] GSDan opened #425 "ListView crash when app starts in airplane mode (Xamarin Forms on Android)"
Hi -
I'm trying to improve offline functionality in my application. For some reason the app is crashing when trying to load previously cached images in a ListView in Xamarin Forms. It works perfectly when online or when airplane mode has been turned on after the app has opened (this last bit puzzles me).

The first couple of images in the list always seem to load correctly, and then the app crashe

[2016-12-21 17:29] softsan commented on #423
Thanks @daniel-luberda.

I used `xam media plugin` to capture image from camera or gallery and that plugin returns the storage path of captured image. So in that case the path is `/var/mobile/Containers/Data/Application/21731669-A90E-4BC4-B5CA-9AD4B68E180E/Documents/Sample/img_19f1388a-407c-4310-b721-06d6396f0398.jpg`

and i simply assign the above path to ffimage.source.

[2016-12-21 22:04] EmmanVazz commented on #412
Hello @daniel-luberda,

I have been testing the new DownloadProgressCommand. Firstly great work!

I found one small issue tho. If I preload the image by calling DownloadOnly() before creating the Cached Image, the progress doesn't seem to be reported. The Success Command is called when it is done but progress is not being reported while the download is happening. If I stop preloading images everyt

[2016-12-22 12:42] daniel-luberda commented on #412
Preloading is a separate image loading task and every task handles its own events, so:

[code]

[2016-12-22 12:42] #412 closed

[2016-12-22 13:36] daniel-luberda commented on #338
Hi @escamoteur,

I tested your sample and the behaviour of FFImageLoading is correct. Xamarin.Forms `Image` behaviour is incorrect though. Please notice that you've set `AspectFit` which means that whole image should be shown and that's exactly what `CachedImage` is doing. See screenshots:

## `CachedImage` with `AspectFill`
![screenshot_1482413375](https://cloud.githubusercontent.com/assets/13569

[2016-12-22 13:36] #338 closed

[2016-12-22 17:47] EmmanVazz commented on #412
Well I don't want the download progress of the preloading task, I want it for the Cached Image. It just seems like the DownloadProgress doesn't persist when a preloading task is converted to a normal request via a CachedImage initiation. Is that not how it should work?

[2016-12-22 22:37] EmmanVazz commented on #412
I made a fork of the repo to show what I am talking about. I added this to see the download progress get reported (https://github.com/EmmanVazz/FFImageLoading/commit/cc31275aa0b4bce6f468c7a9b86e4bb04201b6e0).

However it never gets trigger, even when I slow down the connection to the simulator (Mac network link conditioner set to Edge). I also tried removed the DownloadOnly() call, that didn't see

[2016-12-22 22:39] alanspires commented on #387
@daniel-luberda any news on this? I mean this almost makes the library un-usable in production. Having a ListView with "HasUnevenRows" is such a basic scenario. Not to mention this problem does not exists in older versions of the lib.

Also I don't think the "invalid" tag is right.

[2016-12-23 07:00] kingsj0405 opened #426 "Android TIFF decoding support"
There's no Error.
Viewing Well in iOS.
When change to image format jpg, rending well.

https://developer.android.com/guide/topics/media/media-formats.html

According to that page, Android can't support tiff.
Is there some way to render TIFF image?

[2016-12-23 14:03] kyurkchyan opened #427 "How to create custom transformation?"
I want to create my own transformation. If I create custom transformation classes in iOS and Android which derive from `TransformationBase` how I would register them to be able to use them inside Forms project?

[2016-12-23 18:17] daniel-luberda commented on #387
@alanspires That was so tricky... See this: https://github.com/luberda-molinet/FFImageLoading/commit/16a3cfc7a012945f01804e59441adaac32aeef2c

I didn't test your example yet, but that should be it. It also should fix a lot of other Xamarin.Forms layout issues.

[2016-12-23 18:26] daniel-luberda commented on #387
Could you test the newest alpha?

[2016-12-23 18:31] daniel-luberda commented on #427
You don't need to register it. You need to use Bait&Switch PCL Technique. You just need to reference empty PCL implementation in shared project, and platform specific implementations (dlls) in Android/iOS projects.

More here: http://log.paulbetts.org/the-bait-and-switch-pcl-trick/

[2016-12-23 18:32] #427 closed

[2016-12-23 18:35] daniel-luberda commented on #426
Hi @kingsj0405,

We use native Android image decoding, so we are dependent on that. If you have any working implementation of `TIFF` file decoding on Android, we can add it, but currently it's not supported.

[2016-12-23 18:37] daniel-luberda commented on #424
It's related to this: #166 - there's a solution there. Please see it.

[2016-12-23 18:37] #424 closed

[2016-12-23 18:42] daniel-luberda commented on #423
Please use the newest prerelease nuget. There was an issue which was fixed recently.

[2016-12-23 18:42] #423 closed

[2016-12-23 18:43] daniel-luberda commented on #422
Any news?

[2016-12-23 18:43] #421 closed

[2016-12-23 18:44] #417 closed

[2016-12-23 18:45] #414 closed

[2016-12-23 18:49] daniel-luberda commented on #412
@EmmanVazz It's a correct behaviour. If another loading task is running for the same image, `CachedImage` waits for its results - it doesn't download anything on its own. Why should it show any download progress if it's not downloading anything?

[2016-12-23 19:03] alanspires commented on #387
Good find, but doesn't fix this issue.

[2016-12-23 19:19] daniel-luberda commented on #387
Hmmm. Do you know if it also affects Android? I'm really puzzled with that. Why would something related to layout (`HasUnevenRows`) cause that? That could be tricky.

[2016-12-23 19:21] daniel-luberda commented on #387
Did you use Xamarin.FFImageLoading.2.2.6-pre-258 nuget for testing?

[2016-12-23 19:29] daniel-luberda commented on #425
It's probably a Xamarin issue: https://bugzilla.xamarin.com/show_bug.cgi?id=50210

[2016-12-23 19:34] EmmanVazz commented on #412
I can see how you want to keep the old loading task but I think the download progress should propagate to the CachedImage call as when I create the CachedImage I still want the progress of the task downloading that image.

Separate question: If I call DownloadOnly()(Low = priority) for an image, then later I create CachedImage(Normal = priority) for that same image. Does that bump up the priority

[2016-12-23 19:50] GSDan commented on #425
Yeah that looks like it might be the same thing, I'm using ModernHttpClient. Rats.
Cheers

[2016-12-23 19:52] alanspires commented on #387
Yes I used 258. Why would version 2.1.8 not be affected by this?

Sent from my iPhone

[2016-12-24 16:45] PaulARoy commented on #422
I am sorry to make you wait, I have been stuck out of work for a few days. I will test that next week and close the issue if it is irrelevant.
I already had issues like that before on other packages, it is indeed probably nothing.

[2016-12-26 03:42] kyurkchyan commented on #427
@daniel-luberda it doesn't seem I can do the same without creating separate library project? I mean If I have a Forms app structured like MyApp.Forms, MyApp.Droid, MyApp.iOS, I can't place the "bait" inside my forms app project, and implement it in my MyApp.Droid and MyApp.iOS and make the system reference code from platform project not PCL. Is that true? Do I need to create separate Library.Forms

[2016-12-26 07:25] XnainA opened #428 "Error in above 21 APIs"
Facing this issue on my project.
Min API level 19 an MAX API level is 24
 Please help.

 Stacktrace:
  at <unknown> <0xffffffff>
  at System.Linq.Expressions.Expression.Lambda<TDelegate_REF> (System.Linq.Expressions.Expression,string,bool,System.Collections.Generic.IEnumerable`1<System.Linq.Expressions.ParameterExpression>) <0x0002f>
  at System.Linq.Expressions.Expression.Lambda<TDelegate_REF> (S

[2016-12-26 09:42] Drutol commented on #376
Hello, I'm experiencing the same issue and this prerelease build doesn't seem to help.
I couldn't get these animation to work at all though :( (Android 5.0+)

[2016-12-27 17:31] kamekjay opened #430 "Issue loading images from resources iOS 2.2.5"
Hi guys i have a little problem with 2.2.5 version...i'm currently working on a project with xamarin forms (android / iOS) and it's all fully working on FFIL 2.2.4. The problem is loading images from resources folder in iOS platform: using cachedimage with the name of the images in the source attribute as string. None of the images loaded with this method is working :( the problem is that it doesn

[2016-12-27 17:35] alanspires commented on #430
This is already fixed in the pre-release nugets. You should update to those.

[2016-12-27 17:37] kamekjay commented on #430
@alanspires thank you for the info...i'll try to update to pre release ;)

[2016-12-28 13:13] daniel-luberda commented on #427
You can have only one additional project by using Shared project, instead multiple PCL projects.

[2016-12-28 16:09] daniel-luberda commented on #412
That would involve some kind of progress values `Dictionary` for all current downloads. It's an additional overhead, but it could be implemented. I have to think how it's best to do, any ideas?. It's a nice enhancement though.

Thanks to you PR, yes :) Thanks for that.

[2016-12-28 16:11] daniel-luberda commented on #430
@kamekjay Yes, it should be fixed in a prerelease nuget. Thanks @alanspires

[2016-12-28 16:13] daniel-luberda commented on #387
@alanspires I'll try to debug it once again.

2.2 is quite faster in some scenarios, maybe it updates image before some XF layout calculations, etc.

[2016-12-28 17:14] alanspires commented on #387
@daniel-luberda appreciate the effort. The first impression when my app opens is placeholder images that never load until you scroll them out of view and back in. This just seems like such a basic problem that shouldn't be happening. Thanks!

[2016-12-28 17:16] EmmanVazz commented on #412
I will open another issue.

[2016-12-28 17:33] EmmanVazz opened #431 "Reporting DownloadProgress to Similar Tasks"
This is a continuation of https://github.com/luberda-molinet/FFImageLoading/issues/412

The issue is having similar calls for the same image will result in only the first task getting download progress reported, the other just know when the task is complete. I will be looking at the code to see what the best way to implement this is.

[2016-12-28 18:08] daniel-luberda commented on #387
After debugging, I am quite sure that it's not an **FFImageLoading** issue but **Xamarin.Forms** issue. Here's why:

- There aren't any issues on Android (it's an iOS specific issue)
- It works good when `ViewCell`'s code is replaced with:

[code]

The issue is clearly with having `StackLayout` inside `ViewCell` when `HasUnevenRows` is set to `true`.  IMO it should be reported as a Xamarin.Forms i

[2016-12-28 18:09] alanspires commented on #387
My production code that has this issue uses a grid.

[2016-12-28 18:27] daniel-luberda commented on #387
I don't have any idea how could we fix that as:

- The `UIImageView` inside cell is updated with correct `UIImage`.
- We use the same method to notify Xamarin.Forms about view size changes, see:
  - [Image](https://github.com/xamarin/Xamarin.Forms/blob/master/Xamarin.Forms.Platform.iOS/Renderers/ImageRenderer.cs#L128)
  - [CachedImage](https://github.com/luberda-molinet/FFImageLoading/blob/master/

[2016-12-28 18:29] daniel-luberda commented on #387
The problems you had when using `Grid` in you project may be related to another issue which was fixed recently: https://github.com/luberda-molinet/FFImageLoading/commit/16a3cfc7a012945f01804e59441adaac32aeef2c

[2016-12-28 18:38] alanspires commented on #387
If that fix is in the latest pre-release it didn't solve it for me. Hmmm. this is tricky.

[2016-12-28 18:58] daniel-luberda commented on #387
It gets even weirder:

![screen shot 2016-12-28 at 19 57 25](https://cloud.githubusercontent.com/assets/13569983/21529164/ebb83480-cd37-11e6-8ade-7b5f9d250cd9.png)

[2016-12-28 19:00] alanspires commented on #387
Wow I never caught that one, now I'm even more confused lol.

[2016-12-28 19:02] daniel-luberda commented on #387
I am also confused. It's definitely related to Xamarin.Forms layout system, but... I don't know where to start. :)

[2016-12-28 19:19] daniel-luberda commented on #428
It looks like a project setup issue. Please be sure you have all the required references:

- Mono.Android
- System
- System.Core
- System.Net.Http

Then clean solution, remove all `bin` & `obj` folders before deploying.

[2016-12-28 19:23] daniel-luberda commented on #348
@patook  Does it still apply to the newest prerelease?

[2016-12-28 19:25] daniel-luberda commented on #425
Ok, so I'll close this one, as it's not an FFImageLoading related issue. Cheers :)

[2016-12-28 19:25] #425 closed

[2016-12-28 19:26] daniel-luberda commented on #389
@shineon84 Any news?

[2016-12-28 19:34] daniel-luberda commented on #419
Hi @johnjore,

FFImageLoading cache images by default. You can clear cache for a specified key with `CachedImage. InvalidateCache` or `ImageService.Instance.InvalidateCacheEntryAsync` method. `ImageService.Instance.InvalidateCacheAsync(CacheType.All);` will clear the whole cache, which is most often not a desired solution.

Cheers.

[2016-12-28 19:34] #419 closed

[2016-12-28 19:35] daniel-luberda commented on #422
Sure, I'll close this one. Please, reopen the issue if you you'll still experience it. Cheers :)

[2016-12-28 19:35] #422 closed

[2016-12-29 02:46] EmmanVazz commented on #431
So this seems to work,

[code]

inside the else if (similarRunningTask.ImageLoadingTask != null && task.Parameters.Priority.HasValue) statement.

However it would be nice to see if task actually has a non null DownloadProgress and a non null DownloadProgressCommand, basically meaning something is listening to the Download Progress. That way we can avoid doing that logic if it is not necessary.  We

[2016-12-29 11:04] PaulARoy commented on #422
Uninstalling / reinstalling the packages did the trick.
Something probably messed up the DLLs. Sorry for the bug report.

[2016-12-29 14:48] GSDan commented on #425
Quick update for those who might stumble upon this through Google searches:

The crash no longer happens now that I've uninstalled ModernHttpClient.

[2016-12-29 19:52] daniel-luberda commented on #431
Great! I'll try to include it before releasing stable :) Thanks for your help.

[2016-12-29 20:12] daniel-luberda commented on #431
It should be working now. See https://github.com/luberda-molinet/FFImageLoading/commit/bc4b6b5c79dd6bc3f2f62e7980067afd2c08477b

[2016-12-29 20:17] EmmanVazz commented on #431
That seems like a great solution. I will test the pre-release later today. Thanks.

[2016-12-29 20:17] #431 closed

[2016-12-30 18:51] rickgregory1905 commented on #389
I don't know if it is related or not but I can reproduce similar behavior. When I stay at 2.1.8, the placeholder is presented as expected. But when I upgrade to 2.2.* the placeholder fails to render. I was looking over the BikeSharing360 Microsoft sample at https://github.com/Microsoft/BikeSharing360_MobileApps. You can pull that project, unzip it and run it. Keeping the FFImageLoading at 2.1.8 wi

[2016-12-31 16:39] liptonbeer opened #432 "UWP - AggregateException_ctor_DefaultMessage"
Hi Everybody,
In my UWP app for some time I've been getting AggregateException_ctor_DefaultMessage logged by Hockeyapp api. Here is a stacktrace:
'FFImageLoading.Retry.<DoAsync>d__0$1<System.__Canon>.MoveNext(Void* InstParam) in C:\projects\ffimageloading\source\FFImageLoading.Common\Helpers\Retry.cs at 31:13
System.Runtime.ExceptionServices.ExceptionDispatchInfo.Throw() in f:\dd\ndp\fxcore\CoreRT

[2017-01-01 13:38] daniel-luberda commented on #432
`AggregateException` thrown by `FFImageLoading.Retry` are handled exceptions, which are just logged to notify you that an error occurred during image download (as connection error, network unavailable, etc). That's all. Why `AggregateException`? It' because you can specify how many times, FFImageLoading should try to retry if an `Exception` occurs, so you can have multiple `Exceptions`.

[2017-01-01 17:40] daniel-luberda opened #433 "Should we include Transformations in a `Xamarin.FFImageLoading` nuget package?"
Should we include Transformations in a `Xamarin.FFImageLoading` nuget package and depreciate `Xamarin.FFImageLoading.Transformations`? Those dlls are quite small actually (~20KB dll for each platform)

VOTE: https://goo.gl/cBYbjE

[2017-01-01 18:34] liptonbeer commented on #432
Hi, thanks for your answer. I've added AggregateException to known errors in my app :)

[2017-01-01 18:34] #432 closed

[2017-01-01 20:42] daniel-luberda commented on #432
👍 Please mind, that `AggregateException` is a standard net type and it can be also used by some non FFImageLoading related code too.

[2017-01-02 14:56] moonClimber commented on #424
I've tried to apply the solution in #166, but it still does not work, and I suspect the problem could be different and not a duplicate.

Here are some notes from my attempts I hope can be useful to understand the problem better.
First of all: the problem is replicable by executing the project Simple.WinPhone.Sample (Windows Phone 8.1) ... I'm using both **Device** (_Lumia 930_) and "**Mobile Emula

[2017-01-02 15:00] moonClimber commented on #166
Please, have a look to issue #424, I think is not the same and I've added some notes even if it's closed.
Thanks

[2017-01-02 17:53] daniel-luberda commented on #424
@moonClimber Could you test the newest prerelease nuget? There were some fixes that could potentially fix your issues.

[2017-01-02 18:29] daniel-luberda commented on #428
Please reopen if it didn't solve your issue. Thanks.

[2017-01-02 18:29] #428 closed

[2017-01-02 18:33] daniel-luberda commented on #411
Please reopen if you have more info. Thanks.

[2017-01-02 18:33] #411 closed

[2017-01-02 18:34] daniel-luberda commented on #406
Please reopen if you have more info or still experience it when using newest prerelease nuget. Thanks.

[2017-01-02 18:34] #406 closed

[2017-01-02 18:35] daniel-luberda commented on #348
Please reopen if you still experience it (try newest prerelease nuget). Thanks.

[2017-01-02 18:35] #348 closed

[2017-01-02 18:36] daniel-luberda commented on #388
`NullReferenceException` is probably thrown because your custom provided stream is null. Please reopen if you have any more info or still experience this. Thanks

[2017-01-02 18:36] #388 closed

[2017-01-02 20:41] daniel-luberda commented on #390
https://github.com/luberda-molinet/FFImageLoading/commit/c5be1ccc89295f3922038ce41ec503f7b6d042bb

It took some time, but we have working LRUCache for Windows. Performance benefits are quite BIG. Default cache size is 32MB - I didn't find any API which could retrieve available app RAM from WinRT apis. Any help appreciated.

[2017-01-02 20:41] #390 closed

[2017-01-02 22:11] daniel-luberda commented on #389
@rickgregory1905 Sample app doesn't work for me as I don't have any login credentials. Do you have any other reproduction, so I could try to fix this?

[2017-01-02 22:15] rickgregory1905 commented on #389
I should have thought about that. The backend and everything needs to be deployed. Let me see if I can scale down a reproduction.

[2017-01-03 15:29] Jelle-elaut commented on #430
Hello! At the moment I have a simular issue on iOS. Everything is working fine on Android, but I can't seem to load images on iOS. Neither with version 2.2.4, 2.2.5 or the pre-release version of 2.2.6 :/

[2017-01-03 15:31] daniel-luberda commented on #430
@Jelle-elaut Could you give more details?

[2017-01-03 15:40] Jelle-elaut commented on #430
@daniel-luberda thanks for the quick response. I'm afraid I can't give a lot more useful information. I have this piece of code which works perfectly on Android, but doesn't load any image on iOS.

`<forms:CachedImage
                x:Name="FirstCachedImage"
                Source="{Binding FilePaths[0]}"
                DownsampleToViewSize="True"
                Grid.Column="0"

[2017-01-03 15:42] daniel-luberda commented on #430
@Jelle-elaut Could you write more details about:
 - How you have those files included in iOS project?
 - Give some paths examples? eg. "file1.png", etc

[2017-01-03 15:50] kamekjay commented on #430
@daniel-luberda @Jelle-elaut Hi guys! I want you to know that when @alanspires told me to update to prerelease this fixed my problem with image loading on iOS platform. Now i've just updated to 2.2.6 and it works well on both platfoms. So i think that it's a different problem from what i've experienced.

[2017-01-03 15:53] Jelle-elaut commented on #430
@daniel-luberda These are files loaded from the camera/gallery of the device. Example of the paths:

- "/var/mobile/Containers/Data/Application/FB3E4E5A-941E-4EF6-803D-99580CE12B4B/Documents/temp/IMG_20170103_165104.jpg"
- "/var/mobile/Containers/Data/Application/FB3E4E5A-941E-4EF6-803D-99580CE12B4B/Documents/claims/claim1_2.jpg"

[2017-01-03 15:56] daniel-luberda commented on #430
@kamekjay Thanks for the info!

@Jelle-elaut I think it may be some other issue, related to permissions / wrong file path, not FFImageLoading. You can easily debug it by checking logs, using custom logger: https://github.com/luberda-molinet/FFImageLoading/blob/master/samples/ImageLoading.Forms.Sample/iOS/AppDelegate.cs#L19-L50

Could you paste those exceptions here?

[2017-01-03 15:58] Jelle-elaut commented on #430
@daniel-luberda But that wouldn't explain why it works with a regular Xamarin Forms Image and not with the cached-image... That's why I think the problem is within the library, right?

[2017-01-03 15:59] daniel-luberda commented on #430
@Jelle-elaut It may be, but I can't do anything without more information as I don't know what the cause is.

[2017-01-03 22:47] ScorpDiesel opened #434 "FFImageLoading url parser."
Hey:

I'm using www.randomuser.me to populate the control with a random image but, error.png displays after a few attempts to download the image.  When I try an image from a *.com site, the image is downloaded and displayed in the control.  I have no problem downloading the json payload from the site and using other objects within it.  I'm also able to display the image in a browser.  Please advis

[2017-01-03 23:01] daniel-luberda commented on #434
You should get some errors in application output. Could you paste it? Also you can configure own FFImageLoading logger as here: https://github.com/luberda-molinet/FFImageLoading/blob/master/samples/ImageLoading.Forms.Sample/Droid/MainActivity.cs#L21-L51

[2017-01-03 23:10] ScorpDiesel commented on #434
Here's the dump.  I'll configure the logger and get back to you.

1-03 17:31:59.060 I/mono-stdout(18161):   at System.Runtime.ExceptionServices.ExceptionDispatchInfo.Throw () [0x0000c] in /Users/builder/data/lanes/3511/501e63ce/source/mono/mcs/class/referencesource/mscorlib/system/runtime/exceptionservices/exceptionservicescommon.cs:143
01-03 17:31:59.060 I/mono-stdout(18161):   at System.Runtime.

[2017-01-03 23:21] daniel-luberda commented on #434
You don't need to `System.Net.WebException: Error: SecureChannelFailure (The authentication or decryption has failed.) ` is obvious. Read this: https://forums.xamarin.com/discussion/10405/the-authentication-or-decryption-has-failed-in-the-web-request

[2017-01-03 23:37] ScorpDiesel commented on #434
I'm using modernhttpclient:

 using (var client = new HttpClient(new NativeMessageHandler()))
            {
                jsonString = client.GetStringAsync(randomProfile).Result;
            }

[2017-01-03 23:39] daniel-luberda commented on #434
Just put this before you app initialization (`AppDelegate.cs`):
`ServicePointManager.ServerCertificateValidationCallback += (o, certificate, chain, errors) => true;`

BTW:
`jsonString = client.GetStringAsync(randomProfile).Result;` can cause deadlocks, it's better to decorate method with `async` and change it to: `jsonString = await client.GetStringAsync(randomProfile);`

[2017-01-04 01:43] ScorpDiesel commented on #434
DL:

I added the ServicePointManger to the Droid project (also to the PCL to be
sure) and it didn't work.  It seemed too much of a hassle just for mockups
so, I found another random api generator.  Thanks for your assistance.

On Tue, Jan 3, 2017 at 6:39 PM, Daniel Luberda <notifications@github.com>
wrote:

[2017-01-04 07:44] Jelle-elaut commented on #430
@daniel-luberda  I tried adding the custom logger you linked, but the only feedback I get is the following line:
`2017-01-04 08:42:32.478 AppiOS[9041:2093430] SimpleDiskCache path: /var/mobile/Containers/Data/Application/D9D2049D-B6DE-4C46-A245-8770D525B2C8/Library/Caches/FFSimpleDiskCache
`

[2017-01-04 08:21] Jelle-elaut commented on #430
@daniel-luberda I added the custom logger you linked, but this is the only feedback I get:
`[0:] SimpleDiskCache path: /var/mobile/Containers/Data/Application/93FCC9CA-BE88-43CC-B29E-399F42567F1F/Library/Caches/FFSimpleDiskCache
`

[2017-01-04 18:41] jderrough opened #435 "System.TypeLoadException: Xamarin Forms PCL project on Windows Phone 8.1"
Hi,

When running a Xamarin Forms PCL project on Windows Phone 8.1, the following exception is raised (sorry for the truncated output, hope it's enough to get a clear picture):

[code]

The PCL project references assemblies:
- FFImageLoading
- FFImageLoading.Forms
- FFImageLoading.Platform

The WinRT project references assemblies:
- FFImageLoading
- FFImageLoading.Forms
- FFImageLoading.Forms.WinR

[2017-01-05 01:56] flanakin opened #436 "SVG - Opacity always renders at 100%"
I have 100+ SVGs that I need to use and most of them use opacity for coloring/shading, but it seems like all semitransparent paths are rendered as 100% opaque. Is this a known bug?

[2017-01-05 12:24] Ralle1986 commented on #430
@Jelle-elaut and @daniel-luberda. I also experience the same problem on IOS. There is no problem when i load an image, that is placed in the root of the Resource folder

like
` var linearBackground = new CachedImage
            {
                WidthRequest = DeviceAgnostic.GetWidth(80),
                IsOpaque = true,
                CacheType = CacheType.Memory,
                Source = Device

[2017-01-05 13:07] daniel-luberda commented on #436
Hi @flanakin,

FFImageLoading uses SkiaSharp under the hood for SVGs.

The class used for parsing SVG files is here: https://github.com/mono/SkiaSharp/blob/master/source/SkiaSharp.Svg/SkiaSharp.Svg/SKSvg.cs

- Do you use 'fill-opacity' attribute for transparency? It should be supported: https://github.com/mono/SkiaSharp/blob/master/source/SkiaSharp.Svg/SkiaSharp.Svg/SKSvg.cs#L673
- Does issue appl

[2017-01-05 13:12] daniel-luberda commented on #434
👍 Ok, I'll close this one as it's not related to FFImageLoading, but rather https handling / security settings on iOS. Cheers.

[2017-01-05 13:12] #434 closed

[2017-01-05 13:18] daniel-luberda commented on #430
Here's the bundle resolver code: https://github.com/luberda-molinet/FFImageLoading/blob/master/source/FFImageLoading.Touch/DataResolvers/BundleDataResolver.cs#L18

I'll try to debug it soon. Meanwhile, if you see anything that could be improved, please let me know.

[2017-01-05 16:07] tematim opened #437 "How to display SVG file at Android splashscreen ?"
Hello,

I have a PCL lib with android and ios project.

To have the same code base, this is the example I took : http://www.c-sharpcorner.com/uploadfile/oussamaalrifai/xamarin-forms-android-workaround-for-splash-screen-with-lo/

As you can see, there is a logo, and I want to replace it with an svg.
All examples are in xaml file, and here it's an axml file.

Could you help me ?

Regards

[2017-01-05 16:37] jderrough commented on #435
Hi @daniel-luberda ,

I ended up updated all the packages of all the platform specific projects in the solution, perform a NuGet clear, cleaning up everything (manually deleting the bin and obj folders). Seemed to do the trick. :)

Thanks for you help.

[2017-01-05 16:37] #435 closed

[2017-01-05 16:45] daniel-luberda commented on #437
You should do exactly the same, but load image with FFImageLoading native loader from code behind:

[code]

where imageView is your ImageViewAsync control (important: https://github.com/luberda-molinet/FFImageLoading/wiki/Android-API#imageviewasync)

[2017-01-05 19:45] jj09 commented on #436
Looks like opacity does not work, but <b>fill-</b>opacity works. e.g.,
```<svg width='50' height='50' viewBox='0 0 50 50'><rect width='50' height='50' fill='#000' opacity='0.5' /></svg>```
renders black rect

but this:
```<svg width='50' height='50' viewBox='0 0 50 50'><rect width='50' height='50' fill='#000' fill-opacity='0.5' /></svg>```
renders proper grayish one

Should FFImage or SkiaSharp fi

[2017-01-05 21:46] tematim commented on #437
Ok, I try your code.

This is my activity :
`   [Activity(Theme = "@style/Theme.Splash", MainLauncher = true,
        NoHistory = true, ConfigurationChanges = ConfigChanges.ScreenSize | ConfigChanges.Orientation)]
    public class SplashActivity : Activity
    {
        protected override void OnCreate(Bundle bundle)
        {
            base.OnCreate(bundle);

            ImageService.Instance

[2017-01-05 23:30] petersondrew opened #438 "Pre-Release versions (Appveyor CI)"
Would it be possible to mark the Appveyor builds as pre-release builds, and append the build number as a postfix? E.g. Xamarin.FFImageLoading.2.2.6-pre282

This would make it easier to update to the latest pre-release in Visual Studio as currently the version published to Appveyor's nuget is the same as what's on nuget.org.

[2017-01-05 23:33] daniel-luberda commented on #438
Hi @petersondrew It's already configured like that, but there was a stable release recently and there are no newer prerelease builds yet, so it shows stable as last prerelease too.

[2017-01-05 23:35] petersondrew commented on #438
Ah, so the 2.2.6.282 build is what's on nuget.org currently? I just saw multiple 2.2.6 builds there and assumed that one of them, other than the very latest, was what was published to nuget.org.

[2017-01-05 23:36] daniel-luberda commented on #436
@jj09 Thanks for the info. It should definitely be fixed in SkiaSharp, I always incroporate the newest SkSvg class from there into FFImageLoading.

BTW: Google released Skia roadmap and one of the point is to have advanced SVG parser, I hope it'll be done soon. https://docs.google.com/document/d/1C9w8qpPpdgNGThqmgNnTToLZ5UYK4TsUGl5X3B_q6oM/edit

[2017-01-05 23:38] daniel-luberda commented on #438
Yes, if appveyor finds release github tag, then nuget is packed as a stable, otherwise it's always a prerelese :)

[2017-01-05 23:39] petersondrew commented on #438
Ok, that clears it up then. Sorry to bug you 😃

[2017-01-05 23:39] #438 closed

[2017-01-05 23:40] daniel-luberda commented on #438
No problem, if you have any questions just ask. Cheers :)

[2017-01-06 17:26] wileecoyotesupergenius opened #439 "[UWP] Unhandled Exception: The application called an interface that was marshalled for a different thread."
The application called an interface that was marshalled for a different thread. (Exception from HRESULT: 0x8001010E (RPC_E_WRONG_THREAD)) is raised at the only line in the following method in WorkScheduler.cs;

    protected async void TakeFromPendingTasksAndRun()
    {
        await TakeFromPendingTasksAndRunAsync().ConfigureAwait(false);
    }

I have an ItemTemplate for displaying an image;

[2017-01-07 12:32] moonClimber commented on #424
No way to solve the problem with the original code. I've pulled a couple of change proposals (one fix and one improvement).
Hope you want to merge them.

[2017-01-07 14:23] moonClimber commented on #439
I've just proposed a fix for the same problem for Windows Phone 8.1 (waiting for merging).
In the meantime, you could try to apply the same solution to check if it works for you as well just change manually the method TakeFromPendingTasksAndRun in class FFImageLoading.Work.WorkScheduler

from this

`
protected async void TakeFromPendingTasksAndRun()
{
await TakeFromPendingTasksAndRunAsync().Config

[2017-01-07 14:25] moonClimber commented on #439
If you're using FFImageLoading in a list, you could find useful the improvement you can find here:
https://github.com/moonClimber/FFImageLoading/commit/e2ef7b5a3bc0f8324f99ba8da5359b303ca4457b

[2017-01-08 10:50] TheAndroidMachine opened #441 "Very poor performance in ListView"
I have try the CachedImage Controll in a Xamarin Form project and unfortunately I have to say the listview scroll is quite junky. It is definitely due to the images. If I remove the images from the cells there is no performance problems when scrolling.
The problem can be noted very easy by using the sample projects and modifying it to load images from the internet. The performance is especially ba

[2017-01-08 13:55] molinch commented on #441
It is true that FFImageLoading and MonoDroidToolkit differ regarding downloading.
MonoDroidToolkit uses Android APIs, see: https://github.com/jamesmontemagno/MonoDroidToolkit/blob/master/MonoDroidToolkit/com.refractored.monodroidtoolkit/ImageLoader/ImageLoader.cs

Whereas FFImageLoading relies on HttpClient, which by default uses .NET stack for the networking (opening sockets, ...). All this can e

[2017-01-08 16:50] NVentimiglia commented on #394
@flchaux This fixed the issue for me. What type of image is this ? how are you using the control ?

[2017-01-08 18:21] NVentimiglia opened #442 "EXIF Image Rotation error on android"
- Portrait photos are incorrectly rotated 90 degrees counter clockwise.
- Passing a simple string path as the data source (not a stream)
- Image picked using Xamarin Media Picker
- Replicated on new pictures and gallery images

[2017-01-08 18:30] softsan commented on #423
The latest version 2.2.6 has fix it for iOS. Thanks.

[2017-01-08 19:09] daniel-luberda commented on #441
@TheAndroidMachine Also there's a new setting in project build options, which allow to set this application-wide. See:

![screen shot 2017-01-08 at 20 06 55](https://cloud.githubusercontent.com/assets/13569983/21752749/5ed57e10-d5de-11e6-8a75-822513410c30.png)

[2017-01-08 21:33] daniel-luberda commented on #442
@NVentimiglia

- Is it on a emulator or a device? If device, what model? Is it device specific?
- Can you email me sample files which are affected, so I could test / fix it?

[2017-01-08 21:58] NVentimiglia commented on #442
- LGG3
- Android Emulator

Sample files will be a little more difficult as this is large solution with many dependencies.

**XAML**

`
    <ffimage:CachedImage
	      Grid.Row="0"
              Source="{Binding PictureUrl}"
              LoadingPlaceholder="{Binding Source={x:Static theme:Assets.ICON_USER}}"
              ErrorPlaceholder="{Binding Source={x:Static theme:Assets.ICON_USER}}"

[2017-01-09 00:23] franzdevel opened #443 "More verbose memory cache logging"
This is just a nice-to-have feature request but I believe it would be helpful. In case of `Configuration.VerboseMemoryCacheLogging = true`, whenever an image is (i) loaded into or (ii) invalidated from the memory cache, could you include logging output indicating the current amount of data in the cache (i.e. sum of the sizes of all currently cached images)? That would be a great help in my case to

[2017-01-09 09:28] tematim commented on #437
Hello,

Please reopen the issue, I added some code.

I can’t display any svg at splashscreen

De : Daniel Luberda <notifications@github.com>
Répondre à : luberda-molinet/FFImageLoading <reply@reply.github.com>
Date : jeudi 5 janvier 2017 17:45
À : luberda-molinet/FFImageLoading <FFImageLoading@noreply.github.com>
Cc : BERNARD Thomas <Thomas.BERNARD@ynov.com>, Author <author@noreply.github.com>
Obj

[2017-01-09 13:07] daniel-luberda commented on #437
Into must have a correct parameter (ImageViewAsync instance), in your code it doesn't have any. Why?
Should be this:
[code]

Also FFImageLoading support `ImageViewAsync`, not `ImageView` on Android. It should be something like this:

<ffnamespace:ImageViewAsync android:id="@+id/imageView" android:layout_width="fill_parent" android:layout_height="fill_parent" android:scaleType="fitXY" android:adjus

[2017-01-09 13:19] molinch commented on #437
@daniel-luberda Maybe we could make a check, then throw a dedicated exception when it's not a `ImageViewAsync`. What do you think?

[2017-01-09 13:22] daniel-luberda commented on #437
@molinch That's a good idea, but I am wondering where as all `Into` method take `ImageViewAsync` as a parameter, so it's impossible to make a mistake.

[2017-01-09 13:48] molinch commented on #437
You are right :)
Forget about what I said :+1:

[2017-01-09 15:21] daniel-luberda commented on #442
@NVentimiglia The code responsible for EXIF on Android is here: https://github.com/luberda-molinet/FFImageLoading/blob/master/source/FFImageLoading.Droid/Extensions/ExifExtensions.cs

I think it's Media plugin issue, see this: https://github.com/jamesmontemagno/MediaPlugin/blob/930295ad8fcaefe0765ee9d93ab14e64eae25fe4/src/Media.Plugin.Android/MediaImplementation.cs#L89

FFImageLoading reads correc

[2017-01-09 15:28] daniel-luberda commented on #443
👍 I want to rewrite logging to contain more useful information, that would be a nice to have. I'll need some more free time to do that though :)

[2017-01-09 15:29] daniel-luberda commented on #439
@wileecoyotesupergenius @moonClimber Could you test the newest prerelease if it solves that issue?

[2017-01-09 16:13] NVentimiglia commented on #442
Just to be clear; 1)I did test against the default Image control and everything worked fine. 2) I am testing against 'gallery' images which should not be manipulated by media picker (their file path are not relative to my application). This is why I reasoned FFImage was at fault.

I have opened up a bug ticket with Media Picker here
https://github.com/jamesmontemagno/MediaPlugin/issues/160

[2017-01-09 16:18] daniel-luberda commented on #442
`Xamarin.Forms.Image` doesn't support orientation based on EXIF on Android at all, that's why it's working. FFImageLoading cannot predict  if we should take EXIF orientation into account or not, all we can do is to add some Android specific option which would allow to disable reading of EXIF data.

[2017-01-09 16:20] elertan opened #444 "FFImageLoading Blur Transformation not showing on android"
Hey, I'm building a xamarin forms application that has blurred backgrounds for the shown video material's included poster image.

Here's the code I used:
https://puu.sh/tgxHu/fa5c1cc5a9.png

This is what it looks like on iOS for example:
https://puu.sh/tgxM7/a38cf68890.png

This is what it looks like on android:
https://puu.sh/tgyJe/750c45fc5f.png

As you can see the image I had put there is not s

[2017-01-09 17:24] daniel-luberda commented on #444
@elertan Hi,

- What are you linker settings? https://developer.xamarin.com/guides/android/advanced_topics/linking/
- Do you test on emulator or a device? If device? What type / OS version?
- Did you try different Radius settings for Android? (higher value)

[2017-01-09 17:25] #436 closed

[2017-01-09 19:53] jamesmontemagno commented on #442
For the Media plugin I auto rotate the photo for the user based on the original EXIF data. The issue here could be that I don't change the exif data, which should actually be reset to 0 for the rotation since I always modify it. Let me try that out.

[2017-01-09 19:54] daniel-luberda commented on #442
Hi @jamesmontemagno,

Yes, that should solve it :)

[2017-01-09 19:58] daniel-luberda commented on #387
@alanspires  @rusty21  I found some issues in WorkScheduler which caused images not loading under some scenarios :) It's fixed in the newest prerelease (FFImageLoading.2.2.7-pre-294). Please reopen if you still experience it. Thanks.

[2017-01-09 19:58] #387 closed

[2017-01-09 20:06] jamesmontemagno commented on #442
@daniel-luberda

This is what I am doing:
[code]

Only when I rotate it though.

I am not doing anything special on iOS, but I assume Apple is updating it for me.

[2017-01-09 20:13] daniel-luberda commented on #442
That should solve it, thanks.

@jamesmontemagno `UIImageView` handles rotation automatically (reads EXIF orientation by default), so no need to modify anything for iOS (Xamarin.Forms `Image` rotates images on iOS too).

[2017-01-09 20:19] alanspires commented on #387
@daniel-luberda awesome! I'll check it out

[2017-01-09 20:20] jamesmontemagno commented on #442
I published a new nuget, so this should be able to be closed now. :)

[2017-01-09 22:54] hardcodet opened #445 "BorderHexColor ignored?"
Hi there

First of all thanks for a great control - it's been a pleasure to work with it!

I have a small issue: It didn't get the BorderHexColor of a `CircleTransformation `to work, no matter what I assigned to it. When searching for that property here on GitHub, I see only property assignments, but no code that actually would do anything with it. Did I miss anything, or Is this property obsolete

[2017-01-10 00:23] daniel-luberda commented on #445
Hi @hardcodet,

It should be working, `CircleTransformation` uses `RoundedTransformation` internally:

- https://github.com/luberda-molinet/FFImageLoading/blob/master/source/FFImageLoading.Transformations.Droid/RoundedTransformation.cs#L94-L106
- https://github.com/luberda-molinet/FFImageLoading/blob/master/source/FFImageLoading.Transformations.Touch/RoundedTransformation.cs#L95-L110
- https://git

[2017-01-10 03:02] NVentimiglia commented on #442
Thanks guys, your the best !

[2017-01-10 07:05] Almis90 opened #446 "FileWriteFinished is never being called"
The image url is [http://media2.giphy.com/media/26BROh4qLWbwq7A1a/200w_d.gif](http://media2.giphy.com/media/26BROh4qLWbwq7A1a/200w_d.gif)
[code]

I put breakpoint but it not breaks there.

[2017-01-10 08:48] AntonisSt opened #447 "Image loading failed"
Hi I am using ffImageLoading in an Android application. I want to show some images I download from the web in a viewpager. I have used the code that is given in the official documentation using viewpager with ffimageloading. If I wait for the first image to be downloaded everything works flawlessly. But if I scroll to another one before the first one gets loaded then it throws a dispatchexceptioni

[2017-01-10 10:25] hardcodet commented on #445
Duh. I feel very stupid now - it's working. I tried it late, but with a very small value. Only just now realized that I need smth more like "20" than "2" for the BorderSize.

Thanks for the quick feedback, Daniel :)

[2017-01-10 10:46] EmmanVazz commented on #446
You need put that image into a view. So you need a .Into(_imageView) at the end of the LoadUrl,  [like in the wiki](https://github.com/luberda-molinet/FFImageLoading/wiki/API).

[2017-01-10 14:01] veryhumble opened #448 "Transformations aspect ratio (CropHeightRatio, CropWidthRatio parameters)"
Hi,

I am using the Version `2.2.7-pre-294`.

While trying out RoundedTransformation i noticed that it will only make rounded corners if i remove `Aspect="AspectFill"`

This is the markup:
[code]

Removing the `Aspect` property will apply the transformation just fine, but not stretching the image across the available space. So I tried `Fill` which works with transformations but does not preserve t

[2017-01-10 14:35] Almis90 commented on #446
It may work but why it should fire only when you loading into a view? The method name suggests that it will fire whenever file finishes writing.

[2017-01-10 15:14] tematim commented on #437
Hello,

I manage to display my svg.

Now I have an issue with his size and "resolution".

I want it to be cut at the left and rigth, and be without pixels.

This is my svg code  :
`<svg width="590" height="590" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
<style type="text/css">
	.st0{fill:#FFFFFF;}
	.st1{fill:#FFFF00;}
</style>
<g>
    <title>background</title>

[2017-01-10 15:50] daniel-luberda commented on #445
No problem. I think it would be nice to add some default minimal / max values to avoid confusion in future anyway. Cheers :)

[2017-01-10 15:50] #445 closed

[2017-01-10 15:56] daniel-luberda commented on #448
The order of operation is:

- Transformations ((all transformations are done on original image)
- Aspect options

That's why you should know your image aspect ratio before transformations. By default those transformation will generate square image, if you want to modify that you should set `CropWidthRatio` / `CropHeightRatio` transformation parameters. Eg. `CropWidthRatio=2` and `CropHeightRatio=1

[2017-01-10 16:00] daniel-luberda commented on #446
@Almis90 @EmmanVazz

Calling just `ImageService.Instance.LoadUrl` only creates image loading task, doesn't run it. To run task you have to call:

- `DownloadOnly()` methods
- `Preload()` methods
- `Into()` methods

`Preload` /  `DownloadOnly ` will allow you to load image without loading it into a view.

[2017-01-10 16:00] #446 closed

[2017-01-10 16:01] #448 closed

[2017-01-10 16:03] daniel-luberda commented on #447
@AntonisSt Could you give me a full stack trace? It may be connection problems related.

[2017-01-10 16:15] daniel-luberda commented on #437
@tematim You should set correct `vectorWidth/vectorHeight` values. That's all.

[2017-01-10 16:15] #437 closed

[2017-01-10 16:38] JeremyBP opened #449 "An HttpWebRequest was added to the ConnectionGroup queue because the connection limit was reached"
Hi and thanks fo your work!
This error appears only with the FF.XF 2.2.6 and only on iOS like discribed in this previous [issue](https://github.com/luberda-molinet/FFImageLoading/issues/182#issuecomment-217867185).
Downgrading to 2.2.5 (seems to) solved the problem.

[2017-01-10 17:01] daniel-luberda commented on #449
`ConnectionGroup queue issue` is definitely not related to FFImageLoading. It's related to mono .NET http client implementation. You could try to use ModernHttpClient HttpClientHandler which could be provided in a custom FFImageLoading config:

[code]

[2017-01-10 17:04] JeremyBP commented on #449
Ok thank you for your time, will give a try.

[2017-01-10 17:04] #449 closed

[2017-01-10 17:34] daniel-luberda commented on #449
I reviewed code once again as I was curious why 2.2.5 works for you and 2.2.6 doesn't. There was a small change in Download implementation. Instead `response.Content.ReadAsByteArrayAsync()`, I replaced it with `response.Content.ReadAsStreamAsync()` to allow DownloadProgress support. I made some changes to use old method if no download progress is defined.

[2017-01-10 18:04] daniel-luberda commented on #441
@TheAndroidMachine Did you try 2.2.7? It should have a better performance due to some new optimizations.

[2017-01-10 22:13] TheAndroidMachine commented on #441
I tried the version 2.2.6 on Android with the Xamarin.Android.Net.AndroidClientHandler and indeed it is much faster now. The listview scrolls quite smooth. I also tried it with ModernHttpClient but the app crashes from time to time. So AndroidClientHandler is the winner. Maybe this solution should me mentioned in the wiki.

I just tried the 2.2.7 version but since the listview was already scrollin

[2017-01-10 22:18] #441 closed

[2017-01-11 07:37] molinch commented on #441
@TheAndroidMachine Thanks for your feedback! :+1:
It would be great if you could update the Wiki with your observations/remarks, it's open for everyone.

[2017-01-11 07:46] AntonisSt commented on #447
My log for one image. As I scroll, the respective message shows up in my log for all the images.
`
01-11 09:39:27.160 I/mono-stdout( 9132): Image loading failed: https://sslphotos.jato.com/PHOTO400/SSCD/MERCEDES/E-CLASS/2017/4SA.JPG
01-11 09:39:27.160 I/mono-stdout( 9132): FFImageLoading.DownloadAggregateException: One or more errors occurred. ---> System.FieldAccessException: Field `System.Net.Ht

[2017-01-11 07:52] molinch commented on #447
Hi @AntonisSt
This has nothing to do with FFImageLoading it seems to be related to HttpClient on Mono or to ModernHttpClient.

See: https://github.com/paulcbetts/ModernHttpClient/issues/228
and Couchbase Lite similar issue: https://github.com/couchbase/couchbase-lite-net/issues/777

[2017-01-11 07:52] #447 closed

[2017-01-11 07:53] AntonisSt commented on #447
Ok thx

[2017-01-11 07:53] molinch commented on #447
In fact it is a Xamarin bug see: https://bugzilla.xamarin.com/show_bug.cgi?id=46176

[2017-01-11 08:46] TheAndroidMachine opened #450 "Disk cache not working"
I have noted that at least on Android using Xamarin Forms the disk cache is not working.

To reproduce the issue:
1- Open the app and load some images from the web
2- Press home
3- Kill the app with the task manager
4- Kill the internet connection (airplane mode)
5- Reopen the app
Result: No images are shown.

Do I need to configure or initialize something? Are additional permissions need?

[2017-01-11 11:32] JeremyBP commented on #449
I just updated to 2.2.7 and implemented ModernHttpClient.
Actualy, it appears to throw sometimes (not everytime), on any platform (Android & iOS), with message (no more connection limit):
`01-11 12:19:35.580 I/mono-stdout(23025): An error occured while writing to disk cache for 927492C3881B4937749D9E018165B55B
An error occured while writing to disk cache for 927492C3881B4937749D9E018165B55B
01-11

[2017-01-11 12:14] elertan commented on #444
Linker settings:
https://puu.sh/tizng/3662a655fb.png
On an emulator and real device, real device is running 4.4.2 and the emulator API level 19, I have also tested 23. Which none are working.

Changing the radius setting doesn't change on android at all, it looks like the image isnt even there

[2017-01-11 12:19] elertan commented on #444
Update: the image does show on android when no transformation(s) are given

[2017-01-11 14:49] daniel-luberda commented on #444
@elertan Did you try to download sample project from our repository? There's blur transformation example there, it works on all platforms. It's quite hard to help without any reproduction. https://github.com/luberda-molinet/FFImageLoading/blob/master/samples/ImageLoading.Forms.Sample/Shared/PageModels/TransformationPageModel.cs#L72

[2017-01-11 15:02] daniel-luberda commented on #449
@JeremyBP It should be fixed with this: https://github.com/luberda-molinet/FFImageLoading/commit/f07420ed1c0930762e96517c9a56c03984c69d61

[2017-01-11 15:04] daniel-luberda commented on #450
As you see from here: https://github.com/luberda-molinet/FFImageLoading/blob/master/source/FFImageLoading.Shared/Cache/SimpleDiskCache.cs#L55-L58 the cache is stored in temp cache directory. Are you sure you don't clear it between app deploy?

[2017-01-11 16:22] tematim opened #451 "Debug launch : SkiaSharp not include"
Hello,

I use the last stable version of the package with Xamarin 2.3.3.175 alpha channel, this is my launching log  :

Android application is debugging.
Loaded assembly: /storage/sdcard0/Android/data/myPackage/files/.__override__/vos.Droid.dll
Loaded assembly: /storage/sdcard0/Android/data/myPackage/files/.__override__/DotNetCross.Memory.Unsafe.dll
Loaded assembly: /storage/sdcard0/Android/data/m

[2017-01-11 17:14] JeremyBP commented on #449
Nice! I'll try it as soon as available on nuget (if you plan to push it or just tell me if not and I'll do it by proj ref).

[2017-01-11 21:05] tematim opened #452 "Android : No svg on screen"
Hello,

My configuration is : FFImageLoading 2.2.7, Xamarin 2.3.3.175, Xamarin stable, VS 2015.

All svg are correctly displayed on iOS but nothing on Android.

Could you have a look about this major issue please ?

Regards

[2017-01-11 23:22] elertan commented on #444
I've taken a look at your examples and instead of using the xaml approach I've used code, which wasn't working in the first place causing the image to dissappear again, however after some trial and error I got it working, I don't know what was causing the issue at first. Thank you!

[2017-01-11 23:22] #444 closed

[2017-01-12 07:37] tematim commented on #452
It's ok, I forgot the init part inside my mainActivity

[2017-01-12 07:37] #452 closed

[2017-01-12 13:14] hardcodet commented on #433
Not sure whether it's beyond the scope of thisrefactoring, but it looks like you had great code for general image processing here (e.g. scaling, rotating, getting image information etc.). Exposing that functionality for generic use during a refactoring would be awesome.

One of many scenarios: Rather than just downscaling a profile picture in the control, using your library code to actually scale

[2017-01-12 14:40] Almis90 commented on #446
Sorry I don't know how I missed it from my code but at the end I already have `DownloadOnly()`

[2017-01-12 16:06] moonClimber commented on #439
I will test it within the next week (Jan, 21)
Many thanks!

[2017-01-13 13:21] leaguefun opened #453 "CachedImage on 2.2.7 slow to stuck on iOS"
I was using CachedImage ver 2.2.5 on Xamarin.Form iOS project and everthing working fine .... but updated to 2.2.7 yesterday ... the performance for disk cache was terrible, especially on the CacheImage within viewcell in listview. The application struck while refreshing the image during scrolling among the listview :(

[2017-01-13 13:24] daniel-luberda commented on #453
@leaguefun What if you downgrade? Does performance get better? Is it possible, you can make a reproduction?

There weren't any changes to disk cache implementation.

[2017-01-13 13:29] leaguefun commented on #453
There's very strange ... I am using CachedImage all over the application for image loading, after updated to 2.2.7, it's obviously take time to load image than before (2.2.5). I didn't made any change to my code ...

[2017-01-13 13:30] leaguefun commented on #453
Did 2.2.7 come with any addition configurations ?

[2017-01-13 13:30] daniel-luberda commented on #453
@leaguefun But did you try to downgrade and see it gets better again?

No.

[2017-01-13 13:32] leaguefun commented on #453
Yes, downgraded to 2.2.5 (since I used before) then resumed normal

[2017-01-13 13:35] daniel-luberda commented on #453
Is it possible you could send me some simple reproduction, so I could test it & fix it?

[2017-01-13 13:46] leaguefun commented on #453
I will try to get the application output for the scenario, and send it to you if possible, many thanks.

[2017-01-13 17:10] wileecoyotesupergenius commented on #439
Thanks, I can also test next week (business trips getting in the way of coding!)

Best,

Simon

________________________________
From: Omar Venturi <notifications@github.com>
Sent: January 12, 2017 11:06:14 AM
To: luberda-molinet/FFImageLoading
Cc: Simon Matthews; Mention
Subject: Re: [luberda-molinet/FFImageLoading] [UWP] Unhandled Exception: The application called an interface that was marshalle

[2017-01-14 11:09] moonClimber commented on #439
I've downloaded the 2.2.7 version from NuGet [1] but I think is the wrong version (the class FFImageSourceBindingCheckerCache is missing).
Where can I find the newest prerelease?

Thanks
[1] https://www.nuget.org/packages/Xamarin.FFImageLoading/

[2017-01-14 11:57] daniel-luberda commented on #439
It's the correct version, it was moved here: https://github.com/luberda-molinet/FFImageLoading/blob/master/source/FFImageLoading.Windows/Cache/FFSourceBindingCache.cs :)

[2017-01-14 13:52] moonClimber commented on #439
I've just tested it: the problem is still there, even if not as before.
Now, with TaskCreationOptions.PreferFairness, the works fine just the first time I open a view that uses FFImageLoading. When I open the same view the second time, I obtain the same exception I did before.

So, I've double checked that by using TaskCreationOptions.LongRunning everything always works fine.

If TaskCreationOptio

[2017-01-14 16:44] shnaz commented on #383
Having the same issue, and @mfranc28's workaround doesnt work for me.

Error MT2002: Failed to resolve assembly: 'WebP.Touch, Version=1.0.5923.35383, Culture=neutral, PublicKeyToken=null' (MT2002) (MyApp.iOS)

[2017-01-16 07:04] adusak opened #454 "Invalidating cache entry with downsampling doesn't work"
Hello,

I have an issue with removing image that was downsampled from cache, even if I set the removeSimilar parameter to true. If I don't use downsampling invalidating the cache key works and the image reloads.

Usage example:
`ImageService.Instance.LoadFile(page.PreviewImage.Path).FadeAnimation(true, true).DownSampleInDip((int)newView.Frame.Width, (int)newView.Frame.Height).Into(newView.ImageVie

[2017-01-16 12:07] palla89 opened #455 "FFImageLoading crash on CancelLoading() if scrolling fast from top to bottom and viceversa"
Hi! I have this problem in android while scrolling as soon as my Page appears and it's loading:

![schermata 2017-01-16 alle 13 04 30](https://cloud.githubusercontent.com/assets/12301205/21982433/9487e26e-dbec-11e6-9872-a3f438c3aa86.png)

I'm loading images from file, and using FlowListView to display them! On iOS it seems working fine, on Android I must wait to scroll and cells content appear wro

[2017-01-16 17:56] daniel-luberda commented on #439
The real problem might be actually this:

https://github.com/luberda-molinet/FFImageLoading/blob/master/source/FFImageLoading.Windows/Helpers/MainThreadDispatcher.cs#L29

If you change it to always force `else` part. Do you still experience it?

[2017-01-16 21:14] iWeaverMan opened #456 ".SVG in xamarin.forms using SvgImageSourceConverter and system resources"
Would you please show an example of .SVG in XAML xamarin.forms usage with SvgImageSourceConverter and an image from ios, android, and UWP resources? I seem fail to do that.

[2017-01-17 08:53] 7934345 commented on #361
01-17 16:45:20.590 I/mono-stdout(19108): [FFE] Image loading failed: http://sg1-cdn.pgimgs.com/listing/19404437/UPHO.59860402.V350.jpg
[FFE] Image loading failed: http://sg1-cdn.pgimgs.com/listing/19404437/UPHO.59860402.V350.jpg
01-17 16:45:20.600 I/mono-stdout(19108): [FFE] Image loading failed: http://sg1-cdn.pgimgs.com/listing/12369292/UPHO.48870820.V350.jpg
[FFE] Image loading failed: http://s

[2017-01-17 10:53] daniel-luberda commented on #361
@7934345

https://github.com/luberda-molinet/FFImageLoading/blob/master/source/FFImageLoading.Common/Cache/DownloadCache.cs#L142

As you see it's 100% related to connection problems. You could also try to use native http client handlers. Read more here: https://github.com/luberda-molinet/FFImageLoading/wiki/Native-Http-handlers-=-better-performance

[2017-01-17 10:59] daniel-luberda commented on #455
@palla89 You have mixed different FFImageLoading dlls versions. Please remove all nuget packages, delete `bin`/`obj` folders, clean solution and install packages once again.

[2017-01-17 11:32] alicint opened #457 "is it possible to get the dimensions of the loaded image?"
Hi
Thanks for the great library 👍

Wondering if its possible to get the dimensions of the original image which is loaded into a cached image from a URL? I don't want to request the url and download the image twice.

HUGE THANKS

[2017-01-17 13:12] daniel-luberda commented on #457
Yes, just use `Success` event which has `ImageInformation` object as a param.

[2017-01-17 13:12] #457 closed

[2017-01-17 13:15] #455 closed

[2017-01-17 13:25] #389 closed

[2017-01-17 13:27] daniel-luberda commented on #451
It's rather `SkiaSharp` issue, not FFImageLoading one.

01-11 17:15:14.090 F/monodroid-assembly(20807): This might be due to an invalid debug installation.
01-11 17:15:14.090 F/monodroid-assembly(20807): A common cause is to 'adb install' the app directly instead of doing from the IDE.

[2017-01-17 13:27] #451 closed

[2017-01-17 14:53] daniel-luberda commented on #454
Hi @adusak Could you test 2.2.8-pre-303 if it also has the same issue? There were some changes.

[2017-01-17 15:07] mscrocdile opened #458 "Resize image into view"
Is it possible to automatically resize image in dynamically sized view?
`<ContentPage xmlns="http://xamarin.com/schemas/2014/forms"`
`            xmlns:x="http://schemas.microsoft.com/winfx/2009/xaml"`
`             xmlns:forms="clr-namespace:FFImageLoading.Forms;assembly=FFImageLoading.Forms"`
`             x:Class="SmileShow.Pages.Test">`
`  <forms:CachedImage  Source = "any bigger png"`
`  ></f

[2017-01-17 15:13] daniel-luberda commented on #458
https://github.com/luberda-molinet/FFImageLoading/wiki/Xamarin.Forms-API#downsampletoviewsize-bool-default-false

[2017-01-17 17:38] johnjore commented on #419
My bad. I though

would expire the cache, for this specific image, after 1000ms and a re-download would take place.

JJ

[2017-01-17 17:41] daniel-luberda commented on #419
@johnjore I understand :) Old entries are purged automatically only at fresh app start (before first image loading operation).

[2017-01-18 11:40] pauldiston opened #459 "App crashes when attempting to load a PNG with transparency"
We have deployed our application on to rugged devices (Honeywell CT50), these devices have been repaired, which I believe has involved some software upgrade, as the build numbers are slightly different. Our application installs successfully however when it is launched the app crashes. After debugging through this I have found that if I try and load PNG images with transparency then the app crashes

[2017-01-18 15:37] tematim opened #460 "TapGestureRecognizer not fired"
Hello,

I have this svg inside my xaml :
`<forms:CachedImage x:Name="ModifyArticle" Grid.Row="0" Grid.Column="5"
                               VerticalOptions="Center"
                               HorizontalOptions="Center" DownsampleToViewSize="true"
                               RetryCount="0" RetryDelay="250" BitmapOptimizations="True"
                               HeightRequest="60" Width

[2017-01-18 15:59] tematim commented on #460
I fixed it:
`<forms:CachedImage x:Name="ModifyArticle" Grid.Row="0" Grid.Column="5" VerticalOptions="Center" HorizontalOptions="Center" DownsampleToViewSize="true" RetryCount="0" RetryDelay="250" BitmapOptimizations="True" HeightRequest="60" WidthRequest="60" IsVisible="{Binding IsModifyAllowed}"> <TapGestureRecognizer Tapped="OnModifyTapped" NumberOfTapsRequired="1" /> </forms:CachedImage>`

[2017-01-18 15:59] #460 closed

[2017-01-18 16:18] daniel-luberda commented on #459
@pauldiston Are you sure those devices don't have RAM issues?

[2017-01-18 16:22] pauldiston commented on #459
As the same code works successfully on an older build of device then I am not sure whether there are RAM issues, unless the newer build has put more of a demand on the RAM.

[2017-01-18 16:27] daniel-luberda commented on #459
It's really hard to reproduce / debug as it looks like it's a device specific issue. Here are some similar threads:

- http://stackoverflow.com/questions/18284525/android-4-3-specific-crash-calling-packagemanager-getdrawable
- http://stackoverflow.com/questions/36507316/app-random-crashes-with-fatal-signal-7-sigbus-code-2-or-fatal-signal-11-sigs

[2017-01-18 19:40] guiwaltricke commented on #393
Will be awesome to have gif support in FFImageLoading, we need here so much...

[2017-01-19 17:20] akonovalov opened #461 "Can't add Xamarin.FFImageLoading.Svg to UWP project"
Hi,
Trying to add Xamarin.FFImageLoading.Svg to my UWP project

Install-Package Xamarin.FFImageLoading.Svg -Version 2.2.7

Result:
Install-Package : Unable to resolve System.Xml.Linq (>= 4.0.0) for UAP,Version=v10.0.
At line:1 char:1
+ Install-Package Xamarin.FFImageLoading.Svg -Version 2.2.7
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (:

[2017-01-19 23:41] loscabres opened #462 "Type fftransformations:CircleTransformation not found"
Hi, only in IOS thrown this error, my image is inside a list view

**Error message**

Xamarin.Forms.Xaml.XamlParseException: Position 68:11. Type fftransformations:CircleTransformation not found in xmlns clr-namespace:FFImageLoading.Transformations;assembly=FFImageLoading.Transformations

**namespace declaration**
`
xmlns:ffimageloading="clr-namespace:FFImageLoading.Forms;assembly=FFImageLoading.F

[2017-01-20 00:10] raphaelcr93 commented on #365
Hello,

Just got it in version 2.2.7

When using in LoadingPlaceholder attribute some file that did not exist in my resources.

For example:

LoadingPlaceholder = "loadingImageThatDoesNotExist.png"

[2017-01-20 06:53] molinch commented on #459
@pauldiston Which device is it?

[2017-01-20 13:03] moonClimber commented on #439
Same error. The problem doesn't seem to be there.

I can fix the problem by changing the TaskCreationOptions value only. Specifically, here are my tests (on Android and Windows Phone):

- LongRunning: works fine

- HideScheduler: works fine

- PreferFairness: error happens

Actually, I've tried with HideScheduler option just as empirical approach. I don't actual know whether is a good option or no

[2017-01-20 17:21] LukasThijs opened #463 "FFTransformation: can't seem to get it to work correctly"
Hey,

I am  using your component to render a image and I want to combine this with the blur transformation that you are providing.

I have downloaded and installed the Nuget package and it seems to find the package itself. But somehow the image won't show up and a white page is shown.

I am using the sample code that you have provided in this Git. When I for example remove the transformation part

[2017-01-20 17:23] LuigiMaestrelli opened #464 "CacheKeyFactory problem"
I'm trying to use CacheKeyFactory to control some invalidade cache logic.
On the cached image, I set up the CacheKeyFactory to new CustomCacheKeyFactory();
My CustomCacheKeyFactory class, is returning correctly the new key.

But when I called `await ImageService.Instance.InvalidateCacheEntryAsync(cacheKey, FFImageLoading.Cache.CacheType.All);` and try to download the image again from the same URL,

[2017-01-20 20:40] brepetti opened #465 "Not all SVG Images are parsed correctly"
I am trying to load some SVG images but I am not having any luck with Xamarin Forms for iOS / Android.

I'm simply calling:  _Image.Source = SvgImageSource.FromFile("jack.svg");

I've tried putting the svg file in multiple places.  What is the correct location?  In the drawable folder or the root of the Android app?

[2017-01-20 23:53] brepetti commented on #465
Looks like this could be because the SVG file is not compatible with SkiaSharp.

I tried another svg file produced from inkscape and did not have any trouble loading.

The svg files that give me trouble were exported from Adobe Illustrator using an SVG plugin.

I will see if our designer can use a different program to output the svg.

[2017-01-21 16:48] 3-50 opened #466 "Some suspicious code"
Hi guys. Code check please.
**The return value of function 'Insert' is required to be utilized.**
FFImageLoading.Touch\Extensions\ColorExtensions.cs 16
`                        hexColor.Insert(0, "#");`
correct code:                        `hexColor = hexColor.Insert(0, "#");`

FImageLoading.Droid\Extensions\ColorExtensions.cs 16
                        `hexColor.Insert(0, "#");`

FFImageLoading.T

[2017-01-21 20:11] #466 closed

[2017-01-21 20:12] daniel-luberda commented on #466
Thanks, it's refactored now, but I don't see any `infinite recursion inside 'Aspect' property`.

[2017-01-21 20:13] daniel-luberda commented on #465
Yes, the SVG parser is quite simple right now, here's the class that is used: https://github.com/mono/SkiaSharp/blob/master/source/SkiaSharp.Svg/SkiaSharp.Svg/SKSvg.cs

[2017-01-21 20:14] #465 closed

[2017-01-21 20:16] daniel-luberda commented on #463
It's probably Xamarin.Forms linker issue. Just reference you transformation in a platform specific project. Something like this:

`var ignore = new BlurredTransformation()`

[2017-01-21 20:19] daniel-luberda commented on #462
It's probably Xamarin.Forms linker issue. Just reference you transformation in a platform specific project. Something like this:

Android: MainActivity.cs:
`var ignore = new CircleTransformation();`

iOS: AppDelegate.cs:
`var ignore = new CircleTransformation();`

[2017-01-21 20:19] #462 closed

[2017-01-22 02:25] chapeti opened #467 "SvgImageSource.FromFile() firing "Unhandled Exception""
Hi Daniel.

Trying to use `SvgImageSource.FromFile("filename.svg")`:

My PCL profile is :

ASP .Net Core 1.0
Windows 8
Xamarin.Android
Xamarin.iOS
Xamarin.iOS (Classic)
Xamarin.Mac

I added `CachedImageRenderer.Init()` into both: `AppDelegate.cs` and ` MainActivity.cs`.

My PCL project has references to:

1. `Xamarin.FFImageLoading`
2. `Xamarin.FFImageLoading.Forms`
3. `Xamarin.FFImageLoading.Svg`

[2017-01-22 05:30] shayo opened #468 "Enhancement: spinner animated placeholder?"
Is it possible to add an animated placeholder spinner?

[2017-01-22 08:47] rohitkadlag777 commented on #371
@daniel-luberda :
Facing the performance issue while loading the images from cache. I have cached the images before using the app in offline mode. And using my application in offline mode.Still images are loading as if they are downloading from  internet. Ideally images from cache should load instantly.Below is my code snippet for cached Image:-
cachedImage = new CachedImage()
                {

[2017-01-22 15:49] alanspires commented on #468
This is easily done using a custom control. I made one using a grid, cached image with a activity indicator. But it would be handy to have this built in too.

[2017-01-22 16:02] shayo commented on #468
Can you please share your solution until this is integrated? Thank you!

[2017-01-23 09:29] LukasThijs commented on #463
I have added a reference to the transformation in the platform specific project maps. Still it didn't work sadly ;/

[2017-01-23 09:35] LukasThijs commented on #463
Well let me be more specific the issue only happens when using the blurred transformation all other transformations work.

[2017-01-23 09:37] LukasThijs opened #469 "Xamarin forms blurred transformation not working?"
Hey,

I am using your component to render a image and I want to combine this with the blur transformation that you are providing. I am re-opening this issue after doing some testing. It seems like the blurred transformation is not working of all transformations.

I have downloaded and installed the Nuget package and it seems to find the package itself. But somehow the image won't show up and a whi

[2017-01-23 16:19] alanspires commented on #468
Here you go buddy.

http://pastebin.com/rXr60aDH

[2017-01-23 18:45] molinch commented on #284
Closing since this was handled

[2017-01-23 18:45] #284 closed

[2017-01-23 18:48] molinch commented on #340
Hi @fedemkr,
Thanks for the positive feedback.
FFImageLoading should not handle such scenarios, these are very easy to handle from the app logic if you make some helper classes.

[2017-01-23 18:48] #340 closed

[2017-01-23 18:50] molinch commented on #393
@alanspires I saw you started something in your fork regarding Gif support.
Have you been able to do more?

[2017-01-23 18:54] molinch commented on #450
@TheAndroidMachine any news?

[2017-01-23 19:08] alanspires commented on #393
Super basic support for ios is easy. I can make a pull for that. I'm not familiar enough with droid to add that though. So if that's cool I can make a pr.

Sent from my iPhone

[2017-01-23 20:18] alanspires commented on #393
#470

[2017-01-23 20:19] daniel-luberda commented on #468
Thanks @alanspires

@shayo Also, in recent versions FFImageLoading supports `DownloadProgress` callback which can be used to show image download progress.

[2017-01-23 20:19] #468 closed

[2017-01-23 20:21] daniel-luberda commented on #463
@LukasThijs
- What is you app target / min SDK version?
- Is it device specific?
- Does it work in Debug builds?
- Please note that it's very important to add Transformations packages to both PCL / platform specific projects.

[2017-01-23 20:27] daniel-luberda commented on #467
You have to reference all packages in both PCL & platform specific projects (SVG packages too).

[2017-01-23 20:27] #467 closed

[2017-01-23 20:51] molinch commented on #219
Started in 610a05700b5678177ef7c91e93d0bd6cae5c70cb

[2017-01-23 21:00] TheAndroidMachine commented on #450
Yes, sorry for my delay.
It is actually working now but I can not tell why it wasn't working before. The only thing I'm doing differently is specifying the path when initializing the service. But it shouldn't make any difference since it is also done internally if no path is specify.

[2017-01-23 21:00] #450 closed

[2017-01-23 21:02] daniel-luberda commented on #450
@TheAndroidMachine Is the path you specify the same as a default one?

[2017-01-23 21:31] chapeti commented on #467
Thx Daniel.

Btw, and just for the records:

I referenced all packages in all projects, but it did not work yesterday.

Today it works like a charm. Maybe my VS is not working well.

Cheers.

[2017-01-23 21:44] TheAndroidMachine commented on #450
Yes, think so.
On Android MainActivity:
`string tmpPath = this.CacheDir.AbsolutePath;`
`string cachePath = System.IO.Path.Combine(tmpPath, "myapp");`
`var config = new FFImageLoading.Config.Configuration()
            {
                VerboseLogging = false,
                VerbosePerformanceLogging = false,
                VerboseMemoryCacheLogging = false,
                VerboseLoadingCancelle

[2017-01-23 22:51] leenephi commented on #216
As of version 2.2.7 I am experiencing this same issue.
I can confirm the normal forms Image type does not show the recycled image, but CachedImage shows the recycled image when I use both Xaml binding as well as the suggestion in the Wiki linked above.

[2017-01-23 22:53] daniel-luberda commented on #216
@leenephi  Could you share your code which sets image source?

[2017-01-23 22:54] daniel-luberda commented on #439
Could you try the newest prerelease? It uses additional HideScheduler flag.

[2017-01-23 22:56] daniel-luberda commented on #461
Could you test the newest pre? It should be fixed, it was a nuspec file issue

[2017-01-24 00:37] elertan commented on #469
Try adding the blurredtransformation in code instead of xaml, also pass the radius through the constructor instead of setting the radius property.

[2017-01-24 00:39] #469 closed

[2017-01-24 00:41] daniel-luberda commented on #469
I found the issue. Please try the newest prerelease (it will be available soon). @elertan Thanks for suggestion, it led me to this issue!

[2017-01-24 10:02] LukasThijs commented on #469
Tried the latest pre-release and and I must sadly confirm that it's still not working.

I have tried adding the transformation in the code-behind like this:

[code]

[2017-01-24 10:03] LukasThijs commented on #469
I am sorry for not replying the timezones between us are probably huge :).

Anyway I am going to followup on all the details in the other open case. #463

[2017-01-24 10:12] LukasThijs commented on #463
@daniel-luberda

1. What is you app target / min SDK version?

The target level is set to API level 23 , SDK 6.0 and higher.

2. Is it device specific?

I don't know I am using the Android emulator. Tried both on Tablet and phone emulator still no result.

3. Does it work in Debug builds?

I am using debug build it's not release yet.

4. Please note that it's very important to add Transformations

[2017-01-24 10:23] LukasThijs commented on #463
I have as you can see included the Xamarin.Forms package version so maybe that's usefull :)

[2017-01-24 14:37] leenephi commented on #216
Hey @daniel-luberda - thanks for the quick response!
Wanted to also mention that we're only running this on Android currently.

    `public class PlayersPageViewCell : ViewCell
    {
        private CachedImage _avatarImage;

        public PlayersPageViewCell()
        {
            var absoluteLayout = new AbsoluteLayout();
            absoluteLayout.Padding = new Thickness(5);

            var

[2017-01-24 16:14] daniel-luberda commented on #216
@leenephi Your code looks good.

Last versions have some optimisations, I made some tests and average image loading time dropped. It may be the reason old images are shown sometimes as it is assigned to a view before loading task is cancelled (via `OnBindingContextChanged` method when new image source is assigned).

What might help (but I am not sure) is:

[code]

[2017-01-24 16:18] daniel-luberda commented on #463
@LukasThijs I made some additional fixes. New nuget should be released today. Could you try it? If it still won't work for you, you could use a legacy mode. Just set (in Android project): `BlurredTrasnformation.LegacyModel = true`.

[2017-01-24 17:19] daniel-luberda commented on #456
https://github.com/luberda-molinet/FFImageLoading/blob/master/samples/ImageLoading.Forms.Sample/Shared/Pages/SvgSamplePage.xaml

Here's an example. You can clone the project and test it on your own.

[2017-01-24 17:19] #456 closed

[2017-01-24 18:07] daniel-luberda commented on #464
I made some refactorings, but I don't thing that it will fix your issue. If on `Success` callback reports `CacheKey=null`, then you didn't assign custom cache key correctly. Could you show your code?

[2017-01-24 18:28] daniel-luberda commented on #454
Any news?

[2017-01-24 18:29] daniel-luberda commented on #453
Also please read this: https://github.com/luberda-molinet/FFImageLoading/wiki/Native-Http-handlers-=-better-performance

[2017-01-24 18:33] daniel-luberda commented on #433
@hardcodet Actually, it is now supported (latest prerelease). You can now do something like this:

[code]

[2017-01-24 21:33] akonovalov commented on #461
Daniel,
Yes, can confirm that the issue has been resolved in the pre version.

[2017-01-25 08:06] iWeaverMan commented on #456
Thanks! The exaple has helped me enormously.

[2017-01-25 10:44] LuigiMaestrelli commented on #464
My image constructor looks like this:

[code]

And my CacheKeyFactory is like this:

[code]

Debugging, this class return the right key

[2017-01-25 20:15] molinch commented on #219
@daniel-luberda would be nice if you can configure AppVeyor and add the badge on homepage!

[2017-01-25 21:18] molinch commented on #219
Continue in https://github.com/luberda-molinet/FFImageLoading/commit/5cdbcac00d84e086626058b3a2c1e244f968b572

[2017-01-25 22:34] leenephi commented on #216
Thanks @daniel-luberda

Setting the source to null immediately before setting it to the new binding context item indeed works.

How exactly can I see the optimizations made in the pre-release or latest version? In general, I'm having very poor performance when only having 2 or 3 total CachedImages in my list view cell. They all pull from URLs, but even when scrolling back up with memory cache, the

[2017-01-26 09:47] LukasThijs commented on #463
Hey!

Excuse me for the late reply, had a day off. Anyway I can confirm that the latest pre-release fixes the issue and the transformation now works properly!

Thanks for your help and time!

Luuk

[2017-01-26 14:29] CR4567 opened #471 "Android: SecureChannelFailure"
Hi,

I'm using XF Version 2.3.4.180 and FFImageLoading 2.2.7 and getting the error
SecureChannelFailure (The authentication or decryption has failed.)
when trying to load an image from my ssl secured webpage. The page is using TLS1.2 and I assume this could be the problem but all other requests are working. I'm using ModernHttpHandler with NativeHttpHandler.
I tried also changing the HttpClient Im

[2017-01-26 14:48] daniel-luberda commented on #471
There's something wrong with your certificate. Call this when initialising your app: `ServicePointManager.ServerCertificateValidationCallback += (sender, certificate, chain, sslPolicyErrors) => { return true; };`

[2017-01-26 14:50] daniel-luberda commented on #464
Looks good. Did you try the latest prerelease if it solves your issue? Otherwise, I think I'll need some reproduction.

[2017-01-26 14:50] daniel-luberda commented on #463
Thanks for info! 👍

[2017-01-26 14:50] #463 closed

[2017-01-26 14:51] daniel-luberda commented on #453
Any news?

[2017-01-26 14:51] daniel-luberda commented on #461
Thanks for info 👍

[2017-01-26 14:51] #461 closed

[2017-01-26 14:52] daniel-luberda commented on #439
Any news?:)

[2017-01-26 14:52] CR4567 commented on #471
thanks for the quick reply...
The certificate should be alright.... I already tried the certification validation and didn't help. Also all checks from ssllabs.com are correct and browser checks worked too...
I just figured out that when I choose the AndroidClientHandler and disable the Linker it also works in the release.... looks like the linker removes it and Forms jumps back to the default hand

[2017-01-26 14:57] daniel-luberda commented on #471
It might be some Xamarin.Android issue. Maybe you should report it to their bugzilla? You can add some assemblies to linker `whitelist`, but you'll need to figure it out which ones are needed.

[2017-01-26 14:59] daniel-luberda commented on #216
You can review all commits. If you replace `CachedImage` with eg. `BoxView`, do you still experience performance issues? Also please download our Xamarin.Forms sample (from repo), there are many ListView examples there. They're all quite fast, I didn't notice any lags. Or if you give me you `ViewCell` code, maybe I could help.

[2017-01-26 15:04] CR4567 commented on #471
hm... yes looks like you're right.
Will report it. Thanks and sry for the inconvenience.

[2017-01-26 15:04] #471 closed

[2017-01-26 15:07] daniel-luberda commented on #471
Not a problem, if you have any news or questions, just write. Maybe we could put some info to our WIKI for other users if there's any solution.

[2017-01-26 15:34] daniel-luberda commented on #219
@molinch It's working :) https://ci.appveyor.com/project/daniel-luberda/ffimageloading/build/tests

[2017-01-26 15:39] moonClimber commented on #439
I'm going to test it between today and tomorrow... I'll back to you really soon.
Thanks!

[2017-01-26 18:28] leenephi commented on #216
@daniel-luberda Heyy. Replacing with box views has it scrolling smoothly/normally. With the three image views, I even notice that while loading from the memory cache (scrolling up from the bottom) the poor performance is the same. At first I thought it was just a Nexus 5 I was testing, but even the Nexus 6P stutters just as much.

Anyway! Let me get you some code. I'll add the XAML, View Cell, and

[2017-01-26 18:35] daniel-luberda commented on #216
Some comments:

[code]

[code]

BTW: Also read this: https://github.com/luberda-molinet/FFImageLoading/wiki/Native-Http-handlers-=-better-performance

[2017-01-26 23:06] riandesign opened #472 "ImageCell with rounded images"
Is it possible to use FFImageLoading library to create ImageCell with rounded image directly?
Or the only way is create a StackLayout or Grid (etc.)...?

[2017-01-27 02:25] ianjonesau commented on #349
Still experiencing, under iOS, the invalid scale and image ignoring @2x/@3x issues?
Using v2.2.7 - just wondering if this is still a known issue?

[2017-01-27 12:49] daniel-luberda commented on #349
@ianjonesau No it isn't, could you give more details?

[2017-01-27 16:11] LuigiMaestrelli commented on #464
@daniel-luberda

I've attached a really simple app to reproduce and I tried just on on Android.
I came across this issue when I was trying to invalidate a disk and memory cache to force the CachedImage to download the new picture.

[TestFFImage.ZIP](https://github.com/luberda-molinet/FFImageLoading/files/735670/TestFFImage.ZIP)

[2017-01-27 16:54] daniel-luberda commented on #472
You'll need to create a custom `ViewCell` for this.

[2017-01-28 07:28] ianjonesau commented on #349
Daniel,

Firstly, thanks for responding - loving the library!

I've attached three (3) screenshots where I've used one of my existing
Xamarin.Forms app launch screens.
They show the oversize image from the CachedImage control, as well as the
low quality only improving if I specifically put the @2x or @3x in the file
name.

The oversize image is a common problem I've got everywhere (toolbar images,

[2017-01-28 10:06] moonClimber commented on #439
Hi Daniel and many thanks for your work!
Despite my tests, it seems that with version "2.2.8-pre-316" (the one I've used) the problem is still there. So, I've used again my local code with my changes and the app works.

I saw that your latest code uses this statement
`TaskCreationOptions.PreferFairness | TaskCreationOptions.HideScheduler | TaskCreationOptions.HideScheduler`
whilst my code is just

[2017-01-28 15:56] daniel-luberda commented on #349
Thanks :) Could you attach those images once again? I didn't receive them.

[2017-01-28 16:13] daniel-luberda commented on #439
Are you sure it works with `TaskCreationOptions.HideScheduler`? If it's the case I would prefer to use it instead `TaskCreationOptions.LongRunning`.

[2017-01-28 16:17] moonClimber commented on #439
I'm sure. It works with HideScheduler and LongRunning (one or other separately, not with both options such as `HideScheduler | LongRunning`)

[2017-01-28 16:32] daniel-luberda commented on #439
You could try 2.2.8-pre-321, I hope it'll solve the issue.